@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* - 0. Reset
* --
**************************************************/
/* line 11, ../sass/global-rtl.scss */
ul {
  margin-right: 10px;
  margin-left: 0;
}
/* line 14, ../sass/global-rtl.scss */
ul li {
  margin-right: 10px;
  margin-left: 0;
}

/* line 19, ../sass/global-rtl.scss */
h1#page-title {
  margin-left: 0;
  margin-right: 10px;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 27, ../sass/global-rtl.scss */
  select,
  select[size] {
    background-image: url("../images/select-arrow-rtl.gif");
    background-position: left center;
    padding-left: 20px;
    padding-right: 3px;
  }
}
/* Override addressfield */
/* line 35, ../sass/global-rtl.scss */
.addressfield-container-inline > div.form-item {
  float: right;
  margin-right: auto;
  margin-left: 1em;
}

/*******************************************
* 2.1.1. Region user first
*******************************************/
/* line 43, ../sass/global-rtl.scss */
#region-user-first {
  float: right;
}

/* User menu */
/* line 48, ../sass/global-rtl.scss */
.block-menu-user-menu .content ul.menu {
  float: left;
}
/* line 50, ../sass/global-rtl.scss */
.block-menu-user-menu .content ul.menu li {
  float: right;
}

/*******************************************
* 2.1.2. Region user second
*******************************************/
/* line 58, ../sass/global-rtl.scss */
#region-user-second {
  float: left;
}

/**
* Cart block
*/
/* line 64, ../sass/global-rtl.scss */
.block-shopping-cart-block {
  margin-left: 0 !important;
  margin-right: 50px !important;
}
/* line 68, ../sass/global-rtl.scss */
.block-shopping-cart-block .content {
  background-position: 99% 48%;
  float: left;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: -60px;
  padding-right: 50px;
}
/* line 82, ../sass/global-rtl.scss */
.block-shopping-cart-block .content .view-shopping-cart .view-content,
.block-shopping-cart-block .content .view-shopping-cart .view-footer,
.block-shopping-cart-block .content .view-shopping-cart .view-empty,
.block-shopping-cart-block .content .view-shopping-cart .view-empty p,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary,
.block-shopping-cart-block .content .view-shopping-cart .line-item-total,
.block-shopping-cart-block .content .view-shopping-cart ul.links {
  float: right !important;
}
/* line 85, ../sass/global-rtl.scss */
.block-shopping-cart-block .content .view-shopping-cart ul.links {
  float: left !important;
  margin: 0 5px 0 0px !important;
}
/* line 89, ../sass/global-rtl.scss */
.block-shopping-cart-block .content .view-shopping-cart .view-footer {
  float: none;
}

/**********************************************
* 2.2. Zone branding
**********************************************/
/**
* Search block
*/
/* line 101, ../sass/global-rtl.scss */
#block-views-exp-display-products-page .views-exposed-widgets {
  float: left !important;
  margin-right: 0 !important;
  margin-left: 10px;
}

/* line 107, ../sass/global-rtl.scss */
#block-views-exp-display-products-page .form-text {
  padding: 5px 5px 5px 28px !important;
}

/* line 110, ../sass/global-rtl.scss */
#block-views-exp-display-products-page .views-submit-button {
  right: auto !important;
  /* RTL */
  left: 5px;
}
/* line 113, ../sass/global-rtl.scss */
#block-views-exp-display-products-page .views-submit-button .form-submit {
  background-position: 2% 50% !important;
}

/**********************************************
* 2.3. Zone menu
**********************************************/
/**
* Navigation
*/
/* line 123, ../sass/global-rtl.scss */
.menu-toggle {
  left: auto;
  right: 10px;
}
/* line 126, ../sass/global-rtl.scss */
.menu-toggle .toggle-help {
  left: auto;
  right: 45px;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.1. Zone preface
**********************************************/
/**
* Pseudo Breadcrumb
*/
/* line 143, ../sass/global-rtl.scss */
#region-breadcrumb .pseudo-breadcrumb-total-results {
  margin: 0 10px 0 0;
}
/* line 147, ../sass/global-rtl.scss */
#region-breadcrumb .pseudo-breadcrumb {
  padding: 10px 5px 35px 21px;
}
/* line 150, ../sass/global-rtl.scss */
#region-breadcrumb .pseudo-breadcrumb li {
  display: inline;
  float: right;
}
/* line 153, ../sass/global-rtl.scss */
#region-breadcrumb .pseudo-breadcrumb li a {
  float: right;
  margin: 0 0 0 5px;
}

/**********************************************
* 3.2. Zone content
**********************************************/
/* line 164, ../sass/global-rtl.scss */
.form-item-quantity .ui-corner-tr {
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
  -khtml-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
/* line 167, ../sass/global-rtl.scss */
.form-item-quantity .ui-corner-br {
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  -khtml-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
/* line 170, ../sass/global-rtl.scss */
.form-item-quantity .ui-icon-triangle-1-n {
  background-position: 2px -16px;
}

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
/* line 178, ../sass/global-rtl.scss */
.region-sidebar-first .block-facetapi {
  direction: ltr;
  text-align: right;
  margin-right: 15px;
  margin-left: 0px !important;
  padding-right: 15px;
  padding-left: 0px !important;
}

/* Price range */
/* line 194, ../sass/global-rtl.scss */
#search-api-ranges-block-slider-view-form .range-box,
#search-api-ranges-block-slider-view-form label,
#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
  float: right !important;
}

/**********************************************
* 3.3. Zone postscript
**********************************************/
/* line 201, ../sass/global-rtl.scss */
.region-postscript-third {
  margin-left: 0;
}

/* line 204, ../sass/global-rtl.scss */
.zone-postscript .grid-8 {
  float: right !important;
}

/* line 209, ../sass/global-rtl.scss */
#zone-postscript .block-blog-block .block-inner .block-title {
  background: transparent url("../images/bg_block_homepage_title-rtl.png") 118% 100% no-repeat;
  padding-right: 25px;
  padding-left: 0;
  left: auto;
  right: -1px;
  text-align: right;
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/* line 224, ../sass/global-rtl.scss */
#zone-footer {
  direction: ltr;
}

/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Connect with us
*/
/* line 234, ../sass/global-rtl.scss */
#block-menu-menu-social-connection h2 {
  text-align: right;
}
/* line 239, ../sass/global-rtl.scss */
#block-menu-menu-social-connection .content ul.menu li a {
  background-position: 98% 50%;
  padding-left: 0;
  padding-right: 50px;
}

/**********************************************
* 4.2. Zone footer2
**********************************************/
/**
* Payment blocks
*/
/* line 255, ../sass/global-rtl.scss */
#block-menu-menu-payment-methods ul.menu li {
  float: right;
}
/* line 257, ../sass/global-rtl.scss */
#block-menu-menu-payment-methods ul.menu li:first-child {
  padding-left: 0px;
  padding-right: 10px;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 277, ../sass/global-rtl.scss */
.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  left: 0 !important;
  right: 10px;
}
/* line 284, ../sass/global-rtl.scss */
.view-collection-products .view-header .view-collection-products .view-content .item-list,
.view-collection-products .view-header .collection-terms .view-content .item-list,
.view-collection-taxonomy-term .view-header .view-collection-products .view-content .item-list,
.view-collection-taxonomy-term .view-header .collection-terms .view-content .item-list {
  /* List of categories related to a collection */
  float: right !important;
  margin-right: 0 !important;
  margin-left: 6px;
}

/* line 296, ../sass/global-rtl.scss */
.view-collection-products .view-content .item-list .products-per-collection li.views-row,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row {
  float: right !important;
}
/* line 299, ../sass/global-rtl.scss */
.view-collection-products .view-content .item-list .products-per-collection li.views-row.last,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row.last {
  padding-left: 0 !important;
}
/* line 304, ../sass/global-rtl.scss */
.view-collection-products .view-content .item-list .products-per-collection li .field-name-field-color .vocabulary-color,
.view-collection-products .view-content .item-list .products-per-collection li .views-field-field-extractor-field-product ul li,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li .field-name-field-color .vocabulary-color,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li .views-field-field-extractor-field-product ul li {
  float: right !important;
  margin: 0 0 0.5em 0.5em;
}

/**********************************************
* 5.2. All products page
**********************************************/
/* line 315, ../sass/global-rtl.scss */
.page-products .view-display-products li.views-row {
  float: right !important;
  padding-right: 0 !important;
  padding-left: 5px;
}
/* line 319, ../sass/global-rtl.scss */
.page-products .view-display-products li.views-row.last {
  padding-left: 0 !important;
}
/* line 323, ../sass/global-rtl.scss */
.page-products .view-display-products li:nth-child(3n) {
  padding-left: 0!important;
}
/* line 326, ../sass/global-rtl.scss */
.page-products .view-display-products li:nth-child(3n+4) {
  clear: right !important;
  float: right !important;
}

/**
* Search sort block
*/
/* line 337, ../sass/global-rtl.scss */
.block-search-api-sorts .block-inner {
  float: left;
  clear: left;
}
/* line 341, ../sass/global-rtl.scss */
.block-search-api-sorts .block-inner h2.block-title {
  float: right;
  margin-right: 0 !important;
  margin-left: 5px;
}
/* line 347, ../sass/global-rtl.scss */
.block-search-api-sorts .content {
  float: right;
}
/* line 350, ../sass/global-rtl.scss */
.block-search-api-sorts .content ul.search-api-sorts li {
  float: right;
  margin-right: 0 !important;
  margin-left: 5px;
}
/* line 355, ../sass/global-rtl.scss */
.block-search-api-sorts .content ul.search-api-sorts li span a {
  right: auto;
  left: 0;
  margin-right: 0;
  margin-left: 5px;
}
/* line 361, ../sass/global-rtl.scss */
.block-search-api-sorts .content ul.search-api-sorts li .search-api-sort-active {
  padding-right: 12px;
  padding-left: 25px;
}
/* line 365, ../sass/global-rtl.scss */
.block-search-api-sorts .content ul.search-api-sorts li .search-api-sort-active .search-api-sort-remove {
  float: left;
  text-indent: -9999px;
}

/* line 376, ../sass/global-rtl.scss */
.page-products .view-display-products li .field-name-field-color .vocabulary-color,
.page-products .view-display-products li .views-field-field-extractor-field-product ul li {
  float: right;
  margin: 0 0 0.5em 0.5em;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
/* line 389, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  padding: 10px 10px 10px 30px;
}
/* line 394, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  text-align: right;
}
/* line 399, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  right: 0;
}
/* line 401, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images img {
  text-align: right;
}
/* line 405, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .commerce-product-sku .commerce-product-sku-label {
  float: right;
  /* RTL */
  padding-right: 0;
  padding-left: 5px;
}
/* line 411, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .commerce-product-sku,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field {
  margin-right: 0;
  margin-left: 20px;
}
/* line 416, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .commerce-product-title-label,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .commerce-product-status-label {
  float: right;
  /* RTL */
}
/* line 422, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-quantity .views-label-quantity {
  float: right;
  /* RTL */
  padding-right: 0;
  padding-left: 5px;
}
/* line 429, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-total .views-label-commerce-total {
  float: right;
  padding-right: 0;
  padding-left: 5px;
}
/* line 434, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
  float: left;
}
/* line 438, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .field-label {
  padding-right: 0;
  padding-left: 5px;
  float: right;
}
/* line 445, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .commerce-add-to-cart-confirmation-close {
  right: auto;
  left: 15px;
}
/* line 450, ../sass/global-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .views-field-title {
  text-align: right;
}

/* line 458, ../sass/global-rtl.scss */
.node-product-type .field-name-body .read-more a,
.node-product-type .field-name-body .read-less a {
  background-position: right top;
  padding-right: 0;
  padding-left: 20px;
}
/* line 469, ../sass/global-rtl.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item div#edit-attributes-field-color {
  float: right;
}
/* line 474, ../sass/global-rtl.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item.form-item-attributes-field-color {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
/* line 481, ../sass/global-rtl.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart label {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
/* line 486, ../sass/global-rtl.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
  background-position: 10% 50%;
  margin-right: 5px;
  margin-left: 0;
  padding: 5px 10px 5px 50px;
}

/* line 496, ../sass/global-rtl.scss */
.service-links {
  float: left;
}
/* line 499, ../sass/global-rtl.scss */
.service-links ul li {
  float: right;
}
/* line 501, ../sass/global-rtl.scss */
.service-links ul li:first {
  margin-right: 0;
  margin-left: inherit;
}

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout progress
*/
/* line 514, ../sass/global-rtl.scss */
ul.inline.commerce-checkout-progress,
ol.inline.commerce-checkout-progress {
  margin-left: 10px;
}
/* line 516, ../sass/global-rtl.scss */
ul.inline.commerce-checkout-progress li,
ol.inline.commerce-checkout-progress li {
  float: right;
  /* RTL */
  padding: 15px 35px 15px 15px;
}
/* line 519, ../sass/global-rtl.scss */
ul.inline.commerce-checkout-progress li:after,
ol.inline.commerce-checkout-progress li:after {
  background: transparent url("../images/bg_checkout_progress-rtl.png") left center no-repeat;
  float: left;
  right: auto;
  left: -25px;
}
/* line 525, ../sass/global-rtl.scss */
ul.inline.commerce-checkout-progress li.last:after,
ol.inline.commerce-checkout-progress li.last:after {
  background: #efefef url("../images/bg_checkout_progress_last-rtl.png") left center no-repeat;
}
/* line 530, ../sass/global-rtl.scss */
ul.inline.commerce-checkout-progress li.active:after, ul.inline.commerce-checkout-progress li.last.active:after,
ol.inline.commerce-checkout-progress li.active:after,
ol.inline.commerce-checkout-progress li.last.active:after {
  background: transparent url("../images/bg_checkout_progress_active-rtl.png") left center no-repeat;
}

/**
* Shopping cart page
*/
/* line 545, ../sass/global-rtl.scss */
#views-form-commerce-cart-form-default table th,
#commerce-checkout-form-checkout .view-commerce-cart-summary table th,
#commerce-checkout-form-review .view-commerce-cart-summary table th,
.page-user-orders .view-commerce-line-item-table table th,
.view-commerce-backoffice-user-orders table th {
  text-align: right;
}
/* line 551, ../sass/global-rtl.scss */
#views-form-commerce-cart-form-default table td.views-field-nothing .commerce-product-sku-label,
#views-form-commerce-cart-form-default table td.views-field-nothing .commerce-product-status-label,
#commerce-checkout-form-checkout .view-commerce-cart-summary table td.views-field-nothing .commerce-product-sku-label,
#commerce-checkout-form-checkout .view-commerce-cart-summary table td.views-field-nothing .commerce-product-status-label,
#commerce-checkout-form-review .view-commerce-cart-summary table td.views-field-nothing .commerce-product-sku-label,
#commerce-checkout-form-review .view-commerce-cart-summary table td.views-field-nothing .commerce-product-status-label,
.page-user-orders .view-commerce-line-item-table table td.views-field-nothing .commerce-product-sku-label,
.page-user-orders .view-commerce-line-item-table table td.views-field-nothing .commerce-product-status-label,
.view-commerce-backoffice-user-orders table td.views-field-nothing .commerce-product-sku-label,
.view-commerce-backoffice-user-orders table td.views-field-nothing .commerce-product-status-label {
  float: right;
  /* RTL */
}
/* line 557, ../sass/global-rtl.scss */
#views-form-commerce-cart-form-default table .views-field-edit-delete,
#views-form-commerce-cart-form-default table .views-field-commerce-total,
#commerce-checkout-form-checkout .view-commerce-cart-summary table .views-field-edit-delete,
#commerce-checkout-form-checkout .view-commerce-cart-summary table .views-field-commerce-total,
#commerce-checkout-form-review .view-commerce-cart-summary table .views-field-edit-delete,
#commerce-checkout-form-review .view-commerce-cart-summary table .views-field-commerce-total,
.page-user-orders .view-commerce-line-item-table table .views-field-edit-delete,
.page-user-orders .view-commerce-line-item-table table .views-field-commerce-total,
.view-commerce-backoffice-user-orders table .views-field-edit-delete,
.view-commerce-backoffice-user-orders table .views-field-commerce-total {
  text-align: left;
}

/* line 563, ../sass/global-rtl.scss */
.page-user-orders .view-commerce-line-item-table table td {
  direction: ltr;
  /* RTL */
  text-align: right;
  /* RTL */
}

/* Order total table */
/* line 569, ../sass/global-rtl.scss */
.field-name-commerce-order-total .field-items {
  float: left;
}
/* line 574, ../sass/global-rtl.scss */
.field-name-commerce-order-total .field-items table.commerce-price-formatted-components td.component-title {
  text-align: right;
}

/* Checkout button */
/* line 589, ../sass/global-rtl.scss */
.page-checkout #commerce-checkout-form-checkout .checkout-buttons input#edit-cancel,
.page-checkout #commerce-checkout-form-checkout .checkout-buttons input#edit-back,
.page-checkout #commerce-checkout-form-shipping .checkout-buttons input#edit-cancel,
.page-checkout #commerce-checkout-form-shipping .checkout-buttons input#edit-back,
.page-checkout #commerce-checkout-form-review .checkout-buttons input#edit-cancel,
.page-checkout #commerce-checkout-form-review .checkout-buttons input#edit-back {
  margin: 0 5px 0 20px;
}
/* line 592, ../sass/global-rtl.scss */
.page-checkout #commerce-checkout-form-checkout .checkout-buttons input#edit-continue,
.page-checkout #commerce-checkout-form-shipping .checkout-buttons input#edit-continue,
.page-checkout #commerce-checkout-form-review .checkout-buttons input#edit-continue {
  margin: 0 0 0 10px;
}

/* line 599, ../sass/global-rtl.scss */
.page-cart #views-form-commerce-cart-form-default {
  /* Button styling */
}
/* line 602, ../sass/global-rtl.scss */
.page-cart #views-form-commerce-cart-form-default .commerce-line-item-actions input#edit-submit {
  margin-right: 0;
  margin-left: 20px;
}

/**
* Checkout page
* Review order page
* Checkout complete page
*/
/* line 614, ../sass/global-rtl.scss */
.page-checkout .checkout-help {
  margin: 0 10px 10px 0;
}
/* line 623, ../sass/global-rtl.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .locality-block .form-item, .page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_shipping .locality-block .form-item,
.page-checkout #commerce-checkout-form-review fieldset.customer_profile_billing .locality-block .form-item,
.page-checkout #commerce-checkout-form-review fieldset.customer_profile_shipping .locality-block .form-item {
  float: right;
}
/* line 626, ../sass/global-rtl.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .locality-block .form-item label, .page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_shipping .locality-block .form-item label,
.page-checkout #commerce-checkout-form-review fieldset.customer_profile_billing .locality-block .form-item label,
.page-checkout #commerce-checkout-form-review fieldset.customer_profile_shipping .locality-block .form-item label {
  float: none !important;
}
/* line 633, ../sass/global-rtl.scss */
.page-checkout #commerce-checkout-form-checkout fieldset legend span,
.page-checkout #commerce-checkout-form-review fieldset legend span {
  padding-right: 10px;
  padding-left: 0;
}

/**
* Shipping page
*/
/* line 644, ../sass/global-rtl.scss */
.page-checkout-shipping .form-item-commerce-shipping-shipping-service {
  clear: right;
  float: right;
}
/* line 648, ../sass/global-rtl.scss */
.page-checkout-shipping .form-item-commerce-shipping-shipping-service label {
  padding: 0 10px 0 0;
}

/**
* Review order page
*/
/* line 657, ../sass/global-rtl.scss */
.page-checkout-review #commerce-checkout-form-review {
  /* Payment information */
}
/* line 658, ../sass/global-rtl.scss */
.page-checkout-review #commerce-checkout-form-review .checkout-help {
  margin: 0 10px 10px 0;
}
/* line 663, ../sass/global-rtl.scss */
.page-checkout-review #commerce-checkout-form-review fieldset.commerce_payment .fieldset-wrapper label {
  float: none !important;
}

/* Page user review order */
/* line 673, ../sass/global-rtl.scss */
.page-user-orders .field-name-commerce-customer-billing,
.page-user-orders .field-name-commerce-customer-shipping {
  float: right;
  margin: 5px 0 0 3%;
}

/* Order history */
/* line 681, ../sass/global-rtl.scss */
.view-commerce-backoffice-order-messages th {
  text-align: right;
}

/* Comment form */
/* line 692, ../sass/global-rtl.scss */
#commerce-backoffice-order-message-form fieldset .fieldset-wrapper .form-item label {
  float: right;
  padding-right: 0;
  padding-left: 8px;
  text-align: left;
}
/* line 699, ../sass/global-rtl.scss */
#commerce-backoffice-order-message-form fieldset .fieldset-wrapper .form-textarea-wrapper {
  float: right;
}

/**************************************************
* --
* 7. Blog
* --
**************************************************/
/**************************************************
* --
* 8. Comments
* --
**************************************************/
/* line 716, ../sass/global-rtl.scss */
article.comment header em {
  float: left;
}

/* Comment form */
/* line 724, ../sass/global-rtl.scss */
.comment-form .form-item {
  clear: right;
}
/* line 726, ../sass/global-rtl.scss */
.comment-form .form-item label {
  float: right;
  padding-right: 0;
  padding-left: 8px;
  text-align: left;
}
/* line 731, ../sass/global-rtl.scss */
.comment-form .form-item label:after {
  clear: both;
  content: ":";
}
/* line 737, ../sass/global-rtl.scss */
.comment-form .form-item .form-radios,
.comment-form .form-item .form-checkboxes {
  float: right !important;
}
/* line 739, ../sass/global-rtl.scss */
.comment-form .form-item .form-radios label,
.comment-form .form-item .form-checkboxes label {
  float: inherit;
  text-align: inherit;
  width: auto;
}
/* line 746, ../sass/global-rtl.scss */
.comment-form .form-textarea-wrapper {
  float: right;
}

/* Comment links */
/* line 751, ../sass/global-rtl.scss */
.links.node-links {
  float: left;
  margin-right: 0px;
  margin-left: 15px;
}

/**************************************************
* --
* 9. User account
* --
**************************************************/
/* line 762, ../sass/global-rtl.scss */
.page-user,
.page-checkout {
  /* Registration form */
  /* Password form */
}
/* line 767, ../sass/global-rtl.scss */
.page-user form#user-register-form .password-suggestions ul,
.page-user form#user-profile-form .password-suggestions ul,
.page-checkout form#user-register-form .password-suggestions ul,
.page-checkout form#user-profile-form .password-suggestions ul {
  margin-right: 20px;
  margin-left: 0;
}
/* line 774, ../sass/global-rtl.scss */
.page-user form#user-register-form .form-actions .form-submit,
.page-user form#user-profile-form .form-actions .form-submit,
.page-checkout form#user-register-form .form-actions .form-submit,
.page-checkout form#user-profile-form .form-actions .form-submit {
  float: right;
}
/* line 777, ../sass/global-rtl.scss */
.page-user form#user-register-form .form-actions .back-to-login,
.page-user form#user-profile-form .form-actions .back-to-login,
.page-checkout form#user-register-form .form-actions .back-to-login,
.page-checkout form#user-profile-form .form-actions .back-to-login {
  float: left;
}
/* line 779, ../sass/global-rtl.scss */
.page-user form#user-register-form .form-actions .back-to-login .login-account,
.page-user form#user-profile-form .form-actions .back-to-login .login-account,
.page-checkout form#user-register-form .form-actions .back-to-login .login-account,
.page-checkout form#user-profile-form .form-actions .back-to-login .login-account {
  float: right;
}
/* line 787, ../sass/global-rtl.scss */
.page-user form#user-pass .form-actions,
.page-checkout form#user-pass .form-actions {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
/* line 792, ../sass/global-rtl.scss */
.page-user form#user-pass .back-to-login,
.page-checkout form#user-pass .back-to-login {
  float: left;
}

/* User home */
/* line 803, ../sass/global-rtl.scss */
.page-user .profile ul.user-information li {
  float: right;
}
/* line 807, ../sass/global-rtl.scss */
.page-user .profile ul.user-recent-orders {
  list-style: none;
  list-style-image: none;
}
/* line 811, ../sass/global-rtl.scss */
.page-user .profile ul.user-recent-orders li {
  list-style: none;
  list-style-image: none;
}
/* line 818, ../sass/global-rtl.scss */
.page-user .tabs ul {
  /* User primary menu/tabs */
  /* User secondary menu/tabs */
}
/* line 821, ../sass/global-rtl.scss */
.page-user .tabs ul.primary li {
  float: right;
}
/* line 828, ../sass/global-rtl.scss */
.page-user .tabs ul.secondary li {
  border-right: auto;
  border-left: 0 transparent;
  float: right;
}

/* Address book */
/* line 839, ../sass/global-rtl.scss */
.page-user-addressbook .view-commerce-addressbook-defaults .views-field {
  float: right;
  margin: 0 0 20px 15px;
}
/* line 845, ../sass/global-rtl.scss */
.page-user-addressbook .view-commerce-addressbook td .views-field {
  margin: 0 0 15px 15px;
}
/* line 848, ../sass/global-rtl.scss */
.page-user-addressbook .view-commerce-addressbook td .views-field .ajax-progress-throbber {
  /* Positions the throbber */
  position: absolute;
  right: auto;
  left: 0;
}
