/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/* line 9, ../sass/ie-lte-7-rtl.scss */
.zone-user-wrapper {
  width: inherit !important;
}

/*******************************************
* 2.1.1. Region user first
*******************************************/
/* User menu */
/* line 17, ../sass/ie-lte-7-rtl.scss */
.block-menu-user-menu .content ul.menu {
  float: left;
}
/* line 19, ../sass/ie-lte-7-rtl.scss */
.block-menu-user-menu .content ul.menu li {
  float: left;
}

/* Cart */
/* line 26, ../sass/ie-lte-7-rtl.scss */
#region-user-second .view-shopping-cart .view-empty .line-item-summary {
  float: left !important;
}

/* line 30, ../sass/ie-lte-7-rtl.scss */
.block-shopping-cart-block {
  margin-right: 0 !important;
}

/* line 33, ../sass/ie-lte-7-rtl.scss */
.block-shopping-cart-block .content {
  width: 90%;
}
/* line 43, ../sass/ie-lte-7-rtl.scss */
.block-shopping-cart-block .content .view-shopping-cart .view-content,
.block-shopping-cart-block .content .view-shopping-cart .view-footer,
.block-shopping-cart-block .content .view-shopping-cart .view-empty,
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary,
.block-shopping-cart-block .content .view-shopping-cart ul.links {
  float: left !important;
}
/* line 46, ../sass/ie-lte-7-rtl.scss */
.block-shopping-cart-block .content .view-shopping-cart .view-footer {
  float: none;
}
/* line 59, ../sass/ie-lte-7-rtl.scss */
.block-shopping-cart-block .content .view-content ul.links,
.block-shopping-cart-block .content .view-footer ul.links {
  padding: 0;
}

/**********************************************
* 2.2. Zone branding
**********************************************/
/* Logo */
/* line 76, ../sass/ie-lte-7-rtl.scss */
.zone-branding .region-branding .logo-img,
.zone-branding .region-branding .branding-data {
  float: right;
}

/**
* Search block
*/
/* line 83, ../sass/ie-lte-7-rtl.scss */
#block-views-exp-display-products-page {
  float: left !important;
  margin-left: 15px;
  width: 300px;
}
/* line 88, ../sass/ie-lte-7-rtl.scss */
#block-views-exp-display-products-page .views-exposed-widgets {
  left: auto;
  position: relative;
}

/* line 93, ../sass/ie-lte-7-rtl.scss */
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative;
}

/* line 96, ../sass/ie-lte-7-rtl.scss */
#block-views-exp-display-products-page .form-text {
  height: 18px;
  margin-left: 0;
  padding: 5px;
  width: 265px;
}

/* line 102, ../sass/ie-lte-7-rtl.scss */
#block-views-exp-display-products-page .views-submit-button {
  position: absolute;
  left: 3px;
  right: auto;
}
/* line 106, ../sass/ie-lte-7-rtl.scss */
#block-views-exp-display-products-page .views-submit-button .form-submit {
  float: left;
  width: 24px;
  height: 24px;
}

/**********************************************
* 2.3. Zone menu
**********************************************/
/* Navigation */
/* line 117, ../sass/ie-lte-7-rtl.scss */
#zone-menu .navigation .primary-menu {
  float: right !important;
  margin-right: 0 !important;
  margin-left: 12px !important;
}

/* line 122, ../sass/ie-lte-7-rtl.scss */
#zone-menu .navigation .second-menu {
  float: left !important;
  margin-left: 0;
}

/* line 129, ../sass/ie-lte-7-rtl.scss */
.navigation .primary-menu ul li,
.navigation .second-menu ul li,
.zone-menu .block-menu ul li {
  display: inline;
  float: inherit;
  margin-right: 0;
  margin-left: 0;
}
/* line 135, ../sass/ie-lte-7-rtl.scss */
.navigation .primary-menu ul li a,
.navigation .second-menu ul li a,
.zone-menu .block-menu ul li a {
  display: block;
  float: left;
  min-height: 100%;
  height: 28px;
}

/* line 145, ../sass/ie-lte-7-rtl.scss */
.navigation .primary-menu ul li,
.navigation .second-menu ul li {
  float: none !important;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/* line 153, ../sass/ie-lte-7-rtl.scss */
.section-content {
  min-height: auto;
  height: auto;
}

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
/* line 161, ../sass/ie-lte-7-rtl.scss */
.region-sidebar-first .block-facetapi {
  margin-left: 5px;
}

/* line 164, ../sass/ie-lte-7-rtl.scss */
#search-api-ranges-block-slider-view-form {
  margin-top: 15px;
}

/* Category */
/* line 168, ../sass/ie-lte-7-rtl.scss */
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: none !important;
  height: auto !important;
  padding: 0 !important;
  overflow-y: visible !important;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.2. All products page
**********************************************/
/* line 183, ../sass/ie-lte-7-rtl.scss */
.page-products .view-display-products {
  clear: both;
  margin-top: 40px;
  width: 700px !important;
}
/* line 189, ../sass/ie-lte-7-rtl.scss */
.page-products .view-display-products ul li.views-row {
  display: inline;
  height: 600px;
  padding-left: 5px;
  margin: 0;
  width: 225px;
}
/* line 197, ../sass/ie-lte-7-rtl.scss */
.page-products .view-display-products ul li.views-row .content .commerce-product-field {
  font-size: 14px !important;
}
/* line 199, ../sass/ie-lte-7-rtl.scss */
.page-products .view-display-products ul li.views-row .content .commerce-product-field .field-name-commerce-price {
  font-size: 14px !important;
}

/* line 208, ../sass/ie-lte-7-rtl.scss */
#region-breadcrumb ul.pseudo-breadcrumb li {
  float: right;
  padding-right: 30px;
  position: relative;
}
/* line 213, ../sass/ie-lte-7-rtl.scss */
#region-breadcrumb ul.pseudo-breadcrumb li a {
  position: absolute;
  height: 22px;
  right: 0;
  top: 0;
}

/* line 221, ../sass/ie-lte-7-rtl.scss */
.block-search-api-sorts {
  position: relative;
  width: 100%;
}
/* line 227, ../sass/ie-lte-7-rtl.scss */
.block-search-api-sorts .block-inner h2.block-title {
  float: right !important;
}
/* line 231, ../sass/ie-lte-7-rtl.scss */
.block-search-api-sorts .block-inner .content {
  float: right;
}
/* line 238, ../sass/ie-lte-7-rtl.scss */
.block-search-api-sorts ul.search-api-sorts li {
  float: left !important;
  width: auto;
  display: inline !important;
}
/* line 243, ../sass/ie-lte-7-rtl.scss */
.block-search-api-sorts ul.search-api-sorts li .search-api-sort-active {
  display: block !important;
  float: left;
}
/* line 247, ../sass/ie-lte-7-rtl.scss */
.block-search-api-sorts ul.search-api-sorts li .search-api-sort-active a {
  margin-left: 5px;
}

/* line 254, ../sass/ie-lte-7-rtl.scss */
.node-product-type .cloud-zoom-container {
  margin-left: 0;
  margin-right: 0;
  padding-right: 130px;
  position: relative;
}
/* line 261, ../sass/ie-lte-7-rtl.scss */
.node-product-type .cloud-zoom-container a#cloud-zoom,
.node-product-type .cloud-zoom-container a#cloud-zoom img {
  float: left !important;
}
/* line 264, ../sass/ie-lte-7-rtl.scss */
.node-product-type .cloud-zoom-container #wrap img {
  float: right !important;
}
/* line 268, ../sass/ie-lte-7-rtl.scss */
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  position: absolute;
  top: 0;
  left: 0 !important;
  right: 0px !important;
  width: 120px;
}
/* line 275, ../sass/ie-lte-7-rtl.scss */
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery img {
  max-width: none;
}
/* line 281, ../sass/ie-lte-7-rtl.scss */
.node-product-type .cloud-zoom-container .cloud-zoom-big,
.node-product-type .cloud-zoom-container .mousetrap,
.node-product-type .cloud-zoom-container .cloud-zoom-lens {
  left: 0 !important;
}

/* line 287, ../sass/ie-lte-7-rtl.scss */
.node-product-type .cloud-zoom-container .cloud-zoom-big,
.node-product-type .cloud-zoom-container .mousetrap,
.node-product-type .cloud-zoom-container .cloud-zoom-lens {
  display: inherit !important;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
/* line 296, ../sass/ie-lte-7-rtl.scss */
div.messages.commerce-add-to-cart-confirmation {
  left: 25%;
}
/* line 299, ../sass/ie-lte-7-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: right !important;
}
/* line 302, ../sass/ie-lte-7-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  right: auto !important;
  left: 0 !important;
}
/* line 306, ../sass/ie-lte-7-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: none !important;
  /* LTR */
  text-align: left;
}
/* line 310, ../sass/ie-lte-7-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  float: right;
  margin-left: 0px !important;
  margin-right: 130px;
}
/* line 315, ../sass/ie-lte-7-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content {
  text-align: right;
}
/* line 317, ../sass/ie-lte-7-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  left: auto;
  right: -115px;
}
/* line 322, ../sass/ie-lte-7-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
  float: right !important;
  text-align: right;
}

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout progress
*/
/* line 339, ../sass/ie-lte-7-rtl.scss */
ul.inline.commerce-checkout-progress li,
ol.inline.commerce-checkout-progress li {
  background-image: url("../images/bg_checkout_progress_ie-rtl.png");
  background-position: left center;
  background-repeat: no-repeat;
  float: right;
  /* RTL */
  right: auto;
  left: -5px;
  padding-right: 25px;
  padding-left: 50px;
}
/* line 349, ../sass/ie-lte-7-rtl.scss */
ul.inline.commerce-checkout-progress li.active,
ol.inline.commerce-checkout-progress li.active {
  background-image: url("../images/bg_checkout_progress_ie-rtl.png");
}
/* line 352, ../sass/ie-lte-7-rtl.scss */
ul.inline.commerce-checkout-progress li.previous,
ol.inline.commerce-checkout-progress li.previous {
  background-image: url("../images/bg_checkout_progress_ie_visited-rtl.png");
}
/* line 355, ../sass/ie-lte-7-rtl.scss */
ul.inline.commerce-checkout-progress li.last,
ol.inline.commerce-checkout-progress li.last {
  background-image: url("../images/bg_checkout_progress_ie_last-rtl.png");
}
/* line 358, ../sass/ie-lte-7-rtl.scss */
ul.inline.commerce-checkout-progress li.active.last,
ol.inline.commerce-checkout-progress li.active.last {
  background-image: url("../images/bg_checkout_progress_ie_last-rtl.png");
}
