@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/*******************************************
* 2.1.1. Region user first
*******************************************/
/* line 16, ../sass/omega-kickstart-alpha-default-normal.scss */
.block-menu-user-menu .block-inner {
  float: right;
  margin-right: 10px;
}

/**********************************************
* 2.4. Zone header
**********************************************/
/**
* Navigation
*/
/* line 30, ../sass/omega-kickstart-alpha-default-normal.scss */
.navigation .primary-menu .links li,
.navigation .second-menu .links li {
  font-size: 1em;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/* line 45, ../sass/omega-kickstart-alpha-default-normal.scss */
.zone-content-wrapper .zone-content .region-content-inner {
  margin-bottom: 10px;
}

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
/* line 56, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form .range-box-left .form-item,
#search-api-ranges-block-slider-view-form .range-box-right .form-item {
  margin-top: 0;
}
/* line 60, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form .range-box-left,
#search-api-ranges-block-slider-view-form .range-box-right {
  position: absolute;
  top: -30px;
}
/* line 63, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form .range-box-left label,
#search-api-ranges-block-slider-view-form .range-box-right label {
  display: none;
}
/* line 67, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form .range-box-left {
  left: 0;
}
/* line 70, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form .range-box-right {
  right: 0;
}
/* line 72, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form .range-box-right #edit-range-to {
  text-align: right;
}
/* line 76, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form .range-slider-box {
  display: block;
  margin-top: 25px;
}
/* line 81, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  width: auto;
}
/* line 89, ../sass/omega-kickstart-alpha-default-normal.scss */
#search-api-ranges-block-slider-view-form #edit-submit {
  display: none;
}

/* Category */
/* line 94, ../sass/omega-kickstart-alpha-default-normal.scss */
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: 1px solid #d9d9d9;
  height: 220px;
  padding: 10px 15px;
  overflow-y: scroll;
}

/**********************************************
* 3.2. Zone content
**********************************************/
/* HP blocks: Top advert */
/* line 105, ../sass/omega-kickstart-alpha-default-normal.scss */
#promotional_banner .promotional_banner_saving {
  display: inline-block;
  width: auto;
  padding: 0 22px 0 12px;
  margin: 10px 0 0 0;
  line-height: 38px;
}

/* line 112, ../sass/omega-kickstart-alpha-default-normal.scss */
#promotional_banner .promotional_banner_special_offer {
  top: 15px;
}

/* line 116, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */
}
/* line 118, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .bx-wrapper {
  padding-bottom: 100px;
}
/* line 123, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li {
  overflow: visible;
}
/* line 127, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .views-field-nothing {
  background: #888;
  border: 1px solid #cccccc;
  color: #ffffff;
  padding-bottom: 5px;
  position: absolute;
  bottom: -100px;
  left: 34%;
}
/* line 137, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .bx-prev,
#block-views-demo-content-slideshow-block-1 .bx-next {
  color: #000000;
  background: #EEE;
  border: 1px solid #cccccc;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  padding-bottom: 5px;
}
/* line 145, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .bx-prev:hover,
#block-views-demo-content-slideshow-block-1 .bx-next:hover {
  background: #FFF;
}
/* line 152, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .views-field-nothing,
#block-views-demo-content-slideshow-block-1 .bx-prev,
#block-views-demo-content-slideshow-block-1 .bx-next {
  display: block;
  height: 80px;
  text-align: center;
  text-indent: 0;
  width: 32%;
  margin-right: 2%;
}
/* line 160, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content,
#block-views-demo-content-slideshow-block-1 .bx-prev span.field-content,
#block-views-demo-content-slideshow-block-1 .bx-next span.field-content {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 21px;
  height: 80px;
  line-height: 28px;
  padding: 10px 25px 0;
  overflow: hidden;
}
/* line 170, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content em,
#block-views-demo-content-slideshow-block-1 .bx-prev span.field-content em,
#block-views-demo-content-slideshow-block-1 .bx-next span.field-content em {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 180, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .bx-prev {
  margin-left: 0;
  /* LTR */
  float: left;
  /* LTR */
  position: absolute;
  bottom: 0;
  left: 0;
  /* LTR */
}
/* line 187, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-views-demo-content-slideshow-block-1 .bx-next {
  margin-right: 0;
  /* LTR */
  float: right;
  /* LTR */
  position: absolute;
  bottom: 0;
  right: 0;
  /* LTR */
}

/**********************************************
* 3.3. Zone postscript
**********************************************/
/* line 200, ../sass/omega-kickstart-alpha-default-normal.scss */
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content,
#zone-postscript .block-blog-block .views-field-title .field-content {
  font-size: 18px;
  line-height: 26px;
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Connect with us
*/
/* line 216, ../sass/omega-kickstart-alpha-default-normal.scss */
#block-menu-menu-social-connection h2 {
  line-height: inherit;
  padding: 0 0 22px 25px;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 233, ../sass/omega-kickstart-alpha-default-normal.scss */
.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  font-size: 3em;
}
/* line 236, ../sass/omega-kickstart-alpha-default-normal.scss */
.view-collection-products .view-header .collection-terms .view-content .item-list,
.view-collection-taxonomy-term .view-header .collection-terms .view-content .item-list {
  display: block;
  float: none;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
/* line 249, ../sass/omega-kickstart-alpha-default-normal.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  width: auto;
}
/* line 253, ../sass/omega-kickstart-alpha-default-normal.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  margin-left: 130px;
  /* LTR */
  width: 65%;
}
/* line 257, ../sass/omega-kickstart-alpha-default-normal.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  position: absolute;
  left: -115px;
  /* LTR */
}

/* Cloud zoom */
/* line 270, ../sass/omega-kickstart-alpha-default-normal.scss */
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
  margin: 5px 0;
}
/* line 275, ../sass/omega-kickstart-alpha-default-normal.scss */
.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: left;
}
