label{
  font-weight: 400 !important;
}

strong {
  font-weight: 600 !important;
}

.clear{
  clear: both;
}

/**
* remove the default padding at the top of the page. 
**/

.conf-detail{
  margin-top: -5.875em !important;
  padding: 15px;
}

.orangebox-conf-table{
  width: 100%;
}

.orangebox-conf-table tr{
  border-bottom: 5px solid #EEE;
}

.orangebox-conf-table tr td{
  background: #FFF;
  padding: 10px;
}

.orangebox-conf-table-reg{
  width: 100px;
  border-left: 2px solid #EEE;
  background: #6ac1d6;
  text-align: center;
}

.orangebox-conf-table-reg a{
  color: #FFF;
}

.orangebox-conf-table-location{
  width: 25%;
  border-right: 2px solid #EEE;
}

/**
* form elements
**/

.conf-detail input[type='text'],.conf-detail select{
  border: 0px;
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  color: #787878;
}

.conf-detail input[placeholder] {
   font-weight: 100;
}

input[type="submit"]{
  border:none;
}

.conf-button-blue{
  padding: .5em 1.5em;
  color: white;
  background-color: #00a5db;
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20%;
}

/**
*
* font treatments 
* 
**/

.conf-bold{
  font-weight: bold;
}

.conf-italic{
  font-style: italic;
}

.conf-small{
  font-size: 10px;
  line-height: 1em;
}

.conf-detail h2{
  font-weight: 300;
}

.conf-detail h3{
  font-weight: 300;
  line-height: 1em;
}

.conf-detail h4{
	font-size: 1.5em;
}

.orangebox-centered, .orangebox-centered h3{
  text-align: center;
}

.conf-address{
  font-size: 14px;
  color: #2B2B2B;
}

.conf-block-header{
  text-align: center;
  margin: 10px 0;
}

/** 
* page elements
**/

.conf-top{
  height: 75px;
  padding-left: 15px;
}

.conf-top a{
  color: ;
}

.conf-city{
  font-weight: bold;
  margin: 20px 0 ;
}

/**
* conf-blocks if they're different sizes than just 50/50 then there's a special class for it.
**/

.conf-block{
  width: 41%;
  margin-bottom: 50px;
}

.conf-block-left{
  float: left;
}

.conf-block-right{
  float: right;
}

.conf-block_left{
  float: left;
  width: 52%; 
  padding: 15px;
}

.conf-block_right{
  float: right;
  width: 40%; 
  padding: 10px;
}

#conf-register-header{
	margin: 40px 0;
}

.conf-reg-row{
  margin: 0 0 15px 0;
}

.gray-bg{
  background: #FDFDFD
}

.conf-rate{
  display: block;
  margin: 20px 0;
}

.conf-group{
  border-bottom: 1px dotted #CCC;
  padding-bottom: 20px;
}

.conf-reg{
  padding-top: 20px;
}

.conf-total{
  text-align: right;
  font-size: 24px;
  margin-top: 40px;
}

.conf-add-attendee{
  padding: 2px 7px;
  font-weight: 700;
  color: #FFF;
  background: #12913E;
  margin-top: 5px;
}

.conf-remove-attendee{
  padding: 2px 7px;
  font-weight: 700;
  color: #FFF;
  background: #DF0022;
  margin-top: 5px;
}

.remove-attendee-wrapper{
  margin-top: 5px;
}

.remove-attendee{
    float: right;
}

.remove-attendee:hover, .add-attendee:hover{
  text-decoration: none;
}

.attendeerow{
  margin-bottom: 5px;
}