//This file holds any admin styling. and should be included in whatever admin theme we use

// Panels New Panel Pane Node
// This hides all other content types from the admin - add content to pane "Content" section other than "new panel Pane Node"

.page-admin.page-admin-structure-pages .panels-section-column a {
  display: none;
}
.page-admin.page-admin-structure-pages .panels-section-column a[href="/panels/ajax/editor/add-pane/panel_context%3Apage-monarch_plans%3A%3Apage_monarch_plans_panel_context_2%3A%3A%3A%3A/center/node/panel_pane_node"] {
  display: block;
}

// ENd Panels New Panel Pane Node