// These are common classes meant to be extended throughout the style.scss file.  They are moved here so that we can be sure they preceed the rules in which they are extended.

@import "_variables.scss";

/* mmalbone
 * These were all first placed in the mixins folder and named as mixins.  
 * I thought they should just be declared as classes to be extended.  In some cases doing this backfired.
 */

// The following button-blue-background  caused some problems when declared here.  I moved it back to the mixins file.

/*.button-blue-background {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: $blue_one;
  color: $gray_four;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  display: inline-block;
  @include rounded-corners(3px);
}*/

.button-gray-background {
  background: $gray_four;
  color: $blue_one;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  display: inline-block;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  @include rounded-corners(3px);
}

.button-dark-gray-background {
  background: $gray_two;
  color: white;
  text-transform: uppercase;
  padding: 2px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}

.btn-white {
  margin:0 auto;
  padding:0;
  width: 30%;
  height:30px;
  background: #f0f3f4;
  border-radius: 3px;
  color: #2ab5cd;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  line-height:33px;
  a {
    width:100%;
    color: $blue_two;
  }
}
.btn-blue {
  margin:0 auto;
  padding:0;
  width: 30%;
  height:30px;
  background:$blue-two;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  a {
    width:100%;
    color: white;
  }
}

.landing-page-banner {
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  color: #fff;
  margin-bottom:1.5em;
  padding-top: 3em;
  padding-bottom: 3em;
  h1 {
    margin:0;
    @include breakpoint(vw_vh) {
      font-size: 5vw;
    }
  }
  h2 { 
    margin: 0;
    font-size:$h2-font-size;
    @include breakpoint(narrow) {
      font-size:$h3-font-size;
    }
    @include breakpoint(vw_vh) {
      font-size: 3vw;
    }
  }
}

.join-facebook {
    padding: 1.5em 1em;
    background-image: url(../images/facebook-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    display: inherit;
    text-align: center;
    text-decoration: none;
    p { 
      margin: 0;
    }
    a { 
      color: #FFF;
      font-size: 1.2em;
      font-weight: bold;
      &:visited { 
        color: #FFF;
      }
    }
}

.h5-header-side-bar {
  color: #9badb4;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  overflow: hidden; 
  &:span {
    background: white;
    padding: 0 2em 0 0;
    position: relative;
    display: inline-block;
    z-index: 1; 
  }
  &:after {
    margin-left:1em;
    content: "";
    position: absolute;
    width: 9999px;
    background: #9badb4;
    height: 1px;
    top: 49%;
  }
}