@import "_variables.scss";
//@import "compass/css3/box-shadow";

@mixin clearfix {
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
  &:before,
  &.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
  *zoom: 1;
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded($side, $radius) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

// Media queries as breakpoints
//$breakpoint-mobile: 0 767px;
//$breakpoint-ipadPortrait: 768px 1024px, (orientation portrait);
//$breakpoint-narrow: 400px 980px;

@mixin breakpoint($point) {
  @if $point == wide {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == normal {
    @media (min-width: 1025px) and (max-width: 1199px) { @content; }
  }
  @else if $point == narrow {
    @media (min-width: 400px) and (max-width: 999px) { @content; }
  }
  @else if $point == narrow768 {
    @media (min-width: 768px) and (max-width: 999px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 1024px) { @content; }
  }
  @else if $point == ipadBoth {
    @media (min-width: 768px) and (max-width: 1024px)  { @content; }
  }
  @else if $point == ipadLandscape {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { @content; }
  }
  @else if $point == ipadPortrait {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == mobile_sm {
    @media (max-width: 486px) { @content; }
  }  
  @else if $point == mobile_sm_sm {
    @media (max-width: 320px) { @content; }
  }
  @else if $point == vw_vh {
    @media (min-width:320px) and (max-width:768px) { @content; }
  }
  @else if $point == allMobile {
    @media only screen and (min-width:768px) and (max-width:1024px) and (orientation: portrait),
    only screen and (max-width: 768px) { @content; }
  }
}

@mixin button-blue-background {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: $blue_one;
  color: $gray_four;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: $bodyfont;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  @include rounded-corners(3px);
  cursor: pointer;
  &:hover {
	background-color: $blue_two;
	}
}  

@mixin button-gray-background {
  background: $gray_four;
  color: $blue_one;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  display: inline-block;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  @include rounded-corners(3px);
}

@mixin button-dark-gray-background {
  background: $gray_two;
  color: white;
  text-transform: uppercase;
  padding: 2px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}

@mixin btn-white {
  margin:0 auto;
  padding:0;
  width: 30%;
  height:30px;
  background: #f0f3f4;
  border-radius: 3px;
  color: #2ab5cd;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  line-height:33px;
  a {
    width:100%;
    color: $blue_two;
  }
}

@mixin btn-blue {
  padding:0;
  width: 30%;
  height:30px;
  background:$blue-two;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  a {
    width:100%;
    color: white;
  }
  a:hover {
    background:$blue_two;
  }
}

@mixin landing-page-banner {
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  color: #fff;
  margin-bottom:1.5em;
  padding-top: 3em;
  padding-bottom: 3em;
  h1 {
    margin:0;
    @include breakpoint(narrow) {
      font-size:$h1-font-size - 8px;
    }
    @include breakpoint(vw_vh) {
      font-size: 4.2vw;
    }
  }
  h2 { 
    margin: 0;
    font-size:$h2-font-size;
    @include breakpoint(narrow) {
      font-size:$h3-font-size;
    }
    @include breakpoint(vw_vh) {
      font-size: 3vw;
    }
  }
}

@mixin join-facebook {
    padding: 1.5em 1em;
    background-image: url(../images/facebook-button.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    display: inherit;
    text-align: center;
    text-decoration: none;
    p { 
      margin: 0;
    }
    a { 
      color: #FFF;
      font-size: 1.2em;
      font-weight: bold;
      &:visited { 
        color: #FFF;
      }
    }
}

@mixin h5-header-side-bar {
  color: #9badb4;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  overflow: hidden; 
  &:span {
    background: white;
    padding: 0 2em 0 0;
    position: relative;
    display: inline-block;
    z-index: 1; 
  }
  &:after {
    margin-left:1em;
    content: "";
    position: absolute;
    width: 9999px;
    background: #9badb4;
    height: 1px;
    top: 49%;
  }
}

// Fieldable Panels Panes Title Styles
  h4.blue {
    color: $blue-one;
    margin-bottom: 12px;
  }

//table mixins

@mixin th-width($col, $width) {
    #{$col} {  
        width: $width;  
    }
}

@mixin table-columns($widths...) {
    table-layout: fixed;
    width: 100%;
    th, td {
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap;
    }

    $n: 1;
    $var: "th:nth-child(" + $n + ")";
    @each $width in $widths {
        @include th-width($var, $width);
        $n: $n + 1;
        $var: "th:nth-child(" + $n + ")";
    }
}
