@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);

// aop colors
$white: #FFFFFF;
$black: #222222;
$black_two: #444444;
$blue_one: #2ab5cd;
$blue_two: #6ac1d6;
$gray: #728389;
$gray_one: #9badb4;
$gray_two: #b2c3c9;
$gray_three: #e1e6e8;
$gray_four: #f0f3f4;
$yellow: #fbb03b;
$green: #8dc63f;
$purple: #45447f;
$text_color: #000;
$pink: #f37d7c;

$bodybg: #FFF;
$bodyfont: 'Josefin Sans', sans-serif;
$headerfont: 'Lora', serif;
$altheaderfont: 'Josefin Sans', sans-serif;
$footer-font: 'Open Sans', sans-serif;

$h1-font-size:38px;
$h2-font-size:25px;
$h3-font-size:22px;
$h4-font-size:16px;
$h5-font-size:14px;
$body-font-size:16px;
$legal: 12px;

//text color
$color1: #2ab5cd;
$color2: #FFF;


// mobile specific elements
$mobilemenubg: #444;
$tabletmenubg: transparent;
// User Zone
$topbarbackground: #888;
// shopping cart block (in user zone)
$cartceckoutbg: #999;
$cartceckoutcolor: #FFF;
// main menu
$mainmenuitembg: #EEE;
$mainmenuitemborder: 1px solid #CCC;
$mainmenulinkcolor: #888;
$mainmenuitembghover: #FFF;
$mainmenuitemborderhover: 1px solid #CCC;
$mainmenuitemfonthover: #999;
$mainmenuitemfontactive: #000;
// secondary menu
$secondarymenuitembg: #EEE;
$secondarymenuitemborder: 1px solid #CCC;
$secondarymenulinkcolor: #888;
$secondarymenuitembghover: #FFF;
$secondarymenuitemborderhover: 1px solid #CCC;
$secondarymenuitemfonthover: #999;
$secondarymenuitemfontactive: #000;
// promotional banner
$promobannerbg: #999;
$promobannercolor: #FFF;
$promobannerbuttonbg: #888;
$promobannerbuttoncolor: #FFF;
$promobannerbuttonborder: 1px solid #CCC;
// footer
$footerbg: #2ab5cd;
$footermenuheadercolor: #222;
$footermenulinkcolor: #222;

$footer2bg: #CCC;
