/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
div.messages.commerce-add-to-cart-confirmation {
	.message-inner {
		.added-product-title {
			float: left;
			width: 53.5%;
			text-align: left;
			padding-left: 1.1em;
		}
		.view-confirm-message-product-display {
			width: 60.6%;
			.view-content {
				width: 91.6%;
				.views-field-commerce-total .field-content {
			    width: 80%;
			  }
			} 
		}
	}
} 

// this is to compensate for the side margin or enforcement of 740 for 768 by omega - MM

.container-24 .grid-24 {
  width: 720px!important;
  margin-right: 10px;
  margin-left: 10px;
}

/* breadcrumb bevel 
.breadcrumb:after {
  display:none;
}*/