/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

/**************************************************
* --
* 1. Global
* --
**************************************************/
.selectnav {
  display: none;
}

.section-content {
  min-height: 600px;
}
/**************************************************
* --
* 2. Section header
* --
**************************************************/

/**********************************************
* 2.3. Zone menu
**********************************************/
.zone-menu .region-menu {
  margin: 0 !important;
  width: 100% !important;
}
/**
* Navigation
*/
.navigation {
  margin: 0;
  .primary-menu ul,
  .second-menu ul {
    margin: 26px 0px;
    li {
      &.first a {
        @include rounded-corners(8px 0 0 8px); /* LTR */
      }
      &.last a {
        @include rounded-corners(0 8px 8px 0); /* LTR */
      }
    }
  }
  /* Main menu */
  .primary-menu ul li a {
    background-color: #000000;
    color: #ffffff;

    &.active,
    &:hover {
      background-color: #ffffff;
    }
    &.active {
      color: #2698F2;
    }
    &:hover {
      color: #000000;
    }
  }
/* Secondary menu */
  .second-menu ul li a {
    background-color: #ffffff;
    color: #000000;

    &.active,
    &:hover {
      background-color: #000000;
    }
    &.active {
      color: #2698F2;
    }
    &:hover {
      color: #ffffff;
    }
  }
}
/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* HP blocks: Top advert */
#promotional_banner {
  padding-bottom: 10px;
  left: -10px; /* LTR */
  width: 100%;
}

.block-shipping-discount {
/* HP blocks: Side advert */
  position: absolute;
  left: -50px; /* LTR */
  top: 85px;
  z-index: 100;
  #shipping {
    border-color: #FFF;
    @include rounded-corners(80px);
    height: 120px;
    line-height: 24px;
    padding: 10px 5px;
    margin-top: 0;
    width: 130px;
  }
}
/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-taxonomy-term .view-content .item-list {
  h3 {
    span {
      top: -90px;
    }
  }
}

// main blog over writes 

.page-blog .region-content .view-content .views-row {
  clear: left;
  float: left;
  width: 100%;
  border:none;
}

//shopping cart over writes

.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
  background:$green;
}

.messages.commerce-add-to-cart-confirmation {
  background:white;
  border:6px solid #e1e6e8 !important;
}

//user account over writes 

.page-user form#user-login #user_login_form {
  margin-top:2em;
  border:0;
  h1 {
    border-bottom:1px solid $gray_three;
  }
 }

.page-user form#user-register-form .form-actions {
  width:100%;
}

.page-user #user_register_form {
  width:100%;
  @include breakpoint (allMobile) {
    width:98%;
  }
}
.page-user form#user-register-form .form-item-pass .password-parent .password-strength {
    width: 9em;
    right: 11em;
    bottom: 0;
    @include breakpoint (allMobile) {
      clear:both;
    }
  }

.page-user #user-profile-form .form-submit {
   @include button-blue-background;
   text-transform:uppercase;
}
.page-user-addressbook ul.action-links li a {
  @include button-blue-background;
  text-transform:capitalize;
  text-shadow:none;
}
.page-user .profile h3 {
  background:none;
  padding-left:0;
  text-transform:capitalize;
  color:$black;
  font-size:22px;
  font-weight: 400;
  font-style:normal;
  border-bottom:1px solid $gray_three;
}

.page-user-addressbook .view-commerce-addressbook-defaults .views-field,
.page-user .tabs ul.secondary li a {
  background-color:white;
  border:0;
}

.page-user .profile dt {
  color:$gray_two;
  text-transform:capitalize;
}

.page-user-addressbook .view-commerce-addressbook td .views-field {
  margin-right:1em;
  border: 6px solid $gray_three;
  text-transform:capitalize;
}

.page-user td.active {
  background-color:$gray_three;
}

.page-checkout #commerce-checkout-form-checkout fieldset legend span {
  padding-left:0;
  text-transform:capitalize;
}

.page-user form#user-login .create-account {
  margin-top:2em;
  h2 {
    border-bottom:1px solid $gray_three;
    font-family:$altheaderfont;
    font-size:$h2-font-size;
  }
}