/* Include Default Variables & Mixins */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**
* Navigation
*/
.navigation .primary-menu ul li.first a,
.navigation .second-menu ul li.first a {
  -moz-border-radius: 0 8px 8px 0 !important;
  -webkit-border-radius: 0 8px 8px 0 !important;
  -khtml-border-radius: 0 8px 8px 0 !important;
  border-radius: 0 8px 8px 0 !important; }
.navigation .primary-menu ul li.last a,
.navigation .second-menu ul li.last a {
  -moz-border-radius: 8px 0 0 8px !important;
  -webkit-border-radius: 8px 0 0 8px !important;
  -khtml-border-radius: 8px 0 0 8px !important;
  border-radius: 8px 0 0 8px !important; }

/**
* Blocks
*/
/* HP blocks: Top advert */
#promotional_banner {
  left: auto;
  right: -10px; }

.block-shipping-discount {
  left: auto;
  right: -50px; }
