//This file holds Duggar's landing page styling.

//Include Default Variables & Mixins 
@import "_variables.scss";
@import "_mixins.scss";

//clear breadcrumbs

.duggar-banner {
  margin:auto;
  width:100%;
  text-align:center;
}

.page-duggars #breadcrumb {
  display:none;
}

.page-duggars #page {
  background: #7bb2e2 url('https://glnmedia.s3.amazonaws.com/landing/duggars/bg.gif'); 
  background-repeat: repeat-x; 
  h1 {
    margin-top:1em;
    line-height: 1.3em;
    @include breakpoint(narrow) {
      font-size:27px;
      line-height:1.2em;
    }
  }
  h2 {
    @include breakpoint(narrow) {
      font-size:24px;
    }
  }
  p {
    font-size:18px;
  }
}

.page-duggars .zone-content-wrapper .zone-content {
  background: #fff url('images/yellow-bg.jpg') top center no-repeat;
}

.page-duggars .container-24 .grid-24 {
  width: 940px;
  padding: 0 2em;
  box-sizing: border-box;
}

.page-duggars .panels-flexible-region-marketing_landing_page_layout-center {
  width: 100%;
}

.content img {
  max-width: 70%; 
  @include breakpoint(narrow) {
    max-width:80%;
  }
}

.page-duggars #homepage-carousel-block {
  margin-top:-2em;
}

.page-duggars #homepage-carousel-responsive-block  {
  @include breakpoint (narrow) {
    margin-top:-5em;
  }
}

.footer-wrapper {
  margin:0 auto;
  width:960px;
  position:relative;
  bottom:0;
  @include breakpoint(narrow) {
    width:100%;
  }
}
.footer-logo {
  margin:0 auto;
  width:48%;
  position:relative;
  float:left;
  text-align:center;
  @include breakpoint(narrow) {
    margin-bottom:1.5em;
    width:100%;
  }
}
.homeschool-info {
  margin:0 auto;
  width:48%;
  position:relative;
  float:right;
  color:white;
  text-align: center;
  p a {
    color:white;
  }
  @include breakpoint(narrow) {
    width:100%;
  }
}

