/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";

/* End Variables & Mixins */
/**************************************************
* --
* 4. Section footer
* --
**************************************************/
.section-footer {
  background-color: #3f3f3f;
}

/**********************************************
* 4.1. Zone footer
**********************************************/
.zone-footer-wrapper {
  background-color: #494949;
}

/**
* Menu footer navigation
*/
.section-footer ul.menu li.expanded {
  span,
  a {
    color: #ffffff;
  }
  ul.menu li a {
    color: #c1c1c1;
  }
}

/**
* Connect with us
*/
#block-menu-menu-social-connection {
  h2 {
    background-color: #262626;
    color: #eeeeee;
  }
  .content ul.menu li {
    color: #eeeeee;
    &:hover {
      background-color: #cecece;
      @include rounded-corners(4px);
    }
    span,
    a {
      color: #eeeeee;
    }

    a.facebook {
      background: url('../images/icon_facebook.png') 2% 50% no-repeat; /* LTR */
    }
    a.twitter {
      background: url('../images/icon_twitter.png') 2% 50% no-repeat; /* LTR */
    }
    a.pinterest {
      background: url('../images/icon_pinterest.png') 2% 50% no-repeat; /* LTR */
    }
  }
}

/**********************************************
* 4.2. Zone footer2
**********************************************/

#section-footer {
  background-color: $blue_one;
  font-family:$footer-font;
  font-size:$h5-font-size;
  span {
    font-weight:700;
  }
  ul.menu {
    li.expanded {
      padding:0;
      width:33%;
      @include breakpoint(mobile_sm) {
        width:100%;
      }
      color: $black;
      .nolink {
        color: $black;
        text-transform: uppercase;
      }
      a {
        color: $black;
      }
      a:hover {
        color: $white;
        text-decoration:none;
      }
    }
  }
  .footer-social-icon {
    float: left;
    margin-right: 10px;
  }
}

.zone-footer-wrapper {
  padding:1.5em 0 1em 0;
  background-color: $blue_one;
  color: $black;
  a {
    color: $black;
  }
}

.zone-footer2-wrapper {
  margin:0 auto;
  width:960px;
  background-color: $blue_one;
  border-top: .1em solid $black;
  .container-24 .grid-7 {
    margin: 0;
    width: 22.5em;
  }
}

#zone-footer-bottom {
  padding:1em 0;
  border-top: 1px solid $black;
  h2 {
    display: none;
  }
}

.copyright {
  margin: 0;
  padding: 0;
  font-size: $legal;
  ul {
    margin: 0;
    display: block;
    list-style: none;
    text-align: left;
  }
  li {
    margin:0 1em 0 0;
    display: inline;
    a {
      color: $black;
      font-weight:400;
    }
    a:hover {
      color: $white;
      text-decoration:none;
    }
  }
}

// Responsive Footer

#region-footer-first {
  width: 700px;
  margin-left:0;
  @include breakpoint(narrow) {
    width:100%;
    margin-right: 0;
  }
  @include breakpoint(mobile) {
    width: 100%;
    margin: 0;
    .menu {
      padding: 0;
      li {
        &.expanded {
          margin: 0 0 1em 10px;
          ul.menu {
            padding: 0;
          }
        }
      }
    }
  }
  @include breakpoint(allMobile) {
    width:100%;
    margin:0;
    .menu {
      padding: 0;
      li {
        width: 100%;
        &.expanded {
          margin: 0 auto 1em auto;
          text-align: center;
          li {
            text-align: center;
          }
        }
      }
    }
  }
}

#region-footer-second {
  width: 190px;
  float: right;
  margin: 0;
  @include breakpoint(narrow) {
    width: 100%;
    margin: 1.5em 0 1.5em 0px;
    float: left;
  }
  @include breakpoint(mobile) {
    width: 100%;
    margin: 1.5em 0 1.5em 10px;
  }
  @include breakpoint(allMobile) {
    margin: 1.5em auto;
    text-align: center;
    width:190px;
    float: none;
  }
  .footer-social-icon:nth-child(5) {
    margin-right: 0;
  }
}

//  Sorry to have to do this.  If we need this region, we can deal with this later.
#region-footer-third {
  display: none;
}