/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
//@import "compass/css3/box-shadow";
@import "_variables.scss";
@import "_mixins.scss";

/* End Variables & Mixins */

// Clear all panel seperatiors
/*
.panel-pane {
   @include clearfix;
}
*/

body.toolbar #toolbar-home a span {
  width: 40px;
}

ul#toolbar-user { 
  li.logout { 
     display: none;
  }
}

#zone-user-wrapper {
  //box-shadow: 2px 1px 3px #ffffff;
  //@include box-shadow(#ffffff 2px 1px 3px);
  border-bottom: 1px solid #cfeef4;
  position: fixed;
  z-index: 1000;
  @include breakpoint(mobile) {
    position: relative;
  }
  .region-user-first {
    @media (max-width:500px) {
      margin: 0 4px;
      a {
        font-size: 90%;
      }
    }
  }
  .region-user-second {
    height:33px;
    width:196px;
  }
  .block-menu-menu-user-menu {
    float: right;
    left: 133px;
    position: relative;
    @include breakpoint(narrow) {
      left:123px;
    }
    @include breakpoint(allMobile) {
      left: 123px;
    }
    @include breakpoint(mobile) {
      left:10px;
      float: left;
      position: absolute;
    }
    @include breakpoint(mobile_sm) {
      position: absolute;
    }
  }
}
.logged-in {
  #zone-user-wrapper {
    .block-menu-user-menu {
      left: 80px;
      @include breakpoint(narrow) {
        left:70px;
      }
      @include breakpoint(allMobile) {
        left: 70px;
      }
      @include breakpoint(mobile) {
        left:70px;
      }
      @include breakpoint(mobile_sm) {
        float:left;
      }
    }
  }
}


.block-menu-user-menu .content ul.menu li {
  padding-bottom: 0px;
}


/*
 *This was made irrelevant due to the moving of the branding region into the menu zone so that the header can be 1 div

 #zone-branding-wrapper {
  padding-top: 34px;
  @include breakpoint(mobile) {
    padding-top: 0px;
  }
  #zone-branding {
    //width: 960px;
    //margin: 0 auto;
    float: none;
    .region-branding-inner {
      max-width: 960px;
      margin: 0 auto;
      @include breakpoint(allMobile) {
        margin-right:10px;
        .form-actions.form-wrapper {
          right: 10px;
        }
      }
    }
  }
  #zone-branding .region-branding {
    margin: 5px 0 5px 0;
  }
  
  .zone-branding .region-branding .logo-img {
    margin: 0;
  }
  .container-24 .grid-24 {
    width: 960px;
    @include breakpoint(narrow) {
      width: 100%;
    } 
    @include breakpoint(allMobile) {
      width: 100%;
    }
  }
}*/

.page-home #zone-branding-wrapper,
.branding-fix {
  padding-top:0;
}

#zone-home-promo {
  width: 100%;
  @include breakpoint(mobile) {
    display:none;
  }
}

.page-home #zone-menu-wrapper {
  margin-bottom:.5em;
  @include breakpoint(mobile) {
    height:70px;
  }
}

// works with sticky header js

.fixed-header {
  position: fixed; 
  background:$white; 
  top: 35px;
  margin-top: 0;
  z-index: 500;
  width: 100%;
  @include breakpoint(mobile) {
    position: relative;
  }
}

// End Sticky Header JS CSS

.not-front div#zone-menu-wrapper {
  margin-top: 34px;
  @include breakpoint(mobile) {
    margin-top: 0;
  }
}

#zone-menu-wrapper {
  margin-bottom:0;
  border-bottom: 1px solid $gray_one;
}

#region-home-promo-first,
#region-home-promo-second {
  margin: 34px 0 0;
  width: 50%;
  min-height: 14em;
  background-image: url("../images/aop-home-promo.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #2ab5cd;
  color: #ffffff;
  text-align: center;
  float: left;
  font-weight:700;

  .aop-home-promo-title {
    font-family: $headerfont;
    text-align: center;
    font-size: 3.4vw;
    @include breakpoint(normal) {
      font-size: $h1-font-size;
    }
    @include breakpoint(wide) {
      font-size: $h1-font-size;
    }
    line-height: 1em;
    margin: 35px 0 10px;
  }
  .aop-home-promo-summary {
    font-family: $bodyfont;
    font-size: 2.1vw;
    font-weight:lighter;
    @include breakpoint(normal) {
      font-size: $h2-font-size;
    }
    @include breakpoint(wide) {
      font-size: $h2-font-size;
    }
    margin: 20px auto;
    text-align: center;
    width: 80%;
    @include breakpoint(wide){
      width: 76%;
    }
  }
  .aop-home-promo-content a:hover {
  text-decoration: none;
  }
  .aop-home-promo-button {
    @include btn-white;
    min-width: 150px;
    margin-bottom: 40px;
  }
  .aop-home-promo-button:hover {
  background-color: $gray_three;
  }
}
// This keeps them Even, and it will ave to be adjusted every time the text changes MM
#region-home-promo-first .aop-home-promo-summary {
  @include breakpoint(wide) {
    width: 76.35%;
  }
}

/*************************************
 * This piece of code is to compensate for the text wrapping on one side sooner than the other.
 * If we EVER change the text, we need to comment this rule out, then change the text
 * and re-adjust this media query to identify range of width where the discrepancy occurs.
 *************************************/
#region-home-promo-second .aop-home-promo-summary {
  @media (min-width:1024px) and (max-width:1200px) {
    width: 87%;
  }
}

div.tb-megamenu.tb-megamenu-main-menu {
  div.nav-collapse.collapse.always-show {
    ul.tb-megamenu-nav.nav.level-0.items-3 {
      li.tb-megamenu-item.level-1.mega.dropdown.active {
        a.dropdown-toggle {
          background-color: $white;
          color: $black;
          border: none;
        }
      }
    }
  }
}

#block-menu-menu-grade-level {
  ul {
    width: 100%;
    @include clearfix;
    li {
      cursor: pointer;
      //display: inline-flex;
      float: left;
      font-weight: bold;
      height: 2em;
      margin: 3px;
      min-width: 38px;
      text-align: center;
      width: 17%;
      list-style: none outside none;
      text-decoration: none;
      a {
        display: block;
        background-color: white;
        border: 1px solid $gray_one;
        @include rounded-corners(3px);
        line-height: 1em;
        padding: 0.5em;
        text-align: center;
        font-weight: bold;
        //width: 38px;
        color: $gray_one;
        &:hover {
          background-color: $gray_one;
          color: white;
        }
      }
    }
  }

}

#block-menu-menu-subjects, #block-menu-menu-curriculum, #block-menu-menu-resources {
  ul {
    border: none;
    li {
      float: left;
      width: 100%;
      border: none;
      .first {
        border: none;
      }
      .last {
        border: none;
      }
      a {
        border: none;
        background-color: white;
        color: $black;
        font-size: 1.2em;
        font-weight: normal;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left: 0px;
        padding-right: 0px;
      }
      
      a:hover {
      color: $blue_one;
      }
    }
  }
}

#block-menu-block-1 {
  ul {
    border: none;
    li {
      float: left;
      width: 100%;
      border: none;
      .first {
        border: none;
      }
      .last {
        border: none;
      }
      a {
        border: none;
        background-color: white;
        color: $black;
        text-transform: none;
      }
    }
  }
}

//==============================
// Main Menu Mega Menu
//==============================
button.btn.btn-navbar.tb-megamenu-button {
  @media screen and (min-width:769px) {
    display: none;
  }
  background: none;
  border: none;
  padding: 0px;
  width: 32px;
  height: 32px;
  margin: 20px 12px 0 0;
  background-image: url(../images/menu-icon.png);
  background-size: cover;
  border-radius: 2px;
  outline: none;
  float: right;
  right: 0;
  &:active {
    box-shadow: none;
  }
  i.icon-reorder:before {
    display: none;
  }
}
.tb-megamenu .nav-collapse .dropdown-menu {
  background: $white;
  @include breakpoint(ipadBoth) {
    display:none!important;
  }
  @include breakpoint(mobile) {
    display:none!important;
  }
}

.tb-megamenu .nav-collapse .nav > li.active > a:hover, .tb-megamenu .nav-collapse .nav > li.active > a:focus {
  background-color: #fff;
}
.tb-megamenu .nav-collapse .nav {
  @include breakpoint(narrow) {
    width:352px;
    float: left;
    height: 39px;
    li {
      float:left;
      a {
        font-size:14px;
        padding: 9px 10px;
        border: 0;
      }
    }
  }
  @include breakpoint(mobile) {
    width:100%;
    float: none;
    li {
      float: left;
      clear: both;
      width: 100%;
    }
  }
}
.tb-megamenu .nav-collapse {
  @include breakpoint(ipadLandscape) {
    top: 0px;
  }
  @media (min-width:769px) and (max-width:999px) {
    background: $white;
    margin-top: 00;
    top: -11px
  }
  @include breakpoint(mobile) {
    top: 61px;
  }
}

// Trying to correct side to side positioning of megamenu at mobile widths  Michael Malbone
/*.tb-megamenu .nav-collapse {
  @include breakpoint(allMobile) {
    width: 100vw;
    top:69px;
  }
  
}*/

.tb-megamenu {
  bottom: 0px;
  background-color: transparent;
  @include breakpoint(tablet) {
    bottom:0px;
  }
  @include breakpoint(mobile) {
    
  }

  .mega {
    .mega-dropdown-menu {
      min-width: 960px;
      left: 0px;
      border:1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
  }

  a.dropdown-toggle {
    background-color: $white;
    color: $black;
    border: none;
  }

  .nav {

    li {
      .dropdown {
        a.dropdown-toggle {
          background-color: $white;
          color: $black;
          border: none;
        }
      }
      a {
        color: $black;
        background-color: $white;
        font-weight:700;
        text-transform: uppercase;
        border-right: none;
        &:hover {
          border-bottom: 4px solid $blue_one;
          color: $black;
        }

      }

      &.active {
      border-bottom: 4px solid #2ab5cd;
      }

      &.active:hover {
      border-bottom: none;
      }
    }

    .active {

      a {
        text-transform: uppercase;
        background-color: $white;
        color: $black;
        border-right: none;
        &:hover {
          background-color: $white;
          color: $black;
          border-right: none;
        }
        &:focus {
          background-color: $white;
          color: $black;
          border-right: none;
        }
      }
    }
  }
}

.tb-megamenu .tb-block .block-title {
  font-size:$body-font-size;
  font-weight:700;
  text-transform: none;
}

.tb-megamenu .row-fluid [class*="span"] {
  margin-left:0;
}

#region-menu {
  .logo-img {
    a {
      position: relative;
      z-index: 110;
    }
    img {
      width:174px;
      height: 70px;
      min-width:174px;
    }
    margin-top: 15px;
    @include breakpoint(tablet) {
      margin-right: 5px;
    }
    @include breakpoint(mobile) {
      margin:0;
    }
    @include breakpoint(mobile_sm) {
      margin: 0;
      width: 50px;
      overflow: hidden;
    }
  }
  @include breakpoint(narrow) {
    width:548px;
    float: right;
    height: 95px;
  }
  @include breakpoint(mobile) {
    width: 100%;
    height: 70px;
    margin: 0;
  }
  @include breakpoint(mobile_sm) {
    height: 70px;
  }
}
.region-menu-inner {
  @include clearfix;
  .block-tb-megamenu-main-menu {
    float: left;
    top: 54px;
    position: relative;
    @include breakpoint(narrow) {
      float: left;
      top: 64px;
      position: relative;
    }

    @include breakpoint(mobile) {
      float: left;
      left: 0px;
      position: absolute;
      width: 100%;
      z-index: 100;
      top: 0px;
    }

  }
  #block-block-25 {
    float: right;
    margin-bottom: 6px;
    clear: right;
    position: relative;
    @include breakpoint(tablet) {
      top: 0px;
      margin-top: 0px;
      margin-bottom: 6px;
    }
    @include breakpoint(ipadLandscape) {
      .number {
        font-size: 13.5px;
      }
    }
    @include breakpoint(mobile) {
      float: right;
      margin-top: 0;
      position: absolute;
      top: 26px;
      right: 45px;
      width: 35px;
      z-index: 130;
      .number {
        font-size: 13px;
        display: none;
      }

    }
  }
  #contact_us_menu {
    @include clearfix;
    &>li {
      float: left;
      list-style: none;
      cursor: pointer;
    }
  }
  span.number a {
    padding-right:.5em;
    color: $black;
    font-weight:600;
  }
  
  span.chat_with_us {
    display: inline-block;
    background-image: url(../images/chat.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    color: transparent;
  }
  
  ul.contact_us_menu_links {
    display: none;
    background-color: white;
    border: 1px solid #b2c3c9;
    right: 0px;
    @include breakpoint(mobile) {
      right: -45px;
    }
    width: 290px;
    list-style: none;
    position: absolute;
    z-index: 100;
    color: #222222;
    padding: 10px;
    margin-top: 6px;

    &:before {
      border-bottom: 7px solid $gray_two;
      border-left: 10px solid rgba(0, 0, 0, 0);
      border-right: 10px solid rgba(0, 0, 0, 0);
      content: "";
      display: inline-block;
      position: absolute;
      right: 5px;
      top: -7px;
      @include breakpoint(mobile) {
        right:58px;
      }
    }
    li {
      background-repeat: no-repeat;
      padding-left: 45px;
      text-decoration: none;
      font-size: .8em;
      font-weight: normal;
      a {
        padding: 12px 5px;
        text-align: left;
        width: 235px;
        display: inline-block;
        color: $black;
      }
    }
    .contact_us_menu_chat {
      background-image: url(../images/help_chat.png);
      background-position: left center;
    }
    .contact_us_menu_call {
      background-image: url(../images/help_call.png);
      background-position: 6px center;
    }
    .contact_us_menu_email {
      background-image: url(../images/help_email.png);
      background-position: left center;
    }
    .callus {
      background-image: url(../images/help_callus.png);
      background-position: 3px center;
      display:none;
      @include breakpoint(mobile) {
        display:block;
      }
    }
  }
  
  li.contact_us_menu_chat_button:hover ul {
    display: block;
    z-index: 2000;
  }

}

.branding-data {
  display: inline-flex;
}
#block-views-exp-display-products-page {
  min-width: 30%;
  display: inline-block;
  float: right;
}
/*
.navigation .primary-menu {
 display: none;
}
*/

#block-system-main-menu {
  display: none;
  h2 {
    display: none;
  }
}


// Menu width running off right side at narrower widths because our whole omega theme is not using the right media queries
/*
#zone-branding-wrapper .container-24 .grid-24 {
  @include breakpoint(allMoble) {
    width: 100%;
  }
}
*/

.tb-megamenu .nav > li > a {
  padding: 6px 20px;  
}

.tb-megamenu .nav-collapse .nav > li > a:hover, 
.tb-megamenu .nav > li.dropdown.open.active > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > a.active {
  color: $black;
  border-color: $black;
  border-bottom: 4px solid $blue_one;
}
.tb-megamenu .nav-collapse .nav > li > a,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: white;
  color: $black;
}
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, 
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background-color: white !important;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  color:$black;
}
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  color:$black;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  border-color:$blue_one;
}

.tb-megamenu .row-fluid .span6 {
  width:50%;
}

.tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child {
  margin-top: 1px;
  left: -195px;
}

.tb-megamenu .tb-block {
  margin-bottom:0;
}

// Search box
#block-views-exp-display-products-page .views-exposed-form .views-exposed-widgets {
  width: 100%;
}

.tb-megamenu .dropdown-menu {
  // Promo tout
  .promo-tout-left a,
  .promo-tout-right a {
    padding: 14px 8px;
    color: $white;
    text-align: center;
    font-size:14px;
  }

  .promo-tout-left a,
  .promo-tout-left a:hover {
    //border: 1px solid $gray_one;
    background-color: $gray_one;
    color:$white;
    text-decoration: none;
    border: none;
  }
  
  .promo-tout-left a:hover {
  background-color: $gray_two;
  }

  .promo-tout-right a,
  .promo-tout-right a:hover {
    //border: 1px solid $blue_one;  
    background-color: $blue_one;
    color:$white;
    text-decoration: none;
    border: none;
  }
  .promo-tout-right a:hover {
  background-color: $blue_two;
  }

  #tb-megamenu-column-1, #tb-megamenu-column-2 {
    margin-top:1em;
  }

  #tb-megamenu-column-3, #tb-megamenu-column-4, #tb-megamenu-column-5, #tb-megamenu-column-6 {
    width:25%;
  }
    /*
      .tb-megamenu-block .block-views-promo-touts-block-1 span. a {}

      .tb-megamenu-block #block-block-28 p a.tout {}
    */
}

.tb-megamenu .row-fluid + .row-fluid {
  padding: 10px 0px;
}

/* mobile stuff goes under here */
@include breakpoint(narrow) {
/*
  #block-system-main-menu {
    display: block;
  }
  .menu-toggle {
    //display: none;
  }
  .block-tb-megamenu-main-menu {
    display: none;
  }
*/

 /*
 .tb-megamenu .nav-collapse .dropdown-menu {
    display: none !important;
  }
  .tb-megamenu .nav-collapse .nav > li > a {
    color: white;
    background: $blue_one;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    min-width: 600px;
    &:hover, {
      color: $black;
    }
  }
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    color: $black;
  }
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle  {
    margin-top: 22px;
  }
*/
}

.block-shopping-cart-block .content {
  background-position: 4% 48%;
}