
/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

/************************
 *  Manual Order
 ************************/

 .manual-order-body {


    .manual-order-message {
      padding-bottom: 20px;

        &.forminfo-message {
        color: $blue_one;
        }

        &.invalid-message {
        color: rgb(204, 0, 0);
        }
    }

    /* these apply to all ajax progress */
    .ajax-progress {
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
    .ajax-progress .throbber {
      background: url('https://glnenews.s3.amazonaws.com/aophs/loader.GIF')  no-repeat 0px 0px; /* tweak this according to your gif */
      float: left;
      height: 20px; /* tweak this according to your gif */
      width: 20px; /* tweak this according to your gif */
      margin-top: -11px;
      margin-left: 8px;
      position: absolute;
    }

    .description {
    margin-top: 10px;
    color: rgb(204, 0, 0);
    }


    .button-close {
    height: 12px;
    width: 12px;
    background: url('https://glnenews.s3.amazonaws.com/aophs/button_close_x.png') no-repeat;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
    float: right;
    margin-right: -32px;
    margin-top: 4px;
    }

    .button-close-initials {
    height: 12px;
    width: 12px;
    background: url('https://glnenews.s3.amazonaws.com/aophs/button_close_x.png') no-repeat;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
    float: right;
    margin-right: -18px;
    margin-top: 4px;
    }

    .button-close-initials:hover {
    opacity: 1;
    }

    .close-profile {
    margin-top: -20px;
    }

    .close-discount {
    margin-right: -18px;
    }

    .button-close:hover {
    opacity: 1;
    }

    //Submit Button
    .form-submit {
    margin: .5em 0;
    padding: .7em 2.5em;
    background: #2ab5cd;
    color: #FFF;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.29px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    }

    .form-submit:hover {
    background-color:  #6ac1d6;
    }

    #shipping-options-block {

    position: relative;

    padding-bottom: 40px;

    .form-radios .form-item {
    margin: 0px;
    position: relative;
    float: left;
    }

    .shipping-options-wrapper {
    position: relative;
    float: left;
    }

    .loading-block {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: white;
    opacity: 0.5;
    display: none;
    padding-right: 10px;
    }


    .form-item-shipping-service {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 20px !important;
    padding-bottom: 8px !important;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
          &:hover {
            background-color: #f7f7f7;
          }

          &.active {
            color: $blue_one;
            background-color: #f7f7f7;
          }

        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;

    }

     .form-radio {
     float: left;
     }

      label {
      vertical-align: middle;
      font-size: 14px;
      cursor: pointer;
      float: left;
      width: 94%;

        .shipping-option-item {
        float: left;
        width: 100%;
        }

        .shipping-option-logo {
          width: 30px;
          float: left;
          padding-left: 12px;
          margin-top: -3px;
        }

        .shipping-option-price {
        float: right;
        text-align: right;
        width: 10%;
        position: relative;
        }

        .shipping-option-description {
        width: 50%;
        float: left;
        padding-left: 8px;
        }
      }

      .form-radios .form-item {
      padding-bottom: 10px;
      }

    }

    #search-promo-block {
      .form-submit {
      background-color: $gray_four;
      color: $blue_one;
      padding: 14px;
      padding-left: 26px;
      padding-right: 26px;
        &:hover {
        background-color: $gray_three;
        }
      }
    }

    //Gray Button    
    .btn-gray-background {
      @include button-gray-background;
      font-size: 13px;
      padding: 8px;
      min-width: 130px;
      margin-left: 10px;
      vertical-align: bottom;
      cursor: pointer;
    }

    .btn-gray-background:hover {
      background-color: $gray_three;
    }

    //Hide the breadcrumb
    .breadcrumb {

      display: none;
    }

    .zone-content-wrapper {
      padding-top: 40px;
    }

    h3 {
      font-style: normal;
      margin-bottom: 8px;
    }

    h4 {

      margin-bottom: 0px;
    }


    label {

      font-family: $footer_font;
      font-size: 13px;
      padding-bottom: 5px;
    }

    select {
      width: 100%;
      border: 1px solid #e2e2e2;
      height: 35px;
    }

    .form-required {
      display: none;
    }

    .input-group {
      float: left;
      clear: both;
      width: 100%;

        .form-item {
        margin-top: 0px !important;
        }
    }

    .input-item {
      float: left;
      width: 30%;

      margin-right: 10px;
    }

    .dummy-link {
    color: $blue_one;
    cursor: pointer;
    text-decoration: none;
    }

    .dummy-link:hover {
    color: $blue_two;
    text-decoration: underline;
    }

    //Receipt Profile

    .receipt-profile-wrapper {
    font-size: 13px;
    padding: 22px;
    line-height: 20px;
    }

    .customer-profile-wrapper {
    padding: 30px;
    background-color: #f7f7f7;
    margin: 0px;
    width: 90%;
    min-height: 126px;

      &.ajax-loading {
        text-align: center;
        padding-top: 8%;
        opacity: 0.7;
        font: $footer_font;
        background-color: white;
          p {
          margin-top: 15px;
          }
      }
    }
    .customer-profile-wrapper h3  {
    margin-bottom: 0px;
    }
    .customer-profile-wrapper p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    }

    select {
     &.error {
       border-color: rgb(204, 0, 0) !important;
       border-width: 1px;
      }
    }

    .form-text {
    font-size: 14px !important;
    padding: 10px;
    height: 36px;
    vertical-align: middle;
    font: 13px/1.6 'open sans', sans-serif;
    color: #333;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none; 
    outline: 0;
    margin: 0;
      &.error {
        border-color: rgb(204, 0, 0) !important;
        background-image: url('https://glnenews.s3.amazonaws.com/aophs/forminvalid.jpg') !important;
        background-repeat: no-repeat !important;
        background-position: 98% 50%;
        border-width: 1px;
      }

        &.valid {
        background-image: url('https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg') !important;
        background-repeat: no-repeat !important;
        background-position: 98% 50%;
        border-width: 1px;
        border-color: rgb(0, 204, 0) !important;
      }
    }


    .forminfo {
        border-color: $blue_one !important;
        background-repeat: no-repeat !important;
        background-position: 98% 50%;
        background-image: url('https://glnenews.s3.amazonaws.com/aophs/forminfo.jpg') !important;
        border-width: 1px;
        color: $blue_one !important;
    }

    .valid {

      &.form-select {
        background-image: url('https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg') !important;
        background-repeat: no-repeat !important;
        background-position: 98% 50%;
        border-width: 1px;
        border-color: rgb(0, 204, 0) !important;
        }
    }

    select {
        .valid {
        border-color: rgb(0, 204, 0) !important;
        background-image: url('https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg') !important;
        background-repeat: no-repeat !important;
        background-position: 98% 50%;
        border-width: 1px;
      }

        .forminfo {
        border-color: $blue_one !important;
        background-repeat: no-repeat !important;
        background-position: 98% 50%;
        border-width: 1px;
      }
    }


    //Billing Shipping Block
    #billing-shipping-address-block {

      display: none;

     .description {
      color: $blue_two;
        span {
          font: $headerfont !important;
          font-style: italic;
          color: $blue_one;
        }
     }

      #shipping-address-wrapper {
      padding-top: 20px;
      }

    }

    .form-text:focus {
    border-color: $gray_two; 
    }

    .search-form .form-text {
    font: $footer_font;
    padding: 12px 12px 12px 44px;
    height: 46px;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none; 
    outline: 0;
    margin: 0;
    background: url('https://glnenews.s3.amazonaws.com/aophs/search.png') no-repeat 15px 15px;
    width: 100%;
      &.throbbing {
      background: url('https://glnenews.s3.amazonaws.com/aophs/loader.GIF') no-repeat 15px 15px;
      }

    }

    .ajax-content {

    -moz-animation-name: ajaxContent;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: ajaxContent;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: ajaxContent;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    }

    @-moz-keyframes ajaxContent {
    0% {
        color: $blue_one;
    }
    100% {
        color: inherit;
    }
}
@-webkit-keyframes ajaxContent {
    0% {
        color: $blue_one;
    }
    100% {
        color: inherit;
    }
}
@keyframes ajaxContent {
    0% {
       color: $blue_one;
    }
    100% {
        color: inherit;
    }
}

    .manual-order-next-step {
    clear: both;
    padding-top: 20px;
    }

    .order_receipt {
    font-family: $footer_font;
    float: right;
    background-color: #f7f7f7;
    width:  100%;
    position: relative;

          &.ajax-loading {

          .receipt_header {
          background-repeat: no-repeat;
          background-image: url('https://glnenews.s3.amazonaws.com/aophs/medium-gray-loader.gif');
          background-size: 20px 20px;
          background-position: 91% 23px;

          }

            .item-total-val, #item-discount-val, .order-total-amt {
            color: $gray_one;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
            }

        }
    }

    .order_receipt a {
    color: #eee;
    text-decoration: none;
    }

    .receipt_header {
    padding: 20px;
    background-color: #e1e6e8;
    clear: both;
    }

    .receipt_header .dummy-link {
    font-size: 12px;
    vertical-align: bottom;
    float: right;
    margin-top: 5px;
    font-weight: normal;
    }

    .receipt_items {
    margin-bottom: 15px;
    }

    #items_count {
    float: left;
    padding:  0px;
    font-size: 13px;
    text-align: left;
    padding-top: 2px;
    }

    .receipt_items ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    max-height: 600px;
    overflow: scroll-y;
    }

    .search-form {
      margin-bottom: 0px;
    }

    .form-item-billing-same-same-billing label {
    vertical-align: middle;
    margin-left: 8px;
    margin-top: 2px;
    }

    //Display nones
    .panel-separator {
      display: none;
    }

    //#search-customer-block,
    //#search-product-block,
    #shipping-options-block,
    #sales-rep-association-block,
    .customer-profile,
    .manual-order-next-step,
    #search-promo-block,
    #customer-profile-block,
    #edit-customer-block,
    #create-customer-block,
    #order-receipt-block {
    display: none;
    }

    #create-customer-button {
      padding: 20px;
      border-top: 1px solid $gray_three;
      background-color: #f7f7f7;
      color: $blue_one;
      text-align: center;
      font-weight: bold;
      font: $footer-font;
      cursor: pointer;
    }

    #create-customer-button:hover {
      background-color: $gray_four;
    }

      .line-item-wrapper {
      width: 100%;
      float: left;
      font: $footer_font;
      }

      .line-item-image {
      width: 12%;
      float: left;
      padding-right: 10px;
      padding-left: 5px;
      }

      .line-item-description {
      width: 60%;
      float: left;
      font-size: 12px;
      }

      .line-item-price {
      width: 15%;
      float: right;
      font-weight: normal;
      font-size: 12px;
      text-align: right;
      }

      .line-item-sku {
      font-size: 10px;
      color:  #9badb4;
      }

     #autocomplete {
      margin-top: 180px;
      display: block;
      border: 1px solid $gray_three;
      border-top: none;
      margin: 0px 20px 0 0;
      z-index: 50;
      width: 528px;
      cursor: pointer;
      padding-bottom: 0px;
      margin-bottom: 0px;
      position: static;
      clear: both;
    }

    #autocomplete li.selected {
    color: $blue_one;
    background: none;
    }

    #autocomplete li {
    white-space: normal;
    margin: 0;
    cursor: pointer;
    padding-bottom: 0px;
    }

    #autocomplete ul.links,
    #autocomplete ul.links li {
    background: none;
    }
    #autocomplete p {
    margin: 0;
    }

    .dropdown-results-item {
      padding: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      font: $footer_font;
      font-size: 14px;

      strong {
      font-size: 16px;
      text-transform: uppercase;
      }

      .line-item-description {
      font-size: 14px;
      width: 70%;
      padding-left: 0px;
      }

      .line-item-title {
      font-size: 15px;
      font-weight: bold;
      }

      .button-close {
      display: none;
      }

      .line-item-price {
      font-size: 14px;
      width: 10%;
      padding-left: 10px;
      text-align: right;
      }

      &.product {
        padding-left: 0px;
        float: left;
      }

      border-bottom: 1px solid $gray_four;

      &:hover {
      color: $blue_one;
        img {
        opacity: 0.8;
        }
      }

    }


    .product_list li {
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #e7eaeb;
    background-color: #fff;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    clear: both;
    overflow: auto;
      .line-item-description {
      width: 55%;
      float: left;
      font-size: 12px;
      }

      .line-item-price {
      text-align: right;
      }

      .line-item-wrapper {
      width: 90%;
      padding-right: 0px;
      }

      .button-close {
      float: left;
      margin-right: 0px;
      margin-left: 12px;
      padding-right: 0px;
      }

      &.line-item-new {
       display: none;
       border-color: #f6fff6;
      }
    }

    .payment_button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #2ab5cd;
    text-align: center;
    bottom: 0px;
    margin: auto;
    float: left;
    width:  100%;
    display: none;
    font-family: 'Open Sans', sans-serif;
    }

    .payment_button:hover {
    background-color: #6ac1d6;
    }

    .receipt_total {
    text-align: right;
    padding: 20px;
    padding-right: 30px;
    padding-top:  0px;
    color: #000;
    padding-bottom: 20px;
    float: right;
    clear: both;
    }

    .order-total-amt {
    font-weight: bold;
    }

    .item-total {
      width:  100%;
      text-align: right;
      font-size: 13px;
      clear: both;
    }

    .item-total-label {
      float: right;
    }

    .item-total-val {
      float: right;
      min-width:  70px;
      padding-left: 5px;
    }

    .final-total {
      font-size: 16px;
      padding-top: 5px;
    }

    .discount-item {
      font-family: 'Open Sans', sans-serif;
      padding: 20px;
      background-color: #f0f3f4;
      color: $blue_one;
      font-size: 13px;
      clear: both;
    }

    #discount-total  {
        color: $pink;

        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    //Results

    #search-customer-block, #search-product-block {

      .form-item {
      margin-bottom: 0px;
      }

    }

    .manual-order-form-block {
      clear: both;
      padding-bottom: 40px;
    }

    #sales-rep-initials-input input{
      width: 118px;
      min-width: 118px;
    }

 }