/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
@import "compass/css3/box-shadow";
@import "_variables.scss";
@import "_mixins.scss";

/* End Variables & Mixins */
/*******
 * Product detail page 
 *******/

 .aop-product-detail-page-wrapper { 

   width: 100%;
   float: left;
   margin-top: 2em;

   .aop-product-detail-page-header { 
      width: 100%;
      float: left;
      .aop-product-image-wrapper { 
        @include breakpoint(narrow) {
          width:100%;
          img {
            width: 200px;
            min-width: 30%;
            margin-top: 0;
          }
        }
        @include breakpoint(mobile){
          width: 100%;
          img {
            width: 200px;
            min-width: 30%;
            margin-top: 0;
          }
        }
        width: 25%;
        float: left;
        text-align: center;
        img { 
          max-width: 90%;
        }
      }
      .aop-product-description-and-price-wrapper {
        float: left;
        width: 75%;
        @include breakpoint(narrow) {
          width:100%;
        }
        @include breakpoint(mobile) {
          width: 100%;
        }
        .aop-product-title-rating-reviews {
          float: left;
          margin-bottom: .8em;
          .aop-product-rate-it {
              .field-label {
                display: inline;
              }
              .field-items {
                display: inline-block;
                .fivestar-outline {
                  display: inline;
                  float: left;
                  top: 4px;
                  position: relative;
                  padding-right: 4px;
                  .fivestar-widget {
                    display: inline-block;
                    float: left;
                    top: 4px;
                    padding-right: 6px;
                    position: relative;
                  }
                }
                .description {
                  position: relative;
                  top: 2px;
                  display: inline-block;
                  float: left;
                }
              }
            }
          @include breakpoint(narrow) {
            .aop-product-title {
              h2 {
                font-size: 20px;
                margin-bottom: 0;
              }
            }
          }
          @include breakpoint(mobile) {
            .aop-product-title {
              h2 {
                font-size: 20px;
                margin-bottom: 0;
              }
            }
            .aop-product-rate-it {
              .field-label {
                display: inline;
              }
              .field-items {
                display: inline-block;
                .fivestar-outline {
                  display: inline;
                  float: left;
                  top: 4px;
                  position: relative;
                  padding-right: 4px;
                }
                .description {
                  position: relative;
                  top: 2px;
                  float: left;
                }
              }
            }
          }
        }
        .aop-product-description-wrapper { 
           width: 60%;
           float: left;
           @include breakpoint(mobile) {
            width:100%;
           }
           .aop-product-title { 
             h2 { 
               color: $blue_two;
             }
           }
        }
        .single-product-cart {
          width: 38%;
          float: right;
          table.commerce-price-savings-formatter-prices {
            margin: 0 auto;
          }
          @include breakpoint(narrow) {
            width: 38%;
            margin-top: 6px;
          }
          @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
            
          }
          .field-name-field-product { 
            margin: 0;
            padding: 0;
            .field-label { 
               display: none;
            }
          }
          
          .price-label { 
           font-size: .5em;
           padding-top: 1em;
           padding-bottom: 1em;
          }
          .price-amount { 
           font-size: .5em;
           padding-top: 1em;
           padding-bottom: 1em;
           color: $blue_two;
          }
          .aop-product-sku { 
            color: $gray_one;
            font-size: 0.9em;
            margin-bottom: 0.5em;
          }
          form.commerce-add-to-cart { 
            color:$blue_two;
            padding-top: 0;
            padding-bottom: 39px;
            .form-submit {
              margin: 0;
              background: $blue_one url("../images/cart-white.png") no-repeat;
              background-position: 90% 50%;
              border-radius: 3px;
              text-transform:uppercase;
              border-radius:3px;
              &:hover {
                background: $blue_two url("../images/cart-white.png") no-repeat;
                background-position: 90% 50%;
              }
            }
            .form-item-quantity {
              width: 200px;
              margin: 0 auto;
              label {
                width: 130px;
                padding-top: 4px;
                margin-right: 5px;
                float: left;
              }
              @include breakpoint(mobile) {
                width: 200px;
                margin: 0 auto;
                label {
                  width: 130px;
                  padding-top: 4px;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
   }

   .aop-product-spec-wrapper {
      margin-top: 2em;
      float: left;
      width: 100%;

      .single-product-spec { 
        background-color: #f0f3f4;
        border: 6px solid #e1e6e8;
        box-sizing: border-box;
        float: left;
        width: 70%;
        @include breakpoint(narrow) {
          width:100%;
        }
        @include breakpoint(mobile) {
          width:100%;
        }
     }

  }
 }

.page-products, .page-family-entertainment {
  .view-display-products li header h2 {
    height: 28px;
    line-height: 18px;
    margin: 10px 0;
    padding: 0;
    a {
      font-size:16px;
      font-weight:600;
    }
  }
} 


.commerce-price-savings-formatter-prices-down .commerce-price-savings-formatter-price .price-amount {
  color:$black;
}

.commerce-price-savings-formatter-prices-down .commerce-price-savings-formatter-savings .price-amount {
  color:$black;
}

.single-product-recommended-carousel {
  .jcarousel-skin-default {
    .jcarousel-prev {
      margin-top: 32px;
      margin-left: -50px;
    }
    .jcarousel-next {
      margin-top: 32px;
      margin-right: -49px;
    }
  } 
  .view-recommended-products ul {
    @include clearfix; 
    li {
      height: 13em;
      border: none;
    }
  }
}

.jcarousel-skin-default .jcarousel-container-horizontal {
  height: auto;
  margin: 0;
}


.aop-product-carousel-listing-wrapper { 

  .aop-product-carousel-image-wrapper { 
    
    width: 30%;
    float: left;
    text-align: center;
  
    img { 
      max-width: 100%;
    }
  
  }
  
  .aop-product-carousel-item-details-wrapper { 
    width: 70%;
    float: left;
    text-align: center;
  }
  
  .aop-product-carousel-item-title { 
    color: $blue_two;
    font-weight: bold;
    width: 100%;
    float: left;
    h2 {
      font-size: 1em;
      height: 3em;
      a {
        color: $blue_two;
        font-weight: bold;       
      } 
    }
  }
  
  .aop-product-carousel-item-sku { 
    margin-bottom: 1em;
  }
  
  .aop-product-carousel-item-price { 
    .commerce-price-savings-formatter-prices {
      tr { 
        border: none;
        td { 
          font-size: .4em;
        }
      } 
    }
  }

}

// Product features/specs/caltoaction section

.single-product-spec-calltoaction {
  float: left;
  margin: 2%;
  width: 42%;
  ul {
    margin: 0;
    padding: 0px;
    width: 100%;
    li { 
      display: inline-block;
      background-position: 0px 15px;
      border-top: 1px solid #9badb4;
      list-style: none outside none;
      margin: 0px 0.5em 0 0;
      padding: 10px 0 4px;
      width: 100%;
      font-size: .9em;
      a {
        color: #2ab5cd;
        padding: .5em 0 .5em 3.5em;
        float: left;
      }
    }
    li.mail-icon { 
      border-top: none;
    }
    li.forward_link {
      border-top: none;
      padding-top:0;
      background-position:0 5px;
    }
    li.pdf-icon {
      background-position: 0px 11px!important;
    }
  }
}

// Product listing page

// fix for nth-child pager problem at the bottom of the product listing page
.page-products .view-display-products li {
  float: none!important;
}
// END fix for nth-child pager problem

// Product Liting Page Banners / Promo Touts full bleed like all other banners

.page-products .field-name-field-promo-tout-background-imag img {
  @include breakpoint(allMobile) {
    width: 100%;
  }
}

section#block-custom-product-facets-facets-results-header {
  @include breakpoint(allMobile) {
    margin-left: -10px;
    margin-right: -10px;
  }
}

// END Product Liting Page Banners / Promo Touts full bleed like all other banners

section.field_product_field_grade_level_name,
section.field_collection,
section.field_product_field_subject_name {
  margin-bottom: 1em;
  h2 {
    border-bottom: 1px solid $gray_one;
    color: $gray_one;
    font-weight: bold;
    margin-bottom: .5em;
    padding-bottom: .5em;
    font-size: 14px;
  }
}
ul#facetapi-facet-search-apiproduct-display-block-field-productfield-grade-levelname {
  li {
    cursor: pointer;
    //display: inline-flex;
    float: left;
    font-weight: bold;
    height: 2em;
    margin: 3px;
    min-width: 38px;
    text-align: center;
    width: 17%;
    list-style: none outside none;
    text-decoration: none;
    a {
      display: block;
      background-color: white;
      border: 1px solid $gray_one;
      @include rounded-corners(3px);
      line-height: 1em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      //padding: 0.5em;
      width: 38px;
      color: $gray_one;
      &:hover {
        background-color: $gray_one;
        border: 1px solid $gray_one;
        color: white;
      }
      &.facetapi-active {
        background-color: $gray_one;
        color: white;
        cursor: alias;
      }
      &.aophs-facetapi-grey-out {
        background-color: $gray_four;
        border: 1px solid $gray_three;
        color: white;
        cursor: default;
      }
    }
  }
}

.single-product-reviews {
  width: 70%;
  .comment-wrapper .title {
    border-bottom: 1px solid $gray_one;
  }
  header h3 {
    margin: 0px;
  }
  .aop-node-comments-wrapper {
    margin-top: 1em;
  }
  article {
    border-bottom: 1px solid $gray_four;
  }
  article:last-child {
    border-bottom: none;
  }
  article.comment footer.comment-submitted {
    font-weight: bold;
    border-bottom: none;
  }
  article.comment .field-name-comment-body {
    margin-top: 10px;
    padding: 0px;
  }
}

.aop-node-comments-left {
  width: 20%;
  float: left;
  h4 {
    margin-bottom: 0.2em;
    font-size: 1.2em;
  }
}

.aop-node-comments-right {
  width: 80%;
  float: left;
}

.single-product-recommended {
  width: 70%;
  margin-top: 2em;
  @include breakpoint(narrow) {
    width: 100%;
    h2 {
      margin-top: 1em;
      font-size: $h2-font-size - 3;
    }
  }
  @include breakpoint(mobile) {
    width: 100%;
    h2 {
      margin-top: .9em;
      font-size: $h3-font-size - 2;
    }
  }
  .single-product-recommended-header {
    border-bottom: 1px solid $gray_two;
    margin-bottom: .5em;
    .single-product-recommended-header-title {
      //font-size: $h2-font-size;
      float: left;
      display: inline-block;
    }
    .single-product-recommended-header-action {
      color: $blue_one;
      cursor: pointer;
      text-transform: uppercase;
      float: right;
      font-weight: bold;
      display: inline-block;
      line-height: 3em;
    }
  }
  .single-product-recommended-carousel {
    height: 200px;
    width: 100%;
    .jcarousel-container-horizontal {
      width: 80%;
      .jcarousel-clip-horizontal {
        width: 100%;
        ul.jcarousel-view--aop-related-products--related-products-block {
          //width: 100% !important;
          li {
            border: none;
            height: auto;
            #related-product-block {
              height: auto;
              .related_product_image {
                float: left;
                width: 30%;
              }
              .related_product_description {
                float: left;
                width: 70%;
                .title {
                  color: $blue_one;
                  text-align: left;
                }
                .product-id {
                  color: $gray_one;
                  text-transform: uppercase;
                  font-size: 0.8em;
                  font-weight: bold;
                  text-align: left;
                }
                .product-price {
                  font-weight: bold;
                  margin-top: 0.8em;
                }
                .product-add-to-cart {
                  text-align: left;
                  input {
                    @include button-blue-background;
                    text-transform: uppercase;
                    @include breakpoint(mobile) {
                      font-size: 10px;
                      padding: 1.2em 1.6em 0.8em;
                    }
                    @include breakpoint(mobile_sm) {
                      padding: 1.2em .9em 0.8em;
                    }
                  }
                }
                .field-content {
                  p {
                    margin: 0px;
                  }
                  span {
                    font-family: $h4-font-size;
                  }
                  .commerce-add-to-cart {
                    input.form-submit {
                      @include button-blue-background;
                      border: none;
                      padding: 7px 20px;
                      text-transform: uppercase;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Family entertainment page
.pane-aop-family-entertainment-dvds-and-cds,
.view-aop-family-entertainment-dvds-and-cds {
  width: 100%;
  .view-content {
    width: 100%;
    .jcarousel-container-horizontal {
      width: 90%;
      .jcarousel-clip-horizontal {
        width: 101%;
        li {
          border: medium none;
          height: auto;
          margin: 0 15px;
          max-width: 149px;
          width: auto !important;
        }
        .views-field-title {
          color: $blue_one;
          text-align: left;
          font-weight: bold;
          height: 55px;
        }
      }
      .cd_dvd_product_image {
        height: 230px;
      }
      .jcarousel-view--aop-family-entertainment-dvds-and-cds--cds-carousel-block .cd_dvd_product_image {
        height: auto;
      }
      .commerce-add-to-cart {
        input.form-submit {
          @include button-blue-background;
          border: none;
          padding: 7px 20px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      .field-name-commerce-price,
      .price-amount {
        font-weight: bold;
        text-align: center;
      }
      .field-name-commerce-price {
        @include breakpoint(mobile) {
          table.commerce-price-savings-formatter-prices {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// Product listing reset buttons
.reset_listing_filter {
  float: right;
  color: $gray_one;
}
.reset_listing_filter.active {
  color: $blue_two;
  cursor: pointer;
}

// End Product features/specs/caltoaction section

/* mobile stuff goes under here */
@include breakpoint(narrow) {
/*
  #block-system-main-menu {
    display: block;
  }
  .menu-toggle {
    //display: none;
  }
  .block-tb-megamenu-main-menu {
    display: none;
  }
*/
 /*
 .tb-megamenu .nav-collapse .dropdown-menu {
    display: none !important;
  }
  .tb-megamenu .nav-collapse .nav > li > a {
    color: white;
    background: $blue_one;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    min-width: 600px;
    &:hover, {
      color: $black;
    }
  }
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    color: $black;
  }
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle  {
    margin-top: 22px;
  }
*/
}

//Product checkout process

ol.commerce-checkout-progress.clearfix.inline.checkout-pages-5 li:before {
  display: none;
}

//Product Title, Banner Image, and Short Description

h1.product_banner_title {
  margin-bottom: 0;
  span {
    color:white;
    font-size:$h1-font-size;
    font-family:$headerfont;
    position:absolute;
    top: .5em;
    left: .8em;
    text-decoration:none;
    @include breakpoint(narrow) {
      font-size: $h1-font-size - 8;
    }
    @include breakpoint(allMobile) {
      font-size: $h1-font-size;
      left: .87em;
    }
    @media (min-width: 720px) and (max-width:767px) {
      font-size: $h1-font-size;
      left: .87em;
    }
    @media (min-width:640px) and (max-width:719px) {
      font-size: $h1-font-size - 3;
      left: .74em;
    }
    @media (min-width:540px) and (max-width: 639px) {
      font-size: $h1-font-size - 7;
      top:.4em;
      left: .85em;
    }
    @media (min-width:490px) and (max-width:539px) {
      font-size: $h2-font-size;
      left: .92em;
    }
    @media (min-width:440px) and (max-width:489px) {
      font-size: $h3-font-size;
      left: 1.1em;
    }
    @media (max-width: 450px) {
      font-size: $h3-font-size;
      left: .94em;
      top: .4em;
    }
  }
}



.product_banner_short_description {
  padding: 0 1.3em;
  color: white;
  font-size: $h2-font-size - 1;
  font-family: $altheaderfont;
  position: absolute;
  top: 3.4em;
  line-height: 1.3em;
  box-sizing: border-box;
  @include breakpoint(narrow) {
    padding: 0 1.4em;
    font-size: $h2-font-size - 7;
  }
  @include breakpoint(allMobile) {
    font-size: $h2-font-size - 1;
  }
  @media (min-width:720px) and (max-width:767px) {
    font-size: $h2-font-size - 1;
  }
  @media (min-width:640px) and (max-width:719px) {
    padding: 0 1.2em;
    font-size: $h2-font-size - 3;
  }
  @media (min-width:540px) and (max-width:639px) {
    font-size: $h2-font-size - 5;
    top: 3em;
    position: absolute;
  }
  @media (min-width:490px) and (max-width:539px) {
    font-size: $h4-font-size + 2;
    padding: 0 1.3em;
    top: 2.9em;
  }
  @media (min-width:440px) and (max-width:489px) {
    font-size: $h4-font-size + 1;
    top: 2.8em;
  }
  @media (max-width: 450px) {
    font-size: $h4-font-size - 4;
    top: 3.3em;
    line-height: 18px;
    left: 3px;
  }
}

/*

.product_banner_title {
  margin-bottom: 0;
  bottom: 16px;
  position: relative;
  left: 5px;
  @include breakpoint(narrow) {
    bottom: 17px;
  }
  a {
    color: white;
    font-size: 38px;
    font-family: "Lora", serif;
    position: absolute;
    top: 1em;
    left: .7em;
    text-decoration: none;
    @include breakpoint(narrow) {
      font-size: 30px;
    }
  }
}

.product_banner_short_description {
  padding: 0 1.5em;
  color: white;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  box-sizing: border-box;
  top: 3.8em;
  line-height: 27px;
  @include breakpoint(narrow) {
    font-size: 17px;
    top: 3.6em;
    line-height: 22px;
  }
}

*/

.page-products .view-display-products {
  margin-top: 0;
}

ul.all-products li.views-row.views-row-1.views-row-odd.views-row-first {
  border:0;
}

// Family Entertainment DVDs and CDs in Product listing view / non carousel view.

.page-family-entertainment .view-display-products li .content .commerce-product-field {
  font-size: 14px;
  .field-name-commerce-price {
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
  }
}

.page-family-entertainment .aop-product-image-wrapper {
  text-align: center;
  img {
    max-height: 216px;
    width: auto;
    min-width: 0;
  }
}
