//This file hold all user account styling.

//Include Default Variables & Mixins 
@import "_variables.scss";
@import "_mixins.scss";

//Forgot password page
.page-user-password {
  #user_pass_form .form-submit {
    @include button-blue-background;
    &:hover {
      @include button-blue-background;
    }
  }
  
  h1 {
	margin-bottom: 25px;
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $gray_one;
	font-weight: 500 !important;
	font-family: "Josefin Sans",sans-serif !important;
	font-size: 25px !important;
  }
  
  a.login-account {
  background: none;
  float: left;
  color: $blue_one;
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
  font-size: 16px;
  padding-top: 20px;
  
  	&:hover {
  	 background: transparent;
  	}
  }
  
  form#user-pass .back-to-login {
    margin:.4em 0 0 0;
  }
}



//Sign In & Create an Account page.

#login-register-wrapper {
width: 100%;
padding-top: 25px;

.description {
display: none;
}

p {
font-size: 17px;
margin-bottom: 0px;
padding-bottom: 0px;
}

//remove required asterisk
span.form-required {
  display: none;
}

::-webkit-input-placeholder {
   color: $gray_two;
}

:-moz-placeholder { /* Firefox 18- */
   color: $gray_one;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $gray_one;  
}

:-ms-input-placeholder {  
   color: $gray_two;  
}



	label {
	padding-top: 10px;
	font-family: sans-serif;
	font-weight: 600 !important;
	font-size: 14px;
	margin-bottom: 2px;
	display:inline-block;
	max-width: 25%;
		@include breakpoint(mobile) {
		  width: 100%;
		  max-width: 100%;
		  float: none;
		  clear: both;
		}
	}
	
	h2 {
	margin-bottom: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid $gray_one;
	font-weight: 500;
	}
	
	.password-strength {
	display: none;
	}
	
	//Sign in button
	.form-actions .form-submit {
	@include button-blue-background;
	min-width: 170px;
	float: right !important;
		//Responsive
		@include breakpoint(mobile) {
		  width: 100%;
		}
	}
	
	.login-block-left {
	float: left;
	width: 46%;
	padding-bottom: 20px;
		//Fields
		.form-text {
		font-size: 18px;
		padding: 8px;
		height: auto;
		width: 76%;
		display: inline-block;
		float: right;
			//Responsive
			@include breakpoint(mobile) {
			  width: 100%;
			}
		}
		
		//Responsive
		@include breakpoint(mobile) {
		  width: 100%;
		  float: left;
		}
	}
	
	.login-block-right {
	overflow: hidden;
	clear: right;
	float: right;
	width: 46%;
		.form-text {
		font-size: 18px;
		width: 74%;
		display: inline-block;
		float: right;
		padding: 8px;
		height: auto;
		
		&:focus {
		-moz-box-shadow: #06f 0 0 0px;
		-webkit-box-shadow: #06f 0 0 0px;
		box-shadow: #06f 0 0 0px;
		border-color: $gray;
		}
		
		&:active {
		-moz-box-shadow: #06f 0 0 0px;
		-webkit-box-shadow: #06f 0 0 0px;
		box-shadow: #06f 0 0 0px;
		border-color: $gray;
		}
		
			@include breakpoint(mobile) {
			  width: 99%;
			  clear: both;
			  float: left;
			}
		}
		//Responsive
		@include breakpoint(mobile) {
		  width: 100%;
		  float: left;
		}
	}

.password-confirm {
display: none;
position: relative;
bottom: 0px;
}

.password-parent {
width: 100% !important;
clear: both;
}

.confirm-parent {
width: 100% !important;
clear: both;
}


//validation input
.register-input-valid {
border-color: rgb(0, 204, 0);
background-image: url('https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg');
background-repeat: no-repeat;
background-position: 98% 50%;
	&:focus {
	border-color: rgb(0, 204, 0) !important;
	}
	&:active {
	border-color: rgb(0, 204, 0) !important;
	}
}

.register-input-invalid {
border-color: rgb(204, 0, 0);
background-image: url('https://glnenews.s3.amazonaws.com/aophs/forminvalid.jpg');
background-repeat: no-repeat;
background-position: 98% 50%;
	&:focus {
	border-color: rgb(204, 0, 0) !important;
	}
	&:active {
	border-color: rgb(204, 0, 0) !important;
	}
}

.form-item-pass-pass2 {
margin-bottom: 0px;
}


}

//Return validation text.
.user-error-items {
padding: 10px;
padding-bottom: 0px;
width: 98%;
color: rgb(204, 0, 0);
list-style: none;
text-align: right;
}

.line-item-error {
float: right;
padding: 10px;
padding-bottom: 5px;
padding-top: 0px;
text-align: right;
color: rgb(204, 0, 0);
width: 100%;
}


//User acccount styling start

.page-user, .page-checkout {
  #user_login_form h1,
  #user_pass_form h1,
    h1#page-title {
    margin-top:0;
    font-family:$altheaderfont;
    font-size:$h2-font-size;
    text-transform: capitalize;
  }
  h1#page-title {
    padding: .7em;
    background: rgb(155, 173, 180);
    color: rgb(255, 255, 255);
    font-weight: 400;
  }
  #user_login_form .form-submit {
    @include button-blue-background;
    text-transform: uppercase;
    &:hover {
      @include button-blue-background;
      background: $blue_two;
    }
  }
  .tabs.clearfix {
    margin:2em 0;
  }
  a.login-register {
    margin:0;
    padding:0;
    background:none;
    text-transform:capitalize;
    color:$blue_two;
    &:hover {
      background:none;
      color:$blue_two;
    }
  }
  form#user-login #user_login_form .login-password,
  form#user-login #user_login_form .login-password:hover {
    color:$blue_two;
  }
  ul.primary {
    padding:0;
  }
  .tabs ul.primary {
    border-top:0;
    border-bottom: 1px solid $gray_three;
    & > li {
      margin:0;
      line-height:1.2em;
    }
    & > li a.active {
      padding:.7em;
      border:2px solid $gray_three;
      background:$gray_four;
    }
  }
}

.page-user .tabs ul.primary li a {
	&:hover {
	color: #000;
	}
}

.page-user-password {
  #user_pass_form .form-submit {
    @include button-blue-background;
    &:hover {
      @include button-blue-background;
    }
  }
  
  h1 {
  padding-top: 30px;
  border-bottom:1px solid $gray_three;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  }
  
  a.login-account {
  background: none;
  float: left;
  color: $blue_one;
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
  font-size: 16px;
  padding-top: 20px;
  
  	&:hover {
  	 background: transparent;
  	}
  }
  
  form#user-pass .back-to-login {
    margin:.4em 0 0 0;
  }
}

#commerce-addressbook-customer-profile-form {

	#edit-submit {
	@include button-blue-background;
	}

}



.page-user-register {

  .description {
  color: $gray_one;
  margin-top: 5px;
  padding-left: 2px;
  }
  
  #user-register-form {
    .login-account {
    background: none;
    color: $blue_one;
    padding-left: 0px;
    padding-right: none;
    width: auto;
    font-size: 16px;
    padding-top: 20px;
    }
  }

  h1 {
  display: none;
  }
  
  h2 {
  margin-top: 30px;
  border-bottom:1px solid $gray_three;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0px;
  }
  
  h3 {
  clear: both;
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  }

  .group-right-side {
  float: right;
  width: 48%;
  
    @include breakpoint(mobile){
    float: left;
    clear: both;
    width: 100%;
    }
  }
  
  #user_register_form_inner {
  width: 46%;
  float: left;
    #edit-submit {
    @include button-blue-background;
    min-width: 160px;
    
    @include breakpoint(mobile){
    width: 100%;
    }
    
    }
    
    @include breakpoint(mobile){
    float: left;
    clear: both;
    width: 100%;
    }
  }
  
  .group-left-side {
  float: left;
  width: 100%;
  }
  
  .form-type-password-confirm {
  padding-bottom: 20px;
  }

}




.page-user form#user-register-form .form-actions {
    @include breakpoint (allMobile) {
      margin-top:1em;
  }
}

.page-user section#block-orangebox-enews-signup h2 {
  border-bottom:1px solid $gray_three;
  font-size: 22px;
  font-weight: 400;
} 


.page-user span.fieldset-legend {
  font-size: 22px;
  color: $black;
}

.page-user .block-system-main {
  margin: 1em 0;
}

.page-user legend {
  width:100%;
  border-bottom:1px solid $gray_three;
}
.page-user tr.odd, .page-user tr.even {
  border-bottom:1px solid $gray_three;
}

.page-user tr.odd {
  background:$gray_four;
}
.page-user tr.even {
  background:white;
}

.page-user .view-Wishlist .form-submit {
  @include button-blue-background;
  margin-right:1em;
  text-transform:capitalize;
}

.page-user-addressbook .view-commerce-addressbook td .views-field {
  border: 6px solid $gray_three;
}

.page-checkout .ui-widget-header {
  background:none;
  border-top:0;
  border-right:0;
  border-bottom:1px solid $gray_three;
  border-left:0;
  -webkit-border-radius:0;
     -moz-border-radius:0;
          border-radius:0;
  text-transform:capitalize;
}

.page-checkout .ui-state-default, .ui-widget-content .ui-state-default, 
.page-checkout .ui-widget-header .ui-state-default {
  background:none;
  border:0;
}

.page-checkout .ui-dialog .ui-dialog-buttonpane button {
  margin:0;
}

.page-user-orders .field-name-commerce-customer-billing .field-label, 
.page-user-orders .field-name-commerce-customer-shipping .field-label {
  background: none;
  border-bottom:1px solid $gray_three;
}

.page-user .view-commerce-backoffice-user-orders th a, 
.page-user #views-form-commerce-cart-form-default table th, 
#commerce-checkout-form-checkout .view-commerce-cart-summary table th, 
#commerce-checkout-form-review .view-commerce-cart-summary table th, 
.page-user-orders .view-commerce-line-item-table table th, .view-commerce-backoffice-user-orders table th{
  color:$black;
  text-transform:capitalize;
}

.page-user #views-form-commerce-cart-form-default table td, 
#commerce-checkout-form-checkout .view-commerce-cart-summary table td, 
#commerce-checkout-form-review .view-commerce-cart-summary table td, 
.page-user-orders .view-commerce-line-item-table table td, 
.view-commerce-backoffice-user-orders table td {
  border-bottom:1px solid $gray_three;
}

.page-checkout form#commerce-checkout-form-checkout {
  margin-top: 1em;
}

.page-checkout #commerce-checkout-form-checkout fieldset .fieldset-wrapper, 
.page-checkout #commerce-checkout-form-review fieldset .fieldset-wrapper {
  margin: 0;
}

ul.inline.commerce-checkout-progress, 
ol.inline.commerce-checkout-progress {
  margin-left:0;
}

.page-checkout .ui-button-text-only .ui-button-text {
  @include button-blue-background;
  margin:.5em;;
  border:0;
  text-transform:capitalize;
  a.active {
    border:0;
  }
}

.page-checkout-review #commerce-checkout-form-review .checkout_review table tbody tr.pane-title td {
  padding:5px 0;
  text-transform:capitalize;
}

.page-checkout-review #commerce-checkout-form-review .checkout-help {
  margin: 10px 0 10px 0;
}

.page-checkout h1#page-title {
  display: none;
}

.page-user-orders ul.action-links li a {
  @include button-blue-background;
  text-shadow:none;
  text-transform:capitalize;
}
.page-user-orders .view-commerce-message-messages input#edit-submit {
  @include button-blue-background;
  text-shadow:none;
  text-transform:uppercase;
}

.page-user-orders .field-name-commerce-customer-billing {
  margin:3px 3% 3% 0;
}
.page-user .view-commerce-message-messages h2.title {
  font-size: 22px;
  border-bottom: 1px solid $gray_three;
  font-weight:400;
}

//Continue Shopping Button in Cart

.context-cart {
  #edit-submit {
    vertical-align: middle;
  }
  #edit-checkout {
    vertical-align: middle;
  }

  .continue_button {
    @include button-blue-background;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 5px;
    background-color: $gray_two;
  }

  .continue_button:hover {
    background-color: $gray_one;
  }
}

//checkout process

.page-cart #views-form-commerce-cart-form-default .commerce-line-item-actions input#edit-checkout {
  @include button-blue-background;
  text-transform: uppercase;
}

.field-name-commerce-customer-billing {
width: 48% !important;
}


// web-1464 made shopping cart form match design as close as possible

#views-form-commerce-cart-form-default .commerce-line-item-actions {
  position: absolute;
  top: 66px;
  right: 1px;
  float: right;
  width: 24%;
  right: 0;
  margin: 1em 1.2em;
  @include breakpoint(narrow) {
    position: relative;
    width: 231px;
    float: right;
    top: -80px;
  }
  @include breakpoint(mobile) {
    position: relative;
    top: 0;
    width: 231px;
    float: right;
    top: -80px;
  }
  text-align: right;
  width: 26%;
  right: 0;
}

.page-cart .commerce-order-handler-area-order-total {
  display:none;
}

.field-name-commerce-order-total .field-items, .cart-total {
  background:white;
  border:6px solid $gray_three;
}

.page-cart .cart-total {
  padding: 1em;
  float: left;
  max-width: 225px;
  width: 100%;
  padding-bottom: 4em;
  @include breakpoint(narrow) {
    width: 100%;
    float: right;
    margin-top: 1.5em;
  }
  @include breakpoint(mobile) {
    width: 100%;
    float: right;
    margin-top: 1.5em;
  }
  .cart-components {
    border-bottom: 1px solid $gray_one;
    float: right;
    width:100%;
    margin-bottom: .5em;
    div {
      padding: .5em;
      font-weight: bold;
      font-size: $body-font-size + 2;
    }
  }
  .component-total {
    float: right;
  }
  .component-title {
    float: left;
  }
}

.field-name-field-aop-order-number {
  padding-top: 10px;
  clear: both;
}

.page-cart {
  h1#page-title {
  margin-top: 1.5em;
  font-family:$altheaderfont;
  font-size:$h2-font-size;
  text-transform: capitalize;
  }
  .cart-sidebar {
    float: left;
    margin-left: 2%;
    width: 28%;
    display: inline-block;
    //position: absolute;
    //top: 0;
    top: 0px;
    position: absolute;
    @include breakpoint(narrow) {
      width: 100%;
      text-align: right;
      margin: 0;
      float: left;
      position: relative;
      top: 0px;
    }
    @include breakpoint(mobile) {
      width: 100%;
      text-align: right;
      margin: 0;
      float: left;
      position: relative;
      top: 0;
    }
  }
  .item-list {
    margin-top:1.5em;
  }
  .cart-subtotal {
    text-align: right;
    font-size: 1.5em;
    float: left;
    width: 70%;
    @include breakpoint(narrow) {
      display: none;
    }
    @include breakpoint(mobile) {
      display: none;
    }
    div {
      display: inline;
      font-size: $body-font-size;
      font-weight: bold;
    }
  }
  #views-form-commerce-cart-form-default table {
    float: left;
    display: inline;
    width: 70%;
    @include breakpoint(narrow) {
      width: 100%;
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }

}

.view-commerce-cart-form tr, .view-commerce-cart-summary tr {
  background:$gray_three;
  color:$black;
}

#views-form-commerce-cart-form-default table th {
  padding: 5px 10px; 
  text-transform: capitalize;
  color:$black;
}

.block-commerce-checkout-progress {

	ul.inline.commerce-checkout-progress li:after, ol.inline.commerce-checkout-progress li:after {
	content: none;
	
	}
  .item-list {
      margin-top:1.5em;
      ol.commerce-checkout-progress.clearfix.inline.checkout-pages-5 {
    }
    ol.inline.commerce-checkout-progress li {
      margin: 0 0px 10px 0;
      padding: 0px;
      padding-top: 10px;
      background-color:#FFFFFF;
      background-image: url('https://glnenews.s3.amazonaws.com/aophs/checkoutCheckGray.png');
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 0px 8px;
      color: $gray_two;
      text-transform: uppercase;
      width: 86px;
      text-align: left;
      margin-left: 10px;
      padding-left: 24px;
      font-size: 16px;
      opacity: 0.8;
      
    }
    ol.inline.commerce-checkout-progress li:before {
      display:none;
    }
  
    ol.inline.commerce-checkout-progress li.visited {
      opacity: 0.5;
      color: $blue_one;
      background-image: url('https://glnenews.s3.amazonaws.com/aophs/checkoutCheck.png');
    }
    
    ol.inline.commerce-checkout-progress li.active {
      opacity: 1;
      color: $blue_one;
      background-image: url('https://glnenews.s3.amazonaws.com/aophs/checkoutCheck.png');
    }
    ol.inline.commerce-checkout-progress li.active:after {
      width: 0; 
      height: 0; 
      border-top: 24px solid transparent;
      border-bottom: 24px solid transparent;
      border-left: 25px solid $blue_two;
    }
  }
}

  
#commerce-checkout-form-checkout .view-commerce-cart-summary table th {
  padding:10px;
}

ul.inline.commerce-checkout-progress li:after, ol.inline.commerce-checkout-progress li:after {
  width: 0; 
  height: 0; 
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 25px solid $gray_three;
}
.page-checkout .checkout-buttons input#edit-continue, .page-checkout .checkout-buttons input.checkout-continue {
  @include button-blue-background;
  margin-right: 10px;
  text-transform:capitalize;
}

#aop-footer-checkout {
padding-bottom: 200px;
}

///<ORDER LIVE RECEIPT>///

//The receipt that is shown to the user upon completion of the checkout process.

hr {
background-color: $gray_three;
}


.order-information-block {
float: left;
padding: 30px;
max-width: 20%;
	//title
	.order-information-title {
	font-weight: bold;
	color: $gray_one;
	}
	
	@include breakpoint(narrow) {
		max-width: 100%;
		width: 48%;
		float: left;
		margin-top: 0px;
		text-align: left;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 10px;
	}
	
	@include breakpoint(mobile) {
	  max-width: 100%;
	  width: 100%;
	  padding-left: 0px;
	}
}

#order-confirmation-help {
float: right;
margin-top: -45px;
width: 30%;
text-align: right;
	
	p {
	font-size: 15px;
	}
	
	@include breakpoint(narrow) {
		width: 100%;
		float: left;
		margin-top: 0px;
		text-align: left;
	}
	
	@include breakpoint(mobile) {
	  width: 100%;
	  float: left;
	  margin-top: 0px;
	  text-align: left;
	}
}

.order-confirmation-block {
	h2 {
	font-weight: normal;
	font-size: 26px;
	}
float: left;
width: 70%;
padding-bottom: 20px;
	
	@include breakpoint(narrow) {
		width: 100%;
		float: left;
		margin-top: 0px;
		text-align: left;
	}
	
	@include breakpoint(mobile) {
	  width: 100%;
	}
}

#order-confirmation-blocks {
float: left;
width: 100%;
}

#order-cart-blocks {
float: left;
width: 100%;
font-weight: bold;
	
	hr {
	background-color: $gray_three;
	}
	
	h2 {
	font-weight: normal;
	font-size: 26px;
	}
	
	//table
	
	th {
	background-color: $gray_three;
	padding: 10px;
	border-bottom: none;
	padding-left: 0px ;
	}
	
	tr {
	border-bottom: 1px solid $gray_three;
	background-color: white;
	}
	
	
	table {
	width: 100%;
	background-color: #FFFFFF;
	}
	
	td {
	background-color: #FFFFF !important;
	padding: 0px;
	padding-right: 20px;
	vertical-align: top;
	padding-top: 24px;
	padding-bottom: 24px;
	}
	
	//product title 
	
	.cart-summary-line-item-title {
	font-size: 16px;
	padding-right: 20px;
	}
	
	.views-field-line-item-title {
	width: 26%;
		@include breakpoint(mobile) {
		  width: 50%;
		  padding-left: 0px;
		}
		
		@include breakpoint(mobile_sm) {
		  width: 60%;
		}
	}
	
	//Product image
	
	.views-field-field-product-image {
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	
		@include breakpoint(mobile_sm) {
		  width: 10%;
		}
		
		@include breakpoint(mobile_sm) {
		  display: none;
		}
	}
	
	//sku
	.views-field-sku {
	color: $gray_one;
	font-size: 13px;
		@include breakpoint(mobile) {
		  display: none;
		}
	}
	
	//Order total box
	
	.commerce-order-handler-area-order-total .field-items {
	padding: 0px;
	}
	
	.field-name-commerce-order-total tr {
	padding-right: 0px;
	}
	
	.field-name-commerce-order-total td {
	vertical-align: baseline !important;
	font-weight: normal;
	}
	
	.field-name-commerce-order-total .field-items {
	border: none;
		@include breakpoint(mobile) {
		  width: 100%;
		}
	}
	
	//Order total
	.component-type-commerce-price-formatted-amount .component-total {
	font-size: 26px;
	font-weight: bold;
	font-family: $footer_font;
	}
	
	
}

.views-field views-field-line-item-title {
vertical-align: top;
}

#order-information-blocks {
float: left;
	h2 {
	font-weight: normal;
	font-size: 26px;
	}
	
}


///</ORDER LIVE RECEIPT>///
