/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* Include Default Variables & Mixins */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/* End Variables & Mixins */
/**************************************************
* --
* 1. Global
* --
**************************************************/
/* line 13, ../scss/aophs-alpha-default.scss */
.selectnav {
  display: none; }

/* line 17, ../scss/aophs-alpha-default.scss */
.section-content {
  min-height: 600px; }

/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.3. Zone menu
**********************************************/
/* line 29, ../scss/aophs-alpha-default.scss */
.zone-menu .region-menu {
  margin: 0 !important;
  width: 100% !important; }

/**
* Navigation
*/
/* line 36, ../scss/aophs-alpha-default.scss */
.navigation {
  margin: 0;
  /* Main menu */
  /* Secondary menu */ }
  /* line 38, ../scss/aophs-alpha-default.scss */
  .navigation .primary-menu ul,
  .navigation .second-menu ul {
    margin: 26px 0px; }
    /* line 42, ../scss/aophs-alpha-default.scss */
    .navigation .primary-menu ul li.first a,
    .navigation .second-menu ul li.first a {
      -moz-border-radius: 8px 0 0 8px;
      -webkit-border-radius: 8px 0 0 8px;
      -khtml-border-radius: 8px 0 0 8px;
      border-radius: 8px 0 0 8px;
      /* LTR */ }
    /* line 45, ../scss/aophs-alpha-default.scss */
    .navigation .primary-menu ul li.last a,
    .navigation .second-menu ul li.last a {
      -moz-border-radius: 0 8px 8px 0;
      -webkit-border-radius: 0 8px 8px 0;
      -khtml-border-radius: 0 8px 8px 0;
      border-radius: 0 8px 8px 0;
      /* LTR */ }
  /* line 51, ../scss/aophs-alpha-default.scss */
  .navigation .primary-menu ul li a {
    background-color: #000000;
    color: #ffffff; }
    /* line 55, ../scss/aophs-alpha-default.scss */
    .navigation .primary-menu ul li a.active, .navigation .primary-menu ul li a:hover {
      background-color: #ffffff; }
    /* line 59, ../scss/aophs-alpha-default.scss */
    .navigation .primary-menu ul li a.active {
      color: #2698F2; }
    /* line 62, ../scss/aophs-alpha-default.scss */
    .navigation .primary-menu ul li a:hover {
      color: #000000; }
  /* line 67, ../scss/aophs-alpha-default.scss */
  .navigation .second-menu ul li a {
    background-color: #ffffff;
    color: #000000; }
    /* line 71, ../scss/aophs-alpha-default.scss */
    .navigation .second-menu ul li a.active, .navigation .second-menu ul li a:hover {
      background-color: #000000; }
    /* line 75, ../scss/aophs-alpha-default.scss */
    .navigation .second-menu ul li a.active {
      color: #2698F2; }
    /* line 78, ../scss/aophs-alpha-default.scss */
    .navigation .second-menu ul li a:hover {
      color: #ffffff; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* HP blocks: Top advert */
/* line 98, ../scss/aophs-alpha-default.scss */
#promotional_banner {
  padding-bottom: 10px;
  left: -10px;
  /* LTR */
  width: 100%; }

/* line 104, ../scss/aophs-alpha-default.scss */
.block-shipping-discount {
  /* HP blocks: Side advert */
  position: absolute;
  left: -50px;
  /* LTR */
  top: 85px;
  z-index: 100; }
  /* line 110, ../scss/aophs-alpha-default.scss */
  .block-shipping-discount #shipping {
    border-color: #FFF;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    -khtml-border-radius: 80px;
    border-radius: 80px;
    height: 120px;
    line-height: 24px;
    padding: 10px 5px;
    margin-top: 0;
    width: 130px; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 133, ../scss/aophs-alpha-default.scss */
.view-collection-taxonomy-term .view-content .item-list h3 span {
  top: -90px; }

/* line 141, ../scss/aophs-alpha-default.scss */
.page-blog .region-content .view-content .views-row {
  clear: left;
  float: left;
  width: 100%;
  border: none; }

/* line 150, ../scss/aophs-alpha-default.scss */
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
  background: #8dc63f; }

/* line 154, ../scss/aophs-alpha-default.scss */
.messages.commerce-add-to-cart-confirmation {
  background: white;
  border: 6px solid #e1e6e8 !important; }

/* line 161, ../scss/aophs-alpha-default.scss */
.page-user form#user-login #user_login_form {
  margin-top: 2em;
  border: 0; }
  /* line 164, ../scss/aophs-alpha-default.scss */
  .page-user form#user-login #user_login_form h1 {
    border-bottom: 1px solid #e1e6e8; }

/* line 169, ../scss/aophs-alpha-default.scss */
.page-user form#user-register-form .form-actions {
  width: 100%; }

/* line 173, ../scss/aophs-alpha-default.scss */
.page-user #user_register_form {
  width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
    /* line 173, ../scss/aophs-alpha-default.scss */
    .page-user #user_register_form {
      width: 98%; } }

/* line 179, ../scss/aophs-alpha-default.scss */
.page-user form#user-register-form .form-item-pass .password-parent .password-strength {
  width: 9em;
  right: 11em;
  bottom: 0; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
    /* line 179, ../scss/aophs-alpha-default.scss */
    .page-user form#user-register-form .form-item-pass .password-parent .password-strength {
      clear: both; } }

/* line 188, ../scss/aophs-alpha-default.scss */
.page-user #user-profile-form .form-submit {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase; }
  /* line 108, ../scss/_mixins.scss */
  .page-user #user-profile-form .form-submit:hover {
    background-color: #6ac1d6; }

/* line 192, ../scss/aophs-alpha-default.scss */
.page-user-addressbook ul.action-links li a {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: capitalize;
  text-shadow: none; }
  /* line 108, ../scss/_mixins.scss */
  .page-user-addressbook ul.action-links li a:hover {
    background-color: #6ac1d6; }

/* line 197, ../scss/aophs-alpha-default.scss */
.page-user .profile h3 {
  background: none;
  padding-left: 0;
  text-transform: capitalize;
  color: #222222;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #e1e6e8; }

/* line 208, ../scss/aophs-alpha-default.scss */
.page-user-addressbook .view-commerce-addressbook-defaults .views-field,
.page-user .tabs ul.secondary li a {
  background-color: white;
  border: 0; }

/* line 214, ../scss/aophs-alpha-default.scss */
.page-user .profile dt {
  color: #b2c3c9;
  text-transform: capitalize; }

/* line 219, ../scss/aophs-alpha-default.scss */
.page-user-addressbook .view-commerce-addressbook td .views-field {
  margin-right: 1em;
  border: 6px solid #e1e6e8;
  text-transform: capitalize; }

/* line 225, ../scss/aophs-alpha-default.scss */
.page-user td.active {
  background-color: #e1e6e8; }

/* line 229, ../scss/aophs-alpha-default.scss */
.page-checkout #commerce-checkout-form-checkout fieldset legend span {
  padding-left: 0;
  text-transform: capitalize; }

/* line 234, ../scss/aophs-alpha-default.scss */
.page-user form#user-login .create-account {
  margin-top: 2em; }
  /* line 236, ../scss/aophs-alpha-default.scss */
  .page-user form#user-login .create-account h2 {
    border-bottom: 1px solid #e1e6e8;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px; }
