/* Search Bar */
/* line 2, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
#block-views-exp-display-products-page .views-submit-button {
  position: absolute;
  left: 3px;
  top: 3px; }

/* Home Page */
/* line 9, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
#promotional_banner .promotional_banner_special_offer {
  right: auto; }

/* line 14, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
#block-views-demo-content-slideshow-block-1 .bx-prev {
  left: 20px !important; }
/* line 17, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
#block-views-demo-content-slideshow-block-1 .bx-next {
  right: -10px !important; }

/* All Products Page */
/* line 23, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
.page-products .view-display-products li .content .commerce-product-field {
  font-size: 14px !important; }

/* Product Category Page */
/* line 28, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
.view-collection-taxonomy-term .view-header {
  background-size: cover;
  background-position: center center;
  width: 940px; }
  /* line 33, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
  .view-collection-taxonomy-term .view-header .view-collection-taxonomy-term {
    float: none !important; }
    /* line 36, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
    .view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content {
      width: 940px;
      padding: 0;
      float: none !important; }
      /* line 44, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
      .view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list h3 a {
        float: left; }
      /* line 49, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
      .view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list ul {
        display: none; }

/* line 56, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
.view-collection-taxonomy-term .view-header .collection-terms {
  float: right !important; }

/* Footer */
/* line 61, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
#region-footer2-second {
  float: left !important;
  padding: 0 !important; }

/* line 66, ../scss/aophs-alpha-ie-lte-7-rtl.scss */
#block-menu-menu-social-connection h2 {
  padding: 5px 25px 25px 0 !important; }
