/* Include Default Variables & Mixins */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/**
* Navigation
*/
/* line 12, ../scss/aophs-alpha-alpha-default-rtl.scss */
.navigation .primary-menu ul li.first a,
.navigation .second-menu ul li.first a {
  -moz-border-radius: 0 8px 8px 0 !important;
  -webkit-border-radius: 0 8px 8px 0 !important;
  -khtml-border-radius: 0 8px 8px 0 !important;
  border-radius: 0 8px 8px 0 !important; }
/* line 15, ../scss/aophs-alpha-alpha-default-rtl.scss */
.navigation .primary-menu ul li.last a,
.navigation .second-menu ul li.last a {
  -moz-border-radius: 8px 0 0 8px !important;
  -webkit-border-radius: 8px 0 0 8px !important;
  -khtml-border-radius: 8px 0 0 8px !important;
  border-radius: 8px 0 0 8px !important; }

/**
* Blocks
*/
/* HP blocks: Top advert */
/* line 25, ../scss/aophs-alpha-alpha-default-rtl.scss */
#promotional_banner {
  left: auto;
  right: -10px; }

/* line 29, ../scss/aophs-alpha-alpha-default-rtl.scss */
.block-shipping-discount {
  left: auto;
  right: -50px; }
