/* User menu */
/* line 4, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
.block-menu-user-menu .content ul.menu li.first {
  border-left: 1px solid #ffffff;
  padding-left: 7px; }
/* line 8, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
.block-menu-user-menu .content ul.menu li.last {
  padding-right: 7px; }

/* Pseudo Breadcrumb */
/* line 14, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#region-breadcrumb .pseudo-breadcrumb li a {
  background: url("../images/btn_close.png") right center no-repeat; }

/* Search api facet blocks */
/* line 23, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
.region-sidebar-first .block-facetapi ul li a.facetapi-inactive {
  padding-right: 0px; }

/* Blocks */
/* line 32, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#promotional_banner {
  left: 0;
  right: -10px; }
  /* line 36, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
  #promotional_banner .promotional_banner_special_offer {
    left: 10px;
    right: auto; }

/* line 42, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
.block-shipping-discount {
  left: auto;
  right: -50px; }

/* line 46, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#region-footer2-second {
  float: left !important;
  padding: 0 !important; }

/* HP blocks: Slideshow */
/* line 53, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#block-views-demo-content-slideshow-block-1 .event-slider .views-field-nothing {
  background: transparent url("../images/bg_title_slideshow_current.png") right top no-repeat;
  left: auto;
  right: 31%; }
/* line 58, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#block-views-demo-content-slideshow-block-1 .bx-prev,
#block-views-demo-content-slideshow-block-1 .bx-prev:hover {
  background: transparent url("../images/bg_title_slideshow_next.png") right top no-repeat; }
/* line 62, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#block-views-demo-content-slideshow-block-1 .bx-next,
#block-views-demo-content-slideshow-block-1 .bx-next:hover {
  background: transparent url("../images/bg_title_slideshow_previous.png") right top no-repeat;
  margin-right: 0;
  margin-left: 5px; }

/* Connect with us */
/* line 73, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#block-menu-menu-social-connection h2 {
  background: url("../images/bg_block_footer_title-rtl.png") right top no-repeat !important; }
/* line 79, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#block-menu-menu-social-connection .content ul.menu li a.facebook {
  background: url("../images/icon_facebook.png") 98% 50% no-repeat; }
/* line 82, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#block-menu-menu-social-connection .content ul.menu li a.twitter {
  background: url("../images/icon_twitter.png") 98% 50% no-repeat; }
/* line 85, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
#block-menu-menu-social-connection .content ul.menu li a.pinterest {
  background: url("../images/icon_pinterest.png") 98% 50% no-repeat; }

/* All Products Page */
/* line 93, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
.region-sidebar-first .block-facetapi ul li input.facetapi-checkbox {
  margin: 0 0 0 .5em; }

/* Collection page */
/* line 99, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row {
  padding-left: 5px; }
  /* line 101, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
  .view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row:nth-child(4n+5) {
    clear: right;
    float: right; }

/**************************************************
* --
* 8. Comments
* --
**************************************************/
/* line 113, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
.node-teaser .links.node-links .links .node-readmore a {
  padding-left: 15px; }
/* line 116, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
.node-teaser .links.node-links .links .comment-comments a {
  padding-right: 20px; }
  /* line 119, ../scss/aophs-alpha-ie-lte-8-rtl.scss */
  .node-teaser .links.node-links .links .comment-comments a span {
    float: right; }
