/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
/* line 7, ../scss/aophs-alpha-default-narrow.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: left;
  width: 53.5%;
  text-align: left;
  padding-left: 1.1em; }
/* line 13, ../scss/aophs-alpha-default-narrow.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  width: 60.6%; }
  /* line 15, ../scss/aophs-alpha-default-narrow.scss */
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
    width: 91.6%; }
    /* line 17, ../scss/aophs-alpha-default-narrow.scss */
    div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
      width: 80%; }

/* line 27, ../scss/aophs-alpha-default-narrow.scss */
.container-24 .grid-24 {
  width: 720px !important;
  margin-right: 10px;
  margin-left: 10px; }

/* breadcrumb bevel 
.breadcrumb:after {
  display:none;
}*/
