@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/* line 9, ../scss/duggars.scss */
.duggar-banner {
  margin: auto;
  width: 100%;
  text-align: center; }

/* line 15, ../scss/duggars.scss */
.page-duggars #breadcrumb {
  display: none; }

/* line 19, ../scss/duggars.scss */
.page-duggars #page {
  background: #7bb2e2 url("https://glnmedia.s3.amazonaws.com/landing/duggars/bg.gif");
  background-repeat: repeat-x; }
  /* line 22, ../scss/duggars.scss */
  .page-duggars #page h1 {
    margin-top: 1em;
    line-height: 1.3em; }
    @media (min-width: 400px) and (max-width: 999px) {
      /* line 22, ../scss/duggars.scss */
      .page-duggars #page h1 {
        font-size: 27px;
        line-height: 1.2em; } }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 30, ../scss/duggars.scss */
    .page-duggars #page h2 {
      font-size: 24px; } }
  /* line 35, ../scss/duggars.scss */
  .page-duggars #page p {
    font-size: 18px; }

/* line 40, ../scss/duggars.scss */
.page-duggars .zone-content-wrapper .zone-content {
  background: #fff url("images/yellow-bg.jpg") top center no-repeat; }

/* line 44, ../scss/duggars.scss */
.page-duggars .container-24 .grid-24 {
  width: 940px;
  padding: 0 2em;
  box-sizing: border-box; }

/* line 50, ../scss/duggars.scss */
.page-duggars .panels-flexible-region-marketing_landing_page_layout-center {
  width: 100%; }

/* line 54, ../scss/duggars.scss */
.content img {
  max-width: 70%; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 54, ../scss/duggars.scss */
    .content img {
      max-width: 80%; } }

/* line 61, ../scss/duggars.scss */
.page-duggars #homepage-carousel-block {
  margin-top: -2em; }

@media (min-width: 400px) and (max-width: 999px) {
  /* line 65, ../scss/duggars.scss */
  .page-duggars #homepage-carousel-responsive-block {
    margin-top: -5em; } }

/* line 71, ../scss/duggars.scss */
.footer-wrapper {
  margin: 0 auto;
  width: 960px;
  position: relative;
  bottom: 0; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 71, ../scss/duggars.scss */
    .footer-wrapper {
      width: 100%; } }

/* line 80, ../scss/duggars.scss */
.footer-logo {
  margin: 0 auto;
  width: 48%;
  position: relative;
  float: left;
  text-align: center; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 80, ../scss/duggars.scss */
    .footer-logo {
      margin-bottom: 1.5em;
      width: 100%; } }

/* line 91, ../scss/duggars.scss */
.homeschool-info {
  margin: 0 auto;
  width: 48%;
  position: relative;
  float: right;
  color: white;
  text-align: center; }
  /* line 98, ../scss/duggars.scss */
  .homeschool-info p a {
    color: white; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 91, ../scss/duggars.scss */
    .homeschool-info {
      width: 100%; } }
