/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/* End Variables & Mixins */
/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/* line 14, ../scss/footer.scss */
.section-footer {
  background-color: #3f3f3f; }

/**********************************************
* 4.1. Zone footer
**********************************************/
/* line 21, ../scss/footer.scss */
.zone-footer-wrapper {
  background-color: #494949; }

/**
* Menu footer navigation
*/
/* line 29, ../scss/footer.scss */
.section-footer ul.menu li.expanded span,
.section-footer ul.menu li.expanded a {
  color: #ffffff; }
/* line 33, ../scss/footer.scss */
.section-footer ul.menu li.expanded ul.menu li a {
  color: #c1c1c1; }

/**
* Connect with us
*/
/* line 42, ../scss/footer.scss */
#block-menu-menu-social-connection h2 {
  background-color: #262626;
  color: #eeeeee; }
/* line 46, ../scss/footer.scss */
#block-menu-menu-social-connection .content ul.menu li {
  color: #eeeeee; }
  /* line 48, ../scss/footer.scss */
  #block-menu-menu-social-connection .content ul.menu li:hover {
    background-color: #cecece;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px; }
  /* line 52, ../scss/footer.scss */
  #block-menu-menu-social-connection .content ul.menu li span,
  #block-menu-menu-social-connection .content ul.menu li a {
    color: #eeeeee; }
  /* line 57, ../scss/footer.scss */
  #block-menu-menu-social-connection .content ul.menu li a.facebook {
    background: url("../images/icon_facebook.png") 2% 50% no-repeat;
    /* LTR */ }
  /* line 60, ../scss/footer.scss */
  #block-menu-menu-social-connection .content ul.menu li a.twitter {
    background: url("../images/icon_twitter.png") 2% 50% no-repeat;
    /* LTR */ }
  /* line 63, ../scss/footer.scss */
  #block-menu-menu-social-connection .content ul.menu li a.pinterest {
    background: url("../images/icon_pinterest.png") 2% 50% no-repeat;
    /* LTR */ }

/**********************************************
* 4.2. Zone footer2
**********************************************/
/* line 73, ../scss/footer.scss */
#section-footer {
  background-color: #2ab5cd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }
  /* line 77, ../scss/footer.scss */
  #section-footer span {
    font-weight: 700; }
  /* line 81, ../scss/footer.scss */
  #section-footer ul.menu li.expanded {
    padding: 0;
    width: 33%;
    color: #222222; }
    @media (max-width: 486px) {
      /* line 81, ../scss/footer.scss */
      #section-footer ul.menu li.expanded {
        width: 100%; } }
    /* line 88, ../scss/footer.scss */
    #section-footer ul.menu li.expanded .nolink {
      color: #222222;
      text-transform: uppercase; }
    /* line 92, ../scss/footer.scss */
    #section-footer ul.menu li.expanded a {
      color: #222222; }
    /* line 95, ../scss/footer.scss */
    #section-footer ul.menu li.expanded a:hover {
      color: #FFFFFF;
      text-decoration: none; }
  /* line 101, ../scss/footer.scss */
  #section-footer .footer-social-icon {
    float: left;
    margin-right: 10px; }

/* line 107, ../scss/footer.scss */
.zone-footer-wrapper {
  padding: 1.5em 0 1em 0;
  background-color: #2ab5cd;
  color: #222222; }
  /* line 111, ../scss/footer.scss */
  .zone-footer-wrapper a {
    color: #222222; }

/* line 116, ../scss/footer.scss */
.zone-footer2-wrapper {
  margin: 0 auto;
  width: 960px;
  background-color: #2ab5cd;
  border-top: 0.1em solid #222222; }
  /* line 121, ../scss/footer.scss */
  .zone-footer2-wrapper .container-24 .grid-7 {
    margin: 0;
    width: 22.5em; }

/* line 127, ../scss/footer.scss */
#zone-footer-bottom {
  padding: 1em 0;
  border-top: 1px solid #222222; }
  /* line 130, ../scss/footer.scss */
  #zone-footer-bottom h2 {
    display: none; }

/* line 135, ../scss/footer.scss */
.copyright {
  margin: 0;
  padding: 0;
  font-size: 12px; }
  /* line 139, ../scss/footer.scss */
  .copyright ul {
    margin: 0;
    display: block;
    list-style: none;
    text-align: left; }
  /* line 145, ../scss/footer.scss */
  .copyright li {
    margin: 0 1em 0 0;
    display: inline; }
    /* line 148, ../scss/footer.scss */
    .copyright li a {
      color: #222222;
      font-weight: 400; }
    /* line 152, ../scss/footer.scss */
    .copyright li a:hover {
      color: #FFFFFF;
      text-decoration: none; }

/* line 161, ../scss/footer.scss */
#region-footer-first {
  width: 700px;
  margin-left: 0; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 161, ../scss/footer.scss */
    #region-footer-first {
      width: 100%;
      margin-right: 0; } }
  @media (max-width: 768px) {
    /* line 161, ../scss/footer.scss */
    #region-footer-first {
      width: 100%;
      margin: 0; }
      /* line 171, ../scss/footer.scss */
      #region-footer-first .menu {
        padding: 0; }
        /* line 174, ../scss/footer.scss */
        #region-footer-first .menu li.expanded {
          margin: 0 0 1em 10px; }
          /* line 176, ../scss/footer.scss */
          #region-footer-first .menu li.expanded ul.menu {
            padding: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
    /* line 161, ../scss/footer.scss */
    #region-footer-first {
      width: 100%;
      margin: 0; }
      /* line 186, ../scss/footer.scss */
      #region-footer-first .menu {
        padding: 0; }
        /* line 188, ../scss/footer.scss */
        #region-footer-first .menu li {
          width: 100%; }
          /* line 190, ../scss/footer.scss */
          #region-footer-first .menu li.expanded {
            margin: 0 auto 1em auto;
            text-align: center; }
            /* line 193, ../scss/footer.scss */
            #region-footer-first .menu li.expanded li {
              text-align: center; } }

/* line 202, ../scss/footer.scss */
#region-footer-second {
  width: 190px;
  float: right;
  margin: 0; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 202, ../scss/footer.scss */
    #region-footer-second {
      width: 100%;
      margin: 1.5em 0 1.5em 0px;
      float: left; } }
  @media (max-width: 768px) {
    /* line 202, ../scss/footer.scss */
    #region-footer-second {
      width: 100%;
      margin: 1.5em 0 1.5em 10px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
    /* line 202, ../scss/footer.scss */
    #region-footer-second {
      margin: 1.5em auto;
      text-align: center;
      width: 190px;
      float: none; } }
  /* line 221, ../scss/footer.scss */
  #region-footer-second .footer-social-icon:nth-child(5) {
    margin-right: 0; }

/* line 227, ../scss/footer.scss */
#region-footer-third {
  display: none; }
