/**
 * Global css.
 */
/* Include Default Variables & Mixins */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/* line 9, ../scss/global-rtl.scss */
a {
  text-shadow: none;
  font-weight: 400; }

/* line 14, ../scss/global-rtl.scss */
table thead th {
  font-weight: 400; }

/* line 18, ../scss/global-rtl.scss */
#messages {
  float: left;
  width: 100%; }

/* line 23, ../scss/global-rtl.scss */
.block-menu-user-menu .block-inner {
  float: left !important;
  margin-left: 10px;
  margin-right: 0px; }

/* line 28, ../scss/global-rtl.scss */
.logo-img {
  float: right;
  left: auto;
  margin-left: 20px;
  margin-right: 0px; }

/* line 35, ../scss/global-rtl.scss */
#block-views-exp-display-products-page {
  float: left;
  right: auto; }

/* line 40, ../scss/global-rtl.scss */
#block-views-exp-display-products-page .views-exposed-widget {
  float: right;
  right: 25px; }

/* line 45, ../scss/global-rtl.scss */
#block-views-exp-display-products-page .views-submit-button .form-submit {
  right: -25px;
  left: 0px; }

/* line 50, ../scss/global-rtl.scss */
#block-views-exp-display-products-page #edit-search-api-views-fulltext {
  padding: 10px; }

/* line 54, ../scss/global-rtl.scss */
.navigation .primary-menu {
  float: right !important;
  margin-right: 0px !important; }

/* line 59, ../scss/global-rtl.scss */
.navigation .second-menu {
  float: left !important;
  left: auto; }

/* line 64, ../scss/global-rtl.scss */
.navigation .primary-menu .main-menu ul li,
.navigation .second-menu .secondary-menu ul li,
.navigation .primary-menu .main-menu li,
.navigation .second-menu .secondary-menu li {
  float: right !important; }

/* line 71, ../scss/global-rtl.scss */
.navigation li.first a {
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-right: 1px solid #D7D7D7 !important;
  border-left: none !important; }

/* line 90, ../scss/global-rtl.scss */
.navigation li.last a {
  -webkit-border-top-right-radius: 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  -moz-border-radius-bottomright: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid #D7D7D7 !important;
  border-right: none !important; }

/* line 109, ../scss/global-rtl.scss */
ul#payments li {
  float: right; }

/**
 * Front page css.
 */
/* line 117, ../scss/global-rtl.scss */
div.clearfix nav.links.node-links.clearfix {
  margin: 0;
  padding: 0; }

/* line 122, ../scss/global-rtl.scss */
.bx-prev {
  left: 0; }

/* line 126, ../scss/global-rtl.scss */
.block-promotional-banner {
  left: 0px;
  right: -10px; }

/* line 131, ../scss/global-rtl.scss */
.block-shipping-discount {
  right: -50px;
  left: 0px; }

/* line 136, ../scss/global-rtl.scss */
.promotional_banner_special_offer {
  float: left !important;
  right: auto !important; }

/* line 141, ../scss/global-rtl.scss */
#zone-footer {
  direction: ltr; }

/* line 144, ../scss/global-rtl.scss */
#region-footer-first {
  float: left; }

/* line 148, ../scss/global-rtl.scss */
#block-menu-menu-footer-navigation .block-inner {
  float: right; }

/* line 152, ../scss/global-rtl.scss */
.front #region-postscript-first,
.front #region-postscript-second {
  margin-left: 10px !important;
  margin-right: 0px !important; }

/* line 158, ../scss/global-rtl.scss */
.block-blog-block .block-title {
  background-image: url("../images/bg_block_homepage_title-rtl.png") !important;
  background-position-x: right !important;
  right: -1px !important;
  left: auto !important;
  text-align: right !important;
  padding-right: 25px; }

/* line 167, ../scss/global-rtl.scss */
#block-commerce-kickstart-content-social h2 {
  background-image: url("../images/bg_block_footer_title-rtl.png") !important; }

/* line 171, ../scss/global-rtl.scss */
.section-footer ul.menu li {
  padding-right: 20px;
  float: right; }

/* line 176, ../scss/global-rtl.scss */
.block-social .content #social li {
  text-align: right; }

/* line 180, ../scss/global-rtl.scss */
.block-social h2 {
  padding: 0 25px 22px 0px !important;
  text-align: right; }

/* line 185, ../scss/global-rtl.scss */
.block-social .content li a,
.block-social .content li span {
  padding-right: 50px;
  padding-left: 0px; }

/* line 191, ../scss/global-rtl.scss */
.block-social #facebook {
  background: url("../images/icon_facebook.png") right 50% no-repeat; }

/* line 195, ../scss/global-rtl.scss */
.block-social #twitter {
  background: url("../images/icon_twitter.png") right 50% no-repeat; }

/* line 199, ../scss/global-rtl.scss */
.block-social #pinterest {
  background: url("../images/icon_pinterest.png") right 50% no-repeat; }

/**
 * All products page css.
 */
/* line 206, ../scss/global-rtl.scss */
.region-sidebar-first .block-facetapi {
  margin-right: 15px;
  padding-right: 15px;
  padding-left: 0px;
  margin-left: 0px; }

/* line 213, ../scss/global-rtl.scss */
.block-search-sorts .block-inner {
  float: left;
  clear: left;
  right: auto;
  display: inline-block; }

/* line 220, ../scss/global-rtl.scss */
#block-search-api-sorts-search-sorts .block-title {
  float: right;
  margin-left: 5px;
  margin-right: 0px; }

/* line 226, ../scss/global-rtl.scss */
ul.facetapi-facetapi-checkbox-links li input {
  margin-right: 0;
  margin-left: .5em; }

/**
 * Specific product type page.
 */
/* line 234, ../scss/global-rtl.scss */
.view-collection-taxonomy-term .products-per-collection li.views-row {
  float: right;
  left: auto; }

/* line 239, ../scss/global-rtl.scss */
.views-field-field-extractor-field-product ul li {
  float: right; }

/* line 243, ../scss/global-rtl.scss */
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list {
  float: right; }

/**
 * Specific product page.
 */
/* line 249, ../scss/global-rtl.scss */
.commerce-add-to-cart * {
  text-align: left; }

/* line 253, ../scss/global-rtl.scss */
.commerce-add-to-cart label {
  text-align: right;
  float: right !important; }

/* line 258, ../scss/global-rtl.scss */
.ui-spinner-buttons {
  left: 34px !important; }

/**
 * Confirm message box.
 */
/* line 265, ../scss/global-rtl.scss */
.commerce-kickstart-add-to-cart .button-wrapper {
  float: left; }

/* line 269, ../scss/global-rtl.scss */
.commerce-kickstart-add-to-cart .field,
.commerce-kickstart-add-to-cart .commerce-product-sku {
  text-align: left; }

/* line 274, ../scss/global-rtl.scss */
.commerce-product-sku .commerce-product-sku-label,
.commerce-kickstart-add-to-cart .views-label-quantity,
.commerce-kickstart-add-to-cart .views-label-commerce-price {
  float: right; }

/**
 * Checkout page.
 */
/* line 283, ../scss/global-rtl.scss */
.page-checkout #commerce-checkout-form-checkout table thead th {
  text-align: right; }

/* line 287, ../scss/global-rtl.scss */
.page-checkout fieldset.account .form-item-account-login-mail label,
.page-checkout fieldset.customer_profile_shipping .form-item-customer-profile-shipping-commerce-customer-address-und-0-name-line label,
.page-checkout fieldset.customer_profile_shipping .form-item-customer-profile-shipping-commerce-customer-address-und-0-country label,
.page-checkout fieldset.customer_profile_shipping .street-block label,
.page-checkout fieldset.customer_profile_billing .form-item-customer-profile-billing-addressbook label,
.page-checkout fieldset.customer_profile_billing .form-item-customer-profile-billing-commerce-customer-address-und-0-name-line label,
.page-checkout fieldset.customer_profile_billing .form-item-customer-profile-billing-commerce-customer-address-und-0-country label,
.page-checkout fieldset.customer_profile_billing .street-block label {
  float: right; }

/* line 298, ../scss/global-rtl.scss */
.addressfield-container-inline > div.form-item {
  float: right; }

/**
 * Shipping page.
 */
/* line 306, ../scss/global-rtl.scss */
.page-checkout .form-item-commerce-shipping-shipping-service {
  float: right;
  clear: right; }

/**
 * Review order page.
 */
/* line 314, ../scss/global-rtl.scss */
.page-user-orders .view-commerce-line-item-table th,
.page-user-orders .view-commerce-user-orders th,
.view-commerce-backoffice-user-orders th,
.view-commerce-backoffice-order-messages th,
.view-commerce-cart-summary th {
  text-align: right; }

/* line 322, ../scss/global-rtl.scss */
input.checkout-continue {
  margin-left: 10px;
  margin-right: 0px; }

/**
 * My AOP Page
 **/
/* line 335, ../scss/global-rtl.scss */
.page-user .profile ul.user-information li a {
  position: relative;
  margin-top: 1.5em; }

/* line 344, ../scss/global-rtl.scss */
.page-user-addressbook .view-commerce-addressbook td .views-field {
  margin-right: 1em;
  border: 6px solid #e1e6e8;
  text-transform: capitalize; }

/* line 350, ../scss/global-rtl.scss */
.page-user td.active {
  background-color: #e1e6e8; }

/* line 354, ../scss/global-rtl.scss */
.page-user-orders .field-name-commerce-customer-billing .field-label,
.page-user-orders .field-name-commerce-customer-shipping .field-label {
  background-color: none;
  border-bottom: 1px solid #e1e6e8; }

/* line 360, ../scss/global-rtl.scss */
.page-user .view-commerce-backoffice-user-orders th a,
.page-user #views-form-commerce-cart-form-default table th,
#commerce-checkout-form-checkout .view-commerce-cart-summary table th,
#commerce-checkout-form-review .view-commerce-cart-summary table th,
.page-user-orders .view-commerce-line-item-table table th, .view-commerce-backoffice-user-orders table th {
  color: #222222;
  text-transform: capitalize; }

/* line 369, ../scss/global-rtl.scss */
.page-user #views-form-commerce-cart-form-default table td, #commerce-checkout-form-checkout .view-commerce-cart-summary table td, #commerce-checkout-form-review .view-commerce-cart-summary table td, .page-user-orders .view-commerce-line-item-table table td, .view-commerce-backoffice-user-orders table td {
  border-bottom: 1px solid #e1e6e8; }
