/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/* End Variables & Mixins */
/*
.panel-pane {
   @include clearfix;
}
*/
/* line 18, ../scss/header.scss */
body.toolbar #toolbar-home a span {
  width: 40px; }

/* line 23, ../scss/header.scss */
ul#toolbar-user li.logout {
  display: none; }

/* line 28, ../scss/header.scss */
#zone-user-wrapper {
  border-bottom: 1px solid #cfeef4;
  position: fixed;
  z-index: 1000; }
  @media (max-width: 768px) {
    /* line 28, ../scss/header.scss */
    #zone-user-wrapper {
      position: relative; } }
  @media (max-width: 500px) {
    /* line 37, ../scss/header.scss */
    #zone-user-wrapper .region-user-first {
      margin: 0 4px; }
      /* line 40, ../scss/header.scss */
      #zone-user-wrapper .region-user-first a {
        font-size: 90%; } }
  /* line 45, ../scss/header.scss */
  #zone-user-wrapper .region-user-second {
    height: 33px;
    width: 196px; }
  /* line 49, ../scss/header.scss */
  #zone-user-wrapper .block-menu-menu-user-menu {
    float: right;
    left: 133px;
    position: relative; }
    @media (min-width: 400px) and (max-width: 999px) {
      /* line 49, ../scss/header.scss */
      #zone-user-wrapper .block-menu-menu-user-menu {
        left: 123px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
      /* line 49, ../scss/header.scss */
      #zone-user-wrapper .block-menu-menu-user-menu {
        left: 123px; } }
    @media (max-width: 768px) {
      /* line 49, ../scss/header.scss */
      #zone-user-wrapper .block-menu-menu-user-menu {
        left: 10px;
        float: left;
        position: absolute; } }
    @media (max-width: 486px) {
      /* line 49, ../scss/header.scss */
      #zone-user-wrapper .block-menu-menu-user-menu {
        position: absolute; } }

/* line 71, ../scss/header.scss */
.logged-in #zone-user-wrapper .block-menu-user-menu {
  left: 80px; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 71, ../scss/header.scss */
    .logged-in #zone-user-wrapper .block-menu-user-menu {
      left: 70px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
    /* line 71, ../scss/header.scss */
    .logged-in #zone-user-wrapper .block-menu-user-menu {
      left: 70px; } }
  @media (max-width: 768px) {
    /* line 71, ../scss/header.scss */
    .logged-in #zone-user-wrapper .block-menu-user-menu {
      left: 70px; } }
  @media (max-width: 486px) {
    /* line 71, ../scss/header.scss */
    .logged-in #zone-user-wrapper .block-menu-user-menu {
      float: left; } }

/* line 90, ../scss/header.scss */
.block-menu-user-menu .content ul.menu li {
  padding-bottom: 0px; }

/*
 *This was made irrelevant due to the moving of the branding region into the menu zone so that the header can be 1 div

 #zone-branding-wrapper {
  padding-top: 34px;
  @include breakpoint(mobile) {
    padding-top: 0px;
  }
  #zone-branding {
    //width: 960px;
    //margin: 0 auto;
    float: none;
    .region-branding-inner {
      max-width: 960px;
      margin: 0 auto;
      @include breakpoint(allMobile) {
        margin-right:10px;
        .form-actions.form-wrapper {
          right: 10px;
        }
      }
    }
  }
  #zone-branding .region-branding {
    margin: 5px 0 5px 0;
  }
  
  .zone-branding .region-branding .logo-img {
    margin: 0;
  }
  .container-24 .grid-24 {
    width: 960px;
    @include breakpoint(narrow) {
      width: 100%;
    } 
    @include breakpoint(allMobile) {
      width: 100%;
    }
  }
}*/
/* line 136, ../scss/header.scss */
.page-home #zone-branding-wrapper,
.branding-fix {
  padding-top: 0; }

/* line 141, ../scss/header.scss */
#zone-home-promo {
  width: 100%; }
  @media (max-width: 768px) {
    /* line 141, ../scss/header.scss */
    #zone-home-promo {
      display: none; } }

/* line 148, ../scss/header.scss */
.page-home #zone-menu-wrapper {
  margin-bottom: .5em; }
  @media (max-width: 768px) {
    /* line 148, ../scss/header.scss */
    .page-home #zone-menu-wrapper {
      height: 70px; } }

/* line 157, ../scss/header.scss */
.fixed-header {
  position: fixed;
  background: #FFFFFF;
  top: 35px;
  margin-top: 0;
  z-index: 500;
  width: 100%; }
  @media (max-width: 768px) {
    /* line 157, ../scss/header.scss */
    .fixed-header {
      position: relative; } }

/* line 171, ../scss/header.scss */
.not-front div#zone-menu-wrapper {
  margin-top: 34px; }
  @media (max-width: 768px) {
    /* line 171, ../scss/header.scss */
    .not-front div#zone-menu-wrapper {
      margin-top: 0; } }

/* line 178, ../scss/header.scss */
#zone-menu-wrapper {
  margin-bottom: 0;
  border-bottom: 1px solid #9badb4; }

/* line 183, ../scss/header.scss */
#region-home-promo-first,
#region-home-promo-second {
  margin: 34px 0 0;
  width: 50%;
  min-height: 14em;
  background-image: url("../images/aop-home-promo.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #2ab5cd;
  color: #ffffff;
  text-align: center;
  float: left;
  font-weight: 700; }
  /* line 197, ../scss/header.scss */
  #region-home-promo-first .aop-home-promo-title,
  #region-home-promo-second .aop-home-promo-title {
    font-family: "Lora", serif;
    text-align: center;
    font-size: 3.4vw;
    line-height: 1em;
    margin: 35px 0 10px; }
    @media (min-width: 1025px) and (max-width: 1199px) {
      /* line 197, ../scss/header.scss */
      #region-home-promo-first .aop-home-promo-title,
      #region-home-promo-second .aop-home-promo-title {
        font-size: 38px; } }
    @media (min-width: 1200px) {
      /* line 197, ../scss/header.scss */
      #region-home-promo-first .aop-home-promo-title,
      #region-home-promo-second .aop-home-promo-title {
        font-size: 38px; } }
  /* line 210, ../scss/header.scss */
  #region-home-promo-first .aop-home-promo-summary,
  #region-home-promo-second .aop-home-promo-summary {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.1vw;
    font-weight: lighter;
    margin: 20px auto;
    text-align: center;
    width: 80%; }
    @media (min-width: 1025px) and (max-width: 1199px) {
      /* line 210, ../scss/header.scss */
      #region-home-promo-first .aop-home-promo-summary,
      #region-home-promo-second .aop-home-promo-summary {
        font-size: 25px; } }
    @media (min-width: 1200px) {
      /* line 210, ../scss/header.scss */
      #region-home-promo-first .aop-home-promo-summary,
      #region-home-promo-second .aop-home-promo-summary {
        font-size: 25px; } }
    @media (min-width: 1200px) {
      /* line 210, ../scss/header.scss */
      #region-home-promo-first .aop-home-promo-summary,
      #region-home-promo-second .aop-home-promo-summary {
        width: 76%; } }
  /* line 227, ../scss/header.scss */
  #region-home-promo-first .aop-home-promo-content a:hover,
  #region-home-promo-second .aop-home-promo-content a:hover {
    text-decoration: none; }
  /* line 230, ../scss/header.scss */
  #region-home-promo-first .aop-home-promo-button,
  #region-home-promo-second .aop-home-promo-button {
    margin: 0 auto;
    padding: 0;
    width: 30%;
    height: 30px;
    background: #f0f3f4;
    border-radius: 3px;
    color: #2ab5cd;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    line-height: 33px;
    min-width: 150px;
    margin-bottom: 40px; }
    /* line 152, ../scss/_mixins.scss */
    #region-home-promo-first .aop-home-promo-button a,
    #region-home-promo-second .aop-home-promo-button a {
      width: 100%;
      color: #6ac1d6; }
  /* line 235, ../scss/header.scss */
  #region-home-promo-first .aop-home-promo-button:hover,
  #region-home-promo-second .aop-home-promo-button:hover {
    background-color: #e1e6e8; }

@media (min-width: 1200px) {
  /* line 240, ../scss/header.scss */
  #region-home-promo-first .aop-home-promo-summary {
    width: 76.35%; } }

/*************************************
 * This piece of code is to compensate for the text wrapping on one side sooner than the other.
 * If we EVER change the text, we need to comment this rule out, then change the text
 * and re-adjust this media query to identify range of width where the discrepancy occurs.
 *************************************/
@media (min-width: 1024px) and (max-width: 1200px) {
  /* line 251, ../scss/header.scss */
  #region-home-promo-second .aop-home-promo-summary {
    width: 87%; } }

/* line 261, ../scss/header.scss */
div.tb-megamenu.tb-megamenu-main-menu div.nav-collapse.collapse.always-show ul.tb-megamenu-nav.nav.level-0.items-3 li.tb-megamenu-item.level-1.mega.dropdown.active a.dropdown-toggle {
  background-color: #FFFFFF;
  color: #222222;
  border: none; }

/* line 272, ../scss/header.scss */
#block-menu-menu-grade-level ul {
  width: 100%;
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1; }
  /* line 14, ../scss/_mixins.scss */
  #block-menu-menu-grade-level ul:before, #block-menu-menu-grade-level ul.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 20, ../scss/_mixins.scss */
  #block-menu-menu-grade-level ul:after {
    clear: both; }
  /* line 275, ../scss/header.scss */
  #block-menu-menu-grade-level ul li {
    cursor: pointer;
    float: left;
    font-weight: bold;
    height: 2em;
    margin: 3px;
    min-width: 38px;
    text-align: center;
    width: 17%;
    list-style: none outside none;
    text-decoration: none; }
    /* line 287, ../scss/header.scss */
    #block-menu-menu-grade-level ul li a {
      display: block;
      background-color: white;
      border: 1px solid #9badb4;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      border-radius: 3px;
      line-height: 1em;
      padding: 0.5em;
      text-align: center;
      font-weight: bold;
      color: #9badb4; }
      /* line 298, ../scss/header.scss */
      #block-menu-menu-grade-level ul li a:hover {
        background-color: #9badb4;
        color: white; }

/* line 309, ../scss/header.scss */
#block-menu-menu-subjects ul, #block-menu-menu-curriculum ul, #block-menu-menu-resources ul {
  border: none; }
  /* line 311, ../scss/header.scss */
  #block-menu-menu-subjects ul li, #block-menu-menu-curriculum ul li, #block-menu-menu-resources ul li {
    float: left;
    width: 100%;
    border: none; }
    /* line 315, ../scss/header.scss */
    #block-menu-menu-subjects ul li .first, #block-menu-menu-curriculum ul li .first, #block-menu-menu-resources ul li .first {
      border: none; }
    /* line 318, ../scss/header.scss */
    #block-menu-menu-subjects ul li .last, #block-menu-menu-curriculum ul li .last, #block-menu-menu-resources ul li .last {
      border: none; }
    /* line 321, ../scss/header.scss */
    #block-menu-menu-subjects ul li a, #block-menu-menu-curriculum ul li a, #block-menu-menu-resources ul li a {
      border: none;
      background-color: white;
      color: #222222;
      font-size: 1.2em;
      font-weight: normal;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      padding-left: 0px;
      padding-right: 0px; }
    /* line 333, ../scss/header.scss */
    #block-menu-menu-subjects ul li a:hover, #block-menu-menu-curriculum ul li a:hover, #block-menu-menu-resources ul li a:hover {
      color: #2ab5cd; }

/* line 341, ../scss/header.scss */
#block-menu-block-1 ul {
  border: none; }
  /* line 343, ../scss/header.scss */
  #block-menu-block-1 ul li {
    float: left;
    width: 100%;
    border: none; }
    /* line 347, ../scss/header.scss */
    #block-menu-block-1 ul li .first {
      border: none; }
    /* line 350, ../scss/header.scss */
    #block-menu-block-1 ul li .last {
      border: none; }
    /* line 353, ../scss/header.scss */
    #block-menu-block-1 ul li a {
      border: none;
      background-color: white;
      color: #222222;
      text-transform: none; }

/* line 366, ../scss/header.scss */
button.btn.btn-navbar.tb-megamenu-button {
  background: none;
  border: none;
  padding: 0px;
  width: 32px;
  height: 32px;
  margin: 20px 12px 0 0;
  background-image: url(../images/menu-icon.png);
  background-size: cover;
  border-radius: 2px;
  outline: none;
  float: right;
  right: 0; }
  @media screen and (min-width: 769px) {
    /* line 366, ../scss/header.scss */
    button.btn.btn-navbar.tb-megamenu-button {
      display: none; } }
  /* line 382, ../scss/header.scss */
  button.btn.btn-navbar.tb-megamenu-button:active {
    box-shadow: none; }
  /* line 385, ../scss/header.scss */
  button.btn.btn-navbar.tb-megamenu-button i.icon-reorder:before {
    display: none; }

/* line 389, ../scss/header.scss */
.tb-megamenu .nav-collapse .dropdown-menu {
  background: #FFFFFF; }
  @media (min-width: 768px) and (max-width: 1024px) {
    /* line 389, ../scss/header.scss */
    .tb-megamenu .nav-collapse .dropdown-menu {
      display: none !important; } }
  @media (max-width: 768px) {
    /* line 389, ../scss/header.scss */
    .tb-megamenu .nav-collapse .dropdown-menu {
      display: none !important; } }

/* line 399, ../scss/header.scss */
.tb-megamenu .nav-collapse .nav > li.active > a:hover, .tb-megamenu .nav-collapse .nav > li.active > a:focus {
  background-color: #fff; }

@media (min-width: 400px) and (max-width: 999px) {
  /* line 402, ../scss/header.scss */
  .tb-megamenu .nav-collapse .nav {
    width: 352px;
    float: left;
    height: 39px; }
    /* line 407, ../scss/header.scss */
    .tb-megamenu .nav-collapse .nav li {
      float: left; }
      /* line 409, ../scss/header.scss */
      .tb-megamenu .nav-collapse .nav li a {
        font-size: 14px;
        padding: 9px 10px;
        border: 0; } }
@media (max-width: 768px) {
  /* line 402, ../scss/header.scss */
  .tb-megamenu .nav-collapse .nav {
    width: 100%;
    float: none; }
    /* line 419, ../scss/header.scss */
    .tb-megamenu .nav-collapse .nav li {
      float: left;
      clear: both;
      width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* line 426, ../scss/header.scss */
  .tb-megamenu .nav-collapse {
    top: 0px; } }
@media (min-width: 769px) and (max-width: 999px) {
  /* line 426, ../scss/header.scss */
  .tb-megamenu .nav-collapse {
    background: #FFFFFF;
    margin-top: 00;
    top: -11px; } }
@media (max-width: 768px) {
  /* line 426, ../scss/header.scss */
  .tb-megamenu .nav-collapse {
    top: 61px; } }

/*.tb-megamenu .nav-collapse {
  @include breakpoint(allMobile) {
    width: 100vw;
    top:69px;
  }
  
}*/
/* line 449, ../scss/header.scss */
.tb-megamenu {
  bottom: 0px;
  background-color: transparent; }
  @media (min-width: 768px) and (max-width: 1024px) {
    /* line 449, ../scss/header.scss */
    .tb-megamenu {
      bottom: 0px; } }
  /* line 460, ../scss/header.scss */
  .tb-megamenu .mega .mega-dropdown-menu {
    min-width: 960px;
    left: 0px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
  /* line 468, ../scss/header.scss */
  .tb-megamenu a.dropdown-toggle {
    background-color: #FFFFFF;
    color: #222222;
    border: none; }
  /* line 478, ../scss/header.scss */
  .tb-megamenu .nav li .dropdown a.dropdown-toggle {
    background-color: #FFFFFF;
    color: #222222;
    border: none; }
  /* line 484, ../scss/header.scss */
  .tb-megamenu .nav li a {
    color: #222222;
    background-color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    border-right: none; }
    /* line 490, ../scss/header.scss */
    .tb-megamenu .nav li a:hover {
      border-bottom: 4px solid #2ab5cd;
      color: #222222; }
  /* line 497, ../scss/header.scss */
  .tb-megamenu .nav li.active {
    border-bottom: 4px solid #2ab5cd; }
  /* line 501, ../scss/header.scss */
  .tb-megamenu .nav li.active:hover {
    border-bottom: none; }
  /* line 508, ../scss/header.scss */
  .tb-megamenu .nav .active a {
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #222222;
    border-right: none; }
    /* line 513, ../scss/header.scss */
    .tb-megamenu .nav .active a:hover {
      background-color: #FFFFFF;
      color: #222222;
      border-right: none; }
    /* line 518, ../scss/header.scss */
    .tb-megamenu .nav .active a:focus {
      background-color: #FFFFFF;
      color: #222222;
      border-right: none; }

/* line 528, ../scss/header.scss */
.tb-megamenu .tb-block .block-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: none; }

/* line 534, ../scss/header.scss */
.tb-megamenu .row-fluid [class*="span"] {
  margin-left: 0; }

/* line 539, ../scss/header.scss */
#region-menu .logo-img {
  margin-top: 15px; }
  /* line 540, ../scss/header.scss */
  #region-menu .logo-img a {
    position: relative;
    z-index: 110; }
  /* line 544, ../scss/header.scss */
  #region-menu .logo-img img {
    width: 174px;
    height: 70px;
    min-width: 174px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    /* line 539, ../scss/header.scss */
    #region-menu .logo-img {
      margin-right: 5px; } }
  @media (max-width: 768px) {
    /* line 539, ../scss/header.scss */
    #region-menu .logo-img {
      margin: 0; } }
  @media (max-width: 486px) {
    /* line 539, ../scss/header.scss */
    #region-menu .logo-img {
      margin: 0;
      width: 50px;
      overflow: hidden; } }
@media (min-width: 400px) and (max-width: 999px) {
  /* line 538, ../scss/header.scss */
  #region-menu {
    width: 548px;
    float: right;
    height: 95px; } }
@media (max-width: 768px) {
  /* line 538, ../scss/header.scss */
  #region-menu {
    width: 100%;
    height: 70px;
    margin: 0; } }
@media (max-width: 486px) {
  /* line 538, ../scss/header.scss */
  #region-menu {
    height: 70px; } }

/* line 576, ../scss/header.scss */
.region-menu-inner {
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1; }
  /* line 14, ../scss/_mixins.scss */
  .region-menu-inner:before, .region-menu-inner.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 20, ../scss/_mixins.scss */
  .region-menu-inner:after {
    clear: both; }
  /* line 578, ../scss/header.scss */
  .region-menu-inner .block-tb-megamenu-main-menu {
    float: left;
    top: 54px;
    position: relative; }
    @media (min-width: 400px) and (max-width: 999px) {
      /* line 578, ../scss/header.scss */
      .region-menu-inner .block-tb-megamenu-main-menu {
        float: left;
        top: 64px;
        position: relative; } }
    @media (max-width: 768px) {
      /* line 578, ../scss/header.scss */
      .region-menu-inner .block-tb-megamenu-main-menu {
        float: left;
        left: 0px;
        position: absolute;
        width: 100%;
        z-index: 100;
        top: 0px; } }
  /* line 598, ../scss/header.scss */
  .region-menu-inner #block-block-25 {
    float: right;
    margin-bottom: 6px;
    clear: right;
    position: relative; }
    @media (min-width: 768px) and (max-width: 1024px) {
      /* line 598, ../scss/header.scss */
      .region-menu-inner #block-block-25 {
        top: 0px;
        margin-top: 0px;
        margin-bottom: 6px; } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      /* line 609, ../scss/header.scss */
      .region-menu-inner #block-block-25 .number {
        font-size: 13.5px; } }
    @media (max-width: 768px) {
      /* line 598, ../scss/header.scss */
      .region-menu-inner #block-block-25 {
        float: right;
        margin-top: 0;
        position: absolute;
        top: 26px;
        right: 45px;
        width: 35px;
        z-index: 130; }
        /* line 621, ../scss/header.scss */
        .region-menu-inner #block-block-25 .number {
          font-size: 13px;
          display: none; } }
  /* line 628, ../scss/header.scss */
  .region-menu-inner #contact_us_menu {
    /**
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    contenteditable attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that are clearfixed.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    /**
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    */
    *zoom: 1; }
    /* line 14, ../scss/_mixins.scss */
    .region-menu-inner #contact_us_menu:before, .region-menu-inner #contact_us_menu.cf:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    /* line 20, ../scss/_mixins.scss */
    .region-menu-inner #contact_us_menu:after {
      clear: both; }
    /* line 630, ../scss/header.scss */
    .region-menu-inner #contact_us_menu > li {
      float: left;
      list-style: none;
      cursor: pointer; }
  /* line 636, ../scss/header.scss */
  .region-menu-inner span.number a {
    padding-right: .5em;
    color: #222222;
    font-weight: 600; }
  /* line 642, ../scss/header.scss */
  .region-menu-inner span.chat_with_us {
    display: inline-block;
    background-image: url(../images/chat.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    color: transparent; }
  /* line 651, ../scss/header.scss */
  .region-menu-inner ul.contact_us_menu_links {
    display: none;
    background-color: white;
    border: 1px solid #b2c3c9;
    right: 0px;
    width: 290px;
    list-style: none;
    position: absolute;
    z-index: 100;
    color: #222222;
    padding: 10px;
    margin-top: 6px; }
    @media (max-width: 768px) {
      /* line 651, ../scss/header.scss */
      .region-menu-inner ul.contact_us_menu_links {
        right: -45px; } }
    /* line 667, ../scss/header.scss */
    .region-menu-inner ul.contact_us_menu_links:before {
      border-bottom: 7px solid #b2c3c9;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      right: 5px;
      top: -7px; }
      @media (max-width: 768px) {
        /* line 667, ../scss/header.scss */
        .region-menu-inner ul.contact_us_menu_links:before {
          right: 58px; } }
    /* line 680, ../scss/header.scss */
    .region-menu-inner ul.contact_us_menu_links li {
      background-repeat: no-repeat;
      padding-left: 45px;
      text-decoration: none;
      font-size: .8em;
      font-weight: normal; }
      /* line 686, ../scss/header.scss */
      .region-menu-inner ul.contact_us_menu_links li a {
        padding: 12px 5px;
        text-align: left;
        width: 235px;
        display: inline-block;
        color: #222222; }
    /* line 694, ../scss/header.scss */
    .region-menu-inner ul.contact_us_menu_links .contact_us_menu_chat {
      background-image: url(../images/help_chat.png);
      background-position: left center; }
    /* line 698, ../scss/header.scss */
    .region-menu-inner ul.contact_us_menu_links .contact_us_menu_call {
      background-image: url(../images/help_call.png);
      background-position: 6px center; }
    /* line 702, ../scss/header.scss */
    .region-menu-inner ul.contact_us_menu_links .contact_us_menu_email {
      background-image: url(../images/help_email.png);
      background-position: left center; }
    /* line 706, ../scss/header.scss */
    .region-menu-inner ul.contact_us_menu_links .callus {
      background-image: url(../images/help_callus.png);
      background-position: 3px center;
      display: none; }
      @media (max-width: 768px) {
        /* line 706, ../scss/header.scss */
        .region-menu-inner ul.contact_us_menu_links .callus {
          display: block; } }
  /* line 716, ../scss/header.scss */
  .region-menu-inner li.contact_us_menu_chat_button:hover ul {
    display: block;
    z-index: 2000; }

/* line 723, ../scss/header.scss */
.branding-data {
  display: inline-flex; }

/* line 726, ../scss/header.scss */
#block-views-exp-display-products-page {
  min-width: 30%;
  display: inline-block;
  float: right; }

/*
.navigation .primary-menu {
 display: none;
}
*/
/* line 737, ../scss/header.scss */
#block-system-main-menu {
  display: none; }
  /* line 739, ../scss/header.scss */
  #block-system-main-menu h2 {
    display: none; }

/*
#zone-branding-wrapper .container-24 .grid-24 {
  @include breakpoint(allMoble) {
    width: 100%;
  }
}
*/
/* line 754, ../scss/header.scss */
.tb-megamenu .nav > li > a {
  padding: 6px 20px; }

/* line 758, ../scss/header.scss */
.tb-megamenu .nav-collapse .nav > li > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > a.active {
  color: #222222;
  border-color: #222222;
  border-bottom: 4px solid #2ab5cd; }

/* line 765, ../scss/header.scss */
.tb-megamenu .nav-collapse .nav > li > a,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: white;
  color: #222222; }

/* line 771, ../scss/header.scss */
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background-color: white !important; }

/* line 776, ../scss/header.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  color: #222222; }

/* line 781, ../scss/header.scss */
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  color: #222222; }

/* line 785, ../scss/header.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  border-color: #2ab5cd; }

/* line 789, ../scss/header.scss */
.tb-megamenu .row-fluid .span6 {
  width: 50%; }

/* line 793, ../scss/header.scss */
.tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child {
  margin-top: 1px;
  left: -195px; }

/* line 798, ../scss/header.scss */
.tb-megamenu .tb-block {
  margin-bottom: 0; }

/* line 803, ../scss/header.scss */
#block-views-exp-display-products-page .views-exposed-form .views-exposed-widgets {
  width: 100%; }

/* line 807, ../scss/header.scss */
.tb-megamenu .dropdown-menu {
    /*
      .tb-megamenu-block .block-views-promo-touts-block-1 span. a {}

      .tb-megamenu-block #block-block-28 p a.tout {}
    */ }
  /* line 809, ../scss/header.scss */
  .tb-megamenu .dropdown-menu .promo-tout-left a,
  .tb-megamenu .dropdown-menu .promo-tout-right a {
    padding: 14px 8px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px; }
  /* line 817, ../scss/header.scss */
  .tb-megamenu .dropdown-menu .promo-tout-left a,
  .tb-megamenu .dropdown-menu .promo-tout-left a:hover {
    background-color: #9badb4;
    color: #FFFFFF;
    text-decoration: none;
    border: none; }
  /* line 826, ../scss/header.scss */
  .tb-megamenu .dropdown-menu .promo-tout-left a:hover {
    background-color: #b2c3c9; }
  /* line 830, ../scss/header.scss */
  .tb-megamenu .dropdown-menu .promo-tout-right a,
  .tb-megamenu .dropdown-menu .promo-tout-right a:hover {
    background-color: #2ab5cd;
    color: #FFFFFF;
    text-decoration: none;
    border: none; }
  /* line 838, ../scss/header.scss */
  .tb-megamenu .dropdown-menu .promo-tout-right a:hover {
    background-color: #6ac1d6; }
  /* line 842, ../scss/header.scss */
  .tb-megamenu .dropdown-menu #tb-megamenu-column-1, .tb-megamenu .dropdown-menu #tb-megamenu-column-2 {
    margin-top: 1em; }
  /* line 846, ../scss/header.scss */
  .tb-megamenu .dropdown-menu #tb-megamenu-column-3, .tb-megamenu .dropdown-menu #tb-megamenu-column-4, .tb-megamenu .dropdown-menu #tb-megamenu-column-5, .tb-megamenu .dropdown-menu #tb-megamenu-column-6 {
    width: 25%; }

/* line 856, ../scss/header.scss */
.tb-megamenu .row-fluid + .row-fluid {
  padding: 10px 0px; }

/* mobile stuff goes under here */
@media (min-width: 400px) and (max-width: 999px) {
  /*
    #block-system-main-menu {
      display: block;
    }
    .menu-toggle {
      //display: none;
    }
    .block-tb-megamenu-main-menu {
      display: none;
    }
  */
 /*
 .tb-megamenu .nav-collapse .dropdown-menu {
    display: none !important;
  }
  .tb-megamenu .nav-collapse .nav > li > a {
    color: white;
    background: $blue_one;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    min-width: 600px;
    &:hover, {
      color: $black;
    }
  }
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    color: $black;
  }
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle  {
    margin-top: 22px;
  }
*/ }
/* line 897, ../scss/header.scss */
.block-shopping-cart-block .content {
  background-position: 4% 48%; }
