/* Include Default Variables & Mixins */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/* End Variables & Mixins */
/************************
 *  Manual Order
 ************************/
/* line 11, ../scss/manual_order.scss */
.manual-order-body {
  /* these apply to all ajax progress */ }
  /* line 14, ../scss/manual_order.scss */
  .manual-order-body .manual-order-message {
    padding-bottom: 20px; }
    /* line 17, ../scss/manual_order.scss */
    .manual-order-body .manual-order-message.forminfo-message {
      color: #2ab5cd; }
    /* line 21, ../scss/manual_order.scss */
    .manual-order-body .manual-order-message.invalid-message {
      color: #cc0000; }
  /* line 27, ../scss/manual_order.scss */
  .manual-order-body .ajax-progress {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  /* line 32, ../scss/manual_order.scss */
  .manual-order-body .ajax-progress .throbber {
    background: url("https://glnenews.s3.amazonaws.com/aophs/loader.GIF") no-repeat 0px 0px;
    /* tweak this according to your gif */
    float: left;
    height: 20px;
    /* tweak this according to your gif */
    width: 20px;
    /* tweak this according to your gif */
    margin-top: -11px;
    margin-left: 8px;
    position: absolute; }
  /* line 42, ../scss/manual_order.scss */
  .manual-order-body .description {
    margin-top: 10px;
    color: #cc0000; }
  /* line 48, ../scss/manual_order.scss */
  .manual-order-body .button-close {
    height: 12px;
    width: 12px;
    background: url("https://glnenews.s3.amazonaws.com/aophs/button_close_x.png") no-repeat;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
    float: right;
    margin-right: -32px;
    margin-top: 4px; }
  /* line 60, ../scss/manual_order.scss */
  .manual-order-body .button-close-initials {
    height: 12px;
    width: 12px;
    background: url("https://glnenews.s3.amazonaws.com/aophs/button_close_x.png") no-repeat;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
    float: right;
    margin-right: -18px;
    margin-top: 4px; }
  /* line 72, ../scss/manual_order.scss */
  .manual-order-body .button-close-initials:hover {
    opacity: 1; }
  /* line 76, ../scss/manual_order.scss */
  .manual-order-body .close-profile {
    margin-top: -20px; }
  /* line 80, ../scss/manual_order.scss */
  .manual-order-body .close-discount {
    margin-right: -18px; }
  /* line 84, ../scss/manual_order.scss */
  .manual-order-body .button-close:hover {
    opacity: 1; }
  /* line 89, ../scss/manual_order.scss */
  .manual-order-body .form-submit {
    margin: .5em 0;
    padding: .7em 2.5em;
    background: #2ab5cd;
    color: #FFF;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.29px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif; }
  /* line 106, ../scss/manual_order.scss */
  .manual-order-body .form-submit:hover {
    background-color: #6ac1d6; }
  /* line 110, ../scss/manual_order.scss */
  .manual-order-body #shipping-options-block {
    position: relative;
    padding-bottom: 40px; }
    /* line 116, ../scss/manual_order.scss */
    .manual-order-body #shipping-options-block .form-radios .form-item {
      margin: 0px;
      position: relative;
      float: left; }
    /* line 122, ../scss/manual_order.scss */
    .manual-order-body #shipping-options-block .shipping-options-wrapper {
      position: relative;
      float: left; }
    /* line 127, ../scss/manual_order.scss */
    .manual-order-body #shipping-options-block .loading-block {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 99;
      background-color: white;
      opacity: 0.5;
      display: none;
      padding-right: 10px; }
    /* line 139, ../scss/manual_order.scss */
    .manual-order-body #shipping-options-block .form-item-shipping-service {
      cursor: pointer;
      position: relative;
      font-size: 14px;
      padding-left: 10px;
      padding-top: 20px !important;
      padding-bottom: 8px !important;
      border-bottom: 1px solid #f7f7f7;
      width: 100%;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out; }
      /* line 148, ../scss/manual_order.scss */
      .manual-order-body #shipping-options-block .form-item-shipping-service:hover {
        background-color: #f7f7f7; }
      /* line 152, ../scss/manual_order.scss */
      .manual-order-body #shipping-options-block .form-item-shipping-service.active {
        color: #2ab5cd;
        background-color: #f7f7f7; }
    /* line 163, ../scss/manual_order.scss */
    .manual-order-body #shipping-options-block .form-radio {
      float: left; }
    /* line 167, ../scss/manual_order.scss */
    .manual-order-body #shipping-options-block label {
      vertical-align: middle;
      font-size: 14px;
      cursor: pointer;
      float: left;
      width: 94%; }
      /* line 174, ../scss/manual_order.scss */
      .manual-order-body #shipping-options-block label .shipping-option-item {
        float: left;
        width: 100%; }
      /* line 179, ../scss/manual_order.scss */
      .manual-order-body #shipping-options-block label .shipping-option-logo {
        width: 30px;
        float: left;
        padding-left: 12px;
        margin-top: -3px; }
      /* line 186, ../scss/manual_order.scss */
      .manual-order-body #shipping-options-block label .shipping-option-price {
        float: right;
        text-align: right;
        width: 10%;
        position: relative; }
      /* line 193, ../scss/manual_order.scss */
      .manual-order-body #shipping-options-block label .shipping-option-description {
        width: 50%;
        float: left;
        padding-left: 8px; }
    /* line 200, ../scss/manual_order.scss */
    .manual-order-body #shipping-options-block .form-radios .form-item {
      padding-bottom: 10px; }
  /* line 207, ../scss/manual_order.scss */
  .manual-order-body #search-promo-block .form-submit {
    background-color: #f0f3f4;
    color: #2ab5cd;
    padding: 14px;
    padding-left: 26px;
    padding-right: 26px; }
    /* line 213, ../scss/manual_order.scss */
    .manual-order-body #search-promo-block .form-submit:hover {
      background-color: #e1e6e8; }
  /* line 220, ../scss/manual_order.scss */
  .manual-order-body .btn-gray-background {
    background: #f0f3f4;
    color: #2ab5cd;
    text-align: center;
    padding: 2px 8px;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
    display: inline-block;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    padding: 8px;
    min-width: 130px;
    margin-left: 10px;
    vertical-align: bottom;
    cursor: pointer; }
  /* line 230, ../scss/manual_order.scss */
  .manual-order-body .btn-gray-background:hover {
    background-color: #e1e6e8; }
  /* line 235, ../scss/manual_order.scss */
  .manual-order-body .breadcrumb {
    display: none; }
  /* line 240, ../scss/manual_order.scss */
  .manual-order-body .zone-content-wrapper {
    padding-top: 40px; }
  /* line 244, ../scss/manual_order.scss */
  .manual-order-body h3 {
    font-style: normal;
    margin-bottom: 8px; }
  /* line 249, ../scss/manual_order.scss */
  .manual-order-body h4 {
    margin-bottom: 0px; }
  /* line 255, ../scss/manual_order.scss */
  .manual-order-body label {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    padding-bottom: 5px; }
  /* line 262, ../scss/manual_order.scss */
  .manual-order-body select {
    width: 100%;
    border: 1px solid #e2e2e2;
    height: 35px; }
  /* line 268, ../scss/manual_order.scss */
  .manual-order-body .form-required {
    display: none; }
  /* line 272, ../scss/manual_order.scss */
  .manual-order-body .input-group {
    float: left;
    clear: both;
    width: 100%; }
    /* line 277, ../scss/manual_order.scss */
    .manual-order-body .input-group .form-item {
      margin-top: 0px !important; }
  /* line 282, ../scss/manual_order.scss */
  .manual-order-body .input-item {
    float: left;
    width: 30%;
    margin-right: 10px; }
  /* line 289, ../scss/manual_order.scss */
  .manual-order-body .dummy-link {
    color: #2ab5cd;
    cursor: pointer;
    text-decoration: none; }
  /* line 295, ../scss/manual_order.scss */
  .manual-order-body .dummy-link:hover {
    color: #6ac1d6;
    text-decoration: underline; }
  /* line 302, ../scss/manual_order.scss */
  .manual-order-body .receipt-profile-wrapper {
    font-size: 13px;
    padding: 22px;
    line-height: 20px; }
  /* line 308, ../scss/manual_order.scss */
  .manual-order-body .customer-profile-wrapper {
    padding: 30px;
    background-color: #f7f7f7;
    margin: 0px;
    width: 90%;
    min-height: 126px; }
    /* line 315, ../scss/manual_order.scss */
    .manual-order-body .customer-profile-wrapper.ajax-loading {
      text-align: center;
      padding-top: 8%;
      opacity: 0.7;
      font: "Open Sans", sans-serif;
      background-color: white; }
      /* line 321, ../scss/manual_order.scss */
      .manual-order-body .customer-profile-wrapper.ajax-loading p {
        margin-top: 15px; }
  /* line 326, ../scss/manual_order.scss */
  .manual-order-body .customer-profile-wrapper h3 {
    margin-bottom: 0px; }
  /* line 329, ../scss/manual_order.scss */
  .manual-order-body .customer-profile-wrapper p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 10px; }
  /* line 336, ../scss/manual_order.scss */
  .manual-order-body select.error {
    border-color: #cc0000 !important;
    border-width: 1px; }
  /* line 342, ../scss/manual_order.scss */
  .manual-order-body .form-text {
    font-size: 14px !important;
    padding: 10px;
    height: 36px;
    vertical-align: middle;
    font: 13px/1.6 'open sans', sans-serif;
    color: #333;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    margin: 0; }
    /* line 356, ../scss/manual_order.scss */
    .manual-order-body .form-text.error {
      border-color: #cc0000 !important;
      background-image: url("https://glnenews.s3.amazonaws.com/aophs/forminvalid.jpg") !important;
      background-repeat: no-repeat !important;
      background-position: 98% 50%;
      border-width: 1px; }
    /* line 364, ../scss/manual_order.scss */
    .manual-order-body .form-text.valid {
      background-image: url("https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg") !important;
      background-repeat: no-repeat !important;
      background-position: 98% 50%;
      border-width: 1px;
      border-color: #00cc00 !important; }
  /* line 374, ../scss/manual_order.scss */
  .manual-order-body .forminfo {
    border-color: #2ab5cd !important;
    background-repeat: no-repeat !important;
    background-position: 98% 50%;
    background-image: url("https://glnenews.s3.amazonaws.com/aophs/forminfo.jpg") !important;
    border-width: 1px;
    color: #2ab5cd !important; }
  /* line 385, ../scss/manual_order.scss */
  .manual-order-body .valid.form-select {
    background-image: url("https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: 98% 50%;
    border-width: 1px;
    border-color: #00cc00 !important; }
  /* line 395, ../scss/manual_order.scss */
  .manual-order-body select .valid {
    border-color: #00cc00 !important;
    background-image: url("https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: 98% 50%;
    border-width: 1px; }
  /* line 403, ../scss/manual_order.scss */
  .manual-order-body select .forminfo {
    border-color: #2ab5cd !important;
    background-repeat: no-repeat !important;
    background-position: 98% 50%;
    border-width: 1px; }
  /* line 413, ../scss/manual_order.scss */
  .manual-order-body #billing-shipping-address-block {
    display: none; }
    /* line 417, ../scss/manual_order.scss */
    .manual-order-body #billing-shipping-address-block .description {
      color: #6ac1d6; }
      /* line 419, ../scss/manual_order.scss */
      .manual-order-body #billing-shipping-address-block .description span {
        font: "Lora", serif !important;
        font-style: italic;
        color: #2ab5cd; }
    /* line 426, ../scss/manual_order.scss */
    .manual-order-body #billing-shipping-address-block #shipping-address-wrapper {
      padding-top: 20px; }
  /* line 432, ../scss/manual_order.scss */
  .manual-order-body .form-text:focus {
    border-color: #b2c3c9; }
  /* line 436, ../scss/manual_order.scss */
  .manual-order-body .search-form .form-text {
    font: "Open Sans", sans-serif;
    padding: 12px 12px 12px 44px;
    height: 46px;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    margin: 0;
    background: url("https://glnenews.s3.amazonaws.com/aophs/search.png") no-repeat 15px 15px;
    width: 100%; }
    /* line 448, ../scss/manual_order.scss */
    .manual-order-body .search-form .form-text.throbbing {
      background: url("https://glnenews.s3.amazonaws.com/aophs/loader.GIF") no-repeat 15px 15px; }
  /* line 454, ../scss/manual_order.scss */
  .manual-order-body .ajax-content {
    -moz-animation-name: ajaxContent;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;
    -webkit-animation-name: ajaxContent;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;
    animation-name: ajaxContent;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s; }
@-moz-keyframes ajaxContent {
  0% {
    color: #2ab5cd; }
  100% {
    color: inherit; } }
@-webkit-keyframes ajaxContent {
  0% {
    color: #2ab5cd; }
  100% {
    color: inherit; } }
@keyframes ajaxContent {
  0% {
    color: #2ab5cd; }
  100% {
    color: inherit; } }
  /* line 497, ../scss/manual_order.scss */
  .manual-order-body .manual-order-next-step {
    clear: both;
    padding-top: 20px; }
  /* line 502, ../scss/manual_order.scss */
  .manual-order-body .order_receipt {
    font-family: "Open Sans", sans-serif;
    float: right;
    background-color: #f7f7f7;
    width: 100%;
    position: relative; }
    /* line 511, ../scss/manual_order.scss */
    .manual-order-body .order_receipt.ajax-loading .receipt_header {
      background-repeat: no-repeat;
      background-image: url("https://glnenews.s3.amazonaws.com/aophs/medium-gray-loader.gif");
      background-size: 20px 20px;
      background-position: 91% 23px; }
    /* line 519, ../scss/manual_order.scss */
    .manual-order-body .order_receipt.ajax-loading .item-total-val, .manual-order-body .order_receipt.ajax-loading #item-discount-val, .manual-order-body .order_receipt.ajax-loading .order-total-amt {
      color: #9badb4;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
  /* line 529, ../scss/manual_order.scss */
  .manual-order-body .order_receipt a {
    color: #eee;
    text-decoration: none; }
  /* line 534, ../scss/manual_order.scss */
  .manual-order-body .receipt_header {
    padding: 20px;
    background-color: #e1e6e8;
    clear: both; }
  /* line 540, ../scss/manual_order.scss */
  .manual-order-body .receipt_header .dummy-link {
    font-size: 12px;
    vertical-align: bottom;
    float: right;
    margin-top: 5px;
    font-weight: normal; }
  /* line 548, ../scss/manual_order.scss */
  .manual-order-body .receipt_items {
    margin-bottom: 15px; }
  /* line 552, ../scss/manual_order.scss */
  .manual-order-body #items_count {
    float: left;
    padding: 0px;
    font-size: 13px;
    text-align: left;
    padding-top: 2px; }
  /* line 560, ../scss/manual_order.scss */
  .manual-order-body .receipt_items ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    max-height: 600px;
    overflow: scroll-y; }
  /* line 568, ../scss/manual_order.scss */
  .manual-order-body .search-form {
    margin-bottom: 0px; }
  /* line 572, ../scss/manual_order.scss */
  .manual-order-body .form-item-billing-same-same-billing label {
    vertical-align: middle;
    margin-left: 8px;
    margin-top: 2px; }
  /* line 579, ../scss/manual_order.scss */
  .manual-order-body .panel-separator {
    display: none; }
  /* line 585, ../scss/manual_order.scss */
  .manual-order-body #shipping-options-block,
  .manual-order-body #sales-rep-association-block,
  .manual-order-body .customer-profile,
  .manual-order-body .manual-order-next-step,
  .manual-order-body #search-promo-block,
  .manual-order-body #customer-profile-block,
  .manual-order-body #edit-customer-block,
  .manual-order-body #create-customer-block,
  .manual-order-body #order-receipt-block {
    display: none; }
  /* line 597, ../scss/manual_order.scss */
  .manual-order-body #create-customer-button {
    padding: 20px;
    border-top: 1px solid #e1e6e8;
    background-color: #f7f7f7;
    color: #2ab5cd;
    text-align: center;
    font-weight: bold;
    font: "Open Sans", sans-serif;
    cursor: pointer; }
  /* line 608, ../scss/manual_order.scss */
  .manual-order-body #create-customer-button:hover {
    background-color: #f0f3f4; }
  /* line 612, ../scss/manual_order.scss */
  .manual-order-body .line-item-wrapper {
    width: 100%;
    float: left;
    font: "Open Sans", sans-serif; }
  /* line 618, ../scss/manual_order.scss */
  .manual-order-body .line-item-image {
    width: 12%;
    float: left;
    padding-right: 10px;
    padding-left: 5px; }
  /* line 625, ../scss/manual_order.scss */
  .manual-order-body .line-item-description {
    width: 60%;
    float: left;
    font-size: 12px; }
  /* line 631, ../scss/manual_order.scss */
  .manual-order-body .line-item-price {
    width: 15%;
    float: right;
    font-weight: normal;
    font-size: 12px;
    text-align: right; }
  /* line 639, ../scss/manual_order.scss */
  .manual-order-body .line-item-sku {
    font-size: 10px;
    color: #9badb4; }
  /* line 644, ../scss/manual_order.scss */
  .manual-order-body #autocomplete {
    margin-top: 180px;
    display: block;
    border: 1px solid #e1e6e8;
    border-top: none;
    margin: 0px 20px 0 0;
    z-index: 50;
    width: 528px;
    cursor: pointer;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: static;
    clear: both; }
  /* line 659, ../scss/manual_order.scss */
  .manual-order-body #autocomplete li.selected {
    color: #2ab5cd;
    background: none; }
  /* line 664, ../scss/manual_order.scss */
  .manual-order-body #autocomplete li {
    white-space: normal;
    margin: 0;
    cursor: pointer;
    padding-bottom: 0px; }
  /* line 671, ../scss/manual_order.scss */
  .manual-order-body #autocomplete ul.links,
  .manual-order-body #autocomplete ul.links li {
    background: none; }
  /* line 675, ../scss/manual_order.scss */
  .manual-order-body #autocomplete p {
    margin: 0; }
  /* line 679, ../scss/manual_order.scss */
  .manual-order-body .dropdown-results-item {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font: "Open Sans", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #f0f3f4; }
    /* line 686, ../scss/manual_order.scss */
    .manual-order-body .dropdown-results-item strong {
      font-size: 16px;
      text-transform: uppercase; }
    /* line 691, ../scss/manual_order.scss */
    .manual-order-body .dropdown-results-item .line-item-description {
      font-size: 14px;
      width: 70%;
      padding-left: 0px; }
    /* line 697, ../scss/manual_order.scss */
    .manual-order-body .dropdown-results-item .line-item-title {
      font-size: 15px;
      font-weight: bold; }
    /* line 702, ../scss/manual_order.scss */
    .manual-order-body .dropdown-results-item .button-close {
      display: none; }
    /* line 706, ../scss/manual_order.scss */
    .manual-order-body .dropdown-results-item .line-item-price {
      font-size: 14px;
      width: 10%;
      padding-left: 10px;
      text-align: right; }
    /* line 713, ../scss/manual_order.scss */
    .manual-order-body .dropdown-results-item.product {
      padding-left: 0px;
      float: left; }
    /* line 720, ../scss/manual_order.scss */
    .manual-order-body .dropdown-results-item:hover {
      color: #2ab5cd; }
      /* line 722, ../scss/manual_order.scss */
      .manual-order-body .dropdown-results-item:hover img {
        opacity: 0.8; }
  /* line 730, ../scss/manual_order.scss */
  .manual-order-body .product_list li {
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #e7eaeb;
    background-color: #fff;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    clear: both;
    overflow: auto; }
    /* line 740, ../scss/manual_order.scss */
    .manual-order-body .product_list li .line-item-description {
      width: 55%;
      float: left;
      font-size: 12px; }
    /* line 746, ../scss/manual_order.scss */
    .manual-order-body .product_list li .line-item-price {
      text-align: right; }
    /* line 750, ../scss/manual_order.scss */
    .manual-order-body .product_list li .line-item-wrapper {
      width: 90%;
      padding-right: 0px; }
    /* line 755, ../scss/manual_order.scss */
    .manual-order-body .product_list li .button-close {
      float: left;
      margin-right: 0px;
      margin-left: 12px;
      padding-right: 0px; }
    /* line 762, ../scss/manual_order.scss */
    .manual-order-body .product_list li.line-item-new {
      display: none;
      border-color: #f6fff6; }
  /* line 768, ../scss/manual_order.scss */
  .manual-order-body .payment_button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #2ab5cd;
    text-align: center;
    bottom: 0px;
    margin: auto;
    float: left;
    width: 100%;
    display: none;
    font-family: 'Open Sans', sans-serif; }
  /* line 782, ../scss/manual_order.scss */
  .manual-order-body .payment_button:hover {
    background-color: #6ac1d6; }
  /* line 786, ../scss/manual_order.scss */
  .manual-order-body .receipt_total {
    text-align: right;
    padding: 20px;
    padding-right: 30px;
    padding-top: 0px;
    color: #000;
    padding-bottom: 20px;
    float: right;
    clear: both; }
  /* line 797, ../scss/manual_order.scss */
  .manual-order-body .order-total-amt {
    font-weight: bold; }
  /* line 801, ../scss/manual_order.scss */
  .manual-order-body .item-total {
    width: 100%;
    text-align: right;
    font-size: 13px;
    clear: both; }
  /* line 808, ../scss/manual_order.scss */
  .manual-order-body .item-total-label {
    float: right; }
  /* line 812, ../scss/manual_order.scss */
  .manual-order-body .item-total-val {
    float: right;
    min-width: 70px;
    padding-left: 5px; }
  /* line 818, ../scss/manual_order.scss */
  .manual-order-body .final-total {
    font-size: 16px;
    padding-top: 5px; }
  /* line 823, ../scss/manual_order.scss */
  .manual-order-body .discount-item {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    background-color: #f0f3f4;
    color: #2ab5cd;
    font-size: 13px;
    clear: both; }
  /* line 832, ../scss/manual_order.scss */
  .manual-order-body #discount-total {
    color: #f37d7c;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  /* line 844, ../scss/manual_order.scss */
  .manual-order-body #search-customer-block .form-item, .manual-order-body #search-product-block .form-item {
    margin-bottom: 0px; }
  /* line 850, ../scss/manual_order.scss */
  .manual-order-body .manual-order-form-block {
    clear: both;
    padding-bottom: 40px; }
  /* line 855, ../scss/manual_order.scss */
  .manual-order-body #sales-rep-initials-input input {
    width: 118px;
    min-width: 118px; }
