/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/* End Variables & Mixins */
/*******
 * Product detail page 
 *******/
/* line 14, ../scss/product.scss */
.aop-product-detail-page-wrapper {
  width: 100%;
  float: left;
  margin-top: 2em; }
  /* line 20, ../scss/product.scss */
  .aop-product-detail-page-wrapper .aop-product-detail-page-header {
    width: 100%;
    float: left; }
    /* line 23, ../scss/product.scss */
    .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-image-wrapper {
      width: 25%;
      float: left;
      text-align: center; }
      @media (min-width: 400px) and (max-width: 999px) {
        /* line 23, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-image-wrapper {
          width: 100%; }
          /* line 26, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-image-wrapper img {
            width: 200px;
            min-width: 30%;
            margin-top: 0; } }
      @media (max-width: 768px) {
        /* line 23, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-image-wrapper {
          width: 100%; }
          /* line 34, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-image-wrapper img {
            width: 200px;
            min-width: 30%;
            margin-top: 0; } }
      /* line 43, ../scss/product.scss */
      .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-image-wrapper img {
        max-width: 90%; }
    /* line 47, ../scss/product.scss */
    .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper {
      float: left;
      width: 75%; }
      @media (min-width: 400px) and (max-width: 999px) {
        /* line 47, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper {
          width: 100%; } }
      @media (max-width: 768px) {
        /* line 47, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper {
          width: 100%; } }
      /* line 56, ../scss/product.scss */
      .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews {
        float: left;
        margin-bottom: .8em; }
        /* line 60, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-label {
          display: inline; }
        /* line 63, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-items {
          display: inline-block; }
          /* line 65, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-items .fivestar-outline {
            display: inline;
            float: left;
            top: 4px;
            position: relative;
            padding-right: 4px; }
            /* line 71, ../scss/product.scss */
            .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-items .fivestar-outline .fivestar-widget {
              display: inline-block;
              float: left;
              top: 4px;
              padding-right: 6px;
              position: relative; }
          /* line 79, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-items .description {
            position: relative;
            top: 2px;
            display: inline-block;
            float: left; }
        @media (min-width: 400px) and (max-width: 999px) {
          /* line 89, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-title h2 {
            font-size: 20px;
            margin-bottom: 0; } }
        @media (max-width: 768px) {
          /* line 97, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-title h2 {
            font-size: 20px;
            margin-bottom: 0; }
          /* line 103, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-label {
            display: inline; }
          /* line 106, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-items {
            display: inline-block; }
            /* line 108, ../scss/product.scss */
            .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-items .fivestar-outline {
              display: inline;
              float: left;
              top: 4px;
              position: relative;
              padding-right: 4px; }
            /* line 115, ../scss/product.scss */
            .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-title-rating-reviews .aop-product-rate-it .field-items .description {
              position: relative;
              top: 2px;
              float: left; } }
      /* line 124, ../scss/product.scss */
      .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-description-wrapper {
        width: 60%;
        float: left; }
        @media (max-width: 768px) {
          /* line 124, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-description-wrapper {
            width: 100%; } }
        /* line 131, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .aop-product-description-wrapper .aop-product-title h2 {
          color: #6ac1d6; }
      /* line 136, ../scss/product.scss */
      .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart {
        width: 38%;
        float: right; }
        /* line 139, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart table.commerce-price-savings-formatter-prices {
          margin: 0 auto; }
        @media (min-width: 400px) and (max-width: 999px) {
          /* line 136, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart {
            width: 38%;
            margin-top: 6px; } }
        @media (max-width: 768px) {
          /* line 136, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart {
            width: 100%;
            text-align: center; } }
        /* line 151, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart .field-name-field-product {
          margin: 0;
          padding: 0; }
          /* line 154, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart .field-name-field-product .field-label {
            display: none; }
        /* line 159, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart .price-label {
          font-size: .5em;
          padding-top: 1em;
          padding-bottom: 1em; }
        /* line 164, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart .price-amount {
          font-size: .5em;
          padding-top: 1em;
          padding-bottom: 1em;
          color: #6ac1d6; }
        /* line 170, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart .aop-product-sku {
          color: #9badb4;
          font-size: 0.9em;
          margin-bottom: 0.5em; }
        /* line 175, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart form.commerce-add-to-cart {
          color: #6ac1d6;
          padding-top: 0;
          padding-bottom: 39px; }
          /* line 179, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart form.commerce-add-to-cart .form-submit {
            margin: 0;
            background: #2ab5cd url("../images/cart-white.png") no-repeat;
            background-position: 90% 50%;
            border-radius: 3px;
            text-transform: uppercase;
            border-radius: 3px; }
            /* line 186, ../scss/product.scss */
            .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart form.commerce-add-to-cart .form-submit:hover {
              background: #6ac1d6 url("../images/cart-white.png") no-repeat;
              background-position: 90% 50%; }
          /* line 191, ../scss/product.scss */
          .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart form.commerce-add-to-cart .form-item-quantity {
            width: 200px;
            margin: 0 auto; }
            /* line 194, ../scss/product.scss */
            .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart form.commerce-add-to-cart .form-item-quantity label {
              width: 130px;
              padding-top: 4px;
              margin-right: 5px;
              float: left; }
            @media (max-width: 768px) {
              /* line 191, ../scss/product.scss */
              .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart form.commerce-add-to-cart .form-item-quantity {
                width: 200px;
                margin: 0 auto; }
                /* line 203, ../scss/product.scss */
                .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-and-price-wrapper .single-product-cart form.commerce-add-to-cart .form-item-quantity label {
                  width: 130px;
                  padding-top: 4px;
                  margin-right: 5px; } }
  /* line 215, ../scss/product.scss */
  .aop-product-detail-page-wrapper .aop-product-spec-wrapper {
    margin-top: 2em;
    float: left;
    width: 100%; }
    /* line 220, ../scss/product.scss */
    .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-spec {
      background-color: #f0f3f4;
      border: 6px solid #e1e6e8;
      box-sizing: border-box;
      float: left;
      width: 70%; }
      @media (min-width: 400px) and (max-width: 999px) {
        /* line 220, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-spec {
          width: 100%; } }
      @media (max-width: 768px) {
        /* line 220, ../scss/product.scss */
        .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-spec {
          width: 100%; } }

/* line 238, ../scss/product.scss */
.page-products .view-display-products li header h2, .page-family-entertainment .view-display-products li header h2 {
  height: 28px;
  line-height: 18px;
  margin: 10px 0;
  padding: 0; }
  /* line 243, ../scss/product.scss */
  .page-products .view-display-products li header h2 a, .page-family-entertainment .view-display-products li header h2 a {
    font-size: 16px;
    font-weight: 600; }

/* line 251, ../scss/product.scss */
.commerce-price-savings-formatter-prices-down .commerce-price-savings-formatter-price .price-amount {
  color: #222222; }

/* line 255, ../scss/product.scss */
.commerce-price-savings-formatter-prices-down .commerce-price-savings-formatter-savings .price-amount {
  color: #222222; }

/* line 261, ../scss/product.scss */
.single-product-recommended-carousel .jcarousel-skin-default .jcarousel-prev {
  margin-top: 32px;
  margin-left: -50px; }
/* line 265, ../scss/product.scss */
.single-product-recommended-carousel .jcarousel-skin-default .jcarousel-next {
  margin-top: 32px;
  margin-right: -49px; }
/* line 270, ../scss/product.scss */
.single-product-recommended-carousel .view-recommended-products ul {
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1; }
  /* line 14, ../scss/_mixins.scss */
  .single-product-recommended-carousel .view-recommended-products ul:before, .single-product-recommended-carousel .view-recommended-products ul.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 20, ../scss/_mixins.scss */
  .single-product-recommended-carousel .view-recommended-products ul:after {
    clear: both; }
  /* line 272, ../scss/product.scss */
  .single-product-recommended-carousel .view-recommended-products ul li {
    height: 13em;
    border: none; }

/* line 279, ../scss/product.scss */
.jcarousel-skin-default .jcarousel-container-horizontal {
  height: auto;
  margin: 0; }

/* line 287, ../scss/product.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-image-wrapper {
  width: 30%;
  float: left;
  text-align: center; }
  /* line 293, ../scss/product.scss */
  .aop-product-carousel-listing-wrapper .aop-product-carousel-image-wrapper img {
    max-width: 100%; }
/* line 299, ../scss/product.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-item-details-wrapper {
  width: 70%;
  float: left;
  text-align: center; }
/* line 305, ../scss/product.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-item-title {
  color: #6ac1d6;
  font-weight: bold;
  width: 100%;
  float: left; }
  /* line 310, ../scss/product.scss */
  .aop-product-carousel-listing-wrapper .aop-product-carousel-item-title h2 {
    font-size: 1em;
    height: 3em; }
    /* line 313, ../scss/product.scss */
    .aop-product-carousel-listing-wrapper .aop-product-carousel-item-title h2 a {
      color: #6ac1d6;
      font-weight: bold; }
/* line 320, ../scss/product.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-item-sku {
  margin-bottom: 1em; }
/* line 326, ../scss/product.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-item-price .commerce-price-savings-formatter-prices tr {
  border: none; }
  /* line 328, ../scss/product.scss */
  .aop-product-carousel-listing-wrapper .aop-product-carousel-item-price .commerce-price-savings-formatter-prices tr td {
    font-size: .4em; }

/* line 339, ../scss/product.scss */
.single-product-spec-calltoaction {
  float: left;
  margin: 2%;
  width: 42%; }
  /* line 343, ../scss/product.scss */
  .single-product-spec-calltoaction ul {
    margin: 0;
    padding: 0px;
    width: 100%; }
    /* line 347, ../scss/product.scss */
    .single-product-spec-calltoaction ul li {
      display: inline-block;
      background-position: 0px 15px;
      border-top: 1px solid #9badb4;
      list-style: none outside none;
      margin: 0px 0.5em 0 0;
      padding: 10px 0 4px;
      width: 100%;
      font-size: .9em; }
      /* line 356, ../scss/product.scss */
      .single-product-spec-calltoaction ul li a {
        color: #2ab5cd;
        padding: .5em 0 .5em 3.5em;
        float: left; }
    /* line 362, ../scss/product.scss */
    .single-product-spec-calltoaction ul li.mail-icon {
      border-top: none; }
    /* line 365, ../scss/product.scss */
    .single-product-spec-calltoaction ul li.forward_link {
      border-top: none;
      padding-top: 0;
      background-position: 0 5px; }
    /* line 370, ../scss/product.scss */
    .single-product-spec-calltoaction ul li.pdf-icon {
      background-position: 0px 11px !important; }

/* line 379, ../scss/product.scss */
.page-products .view-display-products li {
  float: none !important; }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
  /* line 386, ../scss/product.scss */
  .page-products .field-name-field-promo-tout-background-imag img {
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
  /* line 392, ../scss/product.scss */
  section#block-custom-product-facets-facets-results-header {
    margin-left: -10px;
    margin-right: -10px; } }

/* line 401, ../scss/product.scss */
section.field_product_field_grade_level_name,
section.field_collection,
section.field_product_field_subject_name {
  margin-bottom: 1em; }
  /* line 405, ../scss/product.scss */
  section.field_product_field_grade_level_name h2,
  section.field_collection h2,
  section.field_product_field_subject_name h2 {
    border-bottom: 1px solid #9badb4;
    color: #9badb4;
    font-weight: bold;
    margin-bottom: .5em;
    padding-bottom: .5em;
    font-size: 14px; }

/* line 415, ../scss/product.scss */
ul#facetapi-facet-search-apiproduct-display-block-field-productfield-grade-levelname li {
  cursor: pointer;
  float: left;
  font-weight: bold;
  height: 2em;
  margin: 3px;
  min-width: 38px;
  text-align: center;
  width: 17%;
  list-style: none outside none;
  text-decoration: none; }
  /* line 427, ../scss/product.scss */
  ul#facetapi-facet-search-apiproduct-display-block-field-productfield-grade-levelname li a {
    display: block;
    background-color: white;
    border: 1px solid #9badb4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    line-height: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 38px;
    color: #9badb4; }
    /* line 438, ../scss/product.scss */
    ul#facetapi-facet-search-apiproduct-display-block-field-productfield-grade-levelname li a:hover {
      background-color: #9badb4;
      border: 1px solid #9badb4;
      color: white; }
    /* line 443, ../scss/product.scss */
    ul#facetapi-facet-search-apiproduct-display-block-field-productfield-grade-levelname li a.facetapi-active {
      background-color: #9badb4;
      color: white;
      cursor: alias; }
    /* line 448, ../scss/product.scss */
    ul#facetapi-facet-search-apiproduct-display-block-field-productfield-grade-levelname li a.aophs-facetapi-grey-out {
      background-color: #f0f3f4;
      border: 1px solid #e1e6e8;
      color: white;
      cursor: default; }

/* line 458, ../scss/product.scss */
.single-product-reviews {
  width: 70%; }
  /* line 460, ../scss/product.scss */
  .single-product-reviews .comment-wrapper .title {
    border-bottom: 1px solid #9badb4; }
  /* line 463, ../scss/product.scss */
  .single-product-reviews header h3 {
    margin: 0px; }
  /* line 466, ../scss/product.scss */
  .single-product-reviews .aop-node-comments-wrapper {
    margin-top: 1em; }
  /* line 469, ../scss/product.scss */
  .single-product-reviews article {
    border-bottom: 1px solid #f0f3f4; }
  /* line 472, ../scss/product.scss */
  .single-product-reviews article:last-child {
    border-bottom: none; }
  /* line 475, ../scss/product.scss */
  .single-product-reviews article.comment footer.comment-submitted {
    font-weight: bold;
    border-bottom: none; }
  /* line 479, ../scss/product.scss */
  .single-product-reviews article.comment .field-name-comment-body {
    margin-top: 10px;
    padding: 0px; }

/* line 485, ../scss/product.scss */
.aop-node-comments-left {
  width: 20%;
  float: left; }
  /* line 488, ../scss/product.scss */
  .aop-node-comments-left h4 {
    margin-bottom: 0.2em;
    font-size: 1.2em; }

/* line 494, ../scss/product.scss */
.aop-node-comments-right {
  width: 80%;
  float: left; }

/* line 499, ../scss/product.scss */
.single-product-recommended {
  width: 70%;
  margin-top: 2em; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 499, ../scss/product.scss */
    .single-product-recommended {
      width: 100%; }
      /* line 504, ../scss/product.scss */
      .single-product-recommended h2 {
        margin-top: 1em;
        font-size: 22px; } }
  @media (max-width: 768px) {
    /* line 499, ../scss/product.scss */
    .single-product-recommended {
      width: 100%; }
      /* line 511, ../scss/product.scss */
      .single-product-recommended h2 {
        margin-top: .9em;
        font-size: 20px; } }
  /* line 516, ../scss/product.scss */
  .single-product-recommended .single-product-recommended-header {
    border-bottom: 1px solid #b2c3c9;
    margin-bottom: .5em; }
    /* line 519, ../scss/product.scss */
    .single-product-recommended .single-product-recommended-header .single-product-recommended-header-title {
      float: left;
      display: inline-block; }
    /* line 524, ../scss/product.scss */
    .single-product-recommended .single-product-recommended-header .single-product-recommended-header-action {
      color: #2ab5cd;
      cursor: pointer;
      text-transform: uppercase;
      float: right;
      font-weight: bold;
      display: inline-block;
      line-height: 3em; }
  /* line 534, ../scss/product.scss */
  .single-product-recommended .single-product-recommended-carousel {
    height: 200px;
    width: 100%; }
    /* line 537, ../scss/product.scss */
    .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal {
      width: 80%; }
      /* line 539, ../scss/product.scss */
      .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal {
        width: 100%; }
        /* line 543, ../scss/product.scss */
        .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li {
          border: none;
          height: auto; }
          /* line 546, ../scss/product.scss */
          .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block {
            height: auto; }
            /* line 548, ../scss/product.scss */
            .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_image {
              float: left;
              width: 30%; }
            /* line 552, ../scss/product.scss */
            .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description {
              float: left;
              width: 70%; }
              /* line 555, ../scss/product.scss */
              .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .title {
                color: #2ab5cd;
                text-align: left; }
              /* line 559, ../scss/product.scss */
              .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .product-id {
                color: #9badb4;
                text-transform: uppercase;
                font-size: 0.8em;
                font-weight: bold;
                text-align: left; }
              /* line 566, ../scss/product.scss */
              .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .product-price {
                font-weight: bold;
                margin-top: 0.8em; }
              /* line 570, ../scss/product.scss */
              .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .product-add-to-cart {
                text-align: left; }
                /* line 572, ../scss/product.scss */
                .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .product-add-to-cart input {
                  margin: .5em 0;
                  padding: .7em 2.5em;
                  background: #2ab5cd;
                  color: #f0f3f4;
                  border: none;
                  text-align: center;
                  text-decoration: none;
                  font-weight: bold;
                  font-family: "Josefin Sans", sans-serif;
                  font-size: 13px;
                  letter-spacing: 1.29px;
                  display: inline-block;
                  background-image: none;
                  -moz-border-radius: 3px;
                  -webkit-border-radius: 3px;
                  -khtml-border-radius: 3px;
                  border-radius: 3px;
                  cursor: pointer;
                  text-transform: uppercase; }
                  /* line 108, ../scss/_mixins.scss */
                  .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .product-add-to-cart input:hover {
                    background-color: #6ac1d6; }
                  @media (max-width: 768px) {
                    /* line 572, ../scss/product.scss */
                    .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .product-add-to-cart input {
                      font-size: 10px;
                      padding: 1.2em 1.6em 0.8em; } }
                  @media (max-width: 486px) {
                    /* line 572, ../scss/product.scss */
                    .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .product-add-to-cart input {
                      padding: 1.2em .9em 0.8em; } }
              /* line 585, ../scss/product.scss */
              .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .field-content p {
                margin: 0px; }
              /* line 588, ../scss/product.scss */
              .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .field-content span {
                font-family: 16px; }
              /* line 592, ../scss/product.scss */
              .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .field-content .commerce-add-to-cart input.form-submit {
                margin: .5em 0;
                padding: .7em 2.5em;
                background: #2ab5cd;
                color: #f0f3f4;
                border: none;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                font-family: "Josefin Sans", sans-serif;
                font-size: 13px;
                letter-spacing: 1.29px;
                display: inline-block;
                background-image: none;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                -khtml-border-radius: 3px;
                border-radius: 3px;
                cursor: pointer;
                border: none;
                padding: 7px 20px;
                text-transform: uppercase;
                font-weight: bold; }
                /* line 108, ../scss/_mixins.scss */
                .single-product-recommended .single-product-recommended-carousel .jcarousel-container-horizontal .jcarousel-clip-horizontal ul.jcarousel-view--aop-related-products--related-products-block li #related-product-block .related_product_description .field-content .commerce-add-to-cart input.form-submit:hover {
                  background-color: #6ac1d6; }

/* line 611, ../scss/product.scss */
.pane-aop-family-entertainment-dvds-and-cds,
.view-aop-family-entertainment-dvds-and-cds {
  width: 100%; }
  /* line 614, ../scss/product.scss */
  .pane-aop-family-entertainment-dvds-and-cds .view-content,
  .view-aop-family-entertainment-dvds-and-cds .view-content {
    width: 100%; }
    /* line 616, ../scss/product.scss */
    .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal,
    .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal {
      width: 90%; }
      /* line 618, ../scss/product.scss */
      .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal,
      .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal {
        width: 101%; }
        /* line 620, ../scss/product.scss */
        .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal li,
        .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal li {
          border: medium none;
          height: auto;
          margin: 0 15px;
          max-width: 149px;
          width: auto !important; }
        /* line 627, ../scss/product.scss */
        .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal .views-field-title,
        .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .jcarousel-clip-horizontal .views-field-title {
          color: #2ab5cd;
          text-align: left;
          font-weight: bold;
          height: 55px; }
      /* line 634, ../scss/product.scss */
      .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .cd_dvd_product_image,
      .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .cd_dvd_product_image {
        height: 230px; }
      /* line 637, ../scss/product.scss */
      .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .jcarousel-view--aop-family-entertainment-dvds-and-cds--cds-carousel-block .cd_dvd_product_image,
      .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .jcarousel-view--aop-family-entertainment-dvds-and-cds--cds-carousel-block .cd_dvd_product_image {
        height: auto; }
      /* line 641, ../scss/product.scss */
      .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .commerce-add-to-cart input.form-submit,
      .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .commerce-add-to-cart input.form-submit {
        margin: .5em 0;
        padding: .7em 2.5em;
        background: #2ab5cd;
        color: #f0f3f4;
        border: none;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-family: "Josefin Sans", sans-serif;
        font-size: 13px;
        letter-spacing: 1.29px;
        display: inline-block;
        background-image: none;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        padding: 7px 20px;
        text-transform: uppercase;
        font-weight: bold; }
        /* line 108, ../scss/_mixins.scss */
        .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .commerce-add-to-cart input.form-submit:hover,
        .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .commerce-add-to-cart input.form-submit:hover {
          background-color: #6ac1d6; }
      /* line 649, ../scss/product.scss */
      .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .field-name-commerce-price,
      .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .price-amount,
      .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .field-name-commerce-price,
      .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .price-amount {
        font-weight: bold;
        text-align: center; }
      @media (max-width: 768px) {
        /* line 656, ../scss/product.scss */
        .pane-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .field-name-commerce-price table.commerce-price-savings-formatter-prices,
        .view-aop-family-entertainment-dvds-and-cds .view-content .jcarousel-container-horizontal .field-name-commerce-price table.commerce-price-savings-formatter-prices {
          margin: 0 auto; } }

/* line 666, ../scss/product.scss */
.reset_listing_filter {
  float: right;
  color: #9badb4; }

/* line 670, ../scss/product.scss */
.reset_listing_filter.active {
  color: #6ac1d6;
  cursor: pointer; }

/* mobile stuff goes under here */
@media (min-width: 400px) and (max-width: 999px) {
  /*
    #block-system-main-menu {
      display: block;
    }
    .menu-toggle {
      //display: none;
    }
    .block-tb-megamenu-main-menu {
      display: none;
    }
  */
 /*
 .tb-megamenu .nav-collapse .dropdown-menu {
    display: none !important;
  }
  .tb-megamenu .nav-collapse .nav > li > a {
    color: white;
    background: $blue_one;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    min-width: 600px;
    &:hover, {
      color: $black;
    }
  }
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    color: $black;
  }
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle  {
    margin-top: 22px;
  }
*/ }
/* line 715, ../scss/product.scss */
ol.commerce-checkout-progress.clearfix.inline.checkout-pages-5 li:before {
  display: none; }

/* line 721, ../scss/product.scss */
h1.product_banner_title {
  margin-bottom: 0; }
  /* line 723, ../scss/product.scss */
  h1.product_banner_title span {
    color: white;
    font-size: 38px;
    font-family: "Lora", serif;
    position: absolute;
    top: .5em;
    left: .8em;
    text-decoration: none; }
    @media (min-width: 400px) and (max-width: 999px) {
      /* line 723, ../scss/product.scss */
      h1.product_banner_title span {
        font-size: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
      /* line 723, ../scss/product.scss */
      h1.product_banner_title span {
        font-size: 38px;
        left: .87em; } }
    @media (min-width: 720px) and (max-width: 767px) {
      /* line 723, ../scss/product.scss */
      h1.product_banner_title span {
        font-size: 38px;
        left: .87em; } }
    @media (min-width: 640px) and (max-width: 719px) {
      /* line 723, ../scss/product.scss */
      h1.product_banner_title span {
        font-size: 35px;
        left: .74em; } }
    @media (min-width: 540px) and (max-width: 639px) {
      /* line 723, ../scss/product.scss */
      h1.product_banner_title span {
        font-size: 31px;
        top: .4em;
        left: .85em; } }
    @media (min-width: 490px) and (max-width: 539px) {
      /* line 723, ../scss/product.scss */
      h1.product_banner_title span {
        font-size: 25px;
        left: .92em; } }
    @media (min-width: 440px) and (max-width: 489px) {
      /* line 723, ../scss/product.scss */
      h1.product_banner_title span {
        font-size: 22px;
        left: 1.1em; } }
    @media (max-width: 450px) {
      /* line 723, ../scss/product.scss */
      h1.product_banner_title span {
        font-size: 22px;
        left: .94em;
        top: .4em; } }

/* line 769, ../scss/product.scss */
.product_banner_short_description {
  padding: 0 1.3em;
  color: white;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 3.4em;
  line-height: 1.3em;
  box-sizing: border-box; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 769, ../scss/product.scss */
    .product_banner_short_description {
      padding: 0 1.4em;
      font-size: 18px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
    /* line 769, ../scss/product.scss */
    .product_banner_short_description {
      font-size: 24px; } }
  @media (min-width: 720px) and (max-width: 767px) {
    /* line 769, ../scss/product.scss */
    .product_banner_short_description {
      font-size: 24px; } }
  @media (min-width: 640px) and (max-width: 719px) {
    /* line 769, ../scss/product.scss */
    .product_banner_short_description {
      padding: 0 1.2em;
      font-size: 22px; } }
  @media (min-width: 540px) and (max-width: 639px) {
    /* line 769, ../scss/product.scss */
    .product_banner_short_description {
      font-size: 20px;
      top: 3em;
      position: absolute; } }
  @media (min-width: 490px) and (max-width: 539px) {
    /* line 769, ../scss/product.scss */
    .product_banner_short_description {
      font-size: 18px;
      padding: 0 1.3em;
      top: 2.9em; } }
  @media (min-width: 440px) and (max-width: 489px) {
    /* line 769, ../scss/product.scss */
    .product_banner_short_description {
      font-size: 17px;
      top: 2.8em; } }
  @media (max-width: 450px) {
    /* line 769, ../scss/product.scss */
    .product_banner_short_description {
      font-size: 12px;
      top: 3.3em;
      line-height: 18px;
      left: 3px; } }

/*

.product_banner_title {
  margin-bottom: 0;
  bottom: 16px;
  position: relative;
  left: 5px;
  @include breakpoint(narrow) {
    bottom: 17px;
  }
  a {
    color: white;
    font-size: 38px;
    font-family: "Lora", serif;
    position: absolute;
    top: 1em;
    left: .7em;
    text-decoration: none;
    @include breakpoint(narrow) {
      font-size: 30px;
    }
  }
}

.product_banner_short_description {
  padding: 0 1.5em;
  color: white;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  box-sizing: border-box;
  top: 3.8em;
  line-height: 27px;
  @include breakpoint(narrow) {
    font-size: 17px;
    top: 3.6em;
    line-height: 22px;
  }
}

*/
/* line 856, ../scss/product.scss */
.page-products .view-display-products {
  margin-top: 0; }

/* line 860, ../scss/product.scss */
ul.all-products li.views-row.views-row-1.views-row-odd.views-row-first {
  border: 0; }

/* line 866, ../scss/product.scss */
.page-family-entertainment .view-display-products li .content .commerce-product-field {
  font-size: 14px; }
  /* line 868, ../scss/product.scss */
  .page-family-entertainment .view-display-products li .content .commerce-product-field .field-name-commerce-price {
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif; }

/* line 874, ../scss/product.scss */
.page-family-entertainment .aop-product-image-wrapper {
  text-align: center; }
  /* line 876, ../scss/product.scss */
  .page-family-entertainment .aop-product-image-wrapper img {
    max-height: 216px;
    width: auto;
    min-width: 0; }
