@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/* line 258, ../scss/_mixins.scss */
h4.blue {
  color: #2ab5cd;
  margin-bottom: 12px; }

/* line 9, ../scss/user.scss */
.page-user-password #user_pass_form .form-submit {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer; }
  /* line 108, ../scss/_mixins.scss */
  .page-user-password #user_pass_form .form-submit:hover {
    background-color: #6ac1d6; }
  /* line 11, ../scss/user.scss */
  .page-user-password #user_pass_form .form-submit:hover {
    margin: .5em 0;
    padding: .7em 2.5em;
    background: #2ab5cd;
    color: #f0f3f4;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1.29px;
    display: inline-block;
    background-image: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer; }
    /* line 108, ../scss/_mixins.scss */
    .page-user-password #user_pass_form .form-submit:hover:hover {
      background-color: #6ac1d6; }
/* line 16, ../scss/user.scss */
.page-user-password h1 {
  margin-bottom: 25px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #9badb4;
  font-weight: 500 !important;
  font-family: "Josefin Sans",sans-serif !important;
  font-size: 25px !important; }
/* line 26, ../scss/user.scss */
.page-user-password a.login-account {
  background: none;
  float: left;
  color: #2ab5cd;
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
  font-size: 16px;
  padding-top: 20px; }
  /* line 36, ../scss/user.scss */
  .page-user-password a.login-account:hover {
    background: transparent; }
/* line 41, ../scss/user.scss */
.page-user-password form#user-pass .back-to-login {
  margin: .4em 0 0 0; }

/* line 50, ../scss/user.scss */
#login-register-wrapper {
  width: 100%;
  padding-top: 25px; }
  /* line 54, ../scss/user.scss */
  #login-register-wrapper .description {
    display: none; }
  /* line 58, ../scss/user.scss */
  #login-register-wrapper p {
    font-size: 17px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  /* line 65, ../scss/user.scss */
  #login-register-wrapper span.form-required {
    display: none; }
  /* line 69, ../scss/user.scss */
  #login-register-wrapper ::-webkit-input-placeholder {
    color: #b2c3c9; }
  /* line 73, ../scss/user.scss */
  #login-register-wrapper :-moz-placeholder {
    /* Firefox 18- */
    color: #9badb4; }
  /* line 77, ../scss/user.scss */
  #login-register-wrapper ::-moz-placeholder {
    /* Firefox 19+ */
    color: #9badb4; }
  /* line 81, ../scss/user.scss */
  #login-register-wrapper :-ms-input-placeholder {
    color: #b2c3c9; }
  /* line 87, ../scss/user.scss */
  #login-register-wrapper label {
    padding-top: 10px;
    font-family: sans-serif;
    font-weight: 600 !important;
    font-size: 14px;
    margin-bottom: 2px;
    display: inline-block;
    max-width: 25%; }
    @media (max-width: 768px) {
      /* line 87, ../scss/user.scss */
      #login-register-wrapper label {
        width: 100%;
        max-width: 100%;
        float: none;
        clear: both; } }
  /* line 103, ../scss/user.scss */
  #login-register-wrapper h2 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9badb4;
    font-weight: 500; }
  /* line 110, ../scss/user.scss */
  #login-register-wrapper .password-strength {
    display: none; }
  /* line 115, ../scss/user.scss */
  #login-register-wrapper .form-actions .form-submit {
    margin: .5em 0;
    padding: .7em 2.5em;
    background: #2ab5cd;
    color: #f0f3f4;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1.29px;
    display: inline-block;
    background-image: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    min-width: 170px;
    float: right !important; }
    /* line 108, ../scss/_mixins.scss */
    #login-register-wrapper .form-actions .form-submit:hover {
      background-color: #6ac1d6; }
    @media (max-width: 768px) {
      /* line 115, ../scss/user.scss */
      #login-register-wrapper .form-actions .form-submit {
        width: 100%; } }
  /* line 125, ../scss/user.scss */
  #login-register-wrapper .login-block-left {
    float: left;
    width: 46%;
    padding-bottom: 20px; }
    /* line 130, ../scss/user.scss */
    #login-register-wrapper .login-block-left .form-text {
      font-size: 18px;
      padding: 8px;
      height: auto;
      width: 76%;
      display: inline-block;
      float: right; }
      @media (max-width: 768px) {
        /* line 130, ../scss/user.scss */
        #login-register-wrapper .login-block-left .form-text {
          width: 100%; } }
    @media (max-width: 768px) {
      /* line 125, ../scss/user.scss */
      #login-register-wrapper .login-block-left {
        width: 100%;
        float: left; } }
  /* line 150, ../scss/user.scss */
  #login-register-wrapper .login-block-right {
    overflow: hidden;
    clear: right;
    float: right;
    width: 46%; }
    /* line 155, ../scss/user.scss */
    #login-register-wrapper .login-block-right .form-text {
      font-size: 18px;
      width: 74%;
      display: inline-block;
      float: right;
      padding: 8px;
      height: auto; }
      /* line 163, ../scss/user.scss */
      #login-register-wrapper .login-block-right .form-text:focus {
        -moz-box-shadow: #06f 0 0 0px;
        -webkit-box-shadow: #06f 0 0 0px;
        box-shadow: #06f 0 0 0px;
        border-color: #728389; }
      /* line 170, ../scss/user.scss */
      #login-register-wrapper .login-block-right .form-text:active {
        -moz-box-shadow: #06f 0 0 0px;
        -webkit-box-shadow: #06f 0 0 0px;
        box-shadow: #06f 0 0 0px;
        border-color: #728389; }
      @media (max-width: 768px) {
        /* line 155, ../scss/user.scss */
        #login-register-wrapper .login-block-right .form-text {
          width: 99%;
          clear: both;
          float: left; } }
    @media (max-width: 768px) {
      /* line 150, ../scss/user.scss */
      #login-register-wrapper .login-block-right {
        width: 100%;
        float: left; } }
  /* line 190, ../scss/user.scss */
  #login-register-wrapper .password-confirm {
    display: none;
    position: relative;
    bottom: 0px; }
  /* line 196, ../scss/user.scss */
  #login-register-wrapper .password-parent {
    width: 100% !important;
    clear: both; }
  /* line 201, ../scss/user.scss */
  #login-register-wrapper .confirm-parent {
    width: 100% !important;
    clear: both; }
  /* line 208, ../scss/user.scss */
  #login-register-wrapper .register-input-valid {
    border-color: #00cc00;
    background-image: url("https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg");
    background-repeat: no-repeat;
    background-position: 98% 50%; }
    /* line 213, ../scss/user.scss */
    #login-register-wrapper .register-input-valid:focus {
      border-color: #00cc00 !important; }
    /* line 216, ../scss/user.scss */
    #login-register-wrapper .register-input-valid:active {
      border-color: #00cc00 !important; }
  /* line 221, ../scss/user.scss */
  #login-register-wrapper .register-input-invalid {
    border-color: #cc0000;
    background-image: url("https://glnenews.s3.amazonaws.com/aophs/forminvalid.jpg");
    background-repeat: no-repeat;
    background-position: 98% 50%; }
    /* line 226, ../scss/user.scss */
    #login-register-wrapper .register-input-invalid:focus {
      border-color: #cc0000 !important; }
    /* line 229, ../scss/user.scss */
    #login-register-wrapper .register-input-invalid:active {
      border-color: #cc0000 !important; }
  /* line 234, ../scss/user.scss */
  #login-register-wrapper .form-item-pass-pass2 {
    margin-bottom: 0px; }

/* line 242, ../scss/user.scss */
.user-error-items {
  padding: 10px;
  padding-bottom: 0px;
  width: 98%;
  color: #cc0000;
  list-style: none;
  text-align: right; }

/* line 251, ../scss/user.scss */
.line-item-error {
  float: right;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 0px;
  text-align: right;
  color: #cc0000;
  width: 100%; }

/* line 265, ../scss/user.scss */
.page-user #user_login_form h1,
.page-user #user_pass_form h1,
.page-user h1#page-title, .page-checkout #user_login_form h1,
.page-checkout #user_pass_form h1,
.page-checkout h1#page-title {
  margin-top: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  text-transform: capitalize; }
/* line 273, ../scss/user.scss */
.page-user h1#page-title, .page-checkout h1#page-title {
  padding: .7em;
  background: #9badb4;
  color: white;
  font-weight: 400; }
/* line 279, ../scss/user.scss */
.page-user #user_login_form .form-submit, .page-checkout #user_login_form .form-submit {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase; }
  /* line 108, ../scss/_mixins.scss */
  .page-user #user_login_form .form-submit:hover, .page-checkout #user_login_form .form-submit:hover {
    background-color: #6ac1d6; }
  /* line 282, ../scss/user.scss */
  .page-user #user_login_form .form-submit:hover, .page-checkout #user_login_form .form-submit:hover {
    margin: .5em 0;
    padding: .7em 2.5em;
    background: #2ab5cd;
    color: #f0f3f4;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1.29px;
    display: inline-block;
    background-image: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    background: #6ac1d6; }
    /* line 108, ../scss/_mixins.scss */
    .page-user #user_login_form .form-submit:hover:hover, .page-checkout #user_login_form .form-submit:hover:hover {
      background-color: #6ac1d6; }
/* line 287, ../scss/user.scss */
.page-user .tabs.clearfix, .page-checkout .tabs.clearfix {
  margin: 2em 0; }
/* line 290, ../scss/user.scss */
.page-user a.login-register, .page-checkout a.login-register {
  margin: 0;
  padding: 0;
  background: none;
  text-transform: capitalize;
  color: #6ac1d6; }
  /* line 296, ../scss/user.scss */
  .page-user a.login-register:hover, .page-checkout a.login-register:hover {
    background: none;
    color: #6ac1d6; }
/* line 301, ../scss/user.scss */
.page-user form#user-login #user_login_form .login-password,
.page-user form#user-login #user_login_form .login-password:hover, .page-checkout form#user-login #user_login_form .login-password,
.page-checkout form#user-login #user_login_form .login-password:hover {
  color: #6ac1d6; }
/* line 305, ../scss/user.scss */
.page-user ul.primary, .page-checkout ul.primary {
  padding: 0; }
/* line 308, ../scss/user.scss */
.page-user .tabs ul.primary, .page-checkout .tabs ul.primary {
  border-top: 0;
  border-bottom: 1px solid #e1e6e8; }
  /* line 311, ../scss/user.scss */
  .page-user .tabs ul.primary > li, .page-checkout .tabs ul.primary > li {
    margin: 0;
    line-height: 1.2em; }
  /* line 315, ../scss/user.scss */
  .page-user .tabs ul.primary > li a.active, .page-checkout .tabs ul.primary > li a.active {
    padding: .7em;
    border: 2px solid #e1e6e8;
    background: #f0f3f4; }

/* line 324, ../scss/user.scss */
.page-user .tabs ul.primary li a:hover {
  color: #000; }

/* line 330, ../scss/user.scss */
.page-user-password #user_pass_form .form-submit {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer; }
  /* line 108, ../scss/_mixins.scss */
  .page-user-password #user_pass_form .form-submit:hover {
    background-color: #6ac1d6; }
  /* line 332, ../scss/user.scss */
  .page-user-password #user_pass_form .form-submit:hover {
    margin: .5em 0;
    padding: .7em 2.5em;
    background: #2ab5cd;
    color: #f0f3f4;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1.29px;
    display: inline-block;
    background-image: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer; }
    /* line 108, ../scss/_mixins.scss */
    .page-user-password #user_pass_form .form-submit:hover:hover {
      background-color: #6ac1d6; }
/* line 337, ../scss/user.scss */
.page-user-password h1 {
  padding-top: 30px;
  border-bottom: 1px solid #e1e6e8;
  font-size: 25px;
  font-style: normal;
  font-weight: 300; }
/* line 345, ../scss/user.scss */
.page-user-password a.login-account {
  background: none;
  float: left;
  color: #2ab5cd;
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
  font-size: 16px;
  padding-top: 20px; }
  /* line 355, ../scss/user.scss */
  .page-user-password a.login-account:hover {
    background: transparent; }
/* line 360, ../scss/user.scss */
.page-user-password form#user-pass .back-to-login {
  margin: .4em 0 0 0; }

/* line 367, ../scss/user.scss */
#commerce-addressbook-customer-profile-form #edit-submit {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer; }
  /* line 108, ../scss/_mixins.scss */
  #commerce-addressbook-customer-profile-form #edit-submit:hover {
    background-color: #6ac1d6; }

/* line 377, ../scss/user.scss */
.page-user-register .description {
  color: #9badb4;
  margin-top: 5px;
  padding-left: 2px; }
/* line 384, ../scss/user.scss */
.page-user-register #user-register-form .login-account {
  background: none;
  color: #2ab5cd;
  padding-left: 0px;
  padding-right: none;
  width: auto;
  font-size: 16px;
  padding-top: 20px; }
/* line 395, ../scss/user.scss */
.page-user-register h1 {
  display: none; }
/* line 399, ../scss/user.scss */
.page-user-register h2 {
  margin-top: 30px;
  border-bottom: 1px solid #e1e6e8;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0px; }
/* line 408, ../scss/user.scss */
.page-user-register h3 {
  clear: both;
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold; }
/* line 417, ../scss/user.scss */
.page-user-register .group-right-side {
  float: right;
  width: 48%; }
  @media (max-width: 768px) {
    /* line 417, ../scss/user.scss */
    .page-user-register .group-right-side {
      float: left;
      clear: both;
      width: 100%; } }
/* line 428, ../scss/user.scss */
.page-user-register #user_register_form_inner {
  width: 46%;
  float: left; }
  /* line 431, ../scss/user.scss */
  .page-user-register #user_register_form_inner #edit-submit {
    margin: .5em 0;
    padding: .7em 2.5em;
    background: #2ab5cd;
    color: #f0f3f4;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1.29px;
    display: inline-block;
    background-image: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    min-width: 160px; }
    /* line 108, ../scss/_mixins.scss */
    .page-user-register #user_register_form_inner #edit-submit:hover {
      background-color: #6ac1d6; }
    @media (max-width: 768px) {
      /* line 431, ../scss/user.scss */
      .page-user-register #user_register_form_inner #edit-submit {
        width: 100%; } }
  @media (max-width: 768px) {
    /* line 428, ../scss/user.scss */
    .page-user-register #user_register_form_inner {
      float: left;
      clear: both;
      width: 100%; } }
/* line 448, ../scss/user.scss */
.page-user-register .group-left-side {
  float: left;
  width: 100%; }
/* line 453, ../scss/user.scss */
.page-user-register .form-type-password-confirm {
  padding-bottom: 20px; }

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), only screen and (max-width: 768px) {
  /* line 462, ../scss/user.scss */
  .page-user form#user-register-form .form-actions {
    margin-top: 1em; } }

/* line 468, ../scss/user.scss */
.page-user section#block-orangebox-enews-signup h2 {
  border-bottom: 1px solid #e1e6e8;
  font-size: 22px;
  font-weight: 400; }

/* line 475, ../scss/user.scss */
.page-user span.fieldset-legend {
  font-size: 22px;
  color: #222222; }

/* line 480, ../scss/user.scss */
.page-user .block-system-main {
  margin: 1em 0; }

/* line 484, ../scss/user.scss */
.page-user legend {
  width: 100%;
  border-bottom: 1px solid #e1e6e8; }

/* line 488, ../scss/user.scss */
.page-user tr.odd, .page-user tr.even {
  border-bottom: 1px solid #e1e6e8; }

/* line 492, ../scss/user.scss */
.page-user tr.odd {
  background: #f0f3f4; }

/* line 495, ../scss/user.scss */
.page-user tr.even {
  background: white; }

/* line 499, ../scss/user.scss */
.page-user .view-Wishlist .form-submit {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 1em;
  text-transform: capitalize; }
  /* line 108, ../scss/_mixins.scss */
  .page-user .view-Wishlist .form-submit:hover {
    background-color: #6ac1d6; }

/* line 505, ../scss/user.scss */
.page-user-addressbook .view-commerce-addressbook td .views-field {
  border: 6px solid #e1e6e8; }

/* line 509, ../scss/user.scss */
.page-checkout .ui-widget-header {
  background: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #e1e6e8;
  border-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: capitalize; }

/* line 521, ../scss/user.scss */
.page-checkout .ui-state-default, .ui-widget-content .ui-state-default,
.page-checkout .ui-widget-header .ui-state-default {
  background: none;
  border: 0; }

/* line 527, ../scss/user.scss */
.page-checkout .ui-dialog .ui-dialog-buttonpane button {
  margin: 0; }

/* line 531, ../scss/user.scss */
.page-user-orders .field-name-commerce-customer-billing .field-label,
.page-user-orders .field-name-commerce-customer-shipping .field-label {
  background: none;
  border-bottom: 1px solid #e1e6e8; }

/* line 537, ../scss/user.scss */
.page-user .view-commerce-backoffice-user-orders th a,
.page-user #views-form-commerce-cart-form-default table th,
#commerce-checkout-form-checkout .view-commerce-cart-summary table th,
#commerce-checkout-form-review .view-commerce-cart-summary table th,
.page-user-orders .view-commerce-line-item-table table th, .view-commerce-backoffice-user-orders table th {
  color: #222222;
  text-transform: capitalize; }

/* line 546, ../scss/user.scss */
.page-user #views-form-commerce-cart-form-default table td,
#commerce-checkout-form-checkout .view-commerce-cart-summary table td,
#commerce-checkout-form-review .view-commerce-cart-summary table td,
.page-user-orders .view-commerce-line-item-table table td,
.view-commerce-backoffice-user-orders table td {
  border-bottom: 1px solid #e1e6e8; }

/* line 554, ../scss/user.scss */
.page-checkout form#commerce-checkout-form-checkout {
  margin-top: 1em; }

/* line 558, ../scss/user.scss */
.page-checkout #commerce-checkout-form-checkout fieldset .fieldset-wrapper,
.page-checkout #commerce-checkout-form-review fieldset .fieldset-wrapper {
  margin: 0; }

/* line 563, ../scss/user.scss */
ul.inline.commerce-checkout-progress,
ol.inline.commerce-checkout-progress {
  margin-left: 0; }

/* line 568, ../scss/user.scss */
.page-checkout .ui-button-text-only .ui-button-text {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin: .5em;
  border: 0;
  text-transform: capitalize; }
  /* line 108, ../scss/_mixins.scss */
  .page-checkout .ui-button-text-only .ui-button-text:hover {
    background-color: #6ac1d6; }
  /* line 573, ../scss/user.scss */
  .page-checkout .ui-button-text-only .ui-button-text a.active {
    border: 0; }

/* line 578, ../scss/user.scss */
.page-checkout-review #commerce-checkout-form-review .checkout_review table tbody tr.pane-title td {
  padding: 5px 0;
  text-transform: capitalize; }

/* line 583, ../scss/user.scss */
.page-checkout-review #commerce-checkout-form-review .checkout-help {
  margin: 10px 0 10px 0; }

/* line 587, ../scss/user.scss */
.page-checkout h1#page-title {
  display: none; }

/* line 591, ../scss/user.scss */
.page-user-orders ul.action-links li a {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: none;
  text-transform: capitalize; }
  /* line 108, ../scss/_mixins.scss */
  .page-user-orders ul.action-links li a:hover {
    background-color: #6ac1d6; }

/* line 596, ../scss/user.scss */
.page-user-orders .view-commerce-message-messages input#edit-submit {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: none;
  text-transform: uppercase; }
  /* line 108, ../scss/_mixins.scss */
  .page-user-orders .view-commerce-message-messages input#edit-submit:hover {
    background-color: #6ac1d6; }

/* line 602, ../scss/user.scss */
.page-user-orders .field-name-commerce-customer-billing {
  margin: 3px 3% 3% 0; }

/* line 605, ../scss/user.scss */
.page-user .view-commerce-message-messages h2.title {
  font-size: 22px;
  border-bottom: 1px solid #e1e6e8;
  font-weight: 400; }

/* line 614, ../scss/user.scss */
.context-cart #edit-submit {
  vertical-align: middle; }
/* line 617, ../scss/user.scss */
.context-cart #edit-checkout {
  vertical-align: middle; }
/* line 621, ../scss/user.scss */
.context-cart .continue_button {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding: 7px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 5px;
  background-color: #b2c3c9; }
  /* line 108, ../scss/_mixins.scss */
  .context-cart .continue_button:hover {
    background-color: #6ac1d6; }
/* line 630, ../scss/user.scss */
.context-cart .continue_button:hover {
  background-color: #9badb4; }

/* line 637, ../scss/user.scss */
.page-cart #views-form-commerce-cart-form-default .commerce-line-item-actions input#edit-checkout {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase; }
  /* line 108, ../scss/_mixins.scss */
  .page-cart #views-form-commerce-cart-form-default .commerce-line-item-actions input#edit-checkout:hover {
    background-color: #6ac1d6; }

/* line 642, ../scss/user.scss */
.field-name-commerce-customer-billing {
  width: 48% !important; }

/* line 649, ../scss/user.scss */
#views-form-commerce-cart-form-default .commerce-line-item-actions {
  position: absolute;
  top: 66px;
  right: 1px;
  float: right;
  width: 24%;
  right: 0;
  margin: 1em 1.2em;
  text-align: right;
  width: 26%;
  right: 0; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 649, ../scss/user.scss */
    #views-form-commerce-cart-form-default .commerce-line-item-actions {
      position: relative;
      width: 231px;
      float: right;
      top: -80px; } }
  @media (max-width: 768px) {
    /* line 649, ../scss/user.scss */
    #views-form-commerce-cart-form-default .commerce-line-item-actions {
      position: relative;
      top: 0;
      width: 231px;
      float: right;
      top: -80px; } }

/* line 675, ../scss/user.scss */
.page-cart .commerce-order-handler-area-order-total {
  display: none; }

/* line 679, ../scss/user.scss */
.field-name-commerce-order-total .field-items, .cart-total {
  background: white;
  border: 6px solid #e1e6e8; }

/* line 684, ../scss/user.scss */
.page-cart .cart-total {
  padding: 1em;
  float: left;
  max-width: 225px;
  width: 100%;
  padding-bottom: 4em; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 684, ../scss/user.scss */
    .page-cart .cart-total {
      width: 100%;
      float: right;
      margin-top: 1.5em; } }
  @media (max-width: 768px) {
    /* line 684, ../scss/user.scss */
    .page-cart .cart-total {
      width: 100%;
      float: right;
      margin-top: 1.5em; } }
  /* line 700, ../scss/user.scss */
  .page-cart .cart-total .cart-components {
    border-bottom: 1px solid #9badb4;
    float: right;
    width: 100%;
    margin-bottom: .5em; }
    /* line 705, ../scss/user.scss */
    .page-cart .cart-total .cart-components div {
      padding: .5em;
      font-weight: bold;
      font-size: 18px; }
  /* line 711, ../scss/user.scss */
  .page-cart .cart-total .component-total {
    float: right; }
  /* line 714, ../scss/user.scss */
  .page-cart .cart-total .component-title {
    float: left; }

/* line 719, ../scss/user.scss */
.field-name-field-aop-order-number {
  padding-top: 10px;
  clear: both; }

/* line 725, ../scss/user.scss */
.page-cart h1#page-title {
  margin-top: 1.5em;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  text-transform: capitalize; }
/* line 731, ../scss/user.scss */
.page-cart .cart-sidebar {
  float: left;
  margin-left: 2%;
  width: 28%;
  display: inline-block;
  top: 0px;
  position: absolute; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 731, ../scss/user.scss */
    .page-cart .cart-sidebar {
      width: 100%;
      text-align: right;
      margin: 0;
      float: left;
      position: relative;
      top: 0px; } }
  @media (max-width: 768px) {
    /* line 731, ../scss/user.scss */
    .page-cart .cart-sidebar {
      width: 100%;
      text-align: right;
      margin: 0;
      float: left;
      position: relative;
      top: 0; } }
/* line 757, ../scss/user.scss */
.page-cart .item-list {
  margin-top: 1.5em; }
/* line 760, ../scss/user.scss */
.page-cart .cart-subtotal {
  text-align: right;
  font-size: 1.5em;
  float: left;
  width: 70%; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 760, ../scss/user.scss */
    .page-cart .cart-subtotal {
      display: none; } }
  @media (max-width: 768px) {
    /* line 760, ../scss/user.scss */
    .page-cart .cart-subtotal {
      display: none; } }
  /* line 771, ../scss/user.scss */
  .page-cart .cart-subtotal div {
    display: inline;
    font-size: 16px;
    font-weight: bold; }
/* line 777, ../scss/user.scss */
.page-cart #views-form-commerce-cart-form-default table {
  float: left;
  display: inline;
  width: 70%; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 777, ../scss/user.scss */
    .page-cart #views-form-commerce-cart-form-default table {
      width: 100%; } }
  @media (max-width: 768px) {
    /* line 777, ../scss/user.scss */
    .page-cart #views-form-commerce-cart-form-default table {
      width: 100%; } }

/* line 791, ../scss/user.scss */
.view-commerce-cart-form tr, .view-commerce-cart-summary tr {
  background: #e1e6e8;
  color: #222222; }

/* line 796, ../scss/user.scss */
#views-form-commerce-cart-form-default table th {
  padding: 5px 10px;
  text-transform: capitalize;
  color: #222222; }

/* line 804, ../scss/user.scss */
.block-commerce-checkout-progress ul.inline.commerce-checkout-progress li:after, .block-commerce-checkout-progress ol.inline.commerce-checkout-progress li:after {
  content: none; }
/* line 808, ../scss/user.scss */
.block-commerce-checkout-progress .item-list {
  margin-top: 1.5em; }
  /* line 812, ../scss/user.scss */
  .block-commerce-checkout-progress .item-list ol.inline.commerce-checkout-progress li {
    margin: 0 0px 10px 0;
    padding: 0px;
    padding-top: 10px;
    background-color: #FFFFFF;
    background-image: url("https://glnenews.s3.amazonaws.com/aophs/checkoutCheckGray.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0px 8px;
    color: #b2c3c9;
    text-transform: uppercase;
    width: 86px;
    text-align: left;
    margin-left: 10px;
    padding-left: 24px;
    font-size: 16px;
    opacity: 0.8; }
  /* line 831, ../scss/user.scss */
  .block-commerce-checkout-progress .item-list ol.inline.commerce-checkout-progress li:before {
    display: none; }
  /* line 835, ../scss/user.scss */
  .block-commerce-checkout-progress .item-list ol.inline.commerce-checkout-progress li.visited {
    opacity: 0.5;
    color: #2ab5cd;
    background-image: url("https://glnenews.s3.amazonaws.com/aophs/checkoutCheck.png"); }
  /* line 841, ../scss/user.scss */
  .block-commerce-checkout-progress .item-list ol.inline.commerce-checkout-progress li.active {
    opacity: 1;
    color: #2ab5cd;
    background-image: url("https://glnenews.s3.amazonaws.com/aophs/checkoutCheck.png"); }
  /* line 846, ../scss/user.scss */
  .block-commerce-checkout-progress .item-list ol.inline.commerce-checkout-progress li.active:after {
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 25px solid #6ac1d6; }

/* line 857, ../scss/user.scss */
#commerce-checkout-form-checkout .view-commerce-cart-summary table th {
  padding: 10px; }

/* line 861, ../scss/user.scss */
ul.inline.commerce-checkout-progress li:after, ol.inline.commerce-checkout-progress li:after {
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 25px solid #e1e6e8; }

/* line 868, ../scss/user.scss */
.page-checkout .checkout-buttons input#edit-continue, .page-checkout .checkout-buttons input.checkout-continue {
  margin: .5em 0;
  padding: .7em 2.5em;
  background: #2ab5cd;
  color: #f0f3f4;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 1.29px;
  display: inline-block;
  background-image: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  text-transform: capitalize; }
  /* line 108, ../scss/_mixins.scss */
  .page-checkout .checkout-buttons input#edit-continue:hover, .page-checkout .checkout-buttons input.checkout-continue:hover {
    background-color: #6ac1d6; }

/* line 874, ../scss/user.scss */
#aop-footer-checkout {
  padding-bottom: 200px; }

/* line 882, ../scss/user.scss */
hr {
  background-color: #e1e6e8; }

/* line 887, ../scss/user.scss */
.order-information-block {
  float: left;
  padding: 30px;
  max-width: 20%; }
  /* line 892, ../scss/user.scss */
  .order-information-block .order-information-title {
    font-weight: bold;
    color: #9badb4; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 887, ../scss/user.scss */
    .order-information-block {
      max-width: 100%;
      width: 48%;
      float: left;
      margin-top: 0px;
      text-align: left;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 10px; } }
  @media (max-width: 768px) {
    /* line 887, ../scss/user.scss */
    .order-information-block {
      max-width: 100%;
      width: 100%;
      padding-left: 0px; } }

/* line 915, ../scss/user.scss */
#order-confirmation-help {
  float: right;
  margin-top: -45px;
  width: 30%;
  text-align: right; }
  /* line 921, ../scss/user.scss */
  #order-confirmation-help p {
    font-size: 15px; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 915, ../scss/user.scss */
    #order-confirmation-help {
      width: 100%;
      float: left;
      margin-top: 0px;
      text-align: left; } }
  @media (max-width: 768px) {
    /* line 915, ../scss/user.scss */
    #order-confirmation-help {
      width: 100%;
      float: left;
      margin-top: 0px;
      text-align: left; } }

/* line 940, ../scss/user.scss */
.order-confirmation-block {
  float: left;
  width: 70%;
  padding-bottom: 20px; }
  /* line 941, ../scss/user.scss */
  .order-confirmation-block h2 {
    font-weight: normal;
    font-size: 26px; }
  @media (min-width: 400px) and (max-width: 999px) {
    /* line 940, ../scss/user.scss */
    .order-confirmation-block {
      width: 100%;
      float: left;
      margin-top: 0px;
      text-align: left; } }
  @media (max-width: 768px) {
    /* line 940, ../scss/user.scss */
    .order-confirmation-block {
      width: 100%; } }

/* line 961, ../scss/user.scss */
#order-confirmation-blocks {
  float: left;
  width: 100%; }

/* line 966, ../scss/user.scss */
#order-cart-blocks {
  float: left;
  width: 100%;
  font-weight: bold; }
  /* line 971, ../scss/user.scss */
  #order-cart-blocks hr {
    background-color: #e1e6e8; }
  /* line 975, ../scss/user.scss */
  #order-cart-blocks h2 {
    font-weight: normal;
    font-size: 26px; }
  /* line 982, ../scss/user.scss */
  #order-cart-blocks th {
    background-color: #e1e6e8;
    padding: 10px;
    border-bottom: none;
    padding-left: 0px; }
  /* line 989, ../scss/user.scss */
  #order-cart-blocks tr {
    border-bottom: 1px solid #e1e6e8;
    background-color: white; }
  /* line 995, ../scss/user.scss */
  #order-cart-blocks table {
    width: 100%;
    background-color: #FFFFFF; }
  /* line 1000, ../scss/user.scss */
  #order-cart-blocks td {
    background-color: #FFFFF !important;
    padding: 0px;
    padding-right: 20px;
    vertical-align: top;
    padding-top: 24px;
    padding-bottom: 24px; }
  /* line 1011, ../scss/user.scss */
  #order-cart-blocks .cart-summary-line-item-title {
    font-size: 16px;
    padding-right: 20px; }
  /* line 1016, ../scss/user.scss */
  #order-cart-blocks .views-field-line-item-title {
    width: 26%; }
    @media (max-width: 768px) {
      /* line 1016, ../scss/user.scss */
      #order-cart-blocks .views-field-line-item-title {
        width: 50%;
        padding-left: 0px; } }
    @media (max-width: 486px) {
      /* line 1016, ../scss/user.scss */
      #order-cart-blocks .views-field-line-item-title {
        width: 60%; } }
  /* line 1030, ../scss/user.scss */
  #order-cart-blocks .views-field-field-product-image {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px; }
    @media (max-width: 486px) {
      /* line 1030, ../scss/user.scss */
      #order-cart-blocks .views-field-field-product-image {
        width: 10%; } }
    @media (max-width: 486px) {
      /* line 1030, ../scss/user.scss */
      #order-cart-blocks .views-field-field-product-image {
        display: none; } }
  /* line 1045, ../scss/user.scss */
  #order-cart-blocks .views-field-sku {
    color: #9badb4;
    font-size: 13px; }
    @media (max-width: 768px) {
      /* line 1045, ../scss/user.scss */
      #order-cart-blocks .views-field-sku {
        display: none; } }
  /* line 1055, ../scss/user.scss */
  #order-cart-blocks .commerce-order-handler-area-order-total .field-items {
    padding: 0px; }
  /* line 1059, ../scss/user.scss */
  #order-cart-blocks .field-name-commerce-order-total tr {
    padding-right: 0px; }
  /* line 1063, ../scss/user.scss */
  #order-cart-blocks .field-name-commerce-order-total td {
    vertical-align: baseline !important;
    font-weight: normal; }
  /* line 1068, ../scss/user.scss */
  #order-cart-blocks .field-name-commerce-order-total .field-items {
    border: none; }
    @media (max-width: 768px) {
      /* line 1068, ../scss/user.scss */
      #order-cart-blocks .field-name-commerce-order-total .field-items {
        width: 100%; } }
  /* line 1076, ../scss/user.scss */
  #order-cart-blocks .component-type-commerce-price-formatted-amount .component-total {
    font-size: 26px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif; }

/* line 1085, ../scss/user.scss */
.views-field views-field-line-item-title {
  vertical-align: top; }

/* line 1089, ../scss/user.scss */
#order-information-blocks {
  float: left; }
  /* line 1091, ../scss/user.scss */
  #order-information-blocks h2 {
    font-weight: normal;
    font-size: 26px; }
