/* Client-specific Styles */
 #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
 body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
 /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
 .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
 .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing. */
 #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
 img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
 a img {border:none;}
 .image_fix {display:block;}
 p {margin: 0px 0px !important;}
 
 table td {border-collapse: collapse;}
 table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
 /*a {color: #e95353;text-decoration: none;text-decoration:none!important;}*/
 /*STYLES*/
 table[class=full] { width: 100%; clear: both; }
 
 /*Navigation Item Hacks*/
 
 /*################################################*/
 /*IPAD STYLES*/
 /*################################################*/
 @media only screen and (max-width: 640px) {
 a[href^="tel"], a[href^="sms"] {
 text-decoration: none;
 color: #ffffff;
 pointer-events: none;
 cursor: default;
 }
 .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
 text-decoration: default;
 color: #ffffff !important;
 pointer-events: auto;
 cursor: default;
 }
 table[class=devicewidth] { width: 450px!important; text-align:center!important; clear: both; overflow: hidden;
 }
 table[class=devicewidthinner] {width: 410px!important;text-align:center!important;}
 /*Navigation Item Hacks*/
 table[class="nav-item-1"]{width: 50% !important; text-align: center !important;}
 table[class="nav-item-2"]{width: 50% !important; text-align: center !important;}
 table[class="nav-item-3"]{width: 33% !important; text-align: center !important;}
 table[class="nav-item-4"]{width: 33% !important; text-align: center !important;}
 table[class="nav-item-5"]{width: 34% !important; text-align: center !important;}
 /*End Navigation Item Hacks*/
 
 table[class="main-heading"]{font-size: 36px !important; line-height: 32px !important;
 text-align: center !important; margin-bottom: 5px;
 }
 
 
 
 table[class="sthide"]{display: none!important;}
 table[class="tablet-button"]{width: 100% !important;}
 img[class="bigimage"]{width: 450px!important;height:168px!important;}
 img[class="col2img"]{width: 420px!important;height:258px!important;}
 img[class="image-banner"]{width: 440px!important;height:106px!important;}
 td[class="menu"]{text-align:center !important; padding: 0 0 10px 0 !important;}
 td[class="logo"]{padding:10px 0 5px 0!important;margin: 0 auto !important;}
 img[class="logo"]{padding:0!important;margin: 0 auto !important;}
 td[class="tagline"]{padding:10px 0 15px 0!important;margin: 0 auto !important;}
 }
 /*##############################################*/
 /*IPHONE STYLES*/
 /*##############################################*/
 @media only screen and (max-width: 480px) {
 a[href^="tel"], a[href^="sms"] {
 text-decoration: none;
 color: #ffffff;
 pointer-events: none;
 cursor: default;
 }
 .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
 text-decoration: default;
 color: #ffffff !important; 
 pointer-events: auto;
 cursor: default;
 }
 table[class=devicewidth] {width: 340px!important;text-align:center!important;}
 table[class=devicewidthinner] {width: 280px!important;text-align:center!important;}
 
 /*Navigation Item Hacks*/
table[class="nav-item-1"]{width: 33% !important; text-align: center !important;}
table[class="nav-item-2"]{width: 67% !important; text-align: center !important;}
table[class="nav-item-3"]{width: 33% !important; text-align: center !important;}
table[class="nav-item-4"]{width: 33% !important; text-align: center !important;}
table[class="nav-item-5"]{width: 34% !important; text-align: center !important;}
 
 /*End Navigation Item Hacks*/
 table[class="main-heading"]{font-size: 30px !important; line-height: 26px !important;
 text-align: center !important; margin-bottom: 5px;
 }
 
 table[class="tablet-button"]{width: 100% !important;}
 table[class="sthide"]{display: none!important;}
 img[class="bigimage"]{width: 340px!important;height:127px!important;}
 img[class="col2img"]{width: 260px!important;height:160px!important;}
 img[class="image-banner"]{width: 280px!important;height:68px!important;}
 }
