/* Import Font Families */
/* Base Admin Theme Styles */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: normal 500 .923em/1.5em "Open Sans", Arial, sans-serif;
}

a {
  color: #36a2f6;
}

/* Setting Museo Slab Family */
h1, h2, h3, h4, h5, h6, ul.admin-list li a, div.breadcrumb, fieldset .fieldset-legend {
  font-family: "Open Sans", Arial, sans-serif;
}

/* Form Overrides */
fieldset.form-wrapper {
  margin-bottom: 2em;
}

fieldset.collapsed {
  padding: 25px 15px;
}

fieldset .fieldset-legend {
  font-size: 16px;
  font-weight: 600;
}

fieldset.collapsible .fieldset-legend a {
  color: #000;
}

fieldset.collapsible .fieldset-wrapper {
  background: transparent;
  border: 0;
}

body.in-maintenance fieldset .fieldset-legend {
  border-bottom: 0;
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-left: 0;
  /* LTR */
}

.form-item label {
  font-weight: 700;
}

.form-item div.description, fieldset p {
  font-size: 13px;
  font-weight: 100;
}

input.form-autocomplete,
input.form-text,
input.form-file {
  border: 1px solid #e0e0e0;
  font: normal 500 1em/1em "Open Sans", Arial, sans-serif;
  margin: 1px;
  max-width: 100%;
  padding: 5px;
}

textarea.form-textarea {
  border: 1px solid #e0e0e0;
  font-size: 1em;
  padding: 5px 10px;
}

.resizable-textarea textarea.form-textarea {
  border-bottom: none;
}

.node-form .field-name-body .resizable-textarea textarea.form-textarea {
  height: 250px;
}

.text-format-wrapper fieldset,
.text-format-wrapper fieldset .fieldset-wrapper {
  background: transparent;
  border: none;
}

.text-format-wrapper fieldset .fieldset-wrapper .form-item {
  clear: left;
  /* LTR */
}

.node-form .field-name-body .resizable-textarea textarea.form-textarea {
  height: 280px;
}

input.form-autocomplete:focus,
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus {
  background-color: #fff;
  color: #000;
}

#edit-actions {
  background: transparent;
  padding: 30px 0 0 0;
}
#edit-actions input.form-submit {
  margin-bottom: 0;
}
#edit-actions #edit-delete {
  color: #ab5757;
  float: right;
  /* LTR */
  margin: 0;
  background: transparent;
  border: 0;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
#edit-actions #edit-delete:hover {
  text-decoration: underline;
}

.node-form #edit-actions,
#commerce-product-ui-product-form #edit-actions {
  background: #f8f8f8;
  padding: 15px;
}

/* Customized Checkbox and Radios */
.form-type-checkbox,
.form-type-radio {
  position: relative;
}

input.form-checkbox + label,
input.form-radio + label {
  font-weight: 500;
  padding-left: 20px;
  /* LTR */
  cursor: pointer;
}

/* Using "foo" to make unsupporting browsers ignore */
#foo:checked::before,
input.form-checkbox,
input.form-radio {
  opacity: 0;
  width: 20px;
  height: 20px;
}

#foo:checked,
input.form-checkbox + label::before,
input.form-radio + label::before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 2px;
  /* LTR */
  height: 15px;
  width: 15px;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  background: #eaeaea;
  background: -moz-linear-gradient(top, white 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, white 0%, #eaeaea 100%);
  background: -o-linear-gradient(top, white 0%, #eaeaea 100%);
  background: -ms-linear-gradient(top, white 0%, #eaeaea 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
}

#foo:checked,
input.form-checkbox:focus + label::before,
input.form-radio:focus + label::before {
  outline: 0;
  box-shadow: 0 0 3px #36a2f6;
}

#foo:checked,
input.form-radio + label::before {
  height: 14px;
  width: 14px;
  border-radius: 14px;
}

#foo:checked,
.form-disabled input.form-checkbox + label::before {
  opacity: .4;
}

#foo:checked,
body.in-maintenance input.form-radio + label::before {
  top: 4px;
}

#foo:checked,
input.form-checkbox:checked + label::before {
  background-image: url("../images/check.png");
  background-image: url("../images/check.png"), -moz-linear-gradient(top, white 0%, #eaeaea 100%);
  /* FF3.6+ */
  background-image: url("../images/check.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background-image: url("../images/check.png"), -webkit-linear-gradient(top, white 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: url("../images/check.png"), -o-linear-gradient(top, white 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background-image: url("../images/check.png"), -ms-linear-gradient(top, white 0%, #eaeaea 100%);
  /* IE10+ */
  background-image: url("../images/check.png"), linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */
}

input.form-radio:checked + label::before {
  background-image: url("../images/radio.png");
  background-image: url("../images/radio.png"), -moz-linear-gradient(top, white 0%, #eaeaea 100%);
  /* FF3.6+ */
  background-image: url("../images/radio.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background-image: url("../images/radio.png"), -webkit-linear-gradient(top, white 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: url("../images/radio.png"), -o-linear-gradient(top, white 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background-image: url("../images/radio.png"), -ms-linear-gradient(top, white 0%, #eaeaea 100%);
  /* IE10+ */
  background-image: url("../images/radio.png"), linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='#eaeaea',GradientType=0 );
  /* IE6-9 */
}

select.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  max-width: 100%;
  padding: 3px;
  width: auto;
}
select.form-select:focus {
  color: #000;
}

form table input.form-checkbox,
form table input.form-radio {
  opacity: 1;
  height: auto;
  width: auto;
}
form table .form-disabled input.form-checkbox {
  opacity: .4;
}

/* Form Fixes for Webkit Browsers. */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select.form-select {
    padding: 5px 35px 5px 5px;
    /* LTR */
    background: white url("../images/drop-filter.png") no-repeat right center;
    /* LTR */
  }
  select.form-select[multiple="multiple"] {
    background: #fff;
    padding: 5px;
  }

  form table input.form-checkbox,
  form table input.form-radio {
    -webkit-appearance: none;
    display: inline-block;
    appearance: none;
    opacity: 1;
    cursor: pointer;
    top: 4px;
    left: 2px;
    /* LTR */
    height: 17px;
    width: 17px;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    background: #eaeaea;
    background: -moz-linear-gradient(top, white 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, white 0%, #eaeaea 100%);
    background: -o-linear-gradient(top, white 0%, #eaeaea 100%);
    background: -ms-linear-gradient(top, white 0%, #eaeaea 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
  }
  form table input.form-checkbox:focus,
  form table input.form-radio:focus {
    outline: 0;
    box-shadow: 0 0 3px #36a2f6;
  }
  form table input.form-checkbox:checked {
    background-image: url("../images/check.png");
    background-image: url("../images/check.png"), -moz-linear-gradient(top, white 0%, #eaeaea 100%);
    /* FF3.6+ */
    background-image: url("../images/check.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eaeaea));
    /* Chrome,Safari4+ */
    background-image: url("../images/check.png"), -webkit-linear-gradient(top, white 0%, #eaeaea 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: url("../images/check.png"), -o-linear-gradient(top, white 0%, #eaeaea 100%);
    /* Opera 11.10+ */
    background-image: url("../images/check.png"), -ms-linear-gradient(top, white 0%, #eaeaea 100%);
    /* IE10+ */
    background-image: url("../images/check.png"), linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='#eaeaea',GradientType=0 );
    /* IE6-9 */
  }
  form table input.form-radio {
    height: 16px;
    width: 16px;
    border-radius: 16px;
  }
  form table input.form-radio:checked {
    background-image: url("../images/radio.png");
    background-image: url("../images/radio.png"), -moz-linear-gradient(top, white 0%, #eaeaea 100%);
    /* FF3.6+ */
    background-image: url("../images/radio.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eaeaea));
    /* Chrome,Safari4+ */
    background-image: url("../images/radio.png"), -webkit-linear-gradient(top, white 0%, #eaeaea 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: url("../images/radio.png"), -o-linear-gradient(top, white 0%, #eaeaea 100%);
    /* Opera 11.10+ */
    background-image: url("../images/radio.png"), -ms-linear-gradient(top, white 0%, #eaeaea 100%);
    /* IE10+ */
    background-image: url("../images/radio.png"), linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='#eaeaea',GradientType=0 );
    /* IE6-9 */
  }
  form table .form-disabled input.form-checkbox {
    opacity: .4;
  }
}
/* Form Fix for Firefox */
@-moz-document url-prefix() {
  .fieldset-wrapper input.form-radio,
  .fieldset-wrapper input.form-checkbox {
/*     opacity: 0; */
  }
}

.exposed-filters .form-item label {
  float: none;
}

#edit-operation {
  margin-top: 6px;
}

body.in-maintenance fieldset.form-wrapper {
  border: 0;
  max-width: 530px;
  padding-top: 3em;
}

body.in-maintenance select.form-select {
  width: 500px;
}

.form-required,
.form-type-managed-file strong {
  color: #ff7e00;
  font-weight: 500;
}

body.in-maintenance .form-submit:hover {
  background: #79d428 url("../images/button-over.png") repeat-x 0 0;
}

body.in-maintenance #install-settings-form fieldset .fieldset-legend {
  font-size: 16px;
}

body.in-maintenance #install-settings-form fieldset .fieldset-wrapper {
  padding-top: 25px;
}

/* Overlay Styles */
a.tabledrag-handle .handle {
  height: 25px;
  width: 25px;
}

#overlay-container .overlay-modal-background {
  background: transparent url("../images/overlay.png") repeat 0 0 !important;
}

#overlay-close-wrapper {
  right: 17px;
  /* LTR */
  top: 15px;
}
#overlay-close-wrapper #overlay-close {
  background: transparent url("../images/close.png") no-repeat left top;
  right: 0;
  /* LTR */
}
#overlay-close-wrapper #overlay-close:hover {
  background-position: left bottom;
}

#overlay-titlebar,
#branding,
.views-ui-dialog .views-override {
  background: #dedede;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #dedede));
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
  background: -o-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
  background: -ms-linear-gradient(top, #f0f0f0 0%, #dedede 100%);
  background: linear-gradient(to bottom, #f0f0f0 0%, #dedede 100%);
  box-shadow: inset 0 -2px 3px #cccccc;
}

.views-ui-dialog #views-ajax-title {
  background: #f0f0f0;
}

#overlay-titlebar {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#overlay-titlebar .add-or-remove-shortcuts {
  padding-top: 31px;
}

h1#overlay-title {
  color: #000000;
  font: normal 500 24px/24px "Open Sans", Arial, sans-serif;
  padding-top: 25px;
}

#overlay-titlebar,
#overlay-content {
  max-width: 100%;
  white-space: normal;
}

#overlay #overlay-content {
  background: #ffffff;
  padding: 8px;
  margin-bottom: 200px;
}

#overlay #overlay-content #branding,
#overlay #overlay-content #page {
  background: transparent;
  box-shadow: none;
  max-width: 100%;
  width: auto;
}

#overlay-tabs-wrapper {
  height: 34px;
  float: right;
  /* LTR */
}

#overlay-tabs,
#branding ul.tabs {
  clear: right;
  /* LTR */
  margin: 0;
  padding: 3px 0 0;
  position: relative;
  right: 0;
  /* LTR */
}

#overlay-tabs li,
#branding ul.tabs li {
  margin: 0;
  padding: 0;
}

#overlay-tabs li a,
#overlay-tabs li a:active,
#overlay-tabs li a:visited,
#overlay-tabs li a:hover,
#branding ul.tabs li a {
  background: #b6b6b6;
  background: -moz-linear-gradient(top, #c8c8c8 0%, #b6b6b6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8c8c8), color-stop(100%, #b6b6b6));
  background: -webkit-linear-gradient(top, #c8c8c8 0%, #b6b6b6 100%);
  background: -o-linear-gradient(top, #c8c8c8 0%, #b6b6b6 100%);
  background: -ms-linear-gradient(top, #c8c8c8 0%, #b6b6b6 100%);
  background: linear-gradient(to bottom, #c8c8c8 0%, #b6b6b6 100%);
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 -2px 3px #b5b5b5;
  float: left;
  /* LTR */
  font-size: 15px;
  font-weight: 400 !important;
  line-height: 30px;
  margin: 0 5px 1px 0;
  /* LTR */
  text-transform: none;
}

#overlay-tabs li a:hover,
#branding ul.tabs li a:hover {
  background: #666666;
  background: -moz-linear-gradient(top, #999999 0%, #666666 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(100%, #666666));
  background: -webkit-linear-gradient(top, #999999 0%, #666666 100%);
  background: -o-linear-gradient(top, #999999 0%, #666666 100%);
  background: -ms-linear-gradient(top, #999999 0%, #666666 100%);
  background: linear-gradient(to bottom, #999999 0%, #666666 100%);
  box-shadow: inset 0 -2px 3px #666666;
}

#overlay-tabs li.active a,
#overlay-tabs li.active a.active,
#overlay-tabs li.active a:active,
#overlay-tabs li.active a:visited,
#branding ul.tabs li.active a {
  background: #ffffff;
  box-shadow: none;
  color: #000;
  margin: 0 5px 0 0;
  /* LTR */
}

#overlay-tabs li:last-child a, #overlay-tabs li.active:last-child a {
  margin: 0;
}

.overlay ul.secondary {
  margin-top: 0;
  padding-top: 10px;
}
.overlay ul.secondary li {
  margin: 0;
  padding: 0 0 0 10px;
  /* LTR */
}

#overlay #overlay-content #branding {
  padding: 0 20px;
}

#overlay #overlay-content #page {
  padding: 0 20px 30px;
}

#overlay-titlebar .add-or-remove-shortcuts {
  padding-bottom: .9em;
}

#footer {
  border-top: 1px solid #efefef;
  clear: both;
  font: normal 13px/13px "Open Sans", Arial, sans-serif;
  margin: 0 40px;
}

body.in-maintenance #footer {
  border: 0;
  margin: 0 auto;
  width: 960px;
}

#overlay #overlay-content #footer {
  border-top: 0;
  color: #fff;
  margin: 0 0 0 -8px;
  padding: 0 8px;
  position: absolute;
  top: 100%;
  width: 100%;
}

#block-system-main {
  position: relative;
}

.breadcrumb {
  clear: left;
  /* LTR */
  color: #666666;
  float: left;
  /* LTR */
  font-size: 12px;
  padding-bottom: 10px;
  width: auto;
}
.breadcrumb a, .breadcrumb span {
  display: inline-block;
  margin: 0 5px 0 0;
  /* LTR */
}
.breadcrumb a {
  color: #666666;
}
.breadcrumb a:hover {
  color: #36a2f6;
  text-decoration: underline;
}
.breadcrumb span {
  background: transparent url("../images/breadcrumb.png") no-repeat 0 0;
  height: 10px;
  margin-top: 6px;
  width: 10px;
}

.help-section h3,
.help-section h3 a {
  font-size: 16px;
  font-weight: 400;
}

/* Default Buttons */
input.form-submit,
a.button {
  background: #e0e0e0;
  background: -moz-linear-gradient(top, #fefefe 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #fefefe 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #e0e0e0 100%);
  border: 1px solid #cccccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px white;
  -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px white;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px white;
  font: normal 500 16px/16px "Open Sans", Arial, sans-serif;
  margin-left: 1px;
  margin-top: 1px;
  padding: 6px 30px;
  text-decoration: none;
}
input.form-submit:focus,
a.button:focus {
  color: #fff;
  outline: 0;
}
input.form-submit:hover, input.form-submit:focus, input.form-submit:active, input.form-submit:disabled,
a.button:hover,
a.button:focus,
a.button:active,
a.button:disabled {
  background: #eeeeee;
  color: #5A5A5A;
  outline: 0;
  text-shadow: 0 -1px 1px #fff;
}

a.button {
  display: inline-block;
}

/* Fix padding issue in Firefox */
@-moz-document url-prefix() {
  input.form-submit {
    padding-top: 0;
    padding-bottom: 0;
  }
}

input.form-submit:hover,
a.button:hover {
  background-position: 0 bottom;
  -moz-box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
  -webkit-box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
  box-shadow: 0 1px 2px #ccc, inset 0 -1px 1px #fff;
}

.form-managed-file input.form-file {
  margin-right: 20px;
  /* LTR */
}

/* Hide placeholder text on input focus */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Green Buttons */
a.button:hover {
  background-position: 0 bottom;
  -moz-box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
  -webkit-box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
  box-shadow: 0 1px 2px #ccc, inset 0 -1px 2px #fff;
}

#overlay-container .overlay-modal-background {
  background: #ccc;
}

.overlay-modal-background {
  /* Using a transparent png renders faster than using opacity */
  background: transparent url(../images/overlay.png) repeat !important;
}

ul.action-links {
  padding: 0;
}

ul.action-links li {
  padding: 6px 0;
}

/* Blue Buttons */
.form-actions #edit-submit,
.form-actions #edit-save,
ul.action-links li,
html.js .view-commerce-message-messages .view-footer fieldset.collapsible .fieldset-legend a,
.field-widget-inline-entity-form .container-inline input.form-submit,
input.ief-entity-submit {
  background: #2f88cd;
  background: -moz-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36a2f6), color-stop(100%, #2f88cd));
  background: -webkit-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -o-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -ms-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: linear-gradient(to bottom, #36a2f6 0%, #2f88cd 100%);
  border: 1px solid #2f88cd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  font: normal 500 16px/16px "Open Sans", Arial, sans-serif;
  margin-left: 1px;
  margin-top: 1px;
  padding: 6px 30px;
  text-decoration: none;
  color: #fff;
}
.form-actions #edit-submit:focus,
.form-actions #edit-save:focus,
ul.action-links li:focus,
html.js .view-commerce-message-messages .view-footer fieldset.collapsible .fieldset-legend a:focus,
.field-widget-inline-entity-form .container-inline input.form-submit:focus,
input.ief-entity-submit:focus {
  color: #fff;
  outline: 0;
}
.form-actions #edit-submit:hover, .form-actions #edit-submit:focus, .form-actions #edit-submit:active, .form-actions #edit-submit:disabled,
.form-actions #edit-save:hover,
.form-actions #edit-save:focus,
.form-actions #edit-save:active,
.form-actions #edit-save:disabled,
ul.action-links li:hover,
ul.action-links li:focus,
ul.action-links li:active,
ul.action-links li:disabled,
html.js .view-commerce-message-messages .view-footer fieldset.collapsible .fieldset-legend a:hover,
html.js .view-commerce-message-messages .view-footer fieldset.collapsible .fieldset-legend a:focus,
html.js .view-commerce-message-messages .view-footer fieldset.collapsible .fieldset-legend a:active,
html.js .view-commerce-message-messages .view-footer fieldset.collapsible .fieldset-legend a:disabled,
.field-widget-inline-entity-form .container-inline input.form-submit:hover,
.field-widget-inline-entity-form .container-inline input.form-submit:focus,
.field-widget-inline-entity-form .container-inline input.form-submit:active,
.field-widget-inline-entity-form .container-inline input.form-submit:disabled,
input.ief-entity-submit:hover,
input.ief-entity-submit:focus,
input.ief-entity-submit:active,
input.ief-entity-submit:disabled {
  background: #359ff2;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  color: #fff;
  text-shadow: 0 -1px 1px #2F88CD;
}

/* Firefox padding issue */
@-moz-document url-prefix() {
  .form-actions #edit-submit,
  .form-actions #edit-save,
  ul.action-links li,
  html.js .view-commerce-message-messages .view-footer fieldset.collapsible .fieldset-legend a,
  .field-widget-inline-entity-form .container-inline input.form-submit,
  input.ief-entity-submit {
    padding: 2px 30px;
  }
}

/* Action Links Overrides of above */
ul.action-links li {
  float: left;
  /* LTR */
  padding: 0;
}

ul.action-links li a {
  background: transparent url("../images/add2.png") no-repeat 10px 10px;
  color: #ffffff;
  font-weight: 500;
  padding: 4px 10px 4px 30px;
  /* LTR */
}

ul.action-links li a:hover {
  text-decoration: none;
}

.rules-elements-table ul.rules-operations-add a {
  line-height: 1.25em;
  float: left;
  /* LTR */
}

/* Table Styles */
table th {
  background: #e0e0e0;
  font-weight: 400;
  font-size: 15px;
  text-transform: none;
}

table th a {
  color: #000;
}

table th {
  padding: 5px 15px;
}

table th.views-field-operations-dropbutton {
  width: 175px;
}

table td {
  padding: 15px;
}

table.sticky-header {
  z-index: 99;
  border-bottom: 0;
  -moz-box-shadow: 0 1px 1px #bebfb9;
  -webkit-box-shadow: 0 1px 1px #bebfb9;
  box-shadow: 0 1px 1px #bebfb9;
}
table.sticky-header th {
  border-bottom: 0;
}

/* Firefox fix for Sticky Table Headers */
@-moz-document url-prefix() {
  table.sticky-header thead {
    display: table-header-group !important;
  }
}

form .field-multiple-table {
  margin-bottom: 10px;
}
form .field-multiple-table th.field-label {
  padding-left: 15px;
}

#views-form-commerce-orders-admin-page table td.views-field-commerce-order-total,
#views-form-commerce-orders-admin-page table td.views-field-status {
  font-weight: 500;
}

div.vertical-tabs {
  margin-bottom: 2em;
}

table td.views-field-edit-node a {
  margin-right: 10px;
  /* LTR */
}

.form-item-changed-command-example .ajax-progress,
#commerce-kickstart-inline-help-form-ajax .ajax-progress {
  float: left;
  /* LTR */
  margin-right: 10px;
  /* LTR */
}

.item-list ul.pager li {
  border-right: 1px solid #737373;
  /* LTR */
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px 0 0;
  /* LTR */
  padding: 0 5px 0 0;
  /* LTR */
  text-transform: capitalize;
}

ul.pager li.pager-next {
  border-right: 0;
  /* LTR */
}

.item-list ul.pager {
  text-align: right;
  /* LTR */
}

ul.pager li a,
ul.pager li.pager-current {
  font-weight: 100;
  line-height: 1em;
}

ul.pager li.pager-current {
  -moz-box-shadow: inset 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 1px #fff;
  box-shadow: inset 0 0 1px #fff;
  color: #737373;
}

ul.pager li.pager-first,
ul.pager li.pager-last {
  display: none;
}

fieldset.collapsed {
  padding-left: 0;
  /* LTR */
}

html.js input.form-autocomplete {
  background-position: 100% 7px;
  padding: 3px 5px;
}

html.js input.throbbing {
  background-position: 100% -14px;
}

/**
* admin/modules
*/
#system-modules #module-filter-submit #edit-actions {
  padding: 0;
}

#system-modules #module-filter-submit .form-actions #edit-submit {
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  font: normal 16px/21px "Open Sans", Arial, sans-serif;
  margin: 1em 0;
  padding: 4px 10px;
}

#user-filter-form #edit-actions {
  background: transparent;
}

input.vbo-table-select-all,
input.vbo-select,
td.checkbox input.form-checkbox {
  border: 0;
  opacity: 1;
  height: 20px;
  width: 20px;
}

#module-filter-squeeze td.checkbox input.form-checkbox {
  height: 17px;
  width: 17px;
  border: 1px solid #a1a1a1;
}
