
.btn-blue {
margin: .5em 0;
padding: .7em 2.5em;
background: #2ab5cd;
color: #FFF;
border: none;
text-align: center;
text-decoration: none;
font-weight: bold;
font-size: 13px;
letter-spacing: 1.29px;
display: inline-block;
cursor: pointer;
border-radius: 3px;
font-family: 'Josefin Sans', sans-serif;
}

.btn-blue:hover {
background-color:  #6ac1d6;
}

#form-finish-account {
padding-top:  20px;
width: 50%;
}

@media only screen and (max-width : 900px) {
/* Styles */
#form-finish-account {
width: 70%;
}

}

@media only screen and (max-width : 640px) {
/* Styles */
#form-finish-account {
width: 100%;
}

}

#form-finish-account .form-text {
font-size: 18px;
padding: 8px;
height: auto;
}

#form-finish-account #edit-submit {
margin: .5em 0;
padding: .7em 2.5em;
background: #2ab5cd;
color: #FFF;
border: none;
text-align: center;
text-decoration: none;
font-weight: bold;
font-size: 13px;
letter-spacing: 1.29px;
display: inline-block;
cursor: pointer;
border-radius: 3px;
font-family: 'Josefin Sans', sans-serif;
}

#form-finish-account #edit-submit:hover {
background-color:  #6ac1d6;
}


.register-input-valid {
border-color: rgb(0, 204, 0) !important;
background-image: url('https://glnenews.s3.amazonaws.com/aophs/formvalid.jpg') !important;
background-repeat: no-repeat !important;
background-position: 98% 50% !important;
}

.register-input-valid:focus, .register-input-valid:active  {
border-color: rgb(0, 204, 0) !important;
}



.register-input-invalid {
border-color: rgb(204, 0, 0) !important;
background-image: url('https://glnenews.s3.amazonaws.com/aophs/forminvalid.jpg') !important;
background-repeat: no-repeat !important;
background-position: 98% 50% !important;
}

.register-input-invalid:focus, .register-input-valid:active  {
border-color: rgb(204, 0, 0) !important;
}