@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/* line 13, ../sass/omega-kickstart-alpha-default.scss */
.zone-user-wrapper {
  position: fixed;
  z-index: 200;
}

/*******************************************
* 2.1.2. Region user second
*******************************************/
/* line 20, ../sass/omega-kickstart-alpha-default.scss */
#region-user-second {
  background-color: transparent;
}

/* line 23, ../sass/omega-kickstart-alpha-default.scss */
.block-views-shopping-cart-block {
  margin: 0;
}

/**********************************************
* 2.2. Zone branding
**********************************************/
/* line 29, ../sass/omega-kickstart-alpha-default.scss */
.zone-branding .region-branding {
  clear: both;
}
/* line 32, ../sass/omega-kickstart-alpha-default.scss */
.zone-branding .region-branding .logo-img {
  float: left;
  /* LTR */
  text-align: left;
  /* LTR */
}

/**
* Search block
*/
/* line 40, ../sass/omega-kickstart-alpha-default.scss */
#block-views-exp-display-products-page {
  float: right;
  /* LTR */
  padding-top: 10px;
  margin-bottom: 10px;
}

/* line 45, ../sass/omega-kickstart-alpha-default.scss */
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative;
  width: 300px;
  float: none;
  margin-right: 10px;
  /* LTR */
  margin-bottom: 0;
}

/**********************************************
* 2.3. Zone menu
**********************************************/
/* line 55, ../sass/omega-kickstart-alpha-default.scss */
.menu-toggle {
  display: none;
}

/* line 59, ../sass/omega-kickstart-alpha-default.scss */
.navigation {
  background: transparent;
  display: block !important;
  margin: 26px 0;
  padding-bottom: 0;
  /* Main menu */
  /* Secondary menu */
}
/* line 65, ../sass/omega-kickstart-alpha-default.scss */
.navigation h2 {
  display: none;
}
/* line 69, ../sass/omega-kickstart-alpha-default.scss */
.navigation .primary-menu ul,
.navigation .second-menu ul {
  display: block;
  float: left;
  /* LTR */
  margin: 0;
  width: 100%;
}
/* line 75, ../sass/omega-kickstart-alpha-default.scss */
.navigation .primary-menu ul li,
.navigation .second-menu ul li {
  font-size: 0.8em;
  margin-right: -4px;
  /* LTR */
  width: auto;
}
/* line 80, ../sass/omega-kickstart-alpha-default.scss */
.navigation .primary-menu ul li a,
.navigation .second-menu ul li a {
  display: inline;
  border-left-width: 0;
  border-right-width: 0;
}
/* line 86, ../sass/omega-kickstart-alpha-default.scss */
.navigation .primary-menu ul li a.active, .navigation .primary-menu ul li a:hover,
.navigation .second-menu ul li a.active,
.navigation .second-menu ul li a:hover {
  border-left-width: 0;
  border-right-width: 0;
}
/* line 92, ../sass/omega-kickstart-alpha-default.scss */
.navigation .primary-menu ul li.first a,
.navigation .second-menu ul li.first a {
  border-left: 1px solid #cccccc;
  /* LTR */
}
/* line 95, ../sass/omega-kickstart-alpha-default.scss */
.navigation .primary-menu ul li.last a,
.navigation .second-menu ul li.last a {
  border-right: 1px solid #cccccc;
  /* LTR */
  margin-right: 0;
  /* LTR */
  margin-left: -2px;
  /* LTR */
}
/* line 103, ../sass/omega-kickstart-alpha-default.scss */
.navigation .primary-menu {
  float: left;
  /* LTR */
  margin-right: 12px;
  /* LTR */
  margin-left: 0;
  /* LTR */
}
/* line 109, ../sass/omega-kickstart-alpha-default.scss */
.navigation .second-menu {
  clear: inherit;
  float: right;
  /* LTR */
  margin-right: 0;
}

/* line 119, ../sass/omega-kickstart-alpha-default.scss */
.zone-menu .block-menu h2.block-title {
  margin-bottom: 1em;
}
/* line 123, ../sass/omega-kickstart-alpha-default.scss */
.zone-menu .block-menu ul.menu li {
  font-size: 0.8em;
  width: auto;
}
/* line 127, ../sass/omega-kickstart-alpha-default.scss */
.zone-menu .block-menu ul.menu li a {
  display: inline;
  border-left-width: 0;
  border-right-width: 0;
}
/* line 132, ../sass/omega-kickstart-alpha-default.scss */
.zone-menu .block-menu ul.menu li a.active, .zone-menu .block-menu ul.menu li a:hover {
  border-left-width: 0;
  border-right-width: 0;
}
/* line 138, ../sass/omega-kickstart-alpha-default.scss */
.zone-menu .block-menu ul.menu li.first a {
  border-left: 1px solid #cccccc;
}
/* line 141, ../sass/omega-kickstart-alpha-default.scss */
.zone-menu .block-menu ul.menu li.last a {
  border-right: 1px solid #cccccc;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
/* line 160, ../sass/omega-kickstart-alpha-default.scss */
#search-api-ranges-block-slider-view-form .range-slider-box {
  margin: 0 auto;
  width: 90%;
}

/* line 164, ../sass/omega-kickstart-alpha-default.scss */
#search-api-ranges-block-slider-view-form .range-box {
  float: inherit;
}

/* line 167, ../sass/omega-kickstart-alpha-default.scss */
#search-api-ranges-block-slider-view-form label {
  float: left;
  /* LTR */
}

/* line 171, ../sass/omega-kickstart-alpha-default.scss */
#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
  float: inherit;
}

/* line 174, ../sass/omega-kickstart-alpha-default.scss */
#search-api-ranges-block-slider-view-form #edit-submit {
  margin-top: 0;
}

/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* line 183, ../sass/omega-kickstart-alpha-default.scss */
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}
/* line 12, ../sass/mixins.scss */
#block-views-demo-content-slideshow-block-1:before, #block-views-demo-content-slideshow-block-1.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 17, ../sass/mixins.scss */
#block-views-demo-content-slideshow-block-1:after {
  clear: both;
}

/**********************************************
* 3.3. Zone postscript
**********************************************/
/* line 190, ../sass/omega-kickstart-alpha-default.scss */
.zone-postscript .grid-8 {
  margin: 0 10px;
  width: inherit;
}

/* line 194, ../sass/omega-kickstart-alpha-default.scss */
#zone-postscript {
  /* Adverts blocks */
}
/* line 197, ../sass/omega-kickstart-alpha-default.scss */
#zone-postscript .view-ad-push .views-row,
#zone-postscript .block-blog-block .block-inner {
  position: relative;
}
/* line 199, ../sass/omega-kickstart-alpha-default.scss */
#zone-postscript .view-ad-push .views-row img,
#zone-postscript .block-blog-block .block-inner img {
  height: auto;
  max-width: 100%;
}
/* line 205, ../sass/omega-kickstart-alpha-default.scss */
#zone-postscript .view-ad-push .views-row .views-field-field-tagline,
#zone-postscript .block-blog-block .block-inner .content .views-field-title {
  position: absolute;
  bottom: 10%;
  left: 7%;
  width: 86%;
}
/* line 210, ../sass/omega-kickstart-alpha-default.scss */
#zone-postscript .view-ad-push .views-row .views-field-field-tagline a,
#zone-postscript .block-blog-block .block-inner .content .views-field-title a {
  border: 0;
}
/* line 215, ../sass/omega-kickstart-alpha-default.scss */
#zone-postscript .block-blog-block .block-inner .block-title {
  display: block;
}
/* line 221, ../sass/omega-kickstart-alpha-default.scss */
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a,
#zone-postscript .block-blog-block .views-field-title .field-content a {
  min-height: 60px;
  padding: 15px 10px;
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Menu footer navigation
*/
/* line 240, ../sass/omega-kickstart-alpha-default.scss */
.section-footer ul.menu li.expanded {
  display: inline;
  float: left;
  /* LTR */
}

/**********************************************
* 4.2. Zone footer2
**********************************************/
/* line 248, ../sass/omega-kickstart-alpha-default.scss */
#block-menu-menu-payment-methods {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 263, ../sass/omega-kickstart-alpha-default.scss */
.view-collection-products .view-header,
.view-collection-taxonomy-term .view-header {
  background-size: cover;
}
/* line 265, ../sass/omega-kickstart-alpha-default.scss */
.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  position: relative;
}
/* line 269, ../sass/omega-kickstart-alpha-default.scss */
.view-collection-products .view-header .view-collection-products,
.view-collection-products .view-header .collection-terms,
.view-collection-taxonomy-term .view-header .view-collection-products,
.view-collection-taxonomy-term .view-header .collection-terms {
  float: right;
  margin: 5px;
  padding-top: 0;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
/* line 281, ../sass/omega-kickstart-alpha-default.scss */
.view-confirm-message-product-display {
  clear: both;
  float: none;
  width: auto;
}

/* line 288, ../sass/omega-kickstart-alpha-default.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: left;
  /* LTR */
  width: 180px;
}
/* line 292, ../sass/omega-kickstart-alpha-default.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  height: 100%;
  position: absolute;
  right: 0;
  /* LTR */
}
/* line 298, ../sass/omega-kickstart-alpha-default.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: left;
  /* LTR */
  padding-bottom: 20px;
}
/* line 304, ../sass/omega-kickstart-alpha-default.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  position: relative;
  left: 0;
}

/* Product details */
/* line 313, ../sass/omega-kickstart-alpha-default.scss */
.node-product-type {
  /* Cloud zoom */
}
/* line 318, ../sass/omega-kickstart-alpha-default.scss */
.node-product-type .cloud-zoom-container .cloud-zoom-big,
.node-product-type .cloud-zoom-container .mousetrap,
.node-product-type .cloud-zoom-container .cloud-zoom-lens {
  display: inherit !important;
}
/* line 322, ../sass/omega-kickstart-alpha-default.scss */
.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: none;
}

/* line 326, ../sass/omega-kickstart-alpha-default.scss */
.service-links {
  width: auto;
}

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout page
* Shipping page
*/
/* line 341, ../sass/omega-kickstart-alpha-default.scss */
.page-checkout #commerce-checkout-form-checkout fieldset label,
.page-checkout #commerce-checkout-form-review fieldset label {
  float: left;
  /* LTR */
  width: 20%;
}
/* line 346, ../sass/omega-kickstart-alpha-default.scss */
.page-checkout #commerce-checkout-form-checkout fieldset .commerce-customer-profile-copy label,
.page-checkout #commerce-checkout-form-review fieldset .commerce-customer-profile-copy label {
  float: none;
  width: 100%;
}

/* line 354, ../sass/omega-kickstart-alpha-default.scss */
.page-cart .entity-commerce-product .content .field-name-field-images {
  display: inline;
  float: left;
  margin-right: 8px;
}

/**************************************************
* --
* 7. Blog
* --
**************************************************/
/* line 365, ../sass/omega-kickstart-alpha-default.scss */
.page-blog .region-content .view-content .views-row {
  clear: left;
  float: left;
  width: 49%;
}
/* line 370, ../sass/omega-kickstart-alpha-default.scss */
.page-blog .region-content .view-content .views-row-even {
  clear: right;
  float: right;
}

/**************************************************
* --
* 9. User account
* --
**************************************************/
/* line 381, ../sass/omega-kickstart-alpha-default.scss */
.page-user,
.page-checkout {
  /* Registration form */
  /* Login form, create an account block */
  /* User home */
}
/* line 386, ../sass/omega-kickstart-alpha-default.scss */
.page-user #user_register_form,
.page-user #user_login_form,
.page-user .create-account,
.page-user #user_pass_form,
.page-checkout #user_register_form,
.page-checkout #user_login_form,
.page-checkout .create-account,
.page-checkout #user_pass_form {
  clear: none;
  float: left;
  width: 45%;
}
/* line 394, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-register-form .form-item-pass,
.page-user form#user-profile-form .form-item-pass,
.page-checkout form#user-register-form .form-item-pass,
.page-checkout form#user-profile-form .form-item-pass {
  margin-bottom: auto;
}
/* line 396, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-register-form .form-item-pass .password-parent,
.page-user form#user-profile-form .form-item-pass .password-parent,
.page-checkout form#user-register-form .form-item-pass .password-parent,
.page-checkout form#user-profile-form .form-item-pass .password-parent {
  position: relative;
  width: 36.3em;
}
/* line 399, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-register-form .form-item-pass .password-parent .password-strength,
.page-user form#user-profile-form .form-item-pass .password-parent .password-strength,
.page-checkout form#user-register-form .form-item-pass .password-parent .password-strength,
.page-checkout form#user-profile-form .form-item-pass .password-parent .password-strength {
  position: absolute;
  right: 15px;
  bottom: -12px;
  width: 17em;
}
/* line 406, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-register-form .form-item-pass .confirm-parent,
.page-user form#user-profile-form .form-item-pass .confirm-parent,
.page-checkout form#user-register-form .form-item-pass .confirm-parent,
.page-checkout form#user-profile-form .form-item-pass .confirm-parent {
  position: relative;
  width: 36.3em;
}
/* line 409, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
.page-user form#user-profile-form .form-item-pass .confirm-parent div.password-confirm,
.page-checkout form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
.page-checkout form#user-profile-form .form-item-pass .confirm-parent div.password-confirm {
  right: 15px;
  bottom: 8px;
  width: 17em;
}
/* line 415, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-register-form .form-item-pass .password-suggestions,
.page-user form#user-profile-form .form-item-pass .password-suggestions,
.page-checkout form#user-register-form .form-item-pass .password-suggestions,
.page-checkout form#user-profile-form .form-item-pass .password-suggestions {
  width: 38.5em;
}
/* line 419, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-register-form .form-actions,
.page-user form#user-profile-form .form-actions,
.page-checkout form#user-register-form .form-actions,
.page-checkout form#user-profile-form .form-actions {
  clear: both;
  margin-top: 0;
  margin-bottom: 100px;
  width: 70%;
}
/* line 426, ../sass/omega-kickstart-alpha-default.scss */
.page-user #user_pass_form,
.page-checkout #user_pass_form {
  width: auto;
}
/* line 432, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-login #user_login_form,
.page-checkout form#user-login #user_login_form {
  border: 0;
  border-right: 1px solid #444444;
  padding-right: 20px;
  padding-bottom: 0;
}
/* line 438, ../sass/omega-kickstart-alpha-default.scss */
.page-user form#user-login .create-account,
.page-checkout form#user-login .create-account {
  margin: 0;
  padding: 0 20px 20px 20px;
}
/* line 447, ../sass/omega-kickstart-alpha-default.scss */
.page-user .profile ul.user-information li,
.page-checkout .profile ul.user-information li {
  border-bottom: 0;
  width: 33%;
}

/* Address book */
/* line 457, ../sass/omega-kickstart-alpha-default.scss */
.page-user-addressbook .view-commerce-addressbook td {
  display: table-cell;
}
