@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/*******************************************
* 2.1.1. Region user first
*******************************************/
/* line 16, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
.block-menu-user-menu .block-inner {
  float: right;
  margin-right: 10px;
}

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
/* line 32, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
#search-api-ranges-block-slider-view-form .range-box-left #edit-range-from {
  text-align: left;
  /* RTL */
}

/**********************************************
* 3.2. Zone content
**********************************************/
/* line 40, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */
}
/* line 42, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
#block-views-demo-content-slideshow-block-1 .bx-prev {
  margin-right: 0;
  /* RTL */
  margin-left: auto;
  float: right !important;
  right: 0;
  /* RTL */
  left: auto !important;
}
/* line 49, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
#block-views-demo-content-slideshow-block-1 .bx-next {
  margin-right: auto;
  margin-left: 0;
  /* RTL */
  float: left !important;
  right: auto !important;
  left: 0;
  /* RTL */
}

/**********************************************
* 3.3. Zone postscript
**********************************************/
/* line 62, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content,
#zone-postscript .block-blog-block .views-field-title .field-content {
  font-size: 18px;
  line-height: 26px;
}

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Connect with us
*/
/* line 78, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
#block-menu-menu-social-connection h2 {
  line-height: inherit;
  padding: 0 25px 22px 0;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 95, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  font-size: 3em;
}
/* line 98, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
.view-collection-products .view-header .collection-terms .view-content .item-list,
.view-collection-taxonomy-term .view-header .collection-terms .view-content .item-list {
  display: block;
  float: none;
}

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
/* line 111, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: right;
}
/* line 118, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  margin-left: 0px;
  margin-right: 130px;
}
/* line 123, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
  left: auto;
  right: -115px;
}

/* Cloud zoom */
/* line 136, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  float: none !important;
}
/* line 142, ../sass/omega-kickstart-alpha-default-normal-rtl.scss */
.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: right;
}
