//
// Initialization partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "init" declaration. And this _init.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This initialization partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we define our custom mixins for this theme.
//


// =============================================================================
// Variables
// =============================================================================
// Colors
$black: #222222;
$white:#fff;
$blue_one: #2ab5cd;
$blue_two: #6ac1d6;
$gray_one: #9badb4;
$gray_two: #b2c3c9;
$gray_three: #e1e6e8;
$gray_four: #f0f3f4;
$yellow: #fbb03b;
$green: #8dc63f;
$purple: #45447f;
$pink: #f37d7c;

// width
//$page_full_width: 85%;

//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) Set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid and gutter width in resonsive-sidebars.scss
//   (use px for both or use % for both) and set the box-sizing variable to content-box.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   18px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2.222  * $base-font-size;
$h2-font-size: 1.5    * $base-font-size;
$h3-font-size: 1.17   * $base-font-size;
$h4-font-size: 1      * $base-font-size;
$h5-font-size: 0.83   * $base-font-size;
$h6-font-size: 0.67   * $base-font-size;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
//$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
//$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
//$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;
//$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
//$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
//$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

//Base Header Styling - CEvans
$lorabold:                "Lorabold", serif; //h1
$MrEavesModOTReg:         "MrEavesModOTReg",Verdana,Tahoma,"DejaVu Sans",sans-serif; //h2, p
$MrEavesModOTLightItalic: "MrEavesModOTLightItalic",Verdana,Tahoma,"DejaVu Sans",sans-serif; //h3
$MrEavesModOTBold:        "MrEavesModOTBold",Verdana,Tahoma,"DejaVu Sans",sans-serif;//h4, h5
$MrEavesModOTRegItalic:   "MrEavesModOTRegItalic",Verdana,Tahoma,"DejaVu Sans",sans-serif;//blockquote




// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
//$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $MrEavesModOTReg; // The font family set on the html element.
$font-body:        $MrEavesModOTReg;
$font-monospace:   $MrEavesModOTReg;


//
// Colors, etc.
//

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// The height of the navigation container.
$nav-height: 3em;

// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;

// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";
// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";
// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3";
// Helps set up a vertical rhythm.
@import "compass/typography/vertical_rhythm";
// Add the Zen Grids responsive layout mixins.
@import "zen";

// Now we add our custom helper mixins.
@import "mixins";

// Add border radius support
@import "compass/css3/border-radius";

// Provides a mixin to support @font-face
// http://www.w3.org/TR/css3-fonts/#the-font-face-rule
@import "compass/css3/font-face";
//Provides a mixin for the box-sizing property,
@import "compass/css3/box-sizing";

@import "compass/css3/appearance";
