// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// Media queries from bootstrap  -  Michael Malbone
@mixin breakpoint($point) {
  @if $point == wide {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == normal {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 991px)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 767px) { @content; }
  }
}