@import "_variables.scss";

@mixin clearfix {
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
  &:before,
  &.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
  *zoom: 1;
}

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded($side, $radius) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin button-blue-background {
  margin: .5em 0;
  padding: .7em 2.5em;
  background-color: $blue_one;
  color: $gray_four;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  display: inline-block;
  @include border-radius(3px);
}

@mixin button-gray-background {
  background-color: $gray_four;
  color: $blue_one;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  display: inline-block;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  @include border-radius(3px);
}

@mixin button-dark-gray-background {
  background-color: $gray_two;
  color: white;
  text-transform: uppercase;
  padding: 2px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}