@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);

// aop colors
$white: #FFFFFF;
$black: #222222;
$blue_one: #2ab5cd;
$blue_two: #6ac1d6;
$gray_one: #9badb4;
$gray_two: #b2c3c9;
$gray_three: #e1e6e8;
$gray_four: #f0f3f4;
$yellow: #fbb03b;
$green: #8dc63f;
$purple: #45447f;
$text_color: #000;
$pink: #f37d7c;

$bodybg: #FFF;
$headerfont: 'Open Sans', sans-serif;
$altheaderfont: 'Gentium Basic', serif;

//text color
$color1: #2698F2;
$color2: #FFF;


// mobile specific elements
$mobilemenubg: #444;
$tabletmenubg: transparent;
// User Zone
$topbarbackground: #888;
// shopping cart block (in user zone)
$cartceckoutbg: #999;
$cartceckoutcolor: #FFF;
// main menu
$mainmenuitembg: #EEE;
$mainmenuitemborder: 1px solid #CCC;
$mainmenulinkcolor: #888;
$mainmenuitembghover: #FFF;
$mainmenuitemborderhover: 1px solid #CCC;
$mainmenuitemfonthover: #999;
$mainmenuitemfontactive: #000;
// secondary menu
$secondarymenuitembg: #EEE;
$secondarymenuitemborder: 1px solid #CCC;
$secondarymenulinkcolor: #888;
$secondarymenuitembghover: #FFF;
$secondarymenuitemborderhover: 1px solid #CCC;
$secondarymenuitemfonthover: #999;
$secondarymenuitemfontactive: #000;
// promotional banner
$promobannerbg: #999;
$promobannercolor: #FFF;
$promobannerbuttonbg: #888;
$promobannerbuttoncolor: #FFF;
$promobannerbuttonborder: 1px solid #CCC;
// footer
$footerbg: #FFF;
$footermenuheadercolor: #666;
$footermenulinkcolor: #999;

$footer2bg: #CCC;
