/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

/* Header Rules */
@import "header";
/* End Header Rules */

/* Footer Rules */
@import "footer";
/* End Footer Rules */

/*------------------------------------------------
[Table of contents]
0. Reset
1. Global
  1.1. Zones
  1.2. Regions
2. Section header
  2.1. Zone user
    2.1.1. Region user first
    2.1.2. Region user second
  2.2. Zone branding
  2.3. Zone menu
  2.4. Zone header
3. Section content
  3.1. Zone preface
  3.2. Zone content
    3.2.1. Sidebar first
    3.2.2. Content
    3.2.3. Sidebar second
  3.3. Zone postscript
4. Section footer
  4.1. Zone footer
  4.2. Zone footer2
5. Commerce specific
  5.1. Search & Collection page
  5.2. All products page
  5.3. Product page
  5.4. Checkout process
6. Kickstart specific
  6.1. Homepage elements
7. Blog
  7.1. Blog comments
8. User account
------------------------------------------------*/

/**************************************************
* --
* 1. Global
* --
**************************************************/
body {
  background: #ececec url('../images/bg.png') left top;
}
.responsive-layout-mobile {
  .facetapi-lists {
    display: none;
  }
  .selectnav {
    display: block;
  }
}
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
.zone-user-wrapper {
  background-color: #8e8e8e;
}
/*******************************************
* 2.1.1. Region user first
*******************************************/
/* User menu */
.block-menu-user-menu .content ul.menu li {
  &.first {
    border-right: 1px solid #ffffff; /* LTR */
    padding-right: 7px; /* LTR */
  }
  &.last {
    padding-left: 7px; /* LTR */
  }
  a.active {
    background-color: #cecece;
    color: #000;
    text-decoration: none;
  }
  a.active:hover,
  a:hover {
    background-color: #717171;
    text-decoration: none;
  }
}
/*******************************************
* 2.1.2. Region user second
*******************************************/
/**
* Cart block
*/
.block-shopping-cart-block .content {
  background-color: #ffffff;
  background-image: url('../images/picto_cart.png');

  .view-shopping-cart .line-item-summary ul.links {
    background-color: $green;
  }
}
/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.1. Zone preface
**********************************************/
/**
* Pseudo Breadcrumb
*/
#region-breadcrumb .pseudo-breadcrumb li a {
  background: url('../images/btn_close.png') left center no-repeat; /* LTR */
}
/**********************************************
* 3.2. Zone content
**********************************************/
.zone-content-wrapper .zone-content {
  background-color: #FFFFFF;
}
.front .zone-content-wrapper .zone-content {
  padding-top: 0;
}
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
.region-sidebar-first .block-facetapi {
  ul {
    li  {
      a {
        &.facetapi-inactive {
          padding-left: 0px; /* LTR */
        }
      }
    }
  }
}
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
#promotional_banner {
/* HP blocks: Top advert */
  background-color: #2698F2;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 10px 20px 10px;
  position: relative;
  top: 0;
  .promotional_banner_saving {
    display: block;
    font-size: 28px;
    font-weight: 900;
    line-height: 38px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
  }
  .promotional_banner_special_offer {
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    @include rounded-corners(4px);
    color: #2698F2;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 12px;
    position: absolute;
    top: 10px;
    right: 10px; /* LTR */
    text-transform: capitalize;
  }
}
.block-shipping-discount {
/* HP blocks: Side advert */
  #shipping {
    background-color: #000000;
    border: 6px solid #ffffff;
    color: #2698F2;
    display: block;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 5px 20px 5px;
  }

  #shipping #shipping_message span {
    border-bottom: 1px solid #ffffff;
    display: block;
    color: $color2;
    font-size: 20px;
    padding: 10px 0 4px 0;
    text-transform: uppercase;
  }
  #shipping #shipping_message span em {
    font-size: 27px;
    font-style: normal;
  }
  #shipping #shipping_currency {
    display: block;
    font-size: 27px;
    margin-top: 2px;
  }
  #shipping #shipping_message {
    font-family: $headerfont;
    font-weight: 400;
  }
  #shipping #shipping_message span,
  #shipping #shipping_message span em,
  #shipping #shipping_currency {
    font-family: $headerfont;
    font-weight: 700;
  }
}

#zone-postscript {
  .view-ad-push .views-row .views-field-field-tagline,
  .block-blog-block .views-field-title {
    .field-content {
      border: 1px solid #5f5f5f;
      background: transparent url('../images/bg_ad_push_headline.png') left top;
      a {
        background: none;
        &:hover {
          background: transparent url('../images/bg_blog_headline.png') left top;
        }
      }
    }
  }
  .view-ad-push .views-row:hover .views-field-field-tagline,
  .block-blog-block:hover .views-field-title {
    .field-content {
      a {
          background: transparent url('../images/bg_blog_headline.png') left top;
        }
    }
  }
}
/**************************************************
* --
* 4. Section footer
* --
**************************************************/
.section-footer {
  background-color: #3f3f3f;
}
/**********************************************
* 4.1. Zone footer
**********************************************/
.zone-footer-wrapper {
  background-color: #494949;
}
/**
* Menu footer navigation
*/
.section-footer ul.menu li.expanded {
  span,
  a {
    color: #ffffff;
  }
  ul.menu li a {
    color: #c1c1c1;
  }
}

/**
* Connect with us
*/
#block-menu-menu-social-connection {
  h2 {
    background-color: #262626;
    color: #eeeeee;
  }
  .content ul.menu li {
    color: #eeeeee;
    &:hover {
      background-color: #cecece;
      @include rounded-corners(4px);
    }
    span,
    a {
      color: #eeeeee;
    }

    a.facebook {
      background: url('../images/icon_facebook.png') 2% 50% no-repeat; /* LTR */
    }
    a.twitter {
      background: url('../images/icon_twitter.png') 2% 50% no-repeat; /* LTR */
    }
    a.pinterest {
      background: url('../images/icon_pinterest.png') 2% 50% no-repeat; /* LTR */
    }
  }
}
/**********************************************
* 4.2. Zone footer2
**********************************************/
.zone-footer2-wrapper {
  background-color: #3f3f3f;
  color: #eeeeee;
}
/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-taxonomy-term .products-per-collection li header,
.page-products .view-display-products li header {
}
.view-collection-taxonomy-term .view-content .item-list {
  clear: both;

  h3 {
    position: relative;

    span {
      display: block;
      position: absolute;
      top: 0px;
    }
    .collection {
      background: url("../images/bg.png") repeat scroll left top #ECECEC;
      font-size: 0.8em;
      padding: 0 0 4px;
      text-transform: uppercase;

      a {
        background-color: #FFFFFF;
        color: #B8B8B8;
        display: block;
        padding: 5px;
      }
    }
  }
  .products-per-collection li.views-row {
    display: inline;
    height: auto;
    margin: 0;
    padding-right: 5px; /* LTR */
    padding-bottom: 30px;
    width: 230px;
    &:nth-child(4n+5) {
      clear: left; /* LTR */
      float: left; /* LTR */
    }
    h2 {
      font-size: 14px;
      height: 35px;
      line-height: 16px;
      margin: 0 4px;
    }
  }
}
/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
div.messages.commerce-add-to-cart-confirmation {
  background-color: #d6e5ec;
  border-color: #6bb0cb;

  .message-inner {
    .added-product-title {
      color: #2698f2;
    }
    .button-wrapper .button {
      &.checkout {
        background-color: #2698F2;
      }
      &.continue {
        background-color: #b3b3b3;
      }
    }
    .commerce-add-to-cart-confirmation-close {
      background: url('../images/btn_add-to-cart-close.png') no-repeat 0 0;
    }
    .view-confirm-message-product-display {
      .view-content {
        margin-left: inherit;
      }
    }
  }
}

/**************************************************
* --
* 8. Comments
* --
**************************************************/
.node-teaser .links.node-links .links {
  .node-readmore a {
    background: transparent url('../images/icon_read-more.png') 95% center no-repeat;
    color: #4386be;
    padding-right: 15px; /* LTR */
  }
  .comment-comments a {
    background: transparent url('../images/icon_chat.png') 15% center no-repeat;
    padding-left: 20px; /* LTR */

    span {
      display: block;
      float: left; /* LTR */
      text-indent: -9999px;
    }
  }
}
/**************************************************
* --
* 9. User account
* --
**************************************************/
.not-logged-in #block-connector-one-click-block {
  #edit-oauthconnector-facebook {
    background:url('../images/btn_facebook.png') no-repeat;
  }
  #edit-oauthconnector-twitter {
    background:url('../images/btn_twitter.png') no-repeat;
  }
  #edit-oauthconnector-google {
    background:url('../images/btn_google.png') no-repeat;
  }
}


/***************************************************
 * --
 * 10. Custom for AOP
 * --
 ***************************************************/


 body { 
   background-image: none;
   background-color: $white;
 }

 #page { 
   background-color: $white;
 }

.zone-user-wrapper { 
  background-color: $blue_one;
}

 ul.facetapi-facetapi-checkbox-links { 

   li { 
     list-style: none;
     margin: 0;
   }

 }

#section-footer { 
  background-color: $blue_one;
  ul.menu { 
    li.expanded { 
      color: $black;
      .nolink { 
        color: $black;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
      }
      a { 
        color: $black;
      }
    }
  }
  .footer-social-icon { 
    float: left;
    margin-right: 10px;
  }
}

.zone-footer-wrapper { 
  background-color: $blue_one;
  color: $black;
  a { 
    color: $black;
  }
}

.zone-footer2-wrapper  { 
  background-color: $blue_one;
}

#zone-footer-bottom { 

   border-top: 1px solid $black;
   padding-bottom: 20px;
   padding-top: 10px;

   h2 { 
     display: none;
   }

   ul { 

    li { 
      display: inline;
      margin-right: 20px;
      a { 
       color: $black;
      }
    }

   }

}


#zone-branding { 
   width: 100%;
   #region-branding { 
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
   }
}

#region-home-promo-first,
#region-home-promo-second { 
   margin: 34px 0 0;
   background-image: url("../images/aop-home-promo.png");
   background-position: right bottom;
   background-repeat: no-repeat;
   color: #ffffff;
   min-height: 158px;
   text-align: center;
   background-color: #2ab5cd;
   width: 50%;
   .aop-home-promo-title { 
    font-family: "Lorabold",serif;
    font-size: 39.996px;
    line-height: 1em;
    margin: 20px 0 10px;
   }
   .aop-home-promo-summary { 
    font-family: "MrEavesModOTReg",Verdana,Tahoma,"DejaVu Sans",sans-serif;
    font-size: 27px;
    line-height: 1.1em;
    margin: 20px auto;
    text-align: center;
    width: 70%;
   }
   .aop-home-promo-button { 
     margin-bottom: 20px;
     margin-top: 20px; 
     background-color: #f0f3f4;
     border-radius: 3px;
     color: #2ab5cd;
     display: inline-block;
     font-size: 0.7em;
     font-weight: bold;
     letter-spacing: 0.1em;
     margin: 5px;
     padding: 2px 8px;
     text-align: center;
     text-decoration: none;  
     em { 
       display: inline;
     }
   }
}

.panels-flexible-row-aop_homepage-main-row {
      padding-top: 1em;
      padding-bottom: 1em;
      background-color: #2ab5cd;
      text-align: center;
      color: $white;
      p { 
        margin: 0;
      }
}

.panels-flexible-aop_homepage .panels-flexible-row {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: .5em;
}


.aop-homepage-hero { 
  .homepage-hero-left {
    background-image: url("../images/front-main-feature-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 412px;
    overflow: hidden;
    text-align: center;
    width: 70%;
    .content-title {   
       font-family: "Lorabold",serif;
       font-size: 39.996px;
       line-height: 1.6em;
       margin-top: 4em;
       color: #FFF;
    }
    em { 
      display: inline;
    }
  }
  .homepage-hero-right { 
    height: 412px;
    overflow: hidden;
    color: $white;
    .freeshipping {
      background-color: #f37d7c;
      font-size: 27px;
      height: 110px;
      padding-top: 40px;
      text-align: center;
      a { 
        em { 
        }
      }
   }
   .seasonal-promo-faith { 
      background-color: #f37d7c;
      font-size: 27px;
      height: 110px;
      padding-top: 40px;
      text-align: center;
      .seasonal-promo { 
         background-color: #ef9c37;
         background-image: url("../images/front-callout-seasonal.jpg");
         background-repeat: no-repeat;
         background-size: 100% 100%;
         float: left;
         height: 162px;
         padding: 100px 2% 0;
         text-align: center;
         width: 46%;
      }
      .why-faith-based { 
         background-color: #2ab5cd;
         background-image: url("../images/front-callout-products.jpg");
         background-repeat: no-repeat;
         background-size: 100% 100%;
         float: left;
         height: 162px;
         padding: 100px 2% 0;
         text-align: center;
         width: 46%;
      }
   }
  }
}

.panels-flexible-region-aop_homepage-homepage_hero_right-inside { 
    padding: 0;
}


/****************************************************************
 *  AOP Product Listing
 ****************************************************************/

 ul.all-products { 
   width: 100%;
   float: left;
   li.views-row { 
      width: 100%;
      float: left;
      .field-name-commerce-price { 
         color: #000;
         font-weight: bold;
      }
   }
 }

 .aop-product-listing-wrapper { 
     
    width: 100%;
    float: left;

    .aop-product-image-wrapper { 
         width: 25%;
         float: left;
         image { 
           max-width: 90%
         }
    }

    .aop-product-item-details-wrapper { 
       float: left;
       width: 75%;
       .commerce-product-sku-label { 
         display: none;
       }
       .commerce-product-sku { 
         &:before { 
            content: "PRODUCT ID ";
         }
       }
       .aop-product-item-details-left { 
         width: 75%;
         float: left;
         h2 { 
           a {
             color: $blue_two;
             font-weight: bold;
           }
         }
       }
       .aop-product-item-details-right { 
         width: 25%;
         float: left;
         text-align: center;
         padding-top: 4em;
       }
    }

 }

 .page-products { 
    .view-display-products { 
       li {
        .content {
          .field-name-commerce-price {
              color: #000;
              font-weight: bold;
          }
         }
       }
      }
    }


.aop-product-image-wrapper { 

   img { 
     max-width: 90%;
     min-width: 90%;
     margin-left: auto;
     margin-top: 1em;
   }

}

/*******
 * Product detail page 
 *******/

 .aop-product-detail-page-wrapper { 

   width: 100%;
   float: left;

   .aop-product-detail-page-header { 
      width: 100%;
      float: left;
      .aop-product-image-wrapper { 
        width: 25%;
        float: left;
        text-align: center;
        img { 
          max-width: 90%;
        }
      }

      .aop-product-description-wrapper { 
         width: 75%;
         float: left;
         .aop-product-title { 
           h2 { 
             color: $blue_two;
           }
         }
         .aop-product-sku { 
            color: $gray_one;
         }
      }

   }

   .aop-product-spec-wrapper {

      margin-top: 2em;
      float: left;

      .single-product-spec { 
        background-color: #f0f3f4;
        border: 6px solid #e1e6e8;
        box-sizing: border-box;
        float: left;
        width: 70%;
     }

     .single-product-cart { 
       width: 28%;
       float: left;

       .field-name-field-product { 
          margin: 0;
          padding: 0;
          .field-label { 
             display: none;
          }
       }

       .price-label { 
         font-size: .5em;
         padding-top: 1em;
         padding-bottom: 1em;
       }
       .price-amount { 
         font-size: .5em;
         padding-top: 1em;
         padding-bottom: 1em;
         color: $blue_two;
       }

       form.commerce-add-to-cart { 
           padding-top: 0;
           padding-bottom: 39px;
       }

     }
  }

 }



/* General Icons */
.single-product-spec-ataglance div span:nth-child(1) {
  margin: 3px 10px;
  padding: 10px 9px;
  background-image: url(../images/at_a_glance.png);
  display: inline-block;
}

.book {
  background-position: 0 20px;
}

.computer {
  background-position: 0 40px;
}

.play_button {
  background-position: 79px 20px;
}

.plus_sign {
  background-position: 94px 20px;
  background-size: 111px 40px;
  position: relative;
  top: 1px;
}

.folder {
  background-position: 95px 40px;
}

.trophy {
  background-position: 62px 40px;
}

.checkmark {
  background-position: 63px 20px;
}

.tornado {
  background-position: 20px 20px;
}

.apple {
  background-position: 20px 40px;
}

.speedometer {
  background-position: 42px 20px;
}

.book-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: 0 16px;
  display: inline-block;
  margin: 3px 10px;
  padding: 8px 9px;
}

.video-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: 14px 16px;
  display: inline-block;
  margin: 3px 10px;
  padding: 8px 7px;
}

.folder-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: -17px 35px;
  display: inline-block;
  margin: 3px 10px;
  padding: 8px 10px;
}

.cross-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: -17px 18px;
  display: inline-block;
  margin: 3px 10px;
  padding: 9px;
}

.monitor-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: 0 34px;
  display: inline-block;
  margin: 3px 10px;
  padding: 9px;
}

.thumbs-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: 14px 35px;
  display: inline-block;
  margin: 3px 10px;
  padding: 8px 7px;
}

.mail-icon {
  background-image: url(../images/icon-email.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.pdf-icon {
  background-image: url(../images/icon-pdf.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.check-icon {
  background-image: url(../images/icon-check-active.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.play-icon {
  background-image: url(../images/icon-play.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.presentation-icon {
  background-image: url(../images/icon-computer.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-star {
  background-image: url(../images/icon-star.png);
  background-repeat: no-repeat;
  /*background-size: 100% auto;*/
  display: inline-block;
  height: 0.7em;
  margin: 0 5px;
  width: 0.7em;
}

/* End General Icons */

// At a glance styling in product page

.single-product-spec-ataglance div {
  clear: both;
}

.single-product-spec-ataglance div span:nth-child(1) {
  height: 100%;
  display: block;
  width: 0px;
  float: left;
}

.single-product-spec-ataglance div span:nth-child(2) {
  position: relative;
  top: 2px;
}

#single-product-page .single-product-spec .single-product-spec-ataglance h2 {
  padding-left: 10px;
  margin: 4px 0 2px;
}

.single-product-spec-calltoaction {
    color: #2ab5cd;
    float: left;
    margin: 2%;
    width: 42%;
    ul { 
      li { 
        background-position: left top;
        border-top: 1px solid #9badb4;
        line-height: 2em;
        list-style: none outside none;
        margin: 0;
        padding: 5px 0;
        padding-top: 2px;
        text-indent: 40px;
        width: 100%;
        font-size: .9em;
      }
      li.mail-icon { 
        border-top: none;
      }
    }
}

.single-product-spec-ataglance { 
    background-color: white;
    float: left;
    margin: 2%;
    width: 50%;
    h2 { 
      font-size: 27px;
      line-height: 1;
      padding-left: 15px;
      margin: 4px 0 2px;
    }
    div { 
      border-top: 3px solid #f0f3f4;
      font-weight: bold;
      width: 100%;
    }
}

.single-product-cart { 
   border: 6px solid #e1e6e8;
   box-sizing: border-box;
   float: left;
   margin-left: 2%;
   padding: 1%;
   width: 28%;
   text-align: center;

   .field-name-field-product { 
     margin-bottom: 47px;
   }

   .add-to-wishlist { 
     background-image: url(../images/icon-star.png);
     background-repeat: no-repeat;
     background-position: left center;
     /*background-size: 100% auto;*/
     display: inline-block;
     text-indent: 2em;
     line-height: 3em;      
   }
}

// End At a glance

/******************
 * Product Carousel
 ******************/

.single-product-recommended-header { 

  h2 { 
    margin-top: 2em;
    margin-bottom: 0em;
  }
}


 .aop-product-carousel-listing-wrapper { 


   .aop-product-carouse-image-wrapper { 
      
      width: 100%;
      float: left;
      text-align: center;

      img { 
        max-width: 100%;
      }

   }

   .aop-product-carousel-item-details-wrapper { 
      width: 100%;
      float: left;
      text-align: center;
   }

   .aop-product-carousel-item-title { 
      color: $blue_two;
      font-weight: bold;
      width: 100%;
      float: left;
      h2 { 
        font-size: 1em;
        height: 3em;
      }
   }

   .aop-product-carousel-item-sku { 
      margin-bottom: 1em;
   }

   .aop-product-carousel-item-price { 
     .commerce-price-savings-formatter-prices {
        tr { 
          border: none;
          td { 
            font-size: .5em;
          }
        } 
     }
   }

 }

.jcarousel-skin-default { 

  .jcarousel-next-horizontal, 
  .jcarousel-prev-horizontal { 
     top: 185px;
  }

  .jcarousel-container-horizontal { 
     width: 100%;
     height: 430px;
  }

  .jcarousel-clip-horizontal { 
    width: 100%;
    height: 410px;
    float: left;
  }

  .jcarousel-item { 
     width: 225px;
     height: 400px;
  }

}

/******************************
 *  Get started page 
 ******************************/
.get-started-top-promo {
 background-image: url("../images/banner-gettingStarted.jpg");
 background-repeat: none;
 width: 100%;
 height: 180px;
 text-align: center;
 h2 { 
    padding-top: 50px;
    color: #fff;
 }
 p { 
   color: #fff;
   font-size: 1.2em;
   margin: 0;
 }
}

.getting-started-1-wrapper { 
   background-image: url("../images/step-one.png");
   background-position: left top;
   background-repeat: no-repeat;
   padding-left: 20%;
   width: 80%;
}

.getting-started-2-wrapper { 
   background-image: url("../images/step-two.png");
   background-position: left top;
   background-repeat: no-repeat;
   padding-left: 20%;
   width: 80%;
}

.getting-started-3-wrapper { 
   background-image: url("../images/step-three.png");
   background-position: left top;
   background-repeat: no-repeat;
   padding-left: 20%;
   width: 80%;
}

.foryourfamily { 
    background-image: url("../images/foryourfamily.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    display: inherit;
    padding: 7%;
    text-decoration: none;
    a { 
      color: #fff;
    }
}

a.button-gray-background { 
    background-color: #f0f3f4;
    border-radius: 3px;
    color: #2ab5cd;
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 5px;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.button-blue-background { 
  background-color: #2ab5cd;
  border: medium none;
  border-radius: 3px;
  color: #f0f3f4;
  display: inline-block;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
  padding: 0.7em 2.5em;
  text-align: center;
  text-decoration: none;
}

.get-started-hear-from-you { 
   background-color: #9badb4;
    color: white;
    padding: 20px 0 20px 20px;
    float: left;
    p { 
      float: left;
      margin: 0 10px 0 0;
      width: 65%;
    }
    .buttons { 
       float: left;
       width: 30%;
    }
}

.get-started-order-catalog { 
   background-color: #b2c3c9;
   color: white;
   padding: 20px 0 20px 20px;
   float: left;
   p { 
     float: left;
     margin: 0 10px 0 0;
     width: 65%;
   }
   .buttons { 
       float: left;
       width: 30%;
   }

}

/************************
 *  Checkout popup window
 ************************/

.view-confirm-message-product-display {
  .messages.commerce-add-to-cart-confirmation {
    .message-inner {
      .view-confirm-message-product-display {
        .view-content { 
              margin-left: 2em;
         }
      }
    }
  }
} 


/************************
 *  Homepage 
 ************************/

.aop-academy-promo-wrapper { 
   float: left;

   .aop-academy-promo-image { 
      float: left;
      width: 25%;
   }

   .aop-academy-promo-text { 
      float: left;
      width: 70%;
      padding-left: 5%;
   }
}

.aop-christian-schools-wrapper { 

   .aop-christian-schools-image { 
      float: left;
      width: 25%;
   }

   .aop-christian-schools-text { 
      float: left;
      width: 70%;
      padding-left: 5%;
   }

}

.aop-homepage-carousel {
    border: 6px solid #e1e6e8;
    box-sizing: border-box;
    .jcarousel-skin-default { 
      .aop-product-carousel-listing-wrapper { 
         .aop-product-carousel-item-price { 
             .commerce-price-savings-formatter-prices { 
              tr { 
               td { 
                 font-size: .425em;
               }
              }
            }
         }
      }
       h2 { 
        height: 4.5em;
       }
       .jcarousel-item { 
          border: none;
       }
       .jcarousel-container-horizontal { 
          padding: 0;
          height: 403px;
          .node { 
                border: none;
          }
       }
    }
}

/*
.homepage-cta-1 { 
  background-color: $gray_one;
  height: 10em;
  padding: 1em;
  color: $white;

  h2 { 
    margin: 0;
  }
  
  .we-want-to-hear-title { 
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.4em;
  }

  .we-want-to-hear-content { 
    float: left;
    width: 65%;
  }

  .we-want-to-hear-buttons { 
    float: left;
    padding: 3em 0 0;
    width: 30%;
  }

  .we-want-to-hear-wrapper { 
     margin: 0;
     padding: 0;
  }
}
*/

/*
.homepage-cta-2 { 
  background-color: $gray_two;
  height: 10em;
  color: $white;
  padding: 1em;

  .signup-or-login-title { 
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: .25em;
  }

  .signup-or-login-content { 
    float: left;
    width: 65%;
  }

  .sign-up-or-login-buttons { 
    float: left;
    padding: 3em 0 0;
    width: 30%;
  }
}
*/

.homepage-cta-3 { 

}

.homepage-cta-4 { 

}

/********************************
 * About Page 
 ********************************/


 .aop-about-join-facebook { 

    background-image: url(../images/facebook-button.png);
    padding: 1.5em 1em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    display: inherit;
    text-align: center;
    text-decoration: none;
    padding-top: 3em;
    p { 
      margin: 0;
    }
    a { 
      color: #FFF;
      font-size: 1.2em;
      font-weight: bold;
      &:visited { 
        color: #FFF;
      }
    }
 }

 .aop-about-alpha-omega { 
    background-image: url(../images/banner-about.jpg);
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding-top: 3em;
    padding-bottom: 3em;
    h2 { 
     margin: 0;
     font-size: 3em;
    }
 }

 /*********************************
  *  News page 
  *********************************/

  #aop-news-page { 

    .views-row { 
       padding-bottom: 2em;
       margin-bottom: 2em;
       border-bottom: 1px solid $gray_one;
       h2 { 
         color: $text_color;
         margin: 0;
         a { 
           color: $text_color;
           &:visited { 
             color: $text_color;
           }
         }
       }
    }

   .aop-news-banner { 
     background-image: url(../images/banner-news.jpg);
     background-repeat: no-repeat;
     padding-top: 3em;
     padding-bottom: 3em;
     text-align: center;
     color: #fff;
     h2 { 
      font-weight: bold;
      margin: 0;
     }
   }

   .aop-news-join-facebook { 
     background-image: url(../images/facebook-button.png);
     padding: 1.5em 1em;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: 100% auto;
     color: white;
     display: inherit;
     text-align: center;
     text-decoration: none;
     padding-top: 3em;
     p { 
       margin: 0;
     }
     a { 
       color: #FFF;
       font-size: 1.2em;
       font-weight: bold;
       &:visited { 
         color: #FFF;
       }
     }
   }
  }

/****************************************
 *   Contact page
 ****************************************/

 .aop-contact-facebook { 
     background-image: url(../images/facebook-button.png);
     padding: 1.5em 1em;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: 100% auto;
     color: white;
     display: inherit;
     text-align: center;
     text-decoration: none;
     padding-top: 3em;
     p { 
       margin: 0;
     }
     a { 
       color: #FFF;
       font-size: 1.2em;
       font-weight: bold;
       &:visited { 
         color: #FFF;
       }
     }
 }

 .aop-contact-banner { 

     background-image: url(../images/banner-contact.jpg);
     background-repeat: no-repeat;
     text-align: center;
     padding-top: 2.5em;
     padding-bottom: 2em;
     color: $white;
     h2 { 
       font-weight: bold;
       font-size: 39.996px;
       line-height: 1em;
       font-family: "Lorabold", serif;
     }

 }

 .aop-contact-form { 
    .submitted { 
       display: none;
    }
 }

 /***************************************
  *  Support Page 
  ***************************************/

  .aop-support-banner { 
     background-image: url(../images/banner-support.jpg);
     background-repeat: no-repeat;
     text-align: center;
     padding-top: 2.5em;
     padding-bottom: 2em;
     color: $white;
     h2 { 
       font-weight: bold;
       font-size: 39.996px;
       line-height: 1em;
       font-family: "Lorabold", serif;
     }

  }

  .aop-support-facebook { 
     background-image: url(../images/facebook-button.png);
     padding: 1.5em 1em;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: 100% auto;
     color: white;
     display: inherit;
     text-align: center;
     text-decoration: none;
     padding-top: 3em;
     p { 
       margin: 0;
     }
     a { 
       color: #FFF;
       font-size: 1.2em;
       font-weight: bold;
       &:visited { 
         color: #FFF;
       }
     }
 }

 .aop-support-academic { 
     background-image: url(../images/academic-support.png);
     padding: 2em 2em;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: 100% auto;
     color: white;
     display: inherit;
     text-align: center;
     text-decoration: none;
     p { 
       margin: 0;
     }
     a { 
       color: #FFF;
       font-size: 1.2em;
       font-weight: bold;
       &:visited { 
         color: #FFF;
       }
     }
 }

// Fixing buggy issues with contextual links goes here
/* Well this didn't work, I'll have to be more specific.  The original problem was that I couldn't click the edit tabs on nodes.

.contextual-links-region {
  float: left;
}
*/

/****************************************
 *   Blocks styling
 ****************************************/
.curriculum_comparison_block {
  @include clearfix;
  background-image: url(../images/bar-compare.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: auto;
  padding: 35px;
  margin: 10px 0;
  .text{
    color: white;
    font-size: 1em;
    width: 75%;
    text-align: center;
  }
  div {
    display: inline-block;
  }
}

.we-want-to-hear-wrapper {
  color: white;
  background-color: $gray_one;
  min-height: 195px;
  .we-want-to-hear-content {
    float: left;
    width: 60%;
    margin: 18px 20px;
    .we-want-to-hear-title {
      font-size: 1.5em;
      line-height: 2em;
    }
  }
  .we-want-to-hear-buttons {
      float: left;
      padding: 2.5em 0 0;
      width: 25%;
  }
}

.order-catalog-wrapper {
  color: white;
  background-color: $gray_two;
  min-height: 195px;
  .order-catalog-content {
    float: left;
    width: 60%;
    margin: 18px 20px;
    .order-catalog-title {
      font-size: 1.5em;
      line-height: 2em;
    }
  }
  .order-catalog-button {
      float: left;
      padding: 2.5em 0 0;
      width: 25%;
  }
}

.sign-up-or-login-wrapper {
  color: white;
  background-color: $gray_two;
  min-height: 195px;
  .signup-or-login-content {
    float: left;
    width: 60%;
    margin: 18px 20px;
    .signup-or-login-title {
      font-size: 1.5em;
      line-height: 2em;
    }
  }
  .sign-up-or-login-buttons{
      float: left;
      padding: 2.5em 0 0;
      width: 25%;
  }
}


/****************************************
 *   End Blocks styling
 ****************************************/

/****************************************
 *   Find a curriculum page styling
 ****************************************/
#find-a-curriculum {
  .find-your-curriculum-banner {
    background-image: url(../images/banner-findacurriculum.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    padding: 0.2em 0.29em;
    background-size: 100%;
    width: 100%;
    color: white;
  
    h2 {
      font-size: 2em;
      margin: 20px 0px 15px 0px;
      line-height: 1em;
    }
    p {
      color: white;
      margin: 0 auto;
      padding-bottom: 20px;
      width: 80%;
    }
  }
    
   .curriculum-more-info {
    background-image: url(../images/icon-tooltip-white.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    height: 20px;
    padding: 5px;
    width: 20px;
    cursor: pointer;
  }
  .curriculum-title {
    font-size: 1.5em;
    color: white;
    padding-top: 4.5em;
    line-height: 1em;
    margin: 0;
    padding-top: 50%;
  }
  .curriculum-grade {
    font-size: 1em;
    color: white;
  }
  .curriculum-media {
    font-weight: bold;
    color: $gray_one;
    display: none;
    margin: 10px 0px 10px 30px;
  }
  .curriculum-more-info-summary {
    font-size: 1em;
    color: white;
    min-height: 90px;
    width: 95%;
  }
  .curriculum-full-description {
    display: none;
    background-color: $gray_three;
    margin: 0 auto;
    padding: 3%;
    width: 90%;
    p {
      margin: 0;
    }
  }
  
  .curriculum-detail-left {
    float: left;
    width: 100%;
  }
  
  .curriculum_close_detail,
  .curriculum-detail-logo,
  .curriculum-detail-image {
    display: none;
  }
  .curriculum_close_detail {
    background-color: #FFFFFF;
    border: 3px solid #DDDDDD;
    color: $black;
    cursor: pointer;
    font-size: 2em;
    height: 25px;
    line-height: 0.7em;
    padding: 5px;
    position: absolute;
    right: -25px;
    text-align: center;
    top: -25px;
    width: 25px;
    z-index: 200;
    @include rounded-corners(20px);
  }
  .curriculum-detail-logo {
    position: absolute;
    left: 35px;
    top: 60px;
  }
  .curriculum-detail-image {
    float: left;
    width: 40%;
  }
  .panel-separator:last-child {
    @include clearfix;
  }
}
/****************************************
 *   End find a curriculum page styling
 ****************************************/
 
.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  margin:0px;

  width: auto;
}
