/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

div.tb-megamenu.tb-megamenu-main-menu { 
  div.nav-collapse.collapse.always-show { 
    ul.tb-megamenu-nav.nav.level-0.items-3 { 
      li.tb-megamenu-item.level-1.mega.dropdown.active {
        a.dropdown-toggle {
          background-color: $white;
          color: $black;
          border: none;
        }
      }
    }
  }
}


#block-menu-menu-grade-level { 
  ul { 
     li { 
       float: left;
        display: inline-flex;
        float: left;
        height: 25px;
        margin: 3px;
        min-width: 40px;
        text-align: center;
        width: 29%;
        cursor: pointer;
        font-weight: bold;
       a { 
          @include rounded-corners(3px);
          border: 1px solid $gray_one;
          padding-bottom: 0.5em;
          padding-top: 0.5em;
          width: 100%;
          background-color: white;
          line-height: 1em;
          &:hover {
            background-color: $gray_one;
            color: white;
          }
       }
     }
  }

}

#block-menu-menu-subjects { 
   ul { 
     border: none;
     li { 
       float: left;
       width: 100%;
       border: none;
       .first { 
         border: none;
       }
       .last { 
         border: none;
       }
       a { 
        border: none;
        background-color: white;
        color: $black;
        font-size: 1.2em;
        font-weight: normal;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left: 0px;
        padding-right: 0px;
       }
     }
   }
}

#block-menu-block-1 { 
   ul { 
     border: none;
     li { 
       float: left;
       width: 100%;
       border: none;
       .first { 
         border: none;
       }
       .last { 
         border: none;
       }
       a { 
        border: none;
        background-color: white;
        color: $black;
        font-size: 1.2em;
        font-weight: normal;
        //padding-bottom: 0.5em;
        //padding-top: 0.5em;
        //padding-left: 0px;
        //padding-right: 0px;
        text-transform: none;
       }
     }
   }
}

.tb-megamenu { 

   background-color: transparent;


   .mega { 
     .mega-dropdown-menu { 
        min-width: 960px;
     }
   }

   a.dropdown-toggle {
     background-color: $white;
     color: $black;
     border: none;
   }
  
   .nav { 

     li { 
       .dropdown {
           a.dropdown-toggle { 
             background-color: $white;
             color: $black;
             border: none;
         } 
       }
       a { 
         color: $black;
         background-color: $white;
         text-transform: uppercase;
         border-right: none;
         &:hover {
           border-bottom: 4px solid $blue_one;
           color: $black;
         }
        }
     }

    .active { 

      a { 
        text-transform: uppercase;
        background-color: $white;
        color: $black;
        border-right: none;
        &:hover { 
           background-color: $white;
           color: $black;
           border-right: none;
        }
        &:focus { 
           background-color: $white;
           color: $black;
           border-right: none;
        }
      }
    }
   }
}
