/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* End Variables & Mixins */
/* Header Rules */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* End Variables & Mixins */
/* End Header Rules */
/* Footer Rules */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* End Variables & Mixins */
/* line 14, ../scss/footer.scss */
div.tb-megamenu.tb-megamenu-main-menu div.nav-collapse.collapse.always-show ul.tb-megamenu-nav.nav.level-0.items-3 li.tb-megamenu-item.level-1.mega.dropdown.active a.dropdown-toggle {
  background-color: #FFFFFF;
  color: #222222;
  border: none; }

/* line 27, ../scss/footer.scss */
#block-menu-menu-grade-level ul li {
  float: left;
  display: inline-flex;
  float: left;
  height: 25px;
  margin: 3px;
  min-width: 40px;
  text-align: center;
  width: 29%;
  cursor: pointer;
  font-weight: bold; }
  /* line 38, ../scss/footer.scss */
  #block-menu-menu-grade-level ul li a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #9badb4;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 100%;
    background-color: white;
    line-height: 1em; }
    /* line 46, ../scss/footer.scss */
    #block-menu-menu-grade-level ul li a:hover {
      background-color: #9badb4;
      color: white; }

/* line 57, ../scss/footer.scss */
#block-menu-menu-subjects ul {
  border: none; }
  /* line 59, ../scss/footer.scss */
  #block-menu-menu-subjects ul li {
    float: left;
    width: 100%;
    border: none; }
    /* line 63, ../scss/footer.scss */
    #block-menu-menu-subjects ul li .first {
      border: none; }
    /* line 66, ../scss/footer.scss */
    #block-menu-menu-subjects ul li .last {
      border: none; }
    /* line 69, ../scss/footer.scss */
    #block-menu-menu-subjects ul li a {
      border: none;
      background-color: white;
      color: #222222;
      font-size: 1.2em;
      font-weight: normal;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      padding-left: 0px;
      padding-right: 0px; }

/* line 85, ../scss/footer.scss */
#block-menu-block-1 ul {
  border: none; }
  /* line 87, ../scss/footer.scss */
  #block-menu-block-1 ul li {
    float: left;
    width: 100%;
    border: none; }
    /* line 91, ../scss/footer.scss */
    #block-menu-block-1 ul li .first {
      border: none; }
    /* line 94, ../scss/footer.scss */
    #block-menu-block-1 ul li .last {
      border: none; }
    /* line 97, ../scss/footer.scss */
    #block-menu-block-1 ul li a {
      border: none;
      background-color: white;
      color: #222222;
      font-size: 1.2em;
      font-weight: normal;
      text-transform: none; }

/* line 113, ../scss/footer.scss */
.tb-megamenu {
  background-color: transparent; }
  /* line 119, ../scss/footer.scss */
  .tb-megamenu .mega .mega-dropdown-menu {
    min-width: 960px; }
  /* line 124, ../scss/footer.scss */
  .tb-megamenu a.dropdown-toggle {
    background-color: #FFFFFF;
    color: #222222;
    border: none; }
  /* line 134, ../scss/footer.scss */
  .tb-megamenu .nav li .dropdown a.dropdown-toggle {
    background-color: #FFFFFF;
    color: #222222;
    border: none; }
  /* line 140, ../scss/footer.scss */
  .tb-megamenu .nav li a {
    color: #222222;
    background-color: #FFFFFF;
    text-transform: uppercase;
    border-right: none; }
    /* line 145, ../scss/footer.scss */
    .tb-megamenu .nav li a:hover {
      border-bottom: 4px solid #2ab5cd;
      color: #222222; }
  /* line 154, ../scss/footer.scss */
  .tb-megamenu .nav .active a {
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #222222;
    border-right: none; }
    /* line 159, ../scss/footer.scss */
    .tb-megamenu .nav .active a:hover {
      background-color: #FFFFFF;
      color: #222222;
      border-right: none; }
    /* line 164, ../scss/footer.scss */
    .tb-megamenu .nav .active a:focus {
      background-color: #FFFFFF;
      color: #222222;
      border-right: none; }

/* End Footer Rules */
/*------------------------------------------------
[Table of contents]
0. Reset
1. Global
  1.1. Zones
  1.2. Regions
2. Section header
  2.1. Zone user
    2.1.1. Region user first
    2.1.2. Region user second
  2.2. Zone branding
  2.3. Zone menu
  2.4. Zone header
3. Section content
  3.1. Zone preface
  3.2. Zone content
    3.2.1. Sidebar first
    3.2.2. Content
    3.2.3. Sidebar second
  3.3. Zone postscript
4. Section footer
  4.1. Zone footer
  4.2. Zone footer2
5. Commerce specific
  5.1. Search & Collection page
  5.2. All products page
  5.3. Product page
  5.4. Checkout process
6. Kickstart specific
  6.1. Homepage elements
7. Blog
  7.1. Blog comments
8. User account
------------------------------------------------*/
/**************************************************
* --
* 1. Global
* --
**************************************************/
/* line 58, ../scss/commerce_kickstart_style.scss */
body {
  background: #ececec url("../images/bg.png") left top; }

/* line 62, ../scss/commerce_kickstart_style.scss */
.responsive-layout-mobile .facetapi-lists {
  display: none; }
/* line 65, ../scss/commerce_kickstart_style.scss */
.responsive-layout-mobile .selectnav {
  display: block; }

/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/* line 77, ../scss/commerce_kickstart_style.scss */
.zone-user-wrapper {
  background-color: #8e8e8e; }

/*******************************************
* 2.1.1. Region user first
*******************************************/
/* User menu */
/* line 85, ../scss/commerce_kickstart_style.scss */
.block-menu-user-menu .content ul.menu li.first {
  border-right: 1px solid #ffffff;
  /* LTR */
  padding-right: 7px;
  /* LTR */ }
/* line 89, ../scss/commerce_kickstart_style.scss */
.block-menu-user-menu .content ul.menu li.last {
  padding-left: 7px;
  /* LTR */ }
/* line 92, ../scss/commerce_kickstart_style.scss */
.block-menu-user-menu .content ul.menu li a.active {
  background-color: #cecece;
  color: #000;
  text-decoration: none; }
/* line 97, ../scss/commerce_kickstart_style.scss */
.block-menu-user-menu .content ul.menu li a.active:hover,
.block-menu-user-menu .content ul.menu li a:hover {
  background-color: #717171;
  text-decoration: none; }

/*******************************************
* 2.1.2. Region user second
*******************************************/
/**
* Cart block
*/
/* line 109, ../scss/commerce_kickstart_style.scss */
.block-shopping-cart-block .content {
  background-color: #ffffff;
  background-image: url("../images/picto_cart.png"); }
  /* line 113, ../scss/commerce_kickstart_style.scss */
  .block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
    background-color: #8dc63f; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.1. Zone preface
**********************************************/
/**
* Pseudo Breadcrumb
*/
/* line 128, ../scss/commerce_kickstart_style.scss */
#region-breadcrumb .pseudo-breadcrumb li a {
  background: url("../images/btn_close.png") left center no-repeat;
  /* LTR */ }

/**********************************************
* 3.2. Zone content
**********************************************/
/* line 134, ../scss/commerce_kickstart_style.scss */
.zone-content-wrapper .zone-content {
  background-color: #FFFFFF; }

/* line 137, ../scss/commerce_kickstart_style.scss */
.front .zone-content-wrapper .zone-content {
  padding-top: 0; }

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
/* line 148, ../scss/commerce_kickstart_style.scss */
.region-sidebar-first .block-facetapi ul li a.facetapi-inactive {
  padding-left: 0px;
  /* LTR */ }

/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* line 161, ../scss/commerce_kickstart_style.scss */
#promotional_banner {
  /* HP blocks: Top advert */
  background-color: #2698F2;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 10px 20px 10px;
  position: relative;
  top: 0; }
  /* line 170, ../scss/commerce_kickstart_style.scss */
  #promotional_banner .promotional_banner_saving {
    display: block;
    font-size: 28px;
    font-weight: 900;
    line-height: 38px;
    padding: 0;
    text-transform: uppercase;
    width: 100%; }
  /* line 179, ../scss/commerce_kickstart_style.scss */
  #promotional_banner .promotional_banner_special_offer {
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    color: #2698F2;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    /* LTR */
    text-transform: capitalize; }

/* line 193, ../scss/commerce_kickstart_style.scss */
.block-shipping-discount {
  /* HP blocks: Side advert */ }
  /* line 195, ../scss/commerce_kickstart_style.scss */
  .block-shipping-discount #shipping {
    background-color: #000000;
    border: 6px solid #ffffff;
    color: #2698F2;
    display: block;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 5px 20px 5px; }
  /* line 207, ../scss/commerce_kickstart_style.scss */
  .block-shipping-discount #shipping #shipping_message span {
    border-bottom: 1px solid #ffffff;
    display: block;
    color: #FFF;
    font-size: 20px;
    padding: 10px 0 4px 0;
    text-transform: uppercase; }
  /* line 215, ../scss/commerce_kickstart_style.scss */
  .block-shipping-discount #shipping #shipping_message span em {
    font-size: 27px;
    font-style: normal; }
  /* line 219, ../scss/commerce_kickstart_style.scss */
  .block-shipping-discount #shipping #shipping_currency {
    display: block;
    font-size: 27px;
    margin-top: 2px; }
  /* line 224, ../scss/commerce_kickstart_style.scss */
  .block-shipping-discount #shipping #shipping_message {
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }
  /* line 228, ../scss/commerce_kickstart_style.scss */
  .block-shipping-discount #shipping #shipping_message span,
  .block-shipping-discount #shipping #shipping_message span em,
  .block-shipping-discount #shipping #shipping_currency {
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

/* line 239, ../scss/commerce_kickstart_style.scss */
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content,
#zone-postscript .block-blog-block .views-field-title .field-content {
  border: 1px solid #5f5f5f;
  background: transparent url("../images/bg_ad_push_headline.png") left top; }
  /* line 242, ../scss/commerce_kickstart_style.scss */
  #zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a,
  #zone-postscript .block-blog-block .views-field-title .field-content a {
    background: none; }
    /* line 244, ../scss/commerce_kickstart_style.scss */
    #zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a:hover,
    #zone-postscript .block-blog-block .views-field-title .field-content a:hover {
      background: transparent url("../images/bg_blog_headline.png") left top; }
/* line 253, ../scss/commerce_kickstart_style.scss */
#zone-postscript .view-ad-push .views-row:hover .views-field-field-tagline .field-content a,
#zone-postscript .block-blog-block:hover .views-field-title .field-content a {
  background: transparent url("../images/bg_blog_headline.png") left top; }

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/* line 264, ../scss/commerce_kickstart_style.scss */
.section-footer {
  background-color: #3f3f3f; }

/**********************************************
* 4.1. Zone footer
**********************************************/
/* line 270, ../scss/commerce_kickstart_style.scss */
.zone-footer-wrapper {
  background-color: #494949; }

/**
* Menu footer navigation
*/
/* line 277, ../scss/commerce_kickstart_style.scss */
.section-footer ul.menu li.expanded span,
.section-footer ul.menu li.expanded a {
  color: #ffffff; }
/* line 281, ../scss/commerce_kickstart_style.scss */
.section-footer ul.menu li.expanded ul.menu li a {
  color: #c1c1c1; }

/**
* Connect with us
*/
/* line 290, ../scss/commerce_kickstart_style.scss */
#block-menu-menu-social-connection h2 {
  background-color: #262626;
  color: #eeeeee; }
/* line 294, ../scss/commerce_kickstart_style.scss */
#block-menu-menu-social-connection .content ul.menu li {
  color: #eeeeee; }
  /* line 296, ../scss/commerce_kickstart_style.scss */
  #block-menu-menu-social-connection .content ul.menu li:hover {
    background-color: #cecece;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px; }
  /* line 300, ../scss/commerce_kickstart_style.scss */
  #block-menu-menu-social-connection .content ul.menu li span,
  #block-menu-menu-social-connection .content ul.menu li a {
    color: #eeeeee; }
  /* line 305, ../scss/commerce_kickstart_style.scss */
  #block-menu-menu-social-connection .content ul.menu li a.facebook {
    background: url("../images/icon_facebook.png") 2% 50% no-repeat;
    /* LTR */ }
  /* line 308, ../scss/commerce_kickstart_style.scss */
  #block-menu-menu-social-connection .content ul.menu li a.twitter {
    background: url("../images/icon_twitter.png") 2% 50% no-repeat;
    /* LTR */ }
  /* line 311, ../scss/commerce_kickstart_style.scss */
  #block-menu-menu-social-connection .content ul.menu li a.pinterest {
    background: url("../images/icon_pinterest.png") 2% 50% no-repeat;
    /* LTR */ }

/**********************************************
* 4.2. Zone footer2
**********************************************/
/* line 319, ../scss/commerce_kickstart_style.scss */
.zone-footer2-wrapper {
  background-color: #3f3f3f;
  color: #eeeeee; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 337, ../scss/commerce_kickstart_style.scss */
.view-collection-taxonomy-term .view-content .item-list {
  clear: both; }
  /* line 340, ../scss/commerce_kickstart_style.scss */
  .view-collection-taxonomy-term .view-content .item-list h3 {
    position: relative; }
    /* line 343, ../scss/commerce_kickstart_style.scss */
    .view-collection-taxonomy-term .view-content .item-list h3 span {
      display: block;
      position: absolute;
      top: 0px; }
    /* line 348, ../scss/commerce_kickstart_style.scss */
    .view-collection-taxonomy-term .view-content .item-list h3 .collection {
      background: url("../images/bg.png") repeat scroll left top #ECECEC;
      font-size: 0.8em;
      padding: 0 0 4px;
      text-transform: uppercase; }
      /* line 354, ../scss/commerce_kickstart_style.scss */
      .view-collection-taxonomy-term .view-content .item-list h3 .collection a {
        background-color: #FFFFFF;
        color: #B8B8B8;
        display: block;
        padding: 5px; }
  /* line 362, ../scss/commerce_kickstart_style.scss */
  .view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row {
    display: inline;
    height: auto;
    margin: 0;
    padding-right: 5px;
    /* LTR */
    padding-bottom: 30px;
    width: 230px; }
    /* line 369, ../scss/commerce_kickstart_style.scss */
    .view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row:nth-child(4n+5) {
      clear: left;
      /* LTR */
      float: left;
      /* LTR */ }
    /* line 373, ../scss/commerce_kickstart_style.scss */
    .view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row h2 {
      font-size: 14px;
      height: 35px;
      line-height: 16px;
      margin: 0 4px; }

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
/* line 387, ../scss/commerce_kickstart_style.scss */
div.messages.commerce-add-to-cart-confirmation {
  background-color: #d6e5ec;
  border-color: #6bb0cb; }
  /* line 392, ../scss/commerce_kickstart_style.scss */
  div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
    color: #2698f2; }
  /* line 396, ../scss/commerce_kickstart_style.scss */
  div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
    background-color: #2698F2; }
  /* line 399, ../scss/commerce_kickstart_style.scss */
  div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue {
    background-color: #b3b3b3; }
  /* line 403, ../scss/commerce_kickstart_style.scss */
  div.messages.commerce-add-to-cart-confirmation .message-inner .commerce-add-to-cart-confirmation-close {
    background: url("../images/btn_add-to-cart-close.png") no-repeat 0 0; }
  /* line 407, ../scss/commerce_kickstart_style.scss */
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
    margin-left: inherit; }

/**************************************************
* --
* 8. Comments
* --
**************************************************/
/* line 420, ../scss/commerce_kickstart_style.scss */
.node-teaser .links.node-links .links .node-readmore a {
  background: transparent url("../images/icon_read-more.png") 95% center no-repeat;
  color: #4386be;
  padding-right: 15px;
  /* LTR */ }
/* line 425, ../scss/commerce_kickstart_style.scss */
.node-teaser .links.node-links .links .comment-comments a {
  background: transparent url("../images/icon_chat.png") 15% center no-repeat;
  padding-left: 20px;
  /* LTR */ }
  /* line 429, ../scss/commerce_kickstart_style.scss */
  .node-teaser .links.node-links .links .comment-comments a span {
    display: block;
    float: left;
    /* LTR */
    text-indent: -9999px; }

/**************************************************
* --
* 9. User account
* --
**************************************************/
/* line 442, ../scss/commerce_kickstart_style.scss */
.not-logged-in #block-connector-one-click-block #edit-oauthconnector-facebook {
  background: url("../images/btn_facebook.png") no-repeat; }
/* line 445, ../scss/commerce_kickstart_style.scss */
.not-logged-in #block-connector-one-click-block #edit-oauthconnector-twitter {
  background: url("../images/btn_twitter.png") no-repeat; }
/* line 448, ../scss/commerce_kickstart_style.scss */
.not-logged-in #block-connector-one-click-block #edit-oauthconnector-google {
  background: url("../images/btn_google.png") no-repeat; }

/***************************************************
 * --
 * 10. Custom for AOP
 * --
 ***************************************************/
/* line 461, ../scss/commerce_kickstart_style.scss */
body {
  background-image: none;
  background-color: #FFFFFF; }

/* line 466, ../scss/commerce_kickstart_style.scss */
#page {
  background-color: #FFFFFF; }

/* line 470, ../scss/commerce_kickstart_style.scss */
.zone-user-wrapper {
  background-color: #2ab5cd; }

/* line 476, ../scss/commerce_kickstart_style.scss */
ul.facetapi-facetapi-checkbox-links li {
  list-style: none;
  margin: 0; }

/* line 483, ../scss/commerce_kickstart_style.scss */
#section-footer {
  background-color: #2ab5cd; }
  /* line 486, ../scss/commerce_kickstart_style.scss */
  #section-footer ul.menu li.expanded {
    color: #222222; }
    /* line 488, ../scss/commerce_kickstart_style.scss */
    #section-footer ul.menu li.expanded .nolink {
      color: #222222;
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: bold; }
    /* line 494, ../scss/commerce_kickstart_style.scss */
    #section-footer ul.menu li.expanded a {
      color: #222222; }
  /* line 499, ../scss/commerce_kickstart_style.scss */
  #section-footer .footer-social-icon {
    float: left;
    margin-right: 10px; }

/* line 505, ../scss/commerce_kickstart_style.scss */
.zone-footer-wrapper {
  background-color: #2ab5cd;
  color: #222222; }
  /* line 508, ../scss/commerce_kickstart_style.scss */
  .zone-footer-wrapper a {
    color: #222222; }

/* line 513, ../scss/commerce_kickstart_style.scss */
.zone-footer2-wrapper {
  background-color: #2ab5cd; }

/* line 517, ../scss/commerce_kickstart_style.scss */
#zone-footer-bottom {
  border-top: 1px solid #222222;
  padding-bottom: 20px;
  padding-top: 10px; }
  /* line 523, ../scss/commerce_kickstart_style.scss */
  #zone-footer-bottom h2 {
    display: none; }
  /* line 529, ../scss/commerce_kickstart_style.scss */
  #zone-footer-bottom ul li {
    display: inline;
    margin-right: 20px; }
    /* line 532, ../scss/commerce_kickstart_style.scss */
    #zone-footer-bottom ul li a {
      color: #222222; }

/* line 542, ../scss/commerce_kickstart_style.scss */
#zone-branding {
  width: 100%; }
  /* line 544, ../scss/commerce_kickstart_style.scss */
  #zone-branding #region-branding {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }

/* line 551, ../scss/commerce_kickstart_style.scss */
#region-home-promo-first,
#region-home-promo-second {
  margin: 34px 0 0;
  background-image: url("../images/aop-home-promo.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 158px;
  text-align: center;
  background-color: #2ab5cd;
  width: 50%; }
  /* line 562, ../scss/commerce_kickstart_style.scss */
  #region-home-promo-first .aop-home-promo-title,
  #region-home-promo-second .aop-home-promo-title {
    font-family: "Lorabold",serif;
    font-size: 39.996px;
    line-height: 1em;
    margin: 20px 0 10px; }
  /* line 568, ../scss/commerce_kickstart_style.scss */
  #region-home-promo-first .aop-home-promo-summary,
  #region-home-promo-second .aop-home-promo-summary {
    font-family: "MrEavesModOTReg",Verdana,Tahoma,"DejaVu Sans",sans-serif;
    font-size: 27px;
    line-height: 1.1em;
    margin: 20px auto;
    text-align: center;
    width: 70%; }
  /* line 576, ../scss/commerce_kickstart_style.scss */
  #region-home-promo-first .aop-home-promo-button,
  #region-home-promo-second .aop-home-promo-button {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #f0f3f4;
    border-radius: 3px;
    color: #2ab5cd;
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 5px;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none; }
    /* line 590, ../scss/commerce_kickstart_style.scss */
    #region-home-promo-first .aop-home-promo-button em,
    #region-home-promo-second .aop-home-promo-button em {
      display: inline; }

/* line 596, ../scss/commerce_kickstart_style.scss */
.panels-flexible-row-aop_homepage-main-row {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #2ab5cd;
  text-align: center;
  color: #FFFFFF; }
  /* line 602, ../scss/commerce_kickstart_style.scss */
  .panels-flexible-row-aop_homepage-main-row p {
    margin: 0; }

/* line 607, ../scss/commerce_kickstart_style.scss */
.panels-flexible-aop_homepage .panels-flexible-row {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: .5em; }

/* line 615, ../scss/commerce_kickstart_style.scss */
.aop-homepage-hero .homepage-hero-left {
  background-image: url("../images/front-main-feature-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  height: 412px;
  overflow: hidden;
  text-align: center;
  width: 70%; }
  /* line 624, ../scss/commerce_kickstart_style.scss */
  .aop-homepage-hero .homepage-hero-left .content-title {
    font-family: "Lorabold",serif;
    font-size: 39.996px;
    line-height: 1.6em;
    margin-top: 4em;
    color: #FFF; }
  /* line 631, ../scss/commerce_kickstart_style.scss */
  .aop-homepage-hero .homepage-hero-left em {
    display: inline; }
/* line 635, ../scss/commerce_kickstart_style.scss */
.aop-homepage-hero .homepage-hero-right {
  height: 412px;
  overflow: hidden;
  color: #FFFFFF; }
  /* line 639, ../scss/commerce_kickstart_style.scss */
  .aop-homepage-hero .homepage-hero-right .freeshipping {
    background-color: #f37d7c;
    font-size: 27px;
    height: 110px;
    padding-top: 40px;
    text-align: center; }
  /* line 650, ../scss/commerce_kickstart_style.scss */
  .aop-homepage-hero .homepage-hero-right .seasonal-promo-faith {
    background-color: #f37d7c;
    font-size: 27px;
    height: 110px;
    padding-top: 40px;
    text-align: center; }
    /* line 656, ../scss/commerce_kickstart_style.scss */
    .aop-homepage-hero .homepage-hero-right .seasonal-promo-faith .seasonal-promo {
      background-color: #ef9c37;
      background-image: url("../images/front-callout-seasonal.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      float: left;
      height: 162px;
      padding: 100px 2% 0;
      text-align: center;
      width: 46%; }
    /* line 667, ../scss/commerce_kickstart_style.scss */
    .aop-homepage-hero .homepage-hero-right .seasonal-promo-faith .why-faith-based {
      background-color: #2ab5cd;
      background-image: url("../images/front-callout-products.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      float: left;
      height: 162px;
      padding: 100px 2% 0;
      text-align: center;
      width: 46%; }

/* line 682, ../scss/commerce_kickstart_style.scss */
.panels-flexible-region-aop_homepage-homepage_hero_right-inside {
  padding: 0; }

/****************************************************************
 *  AOP Product Listing
 ****************************************************************/
/* line 691, ../scss/commerce_kickstart_style.scss */
ul.all-products {
  width: 100%;
  float: left; }
  /* line 694, ../scss/commerce_kickstart_style.scss */
  ul.all-products li.views-row {
    width: 100%;
    float: left; }
    /* line 697, ../scss/commerce_kickstart_style.scss */
    ul.all-products li.views-row .field-name-commerce-price {
      color: #000;
      font-weight: bold; }

/* line 704, ../scss/commerce_kickstart_style.scss */
.aop-product-listing-wrapper {
  width: 100%;
  float: left; }
  /* line 709, ../scss/commerce_kickstart_style.scss */
  .aop-product-listing-wrapper .aop-product-image-wrapper {
    width: 25%;
    float: left; }
    /* line 712, ../scss/commerce_kickstart_style.scss */
    .aop-product-listing-wrapper .aop-product-image-wrapper image {
      max-width: 90%; }
  /* line 717, ../scss/commerce_kickstart_style.scss */
  .aop-product-listing-wrapper .aop-product-item-details-wrapper {
    float: left;
    width: 75%; }
    /* line 720, ../scss/commerce_kickstart_style.scss */
    .aop-product-listing-wrapper .aop-product-item-details-wrapper .commerce-product-sku-label {
      display: none; }
    /* line 724, ../scss/commerce_kickstart_style.scss */
    .aop-product-listing-wrapper .aop-product-item-details-wrapper .commerce-product-sku:before {
      content: "PRODUCT ID "; }
    /* line 728, ../scss/commerce_kickstart_style.scss */
    .aop-product-listing-wrapper .aop-product-item-details-wrapper .aop-product-item-details-left {
      width: 75%;
      float: left; }
      /* line 732, ../scss/commerce_kickstart_style.scss */
      .aop-product-listing-wrapper .aop-product-item-details-wrapper .aop-product-item-details-left h2 a {
        color: #6ac1d6;
        font-weight: bold; }
    /* line 738, ../scss/commerce_kickstart_style.scss */
    .aop-product-listing-wrapper .aop-product-item-details-wrapper .aop-product-item-details-right {
      width: 25%;
      float: left;
      text-align: center;
      padding-top: 4em; }

/* line 752, ../scss/commerce_kickstart_style.scss */
.page-products .view-display-products li .content .field-name-commerce-price {
  color: #000;
  font-weight: bold; }

/* line 764, ../scss/commerce_kickstart_style.scss */
.aop-product-image-wrapper img {
  max-width: 90%;
  min-width: 90%;
  margin-left: auto;
  margin-top: 1em; }

/*******
 * Product detail page 
 *******/
/* line 777, ../scss/commerce_kickstart_style.scss */
.aop-product-detail-page-wrapper {
  width: 100%;
  float: left; }
  /* line 782, ../scss/commerce_kickstart_style.scss */
  .aop-product-detail-page-wrapper .aop-product-detail-page-header {
    width: 100%;
    float: left; }
    /* line 785, ../scss/commerce_kickstart_style.scss */
    .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-image-wrapper {
      width: 25%;
      float: left;
      text-align: center; }
      /* line 789, ../scss/commerce_kickstart_style.scss */
      .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-image-wrapper img {
        max-width: 90%; }
    /* line 794, ../scss/commerce_kickstart_style.scss */
    .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-wrapper {
      width: 75%;
      float: left; }
      /* line 798, ../scss/commerce_kickstart_style.scss */
      .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-wrapper .aop-product-title h2 {
        color: #6ac1d6; }
      /* line 802, ../scss/commerce_kickstart_style.scss */
      .aop-product-detail-page-wrapper .aop-product-detail-page-header .aop-product-description-wrapper .aop-product-sku {
        color: #9badb4; }
  /* line 809, ../scss/commerce_kickstart_style.scss */
  .aop-product-detail-page-wrapper .aop-product-spec-wrapper {
    margin-top: 2em;
    float: left; }
    /* line 814, ../scss/commerce_kickstart_style.scss */
    .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-spec {
      background-color: #f0f3f4;
      border: 6px solid #e1e6e8;
      box-sizing: border-box;
      float: left;
      width: 70%; }
    /* line 822, ../scss/commerce_kickstart_style.scss */
    .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-cart {
      width: 28%;
      float: left; }
      /* line 826, ../scss/commerce_kickstart_style.scss */
      .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-cart .field-name-field-product {
        margin: 0;
        padding: 0; }
        /* line 829, ../scss/commerce_kickstart_style.scss */
        .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-cart .field-name-field-product .field-label {
          display: none; }
      /* line 834, ../scss/commerce_kickstart_style.scss */
      .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-cart .price-label {
        font-size: .5em;
        padding-top: 1em;
        padding-bottom: 1em; }
      /* line 839, ../scss/commerce_kickstart_style.scss */
      .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-cart .price-amount {
        font-size: .5em;
        padding-top: 1em;
        padding-bottom: 1em;
        color: #6ac1d6; }
      /* line 846, ../scss/commerce_kickstart_style.scss */
      .aop-product-detail-page-wrapper .aop-product-spec-wrapper .single-product-cart form.commerce-add-to-cart {
        padding-top: 0;
        padding-bottom: 39px; }

/* General Icons */
/* line 859, ../scss/commerce_kickstart_style.scss */
.single-product-spec-ataglance div span:nth-child(1) {
  margin: 3px 10px;
  padding: 10px 9px;
  background-image: url(../images/at_a_glance.png);
  display: inline-block; }

/* line 866, ../scss/commerce_kickstart_style.scss */
.book {
  background-position: 0 20px; }

/* line 870, ../scss/commerce_kickstart_style.scss */
.computer {
  background-position: 0 40px; }

/* line 874, ../scss/commerce_kickstart_style.scss */
.play_button {
  background-position: 79px 20px; }

/* line 878, ../scss/commerce_kickstart_style.scss */
.plus_sign {
  background-position: 94px 20px;
  background-size: 111px 40px;
  position: relative;
  top: 1px; }

/* line 885, ../scss/commerce_kickstart_style.scss */
.folder {
  background-position: 95px 40px; }

/* line 889, ../scss/commerce_kickstart_style.scss */
.trophy {
  background-position: 62px 40px; }

/* line 893, ../scss/commerce_kickstart_style.scss */
.checkmark {
  background-position: 63px 20px; }

/* line 897, ../scss/commerce_kickstart_style.scss */
.tornado {
  background-position: 20px 20px; }

/* line 901, ../scss/commerce_kickstart_style.scss */
.apple {
  background-position: 20px 40px; }

/* line 905, ../scss/commerce_kickstart_style.scss */
.speedometer {
  background-position: 42px 20px; }

/* line 909, ../scss/commerce_kickstart_style.scss */
.book-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: 0 16px;
  display: inline-block;
  margin: 3px 10px;
  padding: 8px 9px; }

/* line 917, ../scss/commerce_kickstart_style.scss */
.video-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: 14px 16px;
  display: inline-block;
  margin: 3px 10px;
  padding: 8px 7px; }

/* line 925, ../scss/commerce_kickstart_style.scss */
.folder-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: -17px 35px;
  display: inline-block;
  margin: 3px 10px;
  padding: 8px 10px; }

/* line 933, ../scss/commerce_kickstart_style.scss */
.cross-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: -17px 18px;
  display: inline-block;
  margin: 3px 10px;
  padding: 9px; }

/* line 941, ../scss/commerce_kickstart_style.scss */
.monitor-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: 0 34px;
  display: inline-block;
  margin: 3px 10px;
  padding: 9px; }

/* line 949, ../scss/commerce_kickstart_style.scss */
.thumbs-icon {
  background-image: url(../images/at_a_glance.png);
  background-position: 14px 35px;
  display: inline-block;
  margin: 3px 10px;
  padding: 8px 7px; }

/* line 957, ../scss/commerce_kickstart_style.scss */
.mail-icon {
  background-image: url(../images/icon-email.png);
  background-repeat: no-repeat;
  display: inline-block; }

/* line 963, ../scss/commerce_kickstart_style.scss */
.pdf-icon {
  background-image: url(../images/icon-pdf.png);
  background-repeat: no-repeat;
  display: inline-block; }

/* line 969, ../scss/commerce_kickstart_style.scss */
.check-icon {
  background-image: url(../images/icon-check-active.png);
  background-repeat: no-repeat;
  display: inline-block; }

/* line 975, ../scss/commerce_kickstart_style.scss */
.play-icon {
  background-image: url(../images/icon-play.png);
  background-repeat: no-repeat;
  display: inline-block; }

/* line 981, ../scss/commerce_kickstart_style.scss */
.presentation-icon {
  background-image: url(../images/icon-computer.png);
  background-repeat: no-repeat;
  display: inline-block; }

/* line 987, ../scss/commerce_kickstart_style.scss */
.icon-star {
  background-image: url(../images/icon-star.png);
  background-repeat: no-repeat;
  /*background-size: 100% auto;*/
  display: inline-block;
  height: 0.7em;
  margin: 0 5px;
  width: 0.7em; }

/* End General Icons */
/* line 1001, ../scss/commerce_kickstart_style.scss */
.single-product-spec-ataglance div {
  clear: both; }

/* line 1005, ../scss/commerce_kickstart_style.scss */
.single-product-spec-ataglance div span:nth-child(1) {
  height: 100%;
  display: block;
  width: 0px;
  float: left; }

/* line 1012, ../scss/commerce_kickstart_style.scss */
.single-product-spec-ataglance div span:nth-child(2) {
  position: relative;
  top: 2px; }

/* line 1017, ../scss/commerce_kickstart_style.scss */
#single-product-page .single-product-spec .single-product-spec-ataglance h2 {
  padding-left: 10px;
  margin: 4px 0 2px; }

/* line 1022, ../scss/commerce_kickstart_style.scss */
.single-product-spec-calltoaction {
  color: #2ab5cd;
  float: left;
  margin: 2%;
  width: 42%; }
  /* line 1028, ../scss/commerce_kickstart_style.scss */
  .single-product-spec-calltoaction ul li {
    background-position: left top;
    border-top: 1px solid #9badb4;
    line-height: 2em;
    list-style: none outside none;
    margin: 0;
    padding: 5px 0;
    padding-top: 2px;
    text-indent: 40px;
    width: 100%;
    font-size: .9em; }
  /* line 1040, ../scss/commerce_kickstart_style.scss */
  .single-product-spec-calltoaction ul li.mail-icon {
    border-top: none; }

/* line 1046, ../scss/commerce_kickstart_style.scss */
.single-product-spec-ataglance {
  background-color: white;
  float: left;
  margin: 2%;
  width: 50%; }
  /* line 1051, ../scss/commerce_kickstart_style.scss */
  .single-product-spec-ataglance h2 {
    font-size: 27px;
    line-height: 1;
    padding-left: 15px;
    margin: 4px 0 2px; }
  /* line 1057, ../scss/commerce_kickstart_style.scss */
  .single-product-spec-ataglance div {
    border-top: 3px solid #f0f3f4;
    font-weight: bold;
    width: 100%; }

/* line 1064, ../scss/commerce_kickstart_style.scss */
.single-product-cart {
  border: 6px solid #e1e6e8;
  box-sizing: border-box;
  float: left;
  margin-left: 2%;
  padding: 1%;
  width: 28%;
  text-align: center; }
  /* line 1073, ../scss/commerce_kickstart_style.scss */
  .single-product-cart .field-name-field-product {
    margin-bottom: 47px; }
  /* line 1077, ../scss/commerce_kickstart_style.scss */
  .single-product-cart .add-to-wishlist {
    background-image: url(../images/icon-star.png);
    background-repeat: no-repeat;
    background-position: left center;
    /*background-size: 100% auto;*/
    display: inline-block;
    text-indent: 2em;
    line-height: 3em; }

/******************
 * Product Carousel
 ******************/
/* line 1096, ../scss/commerce_kickstart_style.scss */
.single-product-recommended-header h2 {
  margin-top: 2em;
  margin-bottom: 0em; }

/* line 1106, ../scss/commerce_kickstart_style.scss */
.aop-product-carousel-listing-wrapper .aop-product-carouse-image-wrapper {
  width: 100%;
  float: left;
  text-align: center; }
  /* line 1112, ../scss/commerce_kickstart_style.scss */
  .aop-product-carousel-listing-wrapper .aop-product-carouse-image-wrapper img {
    max-width: 100%; }
/* line 1118, ../scss/commerce_kickstart_style.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-item-details-wrapper {
  width: 100%;
  float: left;
  text-align: center; }
/* line 1124, ../scss/commerce_kickstart_style.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-item-title {
  color: #6ac1d6;
  font-weight: bold;
  width: 100%;
  float: left; }
  /* line 1129, ../scss/commerce_kickstart_style.scss */
  .aop-product-carousel-listing-wrapper .aop-product-carousel-item-title h2 {
    font-size: 1em;
    height: 3em; }
/* line 1135, ../scss/commerce_kickstart_style.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-item-sku {
  margin-bottom: 1em; }
/* line 1141, ../scss/commerce_kickstart_style.scss */
.aop-product-carousel-listing-wrapper .aop-product-carousel-item-price .commerce-price-savings-formatter-prices tr {
  border: none; }
  /* line 1143, ../scss/commerce_kickstart_style.scss */
  .aop-product-carousel-listing-wrapper .aop-product-carousel-item-price .commerce-price-savings-formatter-prices tr td {
    font-size: .5em; }

/* line 1154, ../scss/commerce_kickstart_style.scss */
.jcarousel-skin-default .jcarousel-next-horizontal,
.jcarousel-skin-default .jcarousel-prev-horizontal {
  top: 185px; }
/* line 1159, ../scss/commerce_kickstart_style.scss */
.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 100%;
  height: 430px; }
/* line 1164, ../scss/commerce_kickstart_style.scss */
.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100%;
  height: 410px;
  float: left; }
/* line 1170, ../scss/commerce_kickstart_style.scss */
.jcarousel-skin-default .jcarousel-item {
  width: 225px;
  height: 400px; }

/******************************
 *  Get started page 
 ******************************/
/* line 1180, ../scss/commerce_kickstart_style.scss */
.get-started-top-promo {
  background-image: url("../images/banner-gettingStarted.jpg");
  background-repeat: none;
  width: 100%;
  height: 180px;
  text-align: center; }
  /* line 1186, ../scss/commerce_kickstart_style.scss */
  .get-started-top-promo h2 {
    padding-top: 50px;
    color: #fff; }
  /* line 1190, ../scss/commerce_kickstart_style.scss */
  .get-started-top-promo p {
    color: #fff;
    font-size: 1.2em;
    margin: 0; }

/* line 1197, ../scss/commerce_kickstart_style.scss */
.getting-started-1-wrapper {
  background-image: url("../images/step-one.png");
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 20%;
  width: 80%; }

/* line 1205, ../scss/commerce_kickstart_style.scss */
.getting-started-2-wrapper {
  background-image: url("../images/step-two.png");
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 20%;
  width: 80%; }

/* line 1213, ../scss/commerce_kickstart_style.scss */
.getting-started-3-wrapper {
  background-image: url("../images/step-three.png");
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 20%;
  width: 80%; }

/* line 1221, ../scss/commerce_kickstart_style.scss */
.foryourfamily {
  background-image: url("../images/foryourfamily.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  display: inherit;
  padding: 7%;
  text-decoration: none; }
  /* line 1230, ../scss/commerce_kickstart_style.scss */
  .foryourfamily a {
    color: #fff; }

/* line 1235, ../scss/commerce_kickstart_style.scss */
a.button-gray-background {
  background-color: #f0f3f4;
  border-radius: 3px;
  color: #2ab5cd;
  display: inline-block;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 5px;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px; }

/* line 1252, ../scss/commerce_kickstart_style.scss */
a.button-blue-background {
  background-color: #2ab5cd;
  border: medium none;
  border-radius: 3px;
  color: #f0f3f4;
  display: inline-block;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
  padding: 0.7em 2.5em;
  text-align: center;
  text-decoration: none; }

/* line 1267, ../scss/commerce_kickstart_style.scss */
.get-started-hear-from-you {
  background-color: #9badb4;
  color: white;
  padding: 20px 0 20px 20px;
  float: left; }
  /* line 1272, ../scss/commerce_kickstart_style.scss */
  .get-started-hear-from-you p {
    float: left;
    margin: 0 10px 0 0;
    width: 65%; }
  /* line 1277, ../scss/commerce_kickstart_style.scss */
  .get-started-hear-from-you .buttons {
    float: left;
    width: 30%; }

/* line 1283, ../scss/commerce_kickstart_style.scss */
.get-started-order-catalog {
  background-color: #b2c3c9;
  color: white;
  padding: 20px 0 20px 20px;
  float: left; }
  /* line 1288, ../scss/commerce_kickstart_style.scss */
  .get-started-order-catalog p {
    float: left;
    margin: 0 10px 0 0;
    width: 65%; }
  /* line 1293, ../scss/commerce_kickstart_style.scss */
  .get-started-order-catalog .buttons {
    float: left;
    width: 30%; }

/************************
 *  Checkout popup window
 ************************/
/* line 1308, ../scss/commerce_kickstart_style.scss */
.view-confirm-message-product-display .messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  margin-left: 2em; }

/************************
 *  Homepage 
 ************************/
/* line 1321, ../scss/commerce_kickstart_style.scss */
.aop-academy-promo-wrapper {
  float: left; }
  /* line 1324, ../scss/commerce_kickstart_style.scss */
  .aop-academy-promo-wrapper .aop-academy-promo-image {
    float: left;
    width: 25%; }
  /* line 1329, ../scss/commerce_kickstart_style.scss */
  .aop-academy-promo-wrapper .aop-academy-promo-text {
    float: left;
    width: 70%;
    padding-left: 5%; }

/* line 1338, ../scss/commerce_kickstart_style.scss */
.aop-christian-schools-wrapper .aop-christian-schools-image {
  float: left;
  width: 25%; }
/* line 1343, ../scss/commerce_kickstart_style.scss */
.aop-christian-schools-wrapper .aop-christian-schools-text {
  float: left;
  width: 70%;
  padding-left: 5%; }

/* line 1351, ../scss/commerce_kickstart_style.scss */
.aop-homepage-carousel {
  border: 6px solid #e1e6e8;
  box-sizing: border-box; }
  /* line 1359, ../scss/commerce_kickstart_style.scss */
  .aop-homepage-carousel .jcarousel-skin-default .aop-product-carousel-listing-wrapper .aop-product-carousel-item-price .commerce-price-savings-formatter-prices tr td {
    font-size: .425em; }
  /* line 1366, ../scss/commerce_kickstart_style.scss */
  .aop-homepage-carousel .jcarousel-skin-default h2 {
    height: 4.5em; }
  /* line 1369, ../scss/commerce_kickstart_style.scss */
  .aop-homepage-carousel .jcarousel-skin-default .jcarousel-item {
    border: none; }
  /* line 1372, ../scss/commerce_kickstart_style.scss */
  .aop-homepage-carousel .jcarousel-skin-default .jcarousel-container-horizontal {
    padding: 0;
    height: 403px; }
    /* line 1375, ../scss/commerce_kickstart_style.scss */
    .aop-homepage-carousel .jcarousel-skin-default .jcarousel-container-horizontal .node {
      border: none; }

/*
.homepage-cta-1 { 
  background-color: $gray_one;
  height: 10em;
  padding: 1em;
  color: $white;

  h2 { 
    margin: 0;
  }
  
  .we-want-to-hear-title { 
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.4em;
  }

  .we-want-to-hear-content { 
    float: left;
    width: 65%;
  }

  .we-want-to-hear-buttons { 
    float: left;
    padding: 3em 0 0;
    width: 30%;
  }

  .we-want-to-hear-wrapper { 
     margin: 0;
     padding: 0;
  }
}
*/
/*
.homepage-cta-2 { 
  background-color: $gray_two;
  height: 10em;
  color: $white;
  padding: 1em;

  .signup-or-login-title { 
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: .25em;
  }

  .signup-or-login-content { 
    float: left;
    width: 65%;
  }

  .sign-up-or-login-buttons { 
    float: left;
    padding: 3em 0 0;
    width: 30%;
  }
}
*/
/********************************
 * About Page 
 ********************************/
/* line 1457, ../scss/commerce_kickstart_style.scss */
.aop-about-join-facebook {
  background-image: url(../images/facebook-button.png);
  padding: 1.5em 1em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  display: inherit;
  text-align: center;
  text-decoration: none;
  padding-top: 3em; }
  /* line 1469, ../scss/commerce_kickstart_style.scss */
  .aop-about-join-facebook p {
    margin: 0; }
  /* line 1472, ../scss/commerce_kickstart_style.scss */
  .aop-about-join-facebook a {
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold; }
    /* line 1476, ../scss/commerce_kickstart_style.scss */
    .aop-about-join-facebook a:visited {
      color: #FFF; }

/* line 1482, ../scss/commerce_kickstart_style.scss */
.aop-about-alpha-omega {
  background-image: url(../images/banner-about.jpg);
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding-top: 3em;
  padding-bottom: 3em; }
  /* line 1489, ../scss/commerce_kickstart_style.scss */
  .aop-about-alpha-omega h2 {
    margin: 0;
    font-size: 3em; }

/*********************************
 *  News page 
 *********************************/
/* line 1501, ../scss/commerce_kickstart_style.scss */
#aop-news-page .views-row {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #9badb4; }
  /* line 1505, ../scss/commerce_kickstart_style.scss */
  #aop-news-page .views-row h2 {
    color: #000;
    margin: 0; }
    /* line 1508, ../scss/commerce_kickstart_style.scss */
    #aop-news-page .views-row h2 a {
      color: #000; }
      /* line 1510, ../scss/commerce_kickstart_style.scss */
      #aop-news-page .views-row h2 a:visited {
        color: #000; }
/* line 1517, ../scss/commerce_kickstart_style.scss */
#aop-news-page .aop-news-banner {
  background-image: url(../images/banner-news.jpg);
  background-repeat: no-repeat;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  color: #fff; }
  /* line 1524, ../scss/commerce_kickstart_style.scss */
  #aop-news-page .aop-news-banner h2 {
    font-weight: bold;
    margin: 0; }
/* line 1530, ../scss/commerce_kickstart_style.scss */
#aop-news-page .aop-news-join-facebook {
  background-image: url(../images/facebook-button.png);
  padding: 1.5em 1em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  display: inherit;
  text-align: center;
  text-decoration: none;
  padding-top: 3em; }
  /* line 1541, ../scss/commerce_kickstart_style.scss */
  #aop-news-page .aop-news-join-facebook p {
    margin: 0; }
  /* line 1544, ../scss/commerce_kickstart_style.scss */
  #aop-news-page .aop-news-join-facebook a {
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold; }
    /* line 1548, ../scss/commerce_kickstart_style.scss */
    #aop-news-page .aop-news-join-facebook a:visited {
      color: #FFF; }

/****************************************
 *   Contact page
 ****************************************/
/* line 1559, ../scss/commerce_kickstart_style.scss */
.aop-contact-facebook {
  background-image: url(../images/facebook-button.png);
  padding: 1.5em 1em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  display: inherit;
  text-align: center;
  text-decoration: none;
  padding-top: 3em; }
  /* line 1570, ../scss/commerce_kickstart_style.scss */
  .aop-contact-facebook p {
    margin: 0; }
  /* line 1573, ../scss/commerce_kickstart_style.scss */
  .aop-contact-facebook a {
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold; }
    /* line 1577, ../scss/commerce_kickstart_style.scss */
    .aop-contact-facebook a:visited {
      color: #FFF; }

/* line 1583, ../scss/commerce_kickstart_style.scss */
.aop-contact-banner {
  background-image: url(../images/banner-contact.jpg);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 2em;
  color: #FFFFFF; }
  /* line 1591, ../scss/commerce_kickstart_style.scss */
  .aop-contact-banner h2 {
    font-weight: bold;
    font-size: 39.996px;
    line-height: 1em;
    font-family: "Lorabold", serif; }

/* line 1601, ../scss/commerce_kickstart_style.scss */
.aop-contact-form .submitted {
  display: none; }

/***************************************
 *  Support Page 
 ***************************************/
/* line 1610, ../scss/commerce_kickstart_style.scss */
.aop-support-banner {
  background-image: url(../images/banner-support.jpg);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 2em;
  color: #FFFFFF; }
  /* line 1617, ../scss/commerce_kickstart_style.scss */
  .aop-support-banner h2 {
    font-weight: bold;
    font-size: 39.996px;
    line-height: 1em;
    font-family: "Lorabold", serif; }

/* line 1626, ../scss/commerce_kickstart_style.scss */
.aop-support-facebook {
  background-image: url(../images/facebook-button.png);
  padding: 1.5em 1em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  display: inherit;
  text-align: center;
  text-decoration: none;
  padding-top: 3em; }
  /* line 1637, ../scss/commerce_kickstart_style.scss */
  .aop-support-facebook p {
    margin: 0; }
  /* line 1640, ../scss/commerce_kickstart_style.scss */
  .aop-support-facebook a {
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold; }
    /* line 1644, ../scss/commerce_kickstart_style.scss */
    .aop-support-facebook a:visited {
      color: #FFF; }

/* line 1650, ../scss/commerce_kickstart_style.scss */
.aop-support-academic {
  background-image: url(../images/academic-support.png);
  padding: 2em 2em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  display: inherit;
  text-align: center;
  text-decoration: none; }
  /* line 1660, ../scss/commerce_kickstart_style.scss */
  .aop-support-academic p {
    margin: 0; }
  /* line 1663, ../scss/commerce_kickstart_style.scss */
  .aop-support-academic a {
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold; }
    /* line 1667, ../scss/commerce_kickstart_style.scss */
    .aop-support-academic a:visited {
      color: #FFF; }

/* Well this didn't work, I'll have to be more specific.  The original problem was that I couldn't click the edit tabs on nodes.

.contextual-links-region {
  float: left;
}
*/
/****************************************
 *   Blocks styling
 ****************************************/
/* line 1684, ../scss/commerce_kickstart_style.scss */
.curriculum_comparison_block {
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1;
  background-image: url(../images/bar-compare.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: auto;
  padding: 35px;
  margin: 10px 0; }
  /* line 13, ../scss/_mixins.scss */
  .curriculum_comparison_block:before, .curriculum_comparison_block.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 19, ../scss/_mixins.scss */
  .curriculum_comparison_block:after {
    clear: both; }
  /* line 1692, ../scss/commerce_kickstart_style.scss */
  .curriculum_comparison_block .text {
    color: white;
    font-size: 1em;
    width: 75%;
    text-align: center; }
  /* line 1698, ../scss/commerce_kickstart_style.scss */
  .curriculum_comparison_block div {
    display: inline-block; }

/* line 1703, ../scss/commerce_kickstart_style.scss */
.we-want-to-hear-wrapper {
  color: white;
  background-color: #9badb4;
  min-height: 195px; }
  /* line 1707, ../scss/commerce_kickstart_style.scss */
  .we-want-to-hear-wrapper .we-want-to-hear-content {
    float: left;
    width: 60%;
    margin: 18px 20px; }
    /* line 1711, ../scss/commerce_kickstart_style.scss */
    .we-want-to-hear-wrapper .we-want-to-hear-content .we-want-to-hear-title {
      font-size: 1.5em;
      line-height: 2em; }
  /* line 1716, ../scss/commerce_kickstart_style.scss */
  .we-want-to-hear-wrapper .we-want-to-hear-buttons {
    float: left;
    padding: 2.5em 0 0;
    width: 25%; }

/* line 1723, ../scss/commerce_kickstart_style.scss */
.order-catalog-wrapper {
  color: white;
  background-color: #b2c3c9;
  min-height: 195px; }
  /* line 1727, ../scss/commerce_kickstart_style.scss */
  .order-catalog-wrapper .order-catalog-content {
    float: left;
    width: 60%;
    margin: 18px 20px; }
    /* line 1731, ../scss/commerce_kickstart_style.scss */
    .order-catalog-wrapper .order-catalog-content .order-catalog-title {
      font-size: 1.5em;
      line-height: 2em; }
  /* line 1736, ../scss/commerce_kickstart_style.scss */
  .order-catalog-wrapper .order-catalog-button {
    float: left;
    padding: 2.5em 0 0;
    width: 25%; }

/* line 1743, ../scss/commerce_kickstart_style.scss */
.sign-up-or-login-wrapper {
  color: white;
  background-color: #b2c3c9;
  min-height: 195px; }
  /* line 1747, ../scss/commerce_kickstart_style.scss */
  .sign-up-or-login-wrapper .signup-or-login-content {
    float: left;
    width: 60%;
    margin: 18px 20px; }
    /* line 1751, ../scss/commerce_kickstart_style.scss */
    .sign-up-or-login-wrapper .signup-or-login-content .signup-or-login-title {
      font-size: 1.5em;
      line-height: 2em; }
  /* line 1756, ../scss/commerce_kickstart_style.scss */
  .sign-up-or-login-wrapper .sign-up-or-login-buttons {
    float: left;
    padding: 2.5em 0 0;
    width: 25%; }

/****************************************
 *   End Blocks styling
 ****************************************/
/****************************************
 *   Find a curriculum page styling
 ****************************************/
/* line 1772, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .find-your-curriculum-banner {
  background-image: url(../images/banner-findacurriculum.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  padding: 0.2em 0.29em;
  background-size: 100%;
  width: 100%;
  color: white; }
  /* line 1782, ../scss/commerce_kickstart_style.scss */
  #find-a-curriculum .find-your-curriculum-banner h2 {
    font-size: 2em;
    margin: 20px 0px 15px 0px;
    line-height: 1em; }
  /* line 1787, ../scss/commerce_kickstart_style.scss */
  #find-a-curriculum .find-your-curriculum-banner p {
    color: white;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 80%; }
/* line 1795, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-more-info {
  background-image: url(../images/icon-tooltip-white.png);
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  height: 20px;
  padding: 5px;
  width: 20px;
  cursor: pointer; }
/* line 1805, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-title {
  font-size: 1.5em;
  color: white;
  padding-top: 4.5em;
  line-height: 1em;
  margin: 0;
  padding-top: 50%; }
/* line 1813, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-grade {
  font-size: 1em;
  color: white; }
/* line 1817, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-media {
  font-weight: bold;
  color: #9badb4;
  display: none;
  margin: 10px 0px 10px 30px; }
/* line 1823, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-more-info-summary {
  font-size: 1em;
  color: white;
  min-height: 90px;
  width: 95%; }
/* line 1829, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-full-description {
  display: none;
  background-color: #e1e6e8;
  margin: 0 auto;
  padding: 3%;
  width: 90%; }
  /* line 1835, ../scss/commerce_kickstart_style.scss */
  #find-a-curriculum .curriculum-full-description p {
    margin: 0; }
/* line 1840, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-detail-left {
  float: left;
  width: 100%; }
/* line 1845, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum_close_detail,
#find-a-curriculum .curriculum-detail-logo,
#find-a-curriculum .curriculum-detail-image {
  display: none; }
/* line 1850, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum_close_detail {
  background-color: #FFFFFF;
  border: 3px solid #DDDDDD;
  color: #222222;
  cursor: pointer;
  font-size: 2em;
  height: 25px;
  line-height: 0.7em;
  padding: 5px;
  position: absolute;
  right: -25px;
  text-align: center;
  top: -25px;
  width: 25px;
  z-index: 200;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px; }
/* line 1867, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-detail-logo {
  position: absolute;
  left: 35px;
  top: 60px; }
/* line 1872, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .curriculum-detail-image {
  float: left;
  width: 40%; }
/* line 1876, ../scss/commerce_kickstart_style.scss */
#find-a-curriculum .panel-separator:last-child {
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1; }
  /* line 13, ../scss/_mixins.scss */
  #find-a-curriculum .panel-separator:last-child:before, #find-a-curriculum .panel-separator:last-child.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 19, ../scss/_mixins.scss */
  #find-a-curriculum .panel-separator:last-child:after {
    clear: both; }

/****************************************
 *   End find a curriculum page styling
 ****************************************/
/* line 1884, ../scss/commerce_kickstart_style.scss */
.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  margin: 0px;
  width: auto; }
