/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.2. Zone branding
**********************************************/
/**
* Search block
*/
/* line 12, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative; }

/* line 15, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
#block-views-exp-display-products-page .views-exposed-widget {
  padding: 0;
  position: relative;
  left: 0px;
  /* LTR */ }

/* line 20, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
#block-views-exp-display-products-page #edit-search-api-views-fulltext {
  height: 18px; }

/* line 23, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
#block-views-exp-display-products-page .views-submit-button .form-submit {
  float: left;
  /* LTR */
  width: 24px;
  height: 24px; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Category */
/* line 38, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: none !important;
  height: auto !important;
  padding: 0 !important;
  overflow-y: visible !important; }

/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* HP blocks: Top advert */
/* line 51, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
#promotional_banner .promotional_banner_special_offer {
  position: absolute;
  right: 10px;
  /* LTR */ }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**********************************************
* 5.3. Product page
**********************************************/
/* Cloud zoom */
/* line 70, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
.node-product-type .cloud-zoom-gallery-thumbs {
  clear: none;
  width: 120px; }

/* line 74, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
.node-product-type .cloud-zoom-container .cloud-zoom {
  float: left;
  /* LTR */ }

/* line 77, ../scss/commerce-kickstart-theme-ie-lte-7.scss */
.commerce-add-to-cart-confirmation .message-inner {
  position: relative; }
