/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* Include Default Variables & Mixins */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* End Variables & Mixins */
/**************************************************
* --
* 1. Global
* --
**************************************************/
/* line 13, ../scss/commerce-kickstart-theme-alpha-default.scss */
.selectnav {
  display: none; }

/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.3. Zone menu
**********************************************/
/* line 25, ../scss/commerce-kickstart-theme-alpha-default.scss */
.zone-menu .region-menu {
  margin: 0 !important;
  width: 100% !important; }

/**
* Navigation
*/
/* line 32, ../scss/commerce-kickstart-theme-alpha-default.scss */
.navigation {
  margin: 0;
  /* Main menu */
  /* Secondary menu */ }
  /* line 34, ../scss/commerce-kickstart-theme-alpha-default.scss */
  .navigation .primary-menu ul,
  .navigation .second-menu ul {
    margin: 26px 0px; }
    /* line 38, ../scss/commerce-kickstart-theme-alpha-default.scss */
    .navigation .primary-menu ul li.first a,
    .navigation .second-menu ul li.first a {
      -moz-border-radius: 8px 0 0 8px;
      -webkit-border-radius: 8px 0 0 8px;
      -khtml-border-radius: 8px 0 0 8px;
      border-radius: 8px 0 0 8px;
      /* LTR */ }
    /* line 41, ../scss/commerce-kickstart-theme-alpha-default.scss */
    .navigation .primary-menu ul li.last a,
    .navigation .second-menu ul li.last a {
      -moz-border-radius: 0 8px 8px 0;
      -webkit-border-radius: 0 8px 8px 0;
      -khtml-border-radius: 0 8px 8px 0;
      border-radius: 0 8px 8px 0;
      /* LTR */ }
  /* line 47, ../scss/commerce-kickstart-theme-alpha-default.scss */
  .navigation .primary-menu ul li a {
    background-color: #000000;
    color: #ffffff; }
    /* line 51, ../scss/commerce-kickstart-theme-alpha-default.scss */
    .navigation .primary-menu ul li a.active, .navigation .primary-menu ul li a:hover {
      background-color: #ffffff; }
    /* line 55, ../scss/commerce-kickstart-theme-alpha-default.scss */
    .navigation .primary-menu ul li a.active {
      color: #2698F2; }
    /* line 58, ../scss/commerce-kickstart-theme-alpha-default.scss */
    .navigation .primary-menu ul li a:hover {
      color: #000000; }
  /* line 63, ../scss/commerce-kickstart-theme-alpha-default.scss */
  .navigation .second-menu ul li a {
    background-color: #ffffff;
    color: #000000; }
    /* line 67, ../scss/commerce-kickstart-theme-alpha-default.scss */
    .navigation .second-menu ul li a.active, .navigation .second-menu ul li a:hover {
      background-color: #000000; }
    /* line 71, ../scss/commerce-kickstart-theme-alpha-default.scss */
    .navigation .second-menu ul li a.active {
      color: #2698F2; }
    /* line 74, ../scss/commerce-kickstart-theme-alpha-default.scss */
    .navigation .second-menu ul li a:hover {
      color: #ffffff; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* HP blocks: Top advert */
/* line 94, ../scss/commerce-kickstart-theme-alpha-default.scss */
#promotional_banner {
  padding-bottom: 10px;
  left: -10px;
  /* LTR */
  width: 100%; }

/* line 100, ../scss/commerce-kickstart-theme-alpha-default.scss */
.block-shipping-discount {
  /* HP blocks: Side advert */
  position: absolute;
  left: -50px;
  /* LTR */
  top: 85px;
  z-index: 100; }
  /* line 106, ../scss/commerce-kickstart-theme-alpha-default.scss */
  .block-shipping-discount #shipping {
    border-color: #FFF;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    -khtml-border-radius: 80px;
    border-radius: 80px;
    height: 120px;
    line-height: 24px;
    padding: 10px 5px;
    margin-top: 0;
    width: 130px; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
/* line 129, ../scss/commerce-kickstart-theme-alpha-default.scss */
.view-collection-taxonomy-term .view-content .item-list h3 span {
  top: -90px; }
