@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/* line 14, ../scss/header copy.scss */
div.tb-megamenu.tb-megamenu-main-menu div.nav-collapse.collapse.always-show ul.tb-megamenu-nav.nav.level-0.items-3 li.tb-megamenu-item.level-1.mega.dropdown.active a.dropdown-toggle {
  background-color: white;
  color: #222222;
  border: none;
}

/* line 27, ../scss/header copy.scss */
#block-menu-menu-grade-level ul li {
  float: left;
  display: inline-flex;
  float: left;
  height: 25px;
  margin: 3px;
  min-width: 40px;
  text-align: center;
  width: 29%;
  cursor: pointer;
  font-weight: bold;
}
/* line 38, ../scss/header copy.scss */
#block-menu-menu-grade-level ul li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #9badb4;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 100%;
  background-color: white;
  line-height: 1em;
}
/* line 46, ../scss/header copy.scss */
#block-menu-menu-grade-level ul li a:hover {
  background-color: #9badb4;
  color: white;
}

/* line 57, ../scss/header copy.scss */
#block-menu-menu-subjects ul {
  border: none;
}
/* line 59, ../scss/header copy.scss */
#block-menu-menu-subjects ul li {
  float: left;
  width: 100%;
  border: none;
}
/* line 63, ../scss/header copy.scss */
#block-menu-menu-subjects ul li .first {
  border: none;
}
/* line 66, ../scss/header copy.scss */
#block-menu-menu-subjects ul li .last {
  border: none;
}
/* line 69, ../scss/header copy.scss */
#block-menu-menu-subjects ul li a {
  border: none;
  background-color: white;
  color: #222222;
  font-size: 1.2em;
  font-weight: normal;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 85, ../scss/header copy.scss */
#block-menu-block-1 ul {
  border: none;
}
/* line 87, ../scss/header copy.scss */
#block-menu-block-1 ul li {
  float: left;
  width: 100%;
  border: none;
}
/* line 91, ../scss/header copy.scss */
#block-menu-block-1 ul li .first {
  border: none;
}
/* line 94, ../scss/header copy.scss */
#block-menu-block-1 ul li .last {
  border: none;
}
/* line 97, ../scss/header copy.scss */
#block-menu-block-1 ul li a {
  border: none;
  background-color: white;
  color: #222222;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: none;
}

/* line 113, ../scss/header copy.scss */
.tb-megamenu {
  background-color: transparent;
}
/* line 119, ../scss/header copy.scss */
.tb-megamenu .mega .mega-dropdown-menu {
  min-width: 960px;
}
/* line 124, ../scss/header copy.scss */
.tb-megamenu a.dropdown-toggle {
  background-color: white;
  color: #222222;
  border: none;
}
/* line 134, ../scss/header copy.scss */
.tb-megamenu .nav li .dropdown a.dropdown-toggle {
  background-color: white;
  color: #222222;
  border: none;
}
/* line 140, ../scss/header copy.scss */
.tb-megamenu .nav li a {
  color: #222222;
  background-color: white;
  text-transform: uppercase;
  border-right: none;
}
/* line 145, ../scss/header copy.scss */
.tb-megamenu .nav li a:hover {
  border-bottom: 4px solid #2ab5cd;
  color: #222222;
}
/* line 154, ../scss/header copy.scss */
.tb-megamenu .nav .active a {
  text-transform: uppercase;
  background-color: white;
  color: #222222;
  border-right: none;
}
/* line 159, ../scss/header copy.scss */
.tb-megamenu .nav .active a:hover {
  background-color: white;
  color: #222222;
  border-right: none;
}
/* line 164, ../scss/header copy.scss */
.tb-megamenu .nav .active a:focus {
  background-color: white;
  color: #222222;
  border-right: none;
}
