
/*
*************FIND A CURRICULUM STYLE***************

The entire curriculum finder has been re-styled from the original version
Please use the following naming scheme when making changes.

.fac-wrapper-block (main wrapper for the fac)
.fac-get-started-block (get started splash)
	.fac-get-started-text (get started text)
	.fac-get-started-btn (button for get started block)

.fac-step-block (wrapper for each step block)
	.fac-step-number (the number of the step you are on)
		.fac-step-one
		.fac-step-two
		.fac-step-three
	.fac-step-choice (when a choice has been made, the result appears here)

.fac-choice-block (wrapper for choices)
	.fac-choice-question (question posed to the user)
	.fac-choice-option (option for the user to choose)
		.fac-choice-option-text (text in the button)
		.fac-choice-option-info (info icon inside button)
	
.fac-result-block (shows the curriculum result)
	.fac-result-text (text shown with the user’s curriculum result)
*/


.fac-wrapper-block  {
  border: 5px solid #e1e6e8;
}



/*
This has been removed because the ability to go back was
added.

.reset_curriculum_finder_filter {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #E1E6E8;
    border-radius: 25px;
    color: #FFFFFF;
    display: none;
    font-size: 0.8em;
    font-weight: bold;
    height: 45px;
    line-height: 3.9em;
    margin-top: 30px;
    position: absolute;
    right: -17px;
    text-align: center;
    width: 45px;
}*/


.fac-get-started-block {
    background-color: #F0F3F4;
    border-right: 4px solid #E1E6E8;
    float: left;
    min-height: 118px;
    padding: 10px;
    width: 83.6%;
    cursor: pointer;
}

.fac-get-started-text {
	width: 290px;
	margin: auto;
	margin-bottom: 8px;
	text-align: center;
	font-size: 20px;
	line-height: 28px;
}

.fac-get-started-btn {
	background-image: url(../images/step-arrow.png);
	background-position: center top;
	background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: auto;
}

.fac-step-block {
float: left;
display: block;
width: 110px;
height: 118px;
text-align: center;
padding: 10px;
}

.fac-step-block-active:hover {
background-color: #f0f3f4;
cursor: pointer;
}

.fac-step-number {
background-position: center top;
background-repeat: no-repeat;
display: block;
height: 50%;
width: 100%;
}

.fac-step-one {
background-image: url(../images/step-one.png);
}

.fac-step-two {
background-image: url(../images/step-two.png);
}

.fac-step-three {
background-image: url(../images/step-three.png);
}

.fac-step-choice {
height: 45%;
text-align: center;
width: 100%;
color: #2ab5cd;
padding-top: 5px;
font-weight: bold;
display: inline-block;
vertical-align: middle;
}

.fac-choice-block {
display: block;
height: 98px;
width: 430px;
background-color: white;
float: left;
padding-left: 0px;
text-align: center;
}

.fac-choice-question {
font-size: 20px;
font-weight: 500;
padding-top: 20px;
padding-bottom: 15px;
}

.fac-choice-question-small {
font-size: 18px;
padding-top: 12px;
padding-bottom: 10px;
}

.fac-choice-option {
cursor: pointer;
border: 2px solid #E1E6E8;
color: #9badb4;
font-weight: bold;
float: left;
margin-right: 10px;
text-align: center;
width: 200px;
height: 40px;
line-height: 2em;
font-size: 0.9em;
letter-spacing: 1.1px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-bottom: 5px;
}

.fac-choice-option:hover {
background-color: #f0f3f4;
color: #727e83;
}

.fac-choice-option-text {
float: left;
padding: 5px;
padding-top: 7px;
width: 75%;
}

.fac-choice-option-info {
background-color: #f0f3f4;
background-image: url(../images/icon-tooltip-grey.png);
background-size: 20%;
background-position: center center;
background-repeat: no-repeat;
display: inline-block;
float: right;
height: 20px;
width: 10%;
padding: 10px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

.fac-result-block {
padding-top: 16px;
}

.fac-result-block p {
font-size: 22px;
text-align: center;
font-weight: 500;
}


/* mics styles */
.add-border-right {
	border-right: 4px solid #E1E6E8;
}

.not_possible_selection {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.reset_background_image {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.hide_background_image {
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
.color_black {
	color: #222222;
}


/* Mostly not needed but needed only for admin view */
#panels-ipe-paneid-313:before,
#panels-ipe-paneid-313:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
#panels-ipe-paneid-313:after {
  clear: both;
}

/* Curriculum Boxes */
#find-a-curriculum div[id^="curriculum-block-wrapper-"] {
  float: left;
  width: 29%;
  margin: 1%;
  cursor: pointer;
}

.curriculum_close_detail {
  border: 0;
  color: #b2c3c9;
  cursor: pointer;
  font-size: 1.8em;
  line-height: 0.7em;
  padding: 0;
  text-align: center;
  float: right;
}

.curriculum_close_detail:hover {
  color: #9badb4;
}

.curriculum-detail-logo {
  float: left;
  margin-left:  30px;
  padding-top: 60px;
}

.monarch-curriculum {
  background-image: url("../images/curriculum-monarch.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 10px;
}
.lifepac-curriculum {
  background-image: url("../images/curriculum-lifepac.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 10px;
}
.horizon-curriculum {
  background-image: url("../images/curriculum-horizons.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 10px;
}
.switch-on-curriculum {
  background-image: url("../images/curriculum-switchedon.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 10px;
}
.the-weaver-curriculum {
  background-image: url("../images/curriculum-weaver.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 10px; 
}


.fac-block-hide {
display: none;
}


/*
Mobile Styling
*/

.fac-mobile-reset-wrapper {
display: none;
padding-bottom: 20px;
}

.fac-mobile-reset {
cursor: pointer;
border: none;
color: #9badb4;
font-weight: bold;
padding: 10px;
margin: auto;
text-align: center;
width: 65%;
background-color: #6ac1d6;
color: #fff;
letter-spacing: 1.1px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
display: none;
bottom: 0px;
}

.curriculum-detail-image {
  float: left;
  width: 40%;
  height: auto;
}


@media (max-width: 998px) {

#find-a-curriculum div[id^="curriculum-block-wrapper-"] {
width: 45%;
}
  .fac-get-started-block {
    width:  96%;
  }
  
  .fac-step-block-wrapper {
  display: none;
  }
  
  .fac-mobile-reset-wrapper {
  display: block;
  }
  
  .fac-choice-block {
  width: 70%;
  height: 100%;
  margin: auto;
  text-align: center;
  float: none;
  padding-bottom: 20px;
  }
  
  .fac-choice-question{
  width: 96%;
  margin: auto;
  }
  
  .fac-choice-option {
  float: none;
  width: 96%;
  margin: auto;
  margin-bottom: 10px;
  }
  
  .fac-choice-option-info {
  background-size: 15%;
  }
}

@media (max-width: 695px) {
	#find-a-curriculum div[id^="curriculum-block-wrapper-"] {
	width: 93%;
	
	}
	
	.curriculum-detail-image {
	  float: none;
	  width: 80%;
	  height: auto;
	  margin-top:  0px;
	  padding-top:  0px;
	}
	
}

